
<div class="column consultation_item">

	<header>
		
		<div class="pre_title center">
			El Ayuntamiento de Sandanter te pide opinión para que ayudes a que entre todos tomemos mejores decisiones. 
		</div>

		<div class="pure-g">
			<div class="pure-u-3-24 center header_comps">
				
				img
				
			</div>
			<div class="pure-u-18-24 main_title">
				<h1>¿Qué opinas sobre las opciones que te da tu municipio a la hora de participar?</h1>
				<div class="meta">
					Aporta tu opinión<br>
					hasta el 27 de junio
				</div>
			</div>
			<div class="pure-u-3-24 center header_comps">
			
				<%= render 'sandbox/1605/share_links' %>
			
			</div>
		</div>

		<div class="center">
			<a href="#questions" class="button light">Participa ahora</a>
		</div>

	</header>

	<div class="pure-g" id="questions">
	
		<div class="participation_question_cont pure-u-1 pure-u-md-18-24">

			<div class="pre">
				La consulta consiste en <span class="highlight">10 preguntas</span>. 
				Tardarás unos <span class="highlight">6 minutos</span> en contestarla. Vamos allá.
			</div>

			<div class=""></div>

			<div class="separator"></div>

			<div class="carousel">

				<div class="participation_question p_h_4 " id="">

					<h2>¿Has consultado el presupuesto de tu ayuntamiento en alguna ocasión?</h2>

					<div class="options">

						<div class="option">
							<input type="hidden" name="newsletter" value="0"/>
							<input type="checkbox" id="newsletter" name="newsletter" value="1"/>
			        <label for="newsletter">
			          <span></span>
			          Sign up for updates
			        </label>
			      </div>

			      <div class="option">
			        <input type="radio" id="opt_1" name="opt_1" value="1"/>
			        <label for="opt_1">
			          <span></span>
			          Si
			        </label>
			      </div>

			      <div class="option">
			        <input type="radio" id="opt_2" name="opt_1" value="2"/>
			        <label for="opt_2">
			          <span></span>
			          No lo suficiente
			        </label>
			      </div>

			      <div class="option">
			        <input type="radio" id="opt_3" name="opt_1" value="3"/>
			        <label for="opt_3">
			          <span></span>
			          Se que está disponible y es fácil de consultar                               
			        </label>
			      </div>

			      <%# http://kenwheeler.github.io/slick/ %>
			      <button class="slick_next">Siguiente</button>

					</div>

				</div>

				<div class="participation_question p_h_4 " id="">

					<h2>¿Sabes si puedes consultar el presupuesto de tu ayuntamiento?</h2>

					<div class="options">

						<div class="option">
			        <input type="radio" id="opt_1" name="opt_1" value="1"/>
			        <label for="opt_1">
			          <span></span>
			          No se si es público
			        </label>
			      </div>

			      <div class="option">
			        <input type="radio" id="opt_2" name="opt_1" value="2"/>
			        <label for="opt_2">
			          <span></span>
			          Se que está disponible
			        </label>
			      </div>

			      <div class="option">
			        <input type="radio" id="opt_3" name="opt_1" value="3"/>
			        <label for="opt_3">
			          <span></span>
			          Se que está disponible y es fácil de consultar
			        </label>
			      </div>

			      <button class="slick_next">Siguiente</button>

					</div>

				</div>

				<div class="participation_question p_h_4 " id="">

					<h2>Dí cuál crees que es el presupuesto de gastos de tu ayuntamiento</h2>

					<div class="options">

						<div class="option">
			        <input type="radio" id="opt_1" name="opt_1" value="1"/>
			        <label for="opt_1">
			          <span></span>
			          En torno a 10M€
			        </label>
			      </div>

			      <div class="option">
			        <input type="radio" id="opt_2" name="opt_1" value="2"/>
			        <label for="opt_2">
			          <span></span>
			          En torno a 3M€
			        </label>
			      </div>

			      <div class="option">
			        <input type="radio" id="opt_3" name="opt_1" value="3"/>
			        <label for="opt_3">
			          <span></span>
			          En torno a 125M€
			        </label>
			      </div>

			      <button class="slick_next">Siguiente</button>

					</div>

				</div>

				<div class="participation_question p_h_4 " id="">

					<h2>Tu municipio</h2>

					<div class="options">

						<div class="option">
			        <input type="text" id="opt_1" name="opt_1" placeholder="tu municipio" />
			      </div>

			      <button class="slick_next">Siguiente</button>

					</div>

				</div>

				<div class="participation_question p_h_4 " id="">

					<h2>Estupendo: terminaste</h2>

					<p>Vamos a estar recopilando respuestas durante un tiempo. Cuando las tengamos todas y las procesemos te haremos llegar los resultados. Puedes seguirnos en las redes sociales para estar al día de este y otros temas. </p>

					<p>Una última cosa: ¿compartes esto para invitar a tus amigos a dar su opinión? Te lo agradecedemos: </p>

					<%= render 'sandbox/1605/share_links_extended' %>

				</div>

			</div>

		</div>

	</div>

</div>