<% GobiertoPlans::PlanType.site_plant_types(current_site).each do |plan_type| %>
  <div class="sub-nav-item <%= class_if(' active', plan_type.slug == params[:slug] ) %>">
    <%= link_to plan_type.name, gobierto_plans_plan_path(slug: plan_type.slug) %>
  </div>
<% end %>
