<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_plans') %>">
  <%= link_to t("gobierto_plans.layouts.application.plans"), GobiertoPlans.root_path(current_site), data: { turbolinks: false } %>
</div>
