<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_plans') %>">
  <%= link_to t("gobierto_plans.layouts.application.plans"), current_site.configuration.home_page == "GobiertoPlans" ? root_path : GobiertoPlans.root_path(current_site), data: { turbolinks: false } %>
</div>
