<div class="person_statement-item person-item">
  <strong>
    <%= link_to person_statement.title, gobierto_people_person_statement_path(person_statement.person, person_statement) %>
  </strong>

  <div class="soft">
    <div>
      <%= link_to person_statement.person do %>
        <% if person_statement.person.avatar_url.present? %>
          <div class="media-left">
            <%= image_tag person_statement.person.avatar_url, height: 30, width: 30 %>
          </div>
        <% end %>

        <%= person_statement.person.name %>
      <% end %>
    </div>
  </div>
</div>
