<h4 class="options compact">
  <%= t(".configuration") %>
  <%= link_to "#{module_doc_url}#section-plugin", target: "_blank" do %>
    <i class="fas fa-question-circle"></i>
  <% end %>
</h4>

<div class="field_item_def_cont">
  <div class="form_item textarea">
    <%= text_area_tag "custom_field[plugin_configuration]", f.object.plugin_configuration.present? ? JSON.pretty_generate(f.object.plugin_configuration) : nil %>
  </div>
</div>
