<h4 class="options compact">
  <%= t(".configuration") %>
  <%= link_to "#{module_doc_url}#section-plugin", target: "_blank" do %>
    <i class="fas fa-question-circle"></i>
  <% end %>
</h4>

<div class="field_item_def_cont">
  <div class="form_item textarea">
    <%= text_area_tag(
          "custom_field[plugin_configuration]",
          if (configuration = f.object.plugin_configuration).present?
              configuration.is_a?(Hash) ? JSON.pretty_generate(configuration) : configuration
          else
            nil
          end
        ) %>
  </div>
</div>
