<menu class="sub_sections">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul>
      <li><%= link_to t('.consultations'), gobierto_budget_consultations_consultations_path, class: class_if('active', controller_name == 'consultations')  %></li>
    </ul>
  </div>
</menu>
