<div class="sub-nav-item<%= class_if(' active', controller_name == 'consultations') %>">
  <% content_for(:current_submodule_link) do %>
    <%= link_to t('gobierto_budget_consultations.layouts.menu_subsections.consultations'), gobierto_budget_consultations_consultations_path, data: { turbolinks: false } %>
  <% end %>
</div>
