<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_budget_consultations' && show_active) %>">
  <%= link_to t("gobierto_budget_consultations.layouts.application.participation"), current_site.configuration.home_page == "GobiertoBudgetConsultations" ? root_path : GobiertoBudgetConsultations.root_path(current_site), data: { turbolinks: false } %>
</div>
