<% if (current_module == 'gobierto_budget_consultations') %>
  <div class="sub-nav-item">
    <%= link_to t('gobierto_budget_consultations.layouts.menu_subsections.consultations'), gobierto_budget_consultations_consultations_path, data: { turbolinks: false } %>
  </div>
<% end %>
