<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_budget_consultations') %>">
  <%= link_to t("gobierto_budget_consultations.layouts.application.participation"), gobierto_budget_consultations_consultations_path, data: { turbolinks: false } %>
</div>
