<% content_for :javascript_include do %>
  <%= javascript_include_tag 'gobierto_budget_consultations/application', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :breadcrumb_items do %>
  <strong>
    <%= link_to t("gobierto_budget_consultations.layouts.application.participation"), gobierto_budget_consultations_consultations_path, data: { turbolinks: false } %>
  </strong>
  <span>/</span>
  <strong>
    <%= link_to t('gobierto_budget_consultations.layouts.menu_subsections.consultations'), gobierto_budget_consultations_consultations_path %>
  </strong>
<% end %>

<%= render template: "layouts/application" %>
