<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_participation' && show_active) %>">
  <%= link_to t("gobierto_participation.layouts.application.title"), gobierto_participation_root_path, data: { turbolinks: false } %>
</div>
