<% if try(:current_process).nil? %>
  <% liquid_path = "gobierto_participation/layouts/navigation_process.liquid" %>
  <% liquid_str = GobiertoCore::SiteTemplate.liquid_str(current_site, liquid_path) %>

  <%= raw render_liquid(liquid_str) %>
<% else %>
  <% current_process.published_stages.each do |stage| %>
    <div class="sub-nav-item">
      <% if !["information", "results"].include?(stage.stage_type) || (["information", "results"].include?(stage.stage_type) && stage.process_stage_page.present?) %>
        <%= link_to stage_url(stage) do %>
          <%= stage.menu %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render "gobierto_participation/layouts/secondary_nav" %>
