<% if try(:current_process).nil? || local_assigns[:show_main] == true %>
  <%== render_liquid("gobierto_participation/layouts/navigation_process") %>
<% else %>
  <% content_for(:current_submodule_link) do %>
    <%= link_to current_process.title, gobierto_participation_process_path(current_process.slug), data: { turbolinks: false } %>
  <% end %>

  <% current_process.published_stages.each do |stage| %>
    <div class="sub-nav-item">
      <% if !["information", "results"].include?(stage.stage_type) || (["information", "results"].include?(stage.stage_type) && stage.process_stage_page.present?) %>
        <%= link_to stage.menu, stage_path(stage) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render "gobierto_participation/layouts/secondary_nav" %>
