<div class="main-nav-item">
  <%= link_to t('.root'), root_path %>
</div>
<div class="particle">></div>
<div class="main-nav-item">
  <%= link_to t('gobierto_participation.layouts.application.title'), gobierto_participation_root_path %>
</div>
<div class="particle">></div>
<div class="main-nav-item active">
  <%= link_to current_process.title, gobierto_participation_process_path(current_process.slug) %>
</div>
