<menu class="secondary_nav">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul>
      <li><%= todo_link_to { link_to t('.news'), '#' } %></li>
      <li><%= todo_link_to { link_to t('.agenda'), '#' } %></li>
      <li><%= todo_link_to { link_to t('.documents'), '#' } %></li>
      <li><%= todo_link_to { link_to t('.activity'), '#' } %></li>
    </ul>
  </div>
</menu>
