<div class="sub-nav-item">
  <a href="/participacion/ambitos">
    {{ "gobierto_participation.layouts.menu_subsections.scopes" | t }}
  </a>
</div>
<div class="sub-nav-item">
    <a href="/participacion/p">
      {{ "gobierto_participation.layouts.menu_subsections.processes" | t }}
    </a>
</div>
