<p>
  Hey,
</p>

<p>
  You have requested do recover your password
</p>

<p>
  Use the following URL to set a new one:
</p>

<p>
  <%= edit_user_passwords_url(reset_password_token: @user.reset_password_token, domain: @site.domain) %>
</p>
