<div id="search_pages">
  <% if @pages %>
    <% @pages.each do |page| %>
      <div class="activity_item">
        <h2>
          <%= link_to edit_admin_cms_page_path(page, collection_id: page.collection), class: "tipsit draggable", title: t('.page_help'), data: { id: page.id, title: page.title } do %>
            <%= page.title %>
            <span class="secondary"><%= page.collection&.title %></span>
          <% end %>
        </h2>
        <div class="date"><%= time_ago_in_words(page.updated_at) %></div>
      </div>
    <% end %>
  <% end %>
</div>
