RACK_ENV=development
RAILS_ENV=development
DOMAIN=.gobierto.dev
TLD_LENGTH=2
HOST=gobierto.dev
PORT=3000
RAILS_MAX_THREADS=5
PRESET_ADMIN_EMAIL=admin@gobierto.dev
PRESET_ADMIN_NAME="Gobierto Admin"
PRESET_ADMIN_PASSWORD=gobierto
EMAIL_DEFAULT_FROM="Gobierto <admin@gobierto.dev>"
EMAIL_DEFAULT_REPLY_TO="Gobierto <admin@gobierto.dev>"
TBI_API_TOKEN=<API TOKEN>
MUNICIPALITIES_SUGGESTIONS_ENDPOINT=<TBI ENDPOINT>
SECRET_KEY_BASE=<SECRET_KEY_BASE> # use rails secret
ROLLBAR_ACCESS_TOKEN=<ROLLBAR_ACCESS_TOKEN>
ELASTICSEARCH_URL=<ELASTIC_URL>
