{
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true,
    "node": true
  },
  "globals": {
    "_": true,
    "Vue": true,
    "I18n": true
  },
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "no-multi-spaces": "error",
    "keyword-spacing": ["error", { "after": true, "before": true }],
    "no-trailing-spaces": "error",
    "object-curly-spacing": ["error", "always"],
    "no-console": "off"
  }
}
