{
  "env": {
    "es2020": true,
    "node": true,
    "browser": true,
    "jquery": true,
    "jest": true
  },
  "globals": {
    "_": true,
    "Vue": true,
    "I18n": true,
    "jest/globals": true
  },
  "extends": ["eslint:recommended", "plugin:vue/recommended"],
  "parserOptions": {
    "parser": "babel-eslint", // https://vuejs.github.io/eslint-plugin-vue/user-guide/#what-is-the-use-the-latest-vue-eslint-parser-error
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "rules": {
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }],
    "no-multi-spaces": "error",
    "keyword-spacing": ["error", { "after": true, "before": true }],
    "no-trailing-spaces": "error",
    "object-curly-spacing": ["error", "always"],
    "no-console": "off"
  }
}
