<% if @issue %>
  <% content_for :breadcrumb_current_item do %>
    <strong>
      <%= link_to t('gobierto_participation.layouts.menu_subsections.issues'), gobierto_participation_issues_path %>
    </strong>

    <span role="separator">/</span>

    <h1>
      <%= link_to @issue.name, gobierto_participation_issue_path(@issue.slug) %>
    </h1>
  <% end %>
<% end %>

<div class='gradient-bg'>
  <div class='column'>
    <%= render 'gobierto_cms/templates/new', { page: @page } %>
  </div>
</div>
