<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_budgets') %>">
  <%= link_to t("gobierto_budgets.layouts.application.budgets"), gobierto_budgets_root_path, data: { turbolinks: false } %>
</div>
