<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_budgets' && show_active) %>">
  <%= link_to t("gobierto_budgets.layouts.application.budgets"), GobiertoBudgets.root_path(current_site), data: { turbolinks: false } %>
</div>
