<section class="row">
  <div class="col-md-9">
    <%= render "gobierto_people/gencat/breadcrumb" %>
  </div>
  <div class="col-md-3">
    <%= render "gobierto_people/gencat/datepicker" %>
  </div>
</section>

<section>
  <h3 class="h3 text-left">Jaume I el Conqueridor</h3>
  <p>Departament d'Afers i Relacions Institucionals i Exteriors i Transparència</p>
</section>

<section class="row">
  <div class="col-md-4">
    <ul class="toggle-container">
      <li class="color-1">
        <a href="">
          <h1 class="h1">123</h1>
          <div>reunions amb 876 grups d'interès</div>
        </a>
      </li>
      <li class="color-2">
        <a href="">
          <h1 class="h1">76</h1>
          <div>viatges realitzats</div>
        </a>
      </li>
      <li class="color-3">
        <a href="">
          <h1 class="h1">5</h1>
          <div>invitacions</div>
        </a>
      </li>
      <li class="color-1">
        <a href="">
          <h1 class="h1">23</h1>
          <div>obsequis rebuts</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-8">
    <section>
      <figure class="table-list">
        <figcaption class="mb_20">Últimes reunions</figcaption>
        <ul class="color-1 transparent">
          <% 4.times do %>
          <li>
            <div>
              <p>Parlament de Catalunya proclamés la República Catalana</p>
              <p>Meritxell Serret i Aleu</p>
            </div>
            <div>
              <p>23/06/08</p>
            </div>
            <div>
              <a href=""><small>Veure detalls</small></a>
            </div>
          </li>
          <% end %>
        </ul>
      </figure>
      <div>
        <a href="" class="show-more color-1"><small>Veure tot</small></a>
      </div>
    </section>
    <section>
      <figure class="table-list">
        <figcaption class="mb_20">Últims viatges</figcaption>
        <ul class="color-2 transparent">
          <% 4.times do %>
          <li>
            <div>
              <p>Parlament de Catalunya proclamés la República Catalana</p>
              <p>Meritxell Serret i Aleu</p>
            </div>
            <div>
              <p>23/06/08</p>
            </div>
            <div>
              <a href=""><small>Veure detalls</small></a>
            </div>
          </li>
          <% end %>
        </ul>
      </figure>
      <div>
        <a href="" class="show-more color-2"><small>Veure tot</small></a>
      </div>
    </section>
    <section>
      <figure class="table-list">
        <figcaption class="mb_20">Últims invitacions</figcaption>
        <ul class="color-3 transparent">
          <% 4.times do %>
          <li>
            <div>
              <p>Parlament de Catalunya proclamés la República Catalana</p>
              <p>Meritxell Serret i Aleu</p>
            </div>
            <div>
              <p>23/06/08</p>
            </div>
            <div>
              <a href=""><small>Veure detalls</small></a>
            </div>
          </li>
          <% end %>
        </ul>
      </figure>
      <div>
        <a href="" class="show-more color-3"><small>Veure tot</small></a>
      </div>
    </section>
    <section>
      <figure class="table-list">
        <figcaption class="mb_20">Últims obsequis</figcaption>
        <ul class="color-1 transparent">
          <% 4.times do %>
          <li>
            <div>
              <p>Parlament de Catalunya proclamés la República Catalana</p>
              <p>Meritxell Serret i Aleu</p>
            </div>
            <div>
              <p>23/06/08</p>
            </div>
            <div>
              <a href=""><small>Veure detalls</small></a>
            </div>
          </li>
          <% end %>
        </ul>
      </figure>
      <div>
        <a href="" class="show-more color-1"><small>Veure tot</small></a>
      </div>
    </section>
  </div>
</section>

<section class="row">
  <a href="" class="col-md-12 bg-danger p_2">Accedeix a les dades al portal de Dades Obertes</a>
</section>
