<li class="table-item">
  <div class="row">
    <div class="col-md-8">
      <p>Mallorca</p>
      <p>Viatge oficial</p>
    </div>
    <div class="col-md-2">
      <p>23/06/08</p>
    </div>
    <div class="col-md-2">
      <p>23/08/08</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Viatge oficial del Molt Honorable Rei d'Aragó als EUA acompanyat del conseller d’Afers Exteriors, Relacions Institucionals i Transparència, Raül Romeva, i del delegat del Govern als EUA, Andrew Scott Davis, durant el qual  el president visità les ciutats de Boston, Washington i Nova York</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">Comitiva</div>
        <div class="col-md-2">Cost</div>
        <div class="col-md-2"></div>
      </div>
      <% 6.times do %>
      <div class="row">
        <div class="col-md-8">Escorta (almogàvers)</div>
        <div class="col-md-2">Total despeses</div>
        <div class="col-md-2">7.665,45</div>
      </div>
      <% end %>
    </div>
  </div>
</li>
