<section class="row">
  <div class="col-md-9">
    <%= render "gobierto_people/gencat/breadcrumb" %>
  </div>
  <div class="col-md-3">
    <%= render "gobierto_people/gencat/datepicker" %>
  </div>
</section>

<section>
  <h3 class="h3 text-left">Jaume I el Conqueridor</h3>
  <p>Departament d'Afers i Relacions Institucionals i Exteriors i Transparència</p>
</section>

<section class="row">
  <div class="col-md-3">
    <ul class="toggle-container">
      <li class="color-1">
        <a href="">
          <div>123</div>
          <div>reunions</div>
        </a>
      </li>
      <li class="color-2">
        <a href="">
          <div>123</div>
          <div>viatjes</div>
        </a>
      </li>
      <li class="color-3">
        <a href="">
          <div>123</div>
          <div>invitacions</div>
        </a>
      </li>
      <li class="color-1">
        <a href="">
          <div>123</div>
          <div>obsequis</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">

  </div>
</section>

<section class="row">
  <a href="" class="col-md-12 bg-danger p_2">Accedeix a les dades al portal de Dades Obertes</a>
</section>
