<div class="datepicker-container">
  <input class="air-datepicker datepicker-here" type="text"
  data-range="true" data-multiple-dates-separator=" · "
  data-language="ca" data-date-format="d M yyyy" data-auto-close="true" />
  <span class="caret"></span>
</div>
