<section class="row">
  <div class="col-md-9">
    <%= render "gobierto_people/gencat/breadcrumb" %>
  </div>
  <div class="col-md-3">
    <%= render "gobierto_people/gencat/datepicker" %>
  </div>
</section>

<section>
  <h3 class="h3 text-left">Grups d'interès</h3>
  <p>Qualsevol organització que es reuneix amb un alt càrrec ha de registrar com a grup d'interès, i es crea un registre de les trobades. Aprèn més sobre la Normativa de Grups d'Interès. Explora les organitzacions (empreses, fundacions, associacions ...) que es reuneixen amb càrrecs de la Generalitat.</p>
</section>

<section>
  MISSING
</section>

<section>
  <p>Grups d'Interès amb més reunions</p>
  <div id="rowchart-<%= SecureRandom.random_number(100) %>" class="rowchart color-2"></div>
  <div class="margin_top_xs">
    <a href="" class="show-more bg-info"><small>Veure tot</small></a>
  </div>
</section>

<section class="row">
  <a href="" class="col-md-12 bg-danger p_2">Accedeix a les dades al portal de Dades Obertes</a>
</section>
