<li class="container-fluid">
  <div class="row p_v_1">    
    <div class="col-md-9">
      <p><strong>Parlament de Catalunya proclamés la República Catalana</strong></p>
      <p>Meritxell Serret i Aleu</p>
    </div>
    <div class="col-md-3">
      <p><strong>23/06/08</strong></p>
      <a href=""><small>Veure detalls</small></a>
    </div>
  </div>
</li>
