<div class="map-container">
  <div class="map-info color-2">
    <div>
      <h1>12</h1>
      <p>desplazamientos</p>
    </div>
    <div>
      <h1>3</h1>
      <p>viajes</p>
    </div>
    <div>
      <h1>234.567</h1>
      <p>kilómetros</p>
    </div>
  </div>
  <div id="map">
    <%# TODO: Mapa por definir %>
    <img src="http://wp-eng-static.washingtonpost.com/quiz_images/cbbf9911-c1ba-4d01-8169-34dcdfdb6383/b3f8570f-0671-4871-b00c-dcf8269314ce.png?ts=1420817167788" style="width:100%;height:100%;object-fit:cover;" alt="">
  </div>
</div>
