<% content_for :breadcrumb_current_item do %>
  <strong>
    <%= link_to t('gobierto_participation.layouts.menu_subsections.scopes'), gobierto_participation_scopes_path %>
  </strong>
<% end %>

<%= content_for :body_attributes do %>
  class='theme-participation gobierto_participation'
<% end %>

<div class="column">
  <div class="pure-g">
    <div class="pure-u-1 center slim_headline">
      <p>
        <%= t('.intro_html', location_name: current_site.location_name) %>
      </p>
    </div>

    <div class="pure-u-1">
      <div class="pure-g three_by_three small_column">
        <% @scopes.each do |scope| %>
          <%= render 'scope_teaser', scope: scope, meta: false %>
        <% end %>
      </div>
    </div>
  </div>
</div>
