<menu class="side_navigation">
  <% if @section %>
    <!-- This is not clear. Can't we generate the tree just passing the section instead of two arguments? -->
    <%= section_tree(@section.section_items.first_level.not_archived.not_drafted, @section_item.hierarchy_and_children(only_public: true)) %>

  <% elsif @collection %>
    <ul>
      <li><%= link_to @collection.title, gobierto_cms_pages_path(@collection.slug) %>
        <ul>
          <%= render partial: "gobierto_cms/shared/page", collection: @pages, cached: true %>
        </ul>
      </li>
    </ul>
  <% end %>
</menu>
