<menu class="side_navigation">
  <% if @section %>
    <!-- This is not clear. Can't we generate the tree just passing the section instead of two arguments? -->
    <%= section_tree(@section.section_items.first_level.not_archived.not_drafted, @section_item.hierarchy_and_children(only_public: true)) %>
  <% elsif @collection %>
    <ul>
      <li><%= link_to @collection.title, gobierto_cms_pages_path(@collection.slug) %></a>
        <ul>
          <% @pages.each do |page| %>
            <li><%= link_to page.title, gobierto_cms_page_or_news_path(page) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>
</menu>
