<div class="sub-nav-item">
  <%= link_to t("gobierto_data.projects.dataset"), "/datos/", data: { turbolinks: false } %>
</div>
<div class="sub-nav-item">
  <%= link_to t("gobierto_data.projects.visualizations"), "/datos/v/visualizaciones", data: { turbolinks: false } %>
</div>
