<div class="main-nav-item<%= class_if(" active", current_module == "gobierto_data") %>">
  <%= link_to t("gobierto_data.layouts.application.gobierto_data"), gobierto_data_root_path, data: { turbolinks: false } %>
</div>
