<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_investments') %>">
  <%= link_to t("gobierto_investments.layouts.application.investments"), gobierto_investments_root_path, data: { turbolinks: false } %>
</div>
