<div class="contact-methods">
  <ul>
  
  <% if @person.contact_email %>
    <li>
      <%= mail_to '<i class="fa fa-envelope"></i>'.html_safe + @person.contact_email, @person.contact_email, target: 'blank' %>
    </li>
  <% end %>

  <% if @person.twitter_url %>
    <li>
      <%= link_to '<i class="fa fa-twitter"></i>'.html_safe + @person.twitter_handle, @person.twitter_url, target: 'blank' %>
    </li>
  <% end %>

  <% if @person.facebook_url %>
    <li>
      <%= link_to '<i class="fa fa-facebook"></i>'.html_safe + @person.facebook_handle, @person.facebook_url, target: 'blank' %>
    </li>
  <% end %>

  <% if @person.twitter_url %>
    <li>
      <%= link_to '<i class="fa fa-linkedin"></i>'.html_safe + @person.linkedin_handle, @person.linkedin_url, target: 'blank' %>
    </li>
  <% end %>

  </ul>
</div>
