<div class="latest-activity">

  <h3><%= t(".title") %></h3>

  <% if @latest_activity.any? %>

    <ul>
      <% @latest_activity.each do |activity| %>
        <li>
          <%= link_to_if activity.visible?, t(*activity.i18n_key), activity.subject.to_url %>
          <span class="soft">
            <%= l(activity.created_at.to_date, format: :short) %>
          </span>
        </li>
      <% end %>
    </ul>

  <% else %>

    <%= t(".no_activity") %>

  <% end %>

</div>
