<div class="latest-activity m_v_3">

  <h3><i class="fas fa-newspaper-o"></i> <%= t(".title") %></h3>

  <% if @latest_activity.any? %>

    <ul>
      <% @latest_activity.each do |activity| %>
        <li>
          <h4><%= link_to_if activity.active?, activity.translated_action, activity.subject.to_url(host: @site.domain) %></h4>
          <span class="soft">
            <%= l(activity.created_at.to_date, format: :short) %>
          </span>
        </li>
      <% end %>
    </ul>

  <% else %>

    <%= t(".no_activity") %>

  <% end %>

</div>
