<div class="people-navigation">

  <ul>
    <li><%= link_to t(".bio"), gobierto_people_person_bio_path(@person) %></li>
    <li><%= link_to t(".agenda"), gobierto_people_person_events_path(@person) %></li>
    <li><%= link_to t(".blog"), gobierto_people_person_posts_path(@person) %></li>
    <li><%= link_to t(".statements"), gobierto_people_person_statements_path(@person) %></li>
  </ul>

</div>
