<% people ||= @people %>
<div id="people-list">
  <% if people.any? %>
    <% people.each do |person| %>
      <%= render person %>
    <% end %>
    <%= link_to t("gobierto_people.welcome.index.people_summary.view_all"), gobierto_people_people_path, class: "see_more", role: "button" %>
  <% else %>
    <p><%= t("gobierto_people.welcome.index.people_summary.no_people")%>.</p>
  <% end %>
</div>
