<div class="people-list">
  <% if @people.any? %>
    <% @people.each do |person| %>
      <%= render person %>
    <% end %>
    <%= link_to t(".people_summary.view_all"), gobierto_people_people_path, class: "see_more", role: "button" %>
  <% else %>
    <p>No hay personas</p>
  <% end %>
</div>
