---
version: 2.1

# To get the list of Gobierto modules
# find test/ -name '*_test.rb' -type f | awk -v FS='/' '{print $3}' | grep gobierto | grep -v test | sort | uniq

aliases:
  - &working_directory ~/gobierto

defaults: &defaults
  working_directory: *working_directory
  docker:
    - image: cimg/ruby:2.7.4-browsers
      environment:
        # Up to circle-ci plan max. RAM
        NODE_OPTIONS: --max-old-space-size=6144
        RAILS_ENV: test
        NODE_ENV: test
        PGHOST: localhost
        PGUSER: gobierto
        PSQL_PAGER: ''
        # Disable spring so bin/rails works. See: https://github.com/rails/spring/pull/546
        DISABLE_SPRING: true
    - image: postgres:12
      environment:
        POSTGRES_USER: gobierto
        POSTGRES_DB: gobierto_test
        POSTGRES_PASSWORD: gobierto
    - image: elasticsearch:2.4.1
    - image: redis:6.2.5

commands:
  restore_bundler_cache:
    steps:
      - restore_cache:
          name: "[Bundler] Restore cache"
          keys:
            - gobierto-bundler-{{ checksum "Gemfile.lock" }}-{{ checksum ".ruby-version" }}
  restore_yarn_cache:
    steps:
      - restore_cache:
          name: "[Yarn] Restore cache"
          keys:
            - gobierto-yarn-{{ checksum "yarn.lock" }}
  restore_assets_cache:
    steps:
      - restore_cache:
          name: "Restore cached assets"
          keys:
            - gobierto-{{ .Environment.CACHE_VERSION }}-asset-cache-{{ .Branch }}
            - gobierto-{{ .Environment.CACHE_VERSION }}-asset-cache-
  prepare_workspace:
    steps:
      - checkout
      - attach_workspace:
          at: *working_directory
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - restore_bundler_cache
      - restore_yarn_cache
      - restore_assets_cache
      - run: bundle --path vendor/bundle
      - run: yarn install
      # Wait for DB containers to be ready
      - run: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: dockerize -wait tcp://localhost:9200 -timeout 1m
      - run: dockerize -wait tcp://localhost:6379 -timeout 1m

      # Install postgres 12
      - run: wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
      - run: echo "deb http://apt.postgresql.org/pub/repos/apt/ buster-pgdg main" | sudo tee  /etc/apt/sources.list.d/pgdg.list
      - run: sudo apt update
      - run: sudo apt -y install postgresql-client-12

      # Copy database config
      - run: cp config/database.yml.example config/database.yml

      # Setup the database
      - run: bin/rails db:create db:migrate

      # Install custom engines
      - run: script/custom_engines_ci_setup

      - run:
          name: Setup budgets seeds
          command: |
            bin/rails gobierto_budgets:elastic_search_schemas:manage:reset
            bin/rails gobierto_budgets:elastic_search_schemas:manage:create
            bin/rails gobierto_budgets:fixtures:load
            echo '::BudgetsSeeder.seed!' | bin/rails c

orbs:
  browser-tools: circleci/browser-tools@1.4.5

jobs:
  bundle_dependencies:
    <<: *defaults
    resource_class: medium+
    steps:
      - checkout
      - attach_workspace:
          at: *working_directory
      - restore_bundler_cache
      - run:
          name: "[Bundler] Install dependencies"
          command: bundle install --path vendor/bundle --jobs=4 --retry=3  --without development
      - save_cache:
          name: "[Bundler] Cache dependencies"
          key: gobierto-bundler-{{ checksum "Gemfile.lock" }}-{{ checksum ".ruby-version" }}
          paths:
            - vendor/bundle

      - restore_yarn_cache
      - run:
          name: "[Yarn] Install dependencies"
          command: yarn install
      - save_cache:
          name: "[Yarn] Cache dependencies"
          key: gobierto-yarn-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

      # Copy database config
      - run: cp config/database.yml.example config/database.yml

      # Install custom engines
      - run: script/custom_engines_ci_setup

      # Compile I18n JS file
      - run: bin/rails i18n:js:export

      - browser-tools/install-chrome
      - browser-tools/install-chromedriver

      # Compile assets
      - restore_assets_cache
      - run: bin/rails assets:precompile
      - save_cache:
          name: "Cache assets"
          key: gobierto-{{ .Environment.CACHE_VERSION }}-asset-cache-{{ .Branch }}
          paths:
            - public/assets
            - public/packs-test
            - tmp/cache/webpacker

      - persist_to_workspace:
          root: *working_directory
          paths:
            - db

  tests_admin:
    <<: *defaults
    parallelism: 2
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_admin*' -name '*_test.rb' | grep -v 'gobierto_admin\/gobierto_' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_attachments:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_attachments*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_budgets:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_budgets*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_calendars:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_calendars*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_cms:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_cms*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_common:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_common*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_core:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_core*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_dashboards:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_dashboards*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_data:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_data*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_exports:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_exports*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_indicators:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_indicators*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_investments:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_investments*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_observatory:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_observatory*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_people:
    <<: *defaults
    parallelism: 2
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_people*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_plans:
    <<: *defaults
    parallelism: 2
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_plans*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_visualizations:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -path '*gobierto_visualizations*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_others:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find test -not -path '*gobierto_*' -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_engines:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            TEST_FILES="$(find -L vendor/gobierto_engines/ -name '*_test.rb' | circleci tests split --split-by=timings)"
            bin/rails test $TEST_FILES
      - store_test_results:
          path: test/reports

  tests_javascript:
    <<: *defaults
    steps:
      - prepare_workspace
      - run:
          name: Run tests
          command: |
            yarn run test
      - store_test_results:
          path: test/reports

  production-deploy:
    working_directory: *working_directory
    machine:
      image: ubuntu-2004:202201-02
    steps:
      # deploy script is in the repository
      - checkout
      - run:
          name: Deploy master branch
          command: script/production_deploy.sh

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - bundle_dependencies:
          filters:
            branches:
              ignore:
                - staging
      - tests_admin:
          requires:
            - bundle_dependencies
      - tests_attachments:
          requires:
            - bundle_dependencies
      - tests_budgets:
          requires:
            - bundle_dependencies
      - tests_calendars:
          requires:
            - bundle_dependencies
      - tests_cms:
          requires:
            - bundle_dependencies
      - tests_common:
              requires:
                - bundle_dependencies
      - tests_core:
          requires:
            - bundle_dependencies
      - tests_dashboards:
            requires:
              - bundle_dependencies
      - tests_data:
          requires:
            - bundle_dependencies
      - tests_exports:
          requires:
            - bundle_dependencies
      - tests_indicators:
          requires:
            - bundle_dependencies
      - tests_investments:
          requires:
            - bundle_dependencies
      - tests_observatory:
          requires:
            - bundle_dependencies
      - tests_people:
          requires:
            - bundle_dependencies
      - tests_plans:
          requires:
            - bundle_dependencies
      - tests_visualizations:
          requires:
            - bundle_dependencies
      - tests_others:
          requires:
            - bundle_dependencies
      - tests_engines:
          requires:
            - bundle_dependencies
      - production-deploy:
          requires:
            - bundle_dependencies
            - tests_admin
            - tests_attachments
            - tests_budgets
            - tests_calendars
            - tests_cms
            - tests_common
            - tests_core
            - tests_dashboards
            - tests_data
            - tests_exports
            - tests_indicators
            - tests_investments
            - tests_observatory
            - tests_people
            - tests_plans
            - tests_visualizations
            - tests_others
            - tests_engines
          filters:
            branches:
              only: master
