<% content_for :breadcrumb_current_item do %>
  <h1>
    <%= link_to t("user.layouts.menu_subsections.admin"), user_settings_path %>
  </h1>
<% end %>

<div class="column">

	<div class="block">
    <h2><%= t('.title') %></h2>
	</div>

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-11-24 padded_line_box ">
      <div class="login_box">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
