<p>
  <%= t(".hi") %>,
</p>

<p>
  <%= t(".intro_html", plan_link: link_to(@plan.title, admin_plans_plan_projects_url(@plan, host: @site.domain)), project_name: @project_name) %>.
</p>

<p>
  <%= t(".bye") %>.
</p>

