<%= render 'gobierto_admin/gobierto_participation/shared/breadcrumb',
    last_breadcrumb_item: t(".edit_#{@process.process_type}"),
    process: @process %>

<h1><%= @process.title %></h1>

<%= render 'gobierto_admin/gobierto_participation/shared/navigation' %>

<%= render 'form' %>
