<div class="column">

  <h1>
    <%= title t("gobierto_people.person_posts.index.title") %>
  </h1>

  <h4 class="center">
    <%= t(".filtering_by_tag", tag: @tag) %>
    <%= link_to t(".go_back"), gobierto_people_posts_path %>
  </h4>

  <div class="posts-summary person_post-list item-list">

    <%= render partial: "gobierto_people/person_posts/person_post_excerpt", collection: @posts, as: :person_post %>

  </div>

</div>

<% description([title, t("gobierto_people.layouts.application.title"), @site.title].compact.join('. ')) %>
