<div class="pure-u-md-1-2 pure-u-1 mega_bar">
  <div class="bar <%= className %>">
    <div class="label">
      <div class="f3"><%= t("gobierto_budgets.budgets.index.execution_block.#{className}") %></div>
      <div class="figure f-mega"><%= percentage %><span class="f3">%</span></div>
    </div>
    <div class="filled" style="width: <%= percentage %>%"></div>
  </div>
</div>
