<div class="pure-u-md-1-2 pure-u-1 mega_bar">
  <div class="bar <%= className %>">
    <div class="label">
      <div><%= t("gobierto_budgets.budgets.index.execution_block.#{className}") %></div>
      <div class="figure"><%= percentage %><span>%</span></div>
    </div>
    <div class="filled" style="width: <%= percentage > 100 ? 100 : percentage %>%"></div>
  </div>
</div>
