<td><%= link_to sub_budget_line.name, gobierto_budgets_budget_line_path(sub_budget_line.to_param) %></td>
<td class="qty big_qty highlight-proposal"><%= number_to_currency sub_budget_line.amount, precision:0 %></td>
<td class="qty highlight-proposal"><%= sub_budget_line.percentage_of_total %>%</td>
<td class="bar highlight-proposal"><div class="bar" style="width:<%= sub_budget_line.percentage_of_total %>%"></div></td>
<!-- TODO: this last row is new -->
<td class="TODO highlight-proposal"><div class="TODO sparkline"></div>+ 4.4%</td>
