<%= render "gobierto_people/people/content_for_breadcrumb" %>

<h3 class="center">
  <%= t(".title", person_name: @person.name, person_charge: @person.charge) %>
</h3>

<div class="posts-summary">

  <%= render partial: "gobierto_people/person_posts/person_post_excerpt", collection: @posts, as: :person_post %>

</div>
