<h3 class="blog_header">
  <%= title t(".title", person_name: @person.name, person_charge: @person.charge) %>
</h3>

<div class="posts-summary">

  <% if @posts.any? %>
    <%= render partial: "gobierto_people/person_posts/person_post_excerpt", collection: @posts, as: :person_post %>
  <% else %>
    <p><%= t('.no_posts') %></p>
  <% end %>

</div>

<% description([title, t("gobierto_people.layouts.application.title"), @site.title].compact.join('. ')) %>
