<p>
  Hey,
</p>

<p>
  Your registration has been successfully completed.
</p>

<p>
  Remember you can always change your current password at
  <%= new_user_passwords_url(domain: @site.domain) %>.
</p>
