<div class="tabs">
  <ul>
    <li class="<%= class_if("active", controller_name == "people") %>">
      <%= link_to t(".person"), edit_admin_people_person_path(@person) %>
    </li>
    <li class="<%= class_if("active", controller_name.include?("person_events")) %>">
      <%= link_to t(".agenda"), admin_people_person_events_path(@person) %>
    </li>
  </ul>
</div>
