<div class="w_s_content">
  <div class="pure-g f_small">
    <div class="pure-u-1-2">
      <%= t("gobierto_admin.shared.moderation_save_widget.moderation") %>
    </div>

    <div class="pure-u-1-2">
      <span class="g_popup_context js-admin-widget-save">
        <span class="i_p_status <%= resource.moderation_style %>">
          <%= t("gobierto_admin.shared.moderation_save_widget.moderation_status.#{resource.moderation_status}") %>
        </span>
      </span>
    </div>
  </div>
</div>
