<% flash.select { |key, _| key.in?(%w(notice alert)) }.each do |key, value| %>

  <div class="flash-message <%= key %>">
    <ul>

      <% if value.is_a?(Array) %>

        <% value.each do |message| %>
          <li><%= sanitize message %></li>
        <% end %>

      <% else %>

        <li><%= sanitize value %></li>

      <% end %>

    </ul>
  </div>

<% end %>
