<% admin_group = ::GobiertoAdmin::AdminGroup.system.find_by(resource: resource) %>

<% if admin_group.present? %>
  <div class="pure-u-md-1-3 right">
    <%= link_to(admin_admin_group_admins_path(admin_group), class: "open_remote_modal button outline rounded", title: t("views.edit")) do %>
      <i class="fas icon fa-users"></i>
      <%= t(".permissions") %>
    <% end %>
  </div>
<% end %>
