<% if resource.present? && resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message.html_safe %></li>
      <% end %>
    </ul>
  </div>
<% end %>
