<%= render("gobierto_admin/gobierto_citizens_charters/shared/charter_breadcrumb") %>

<%= render("gobierto_admin/gobierto_citizens_charters/shared/navigation") %>

<div class="pure-g m_v_2">
  <%= render("sub_breadcrumb", extra_items: [{ text: t(".title") }]) %>
</div>

<%= render "form" %>
