<% @poll_answer_form = GobiertoParticipation::Processes::PollAnswerForm.new(poll: poll) %>
<% current_process = poll.process %>
<% question = @poll_answer_form.poll.questions.first %>

<p class="lead"><%= question.title %></p>
<div class="center">
  <%= form_for(@poll_answer_form, as: :poll, method: :post, url: gobierto_participation_process_poll_answers_path(current_process.slug, @poll_answer_form.poll), remote: true) do |fb| %>
    <% unless question.open_answer? %>
      <%= render 'shared/poll_question', question: @poll_answer_form.poll.questions.first %>
    <% end %>

    <% submit_button_text = if question.open_answer?
                              t('.answer')
                            else
                              @poll_answer_form.questions_count == 1 ? t('.submit') : t('.next_question')
                            end
    %>

    <% poll_url = new_gobierto_participation_process_poll_answer_path(poll.process.slug, poll)

       submit_button_url = if current_user.present?
                             poll_url
                           else
                             if question.open_answer?
                               new_user_sessions_path(open_modal: true, poll_id: question.poll.id)
                             else
                               new_user_sessions_path(open_modal: true)
                             end
                           end
    %>

    <%= link_to submit_button_text,
                submit_button_url,
                class: "button outline rounded fat #{ class_if('hidden', !question.open_answer?) } #{ class_if('open_remote_modal', !current_user.present?) }",
                data: { behavior: 'next_question' } %>
  <% end %>
</div>
