<div class="p_1 filled_block content_block featured_poll" style="background-image: url(<%= image_url("images/illustrations/emojis.svg") %>)">
  <h2><%= t("shared.polls.opinion") %></h2>

  <% if poll.present? %>
    <%= render "shared/poll_teaser", { poll: poll }  %>
  <% else %>
    <p class="lead"><%= t("shared.polls.no_unanswered_polls") %></p>
  <% end %>
</div>
