<% snippet ||= ""; hidden_text ||= snippet %>
<div class="read-more js-read-more">
  <div>
    <%= snippet %> <span data-toggle><a><%= t("views.see.more") %></a></span>
  </div>
  <div>
    <%= hidden_text %>
    <span data-toggle><a><%= t("views.see.less") %></a></span>
  </div>
</div>
