<script type="text/html" id="widget-template-debt">
  <div class="label">{{title}}
    {{#no_data_this_year}}(dato {{no_data_this_year}}){{/no_data_this_year}}
  </div>
  {{#value}}
  <div class="main {{sign}}">
    {{value}}
  </div>
  {{/value}}
  {{^value}}
  <div class="main {{sign}}">No disponible</div>
  {{/value}}
  <div class="secondary">
    <div class="percentage_change up {{sign}}">{{delta_percentage}}%</div>
  </div>
</script>
