<script type="text/html" id="widget-template">
  <div class="label">
    {{title}}
    {{#no_data_this_year}}(dato {{no_data_this_year}}){{/no_data_this_year}}
  </div>
  <div class="main {{sign}}">{{value}}</div>
  <div class="secondary">
    <div class="percentage_change up {{sign}}">{{delta_percentage}}%</div>
    <div class="ranking"><a href="{{ranking_url}}" class="ranking_link"><strong>#{{ranking_position}}</strong>/{{ranking_total_elements}}</a></div>
  </div>
</script>

