<div class="form_item input_text">
  <label for="name"><%= t('.search_id') %></label>
  <input type="text" id="document_number" placeholder="<%= t('.placeholder') %>" data-skip-dirty-check="true">
</div>
<%= submit_tag t('.search'), data: {serch_document_number: true} %>
