<% content_for :breadcrumb_current_item do %>
  <h1>
    <%= link_to t(".news"), gobierto_participation_news_index_path %>
  </h1>
<% end %>

<% content_for(:current_submodule_link) do %>
  <%= link_to t('gobierto_admin.gobierto_participation.shared.navigation.news'), gobierto_participation_news_index_path %>
<% end %>

<div class='gradient-bg'>
  <div class='column'>
    <%= render "gobierto_cms/templates/news", { page: @page } %>
  </div>
</div>
