<% projects.each do |project| %>
  <div class="v_el v_el_level list-group-item" data-id="<%= project.id %>">
    <div class="v_el_cont">
      <div class="v_el_title">
        <i class="fas fa-file-alt"></i>
        <%= link_to project.name, edit_admin_plans_plan_project_path(plan, project) %>
      </div>
      <div class="v_el_decorated">
        <div>
        </div>
        <div>
          <%= number_to_percentage(project.progress, precision: 1, strip_insignificant_zeros: true) %>
        </div>
      </div>
      <div class="v_el_actions">
        <%= link_to(edit_admin_plans_plan_project_path(plan, project))  do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
