<div class="dynamic-content table-component">

  <% Array(content_blocks).each do |content_block| %>
    <div class="block">
    
      <h3><%= content_block.localized_title %></h3>
      <table class="block_content">
        <tr>
          <% Array(content_block.fields).each do |content_block_field| %>
            <th><%= content_block_field.localized_label %></th>
          <% end %>
        </tr>
        <tbody>
          <% Array(content_block.records).each do |content_block_record| %>
            <tr>
              <% Array(content_block_record.fields).each do |content_block_record_field| %>
                <td><%= content_block_record_field.value %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  <% end %>

</div>
