<div class="dynamic-content table-component">
  <% Array(content_blocks).each do |content_block| %>
    <% if content_block.records.any? %>
      <div class="block">

        <h3><%= content_block.localized_title %></h3>
        <table class="block_content">
          <tr>
            <% Array(content_block.fields).each do |content_block_field| %>
              <th><%= content_block_field.localized_label %></th>
            <% end %>
            <th><i class="fa fa-paperclip" title="Adjunto"></i></th>
          </tr>
          <tbody>
            <% Array(content_block.records).each do |content_block_record| %>
              <tr>
                <% Array(content_block_record.fields).each do |content_block_record_field| %>
                  <td><%= content_block_record_field.value %></td>
                <% end %>
                <td><a href="" class="tipsit" title="Descargar adjunto (PDF, 150KB)"><i class="fa fa-paperclip" ></i></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    <% end %>
  <% end %>
</div>
