<div id="comments-list" class="comments_container">
  <h3><%= t('.comments_html', comments: commentable.comments_count) %></h3>

  <%
    comments_collection = if commentable.class.name == "GobiertoParticipation::Contribution"
                            commentable.comments
                          else
                            commentable.replies
                          end
  %>

  <% comments_collection.each do |comment| %>
    <%= render partial: 'gobierto_participation/comments/comment', locals: { comment: comment } %>
  <% end %>

  <div class="comment_new">

    <% if user_signed_in? %>
      <%= render partial: 'gobierto_participation/comments/form', locals: { commentable: commentable } %>

    <% else %>
      <div class="inline_login_cta">
        <h2><%= link_to t('.login_signup_comment'), new_user_sessions_path(open_modal: true), class: 'open_remote_modal' %></h2>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

  $('[data-id]').on('click', function(e){
    e.preventDefault();
    var id = $(this).data("id");

    $("#" + id).toggle();
  });

</script>
