<% vote_contribution_path = gobierto_participation_process_contribution_container_contribution_vote_path(
  contribution_id: contribution.slug,
  contribution_container_id: contribution.contribution_container.slug,
  process_id: process.slug,
  vote_weight: vote_weight,
  votable_id: contribution.id,
  votable_type: contribution.class
) %>

<% contribution_voted_by_user = contribution.voted_with_weight_by_user?(current_user, vote_weight) %>

<div>

  <% if contribution.contribution_container.contributions_allowed? %>

    <!-- cant' use link_to_if because styles need the anchor tag -->
    <%= link_to(
          vote_contribution_path,
          class: "action_button #{vote_weight_class} #{class_if('selected', contribution_voted_by_user)}",
          method: :post,
          remote: true
    ) do %>
      <div class="action_description"><%=  action_description_text %></div>
    <% end %>

  <% else %>

    <%= link_to('', class: "action_button disabled-cursor js-disabled #{vote_weight_class} #{class_if('selected', contribution_voted_by_user)}") do %>
      <div class="action_description"><%=  action_description_text %></div>
    <% end %>

  <% end %>

</div>