<% if user_signed_in? %>
  <div id="flag-link-<%= item.id %>">

    <% link_path = gobierto_participation_process_contribution_container_contribution_flag_path(
      contribution_id: item.commentable.slug,
      contribution_container_id: item.commentable.contribution_container.slug,
      process_id: item.commentable.contribution_container.process.slug,
      flaggable_id: item.id,
      flaggable_type: item.class
    ) %>

    <% already_flagged = item.flagged_by_user?(current_user) %>

    <% if disabled %>

       <i class="fas fa-flag"></i>
      <%= already_flagged ? t('.reported') :  t('.report') %>

    <% else %>

      <%= link_to(
        link_path,
        class: "action #{class_if('active', already_flagged)}",
        method: (already_flagged ? :delete : :post),
        remote: true
      ) do %>
        <i class="fas fa-flag"></i>
        <%= already_flagged ? t('.reported') :  t('.report') %>
      <% end %>

    <% end %>

  </div>
<% end %>
