<h4 class="with_light_separator m_t_1"><%= t('gobierto_participation.shared.filter_by_theme') %></h4>

<% if issues %>
  <ul class="link_list">
    <% issues.each do |issue| %>
      <li>
        <%= link_to issue.name , gobierto_participation_activities_path(issue_id: issue.slug) %>
      </li>
    <% end %>
  </ul>
<% end %>
