<div class="activity_item">
  <h2>
    <%= link_to_if activity.active?, activity.translated_action, activity.subject.to_url(host: current_site.domain) do %>
      <%= activity.translated_action %>
      <span class="secondary"><%= activity.subject_name %></span>
    <% end %>
  </h2>
  <div class="date"><%= l(activity.created_at.to_date, format: :short) %></div>
</div>
