<h4 class="with_light_separator m_t_1"><%= t('.filter') %></h4>

<ul class="link_list">
  <% issues.each do |issue| %>
    <li>
      <%= link_to issue.name , gobierto_participation_pages_path(issue_id: issue.slug) %>
    </li>
  <% end %>
</ul>
