<div class="activities_teaser">
  <h3>
    <%= link_to_if activity.active?, activity.translated_action, activity.subject.to_url(host: current_site.domain) do %>
      <%= activity.translated_action %>
      <span class="secondary"><%= activity.subject_name %></span>
    <% end %>
  </h3>
  <div class="meta">
    <time><%= time_ago_in_words(activity.created_at) %></time>
  </div>
</div>
