<menu class="sub_sections">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul>
      <% %W{ poblacion empleo economia }.each do |subsection| %>
        <li><%= link_to t("gobierto_indicators.layouts.menu_subsections.#{subsection}"), "##{subsection}" %></li>
      <% end %>
    </ul>
  </div>
</menu>
