<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_indicators') %>">
  <%= link_to t("gobierto_indicators.layouts.application.indicators"), gobierto_indicators_root_path, data: { turbolinks: false } %>
</div>
