<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_indicators') %>">
  <%= link_to t("gobierto_indicators.layouts.application.indicators"), GobiertoIndicators.root_path(current_site), data: { turbolinks: false } %>
</div>
