<div class="sub-nav-item">
  <%= link_to t("gobierto_indicators.layouts.navigation.sub.ita"), gobierto_indicators_root_path %>
</div>
<div class="sub-nav-item">
  <%= link_to t("gobierto_indicators.layouts.navigation.sub.gci"), gobierto_indicators_gci_path %>
</div>
<div class="sub-nav-item">
  <%= link_to t("gobierto_indicators.layouts.navigation.sub.ip"), gobierto_indicators_ip_path %>
</div>
