<% title t('gobierto_data.layouts.application.gobierto_data') %>

<div class="column">
    <div class="m_b_2">
    <div class="container sandbox">
        <% @datasets.each do |dataset| %>
            <%= link_to(dataset.name, gobierto_data_dataset_path(dataset.slug)) %>
        <% end %>
        <div id="gobierto-datos-app"
             data-site-name="<%= @site.name %>"
             data-logo-url="<%= @site.configuration.logo_with_fallback %>"
             data-home-url="<%= root_url %>">
        </div>
    </div>
    </div>

</div>
