<div class="planification-header m_v_3" v-show="json.length">

  <div class="header-resume">
    <h3><%= t("gobierto_plans.plan_types.show.global_execution") %></h3>
    <span>{{ globalProgress | percent }}</span>
  </div>

  <div class="header-detail">
    <% for i in 0..(@levels + 1) %>
      <div>
        <%= level_name_pluralize(@plan, i) %>
      </div>
    <% end %>
  </div>

</div>
