<div>
  <%= render partial: "gobierto_plans/plan_types/sdg/header" %>

  <div class="sdg_list_grid">
    <%= render partial: "gobierto_plans/plan_types/sdg/icons", locals: { percentages: true } %>
  </div>
</div>
