<div class="">
  <%= render partial: "gobierto_plans/plan_types/sdg/header" %>

  <div class="sdg_list_grid">
    <% @sdgs.sdgs_with_projects.each do |sdg| %>
      <%= link_to(
            image_tag(@sdgs.sdg_icon(sdg)),
            gobierto_plans_plan_sdg_path(slug: @plan.plan_type.slug, year: @plan.year, sdg_slug: sdg.slug)
          ) %>
    <% end %>
  </div>

  <% @sdgs.sdgs_distribution.each do |sdg, projects| %>
      <%= render partial: "gobierto_plans/plan_types/sdg/projects", locals: { sdg: sdg, projects: projects } %>
  <% end %>
</div>
