<div class="sub-nav-item<%= class_if(' active', controller_name == 'dashboards') %>">
  <% content_for(:current_submodule_link) do %>
    <%= link_to t('gobierto_dashboards.layouts.menu_subsections.contracts'),
          gobierto_dashboards_contracts_path, data: { turbolinks: false } %>
    <%= link_to t('gobierto_dashboards.layouts.menu_subsections.subsidies'),
          gobierto_dashboards_contracts_path, data: { turbolinks: false } %>
  <% end %>
</div>
