/*
 * Master CSS file for Gobierto. In this file we include:
 *
 * - Vendor & Gobierto libraries
 * - Gobierto components
 * - CSS conf (fonts, colors)
 * - Fonts
 *
 */

/*
 * Vendor libraries
 *
 */
@import "pure-min";
@import "pure-grids-responsive-min";
@import "magnific-popup";
@import "jquery-ui";
@import "datepicker.min";
@import "simplemde.min";
@import "jqtree";
@import "codemirror/addon/fold/foldgutter";
@import "select2.min";
@import "cropper";
@import "cropper.min";
@import "jsgrid.min";
@import "jsgrid-theme.min";
@import "jquery.minicolors";
@import "slick.grid.variables";
@import "slick-default-theme";
@import "slick.grid";

/*
 * Gobierto libraries
 *
 */
@import "populities";

/*
 * Helpers
 *
 */
@import "mixins";

/*
 * Gobierto components
 *
 */
@import "css-conf";
@import "comp-breadcrumbs";
@import "comp-flash_messages";
@import "comp-filters";
@import "comp-forms";
@import "comp-headings_blocks";
@import "comp-layout";
@import "comp-lists";
@import "comp-metric_boxes";
@import "comp-modals";
@import "comp-site_header";
@import "comp-social_buttons";
@import "comp-tables";
@import "comp-tabs";
@import "comp-text_content";
@import "comp-sortable";
@import "comp-dyna_block";
@import "comp-indicator_widget";
@import "comp-simplemde_editor";
@import "comp-magnific-popup-animations";
@import "comp-tipsy";
@import "module-admin";
@import "module-consultations";
@import "css-print";

/*
 * Fonts
 *
 */
// @import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,600|Source+Sans+Pro:200,400,700,600");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:200,400,700,600");
@import "font-awesome-sprockets";
@import "font-awesome";

/* Override front fonts (defined in css-conf) */
$font_headings: 'Libre Franklin', 'Helvetica Neue', 'Arial', 'sans-serif';
$font_text: 'Libre Franklin', 'Helvetica Neue', 'Arial', 'sans-serif';
$font_serif: 'Georgia, serif';

@import "admin/defaults";
@import "responsive";
