/*
 * Master CSS file for Gobierto. In this file we include:
 *
 * - Vendor & Gobierto libraries
 * - Gobierto components
 * - CSS conf (fonts, colors)
 * - Fonts
 *
 */

/*
 * Vendor libraries
 *
 */
@import "vendor/pure-min";
@import "vendor/pure-grids-responsive-min";

/*
 * Gobierto base and themes configuration
 *
 */
@import "css-conf";
@import "mixins";

/*
 * Print styles
 *
 */
 @import "css-print";

/*
 * Fonts
 *
 */
// @import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,600|Source+Sans+Pro:200,400,700,600");
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:200,400,700,600");
@import "font-awesome-sprockets";
@import "font-awesome";

/* Override front fonts (defined in css-conf) */
$font_headings: 'Libre Franklin', 'Helvetica Neue', 'Arial', 'sans-serif';
$font_text: 'Libre Franklin', 'Helvetica Neue', 'Arial', 'sans-serif';
$font_serif: 'Georgia, serif';

@import "admin/defaults";
@import "responsive";
