/*
 * Master CSS file for Gobierto. In this file we include:
 *
 * - Vendor & Gobierto libraries
 * - Gobierto components
 * - CSS conf (fonts, colors)
 * - Fonts
 *
 */


/*
 * Vendor libraries
 *
 */
@import "bourbon";
@import "pure-min";
@import "pure-grids-responsive-min";
@import "magnific-popup";
@import "jquery-ui";
@import "datepicker.min";
@import "trix";
@import "tipsy";
@import "jqtree";

/*
 * Gobierto libraries
 *
 */
@import "populities";


/*
 * Gobierto components
 *
 */
@import "css-conf";
@import "comp-breadcrumbs";
@import "comp-flash_messages";
@import "comp-filters";
@import "comp-forms";
@import "comp-headings_blocks";
@import "comp-layout";
@import "comp-lists";
@import "comp-metric_boxes";
@import "comp-modals";
@import "comp-site_header";
@import "comp-social_buttons";
@import "comp-tables";
@import "comp-tabs";
@import "comp-text_content";
@import "comp-sortable";
@import "comp-dyna_block";
@import "comp-indicator_widget";

@import "module-admin";
@import "module-consultations";
@import "css-print";

/*
 * Fonts
 *
 */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,600|Source+Sans+Pro:200,400,700,600");
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

/*
 * Some defaults
 *
 */
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font_text;
  font-size: 16px;
  line-height: 24px;
  color: $color_text;
}
.pure-g [class*="pure-u"] {
  font-family: $font_text;
}
a {
  color: $color_main;
  @include transition;
}
a:hover {
  text-decoration: underline;
}
footer {
  clear: both;
  margin: 5em 0 0 0;
  padding: 5em 0 0 0;
}

/* ToDo: Review & generalize components */

/*
 * Various
 *
 */
.soft_cta {
  background: rgba($color_main, .1);
  @include border-radius(6px);
  padding: 1em 2em;
  display: inline-block;

}
a.soft_cta:hover {
  background: rgba($color_main, .2);
}
.small {
  font-size: .85em;
}
.highlight {
  background: #F1F4BE;
  padding: .2em;
  display: inline-block;
}

#lines_tooltip {
  table {
    th[title=name] {
      width: 45%;
    }
  }
}
.help {
  font-size: .75em;
  float: right;
  a {
    color: rgba($color_main, .5);
  }
}

/*
 * Tips
 *
 */
.tip {
  font-size: .85em;
  font-weight: 700;
  line-height: 1.2em;
  a {
    color: rgba($color_main, .7);
    text-decoration: none;
  }
  .fa {
    display: block;
    line-height: 2em;
    font-size: 1.6em;
  }
}

.invisible {
  visibility: hidden
}

a.list_view_more {
  @include border-radius(3px);
  display: block;
  background: $color_1_soft;
  color: $text_soft;
  padding: .5em 0 .4em 0;
  text-align: center;
  margin: 1em 0;
  text-decoration: none;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 600;
}

html.turbolinks-progress-bar::before {
  background-color: $color_main !important;
  height: 5px !important;
}

.datepickers-container {
  z-index: 100000000000;
}

.activity_feed.section_editor {
  .activity_item {
    a {
      border-radius: 6px;
      padding: 1em;
      border: 1px solid darken($color_1_soft, 5%);
      background: $color_1_soft;
    }
    a:hover {
      background: $color_main_soft;
    }
  }
}

.section_editor_section_canvas {
  border: 2px dashed $color_1_soft;
  background: $color_1_soft;
  padding: 1em;
  font-size: .85rem;

  .section_canvas_tools {
    text-align: right;
    margin: 0 0 1em 0;
    a {
      padding: .5em .75em;
      @include border-radius(3px);
      text-align: center;
    }
    a:hover {
      background: darken($color_1_soft, 20%);
    }
  }
}

ul.jqtree-tree {
  min-height: 500px;
  margin: 0;

  .jqtree-title {
    color: $color_text;
    margin-left: 1em;
  }
  .jqtree-element {
    padding: .25em .5em;
    border-top: 1px solid darken($color_1_soft, 10%);

    &:hover {
      background: darken($color_1_soft, 20%);
    }
    .fa {
      float: right;
      margin-top: 4px;
    }
  }
  .jqtree-toggler {
    font-size: .65rem;
  }
}

@import "responsive";
