<div class="budget_line_feedback ask_your_entity">
  <div class="inner">
    <h3><%= t('.enough_information') %></h3>

    <p><%= t('.enough_information_desc') %></p>

    <%= link_to t('.enough_information_cta', to_your_organization_name: @site.determined_organization_name(:to_your)), gobierto_budgets_feedback_load_ask_more_information_path(id: @budget_line.try(:loadable_id)), remote: true, class: 'button' %>

    <div id="load_ask_more_information"></div>
  </div>
</div>
