<% if available_years.any? %>
  <div class="breadcrumb year_only">
    <div class="bread_hover">

      <div class="bread_links">
        <%= link_to selected_year, selected_year_path, id: selected_year, class: 'selected-year', 'aria-haspopup' => 'true', 'aria-label' => 'Escoge el año de los datos', 'aria-owns' => 'popup-year', 'aria-controls' => 'popup-year', 'aria-expanded' => 'false' %>
        <i class="fas fa-sort-down"></i>
      </div>

      <div id="popup-year" class="line_browser clearfix" role="group">
        <div class="bread_links clearfix">
          <%= link_to selected_year, selected_year_path %>
          <i class="fas fa-sort-down"></i>
        </div>

        <div class="col" data-level="0">
          <table class="med_bg" role="presentation">

            <% available_years.each do |year| %>
              <tr>
                <td data-code="<%= year %>"><%= link_to year, url_for(current_parameters_with_year(year)) %></td>
              </tr>
            <% end %>

          </table>
        </div>
      </div>

    </div>
  </div>
<% end %>
