default: &default
  site:
    name: 'gobierto_populate'
    mixpanel_key: ''
    google_analytics_key: ''
    twitter_handle: 'gobierto'
  site_modules:
    -
      name: Gobierto Development
      namespace: GobiertoDevelopment
    -
      name: Gobierto Budgets
      namespace: GobiertoBudgets
    -
      name: Gobierto Budget Consultations
      namespace: GobiertoBudgetConsultations
    -
      name: Gobierto People
      namespace: GobiertoPeople
    -
      name: Gobierto Indicators
      namespace: GobiertoIndicators
    -
      name: Gobierto CMS
      namespace: GobiertoCms
    -
      name: Gobierto Participation
      namespace: GobiertoParticipation
  site_modules_with_root_path:
    -
      name: Gobierto Budgets
      namespace: GobiertoBudgets
    -
      name: Gobierto People
      namespace: GobiertoPeople
    -
      name: Gobierto Participation
      namespace: GobiertoParticipation
    -
      name: Gobierto Indicators
      namespace: GobiertoIndicators
  dns_config:
    cname_record_target: site.gobierto.dev
    a_record_target: 222.111.222.11
  admins:
    preset_admin_email: "admin@gobierto.dev"
    preset_admin_name: "Gobierto Admin"
    preset_admin_password: "gobierto"
  email_config:
    default_email: "admin@gobierto.dev"
    default_from: "Gobierto <admin@gobierto.dev>"
    default_reply_to: "Gobierto <admin@gobierto.dev>"
  services:
    municipalities_suggestions_endpoint: <%= ENV["MUNICIPALITIES_SUGGESTIONS_ENDPOINT"] %>
  gobierto_budgets:
    data_note_url: https://presupuestos.gobierto.es/about#method
  gobierto_people:
    gifts_service_url: http://populate.tools/
    travels_service_url: http://populate.tools/
  populate_data:
    endpoint: <%= ENV["POPULATE_DATA_ENDPOINT"] %>
  gobierto_indicators:
    year: 2015
  file_uploads_adapter: s3

development:
  <<: *default

test:
  <<: *default
