default: &default
  site:
    name: 'gobierto_populate'
    google_analytics_key: ''
    twitter_handle: 'gobierto'
  site_modules:
    -
      name: Gobierto Development
      namespace: GobiertoDevelopment
    -
      name: Gobierto Budgets
      namespace: GobiertoBudgets
    -
      name: Gobierto People
      namespace: GobiertoPeople
    -
      name: Gobierto Observatory
      namespace: GobiertoObservatory
    -
      name: Gobierto Indicators
      namespace: GobiertoIndicators
    -
      name: Gobierto Plans
      namespace: GobiertoPlans
    -
      name: Gobierto Investments
      namespace: GobiertoInvestments
    -
      name: Gobierto Data
      namespace: GobiertoData
    -
      name: Gobierto Visualizations
      namespace: GobiertoVisualizations
    -
      name: Gobierto Dashboards
      namespace: GobiertoDashboards
  site_modules_with_root_path:
    -
      name: Gobierto Budgets
      namespace: GobiertoBudgets
    -
      name: Gobierto People
      namespace: GobiertoPeople
    -
      name: Gobierto Observatory
      namespace: GobiertoObservatory
    -
      name: Gobierto Plans
      namespace: GobiertoPlans
    -
      name: Gobierto Indicators
      namespace: GobiertoIndicators
    -
      name: Gobierto Investments
      namespace: GobiertoInvestments
    -
      name: Gobierto Data
      namespace: GobiertoData
    -
      name: Gobierto Visualizations
      namespace: GobiertoVisualizations
  dns_config:
    cname_record_target: site.gobierto.test
    a_record_target: 222.111.222.11
  admins:
    preset_admin_email: "admin@gobierto.dev"
    preset_admin_name: "Gobierto Admin"
  email_config:
    default_from: "Gobierto <no-reply@gobierto.dev>"
  services:
    municipalities_suggestions_endpoint: <%= ENV["MUNICIPALITIES_SUGGESTIONS_ENDPOINT"] %>
  gobierto_budgets:
    data_note_url: https://presupuestos.gobierto.es/about#method
  populate_data:
    endpoint: <%= ENV["POPULATE_DATA_ENDPOINT"] %>
  gobierto_observatory:
    year: 2015
  file_uploads_adapter: filesystem
  auth_modules:
    -
      name: null_strategy
      description: Null Strategy
      session_form: NullStrategySessionForm
      default: false
    -
      name: ldap_strategy
      description: LDAP Strategy
      session_form: LdapSessionForm
      default: false
      admin: true

development:
  <<: *default

test:
  <<: *default
