<div class="place_event-item place-item pure-g">
  <div class="badge pure-u-1-3 pure-u-md-5-24">
    <strong><%= l(place_event.starts_at, format: '%e %b').upcase %></strong>
  </div>

  <div class="pure-u-1 pure-u-md-19-24 event-content">
    <h3>
    <%= link_to(place_event.title, place_event.to_url(host: current_site.domain)) %></h3>
    <div class="meta">

      <% if (location = place_event.first_location) %>
        <div class="ib">
          <i class="fas fa-map-marker"></i>
          <%= link_to_if location.geolocated?, location.name, external_location_service_url(location) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
