<div class="calendar-component m_v_2">
  <%= month_calendar(
    partial: "gobierto_people/person_events/calendar_template",
    events: events,
    attribute: :starts_at,
    start_date: params[:start_date] || Date.current
  ) do |date, events| %>
    <%= link_to_if events.any?, date.day, date: date, start_date: params[:start_date] %>
  <% end %>
</div>
