<div class="admin_breadcrumb">
  <%= link_to t("gobierto_admin.welcome.index.title"), admin_root_path %> »
  <%= link_to t("gobierto_admin.gobierto_cms.file_attachments.index.title"), admin_cms_file_attachments_path %> »
  <%= t(".title") %>
</div>

<%= render "form" %>
