<%# <% GobiertoCitizensCharters::Service.site_plant_types(current_site).each do |plan_type| %1> %>
<%#   <div class="sub-nav-item <%= class_if(' active', plan_type.slug == params[:slug] ) %1>"> %>
<%#     <%= link_to plan_type.name, gobierto_plans_plan_path(slug: plan_type.slug) %1> %>
<%#   </div> %>
<%# <% end %1> %>
