<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_citizens_charters') %>">
  <%= link_to t("gobierto_citizens_charters.layouts.application.citizens_charters"), gobierto_citizens_charters_root_path, data: { turbolinks: false } %>
</div>
