<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_citizens_charters') %>">
  <%= link_to t("gobierto_citizens_charters.layouts.application.citizens_charters"), current_site.configuration.home_page == "GobiertoCitizensCharters" ? root_path : GobiertoCitizensCharters.root_path(current_site), data: { turbolinks: false } %>
</div>
