<h2><%= t("gobierto_people.layouts.menu_subsections.interest_groups") %> </h2>

<%= render partial: "interest_group", collection: @interest_groups %>

<h2><%= "#{ @interest_groups_count } #{ t(".interest_groups") }" %></h2>

<% description([title, t("gobierto_people.layouts.application.title"), @site.title].compact.join('. ')) %>
