<h2><%= @interest_group.name %> </h2>
<h2><%= "#{ @total_events } #{ t(".events") }" %></h2>

<h2><%= "#{ @total_people } #{ t(".people_with_events") }" %></h2>

<% description([title, t("gobierto_people.layouts.application.title"), @site.title].compact.join('. ')) %>
