<div class='news_teaser'>
  <h3>
    <%= link_to gobierto_attachments_document_path(id: attachment.slug) do %>
      <%= filetype_icon(attachment) %><%= attachment.name %>
    <% end %>
  </h3>

  <div class='meta'>
    <time><%= time_ago_in_words(attachment.created_at) %></time>
  </div>
</div>
