perspective-viewer {
  --plugin--background: transparent;

  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: transparent;

  table {
    width: auto;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }

  regular-table {
    overflow: scroll;
    -ms-overflow-style: none;
  
    ::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  
    th {
      width: auto !important;
  
      span {
        font-weight: bold;
      }
    }
  
    td,
    th {
      padding: .25rem;
    }
  }
}