.indicators-tree {
  $checked: #73d600;
  $unchecked: #d6003b;

  ul,
  li {
    list-style: none;
  }

  .item-root {
    padding: 0;

    ul {
      padding: 0;

      @include min-screen(768) {
        padding-left: 40px; // browser default
      }
    }

    &.item-root--notree {
      .item {
        &.item-lvl-0 {
          font-size: $f5;
        }

        &.item-lvl-1 {
          width: 100%;

          @include min-screen(768) {
            .item-lvl-1 {
              width: 90%;
            }
          }
        }

        &.item-lvl-2 {
          .item-title {
            border-bottom: 0;
          }
        }

        .item-title {
          display: flex;
          flex-wrap: wrap;

          @include min-screen(768) {
            flex-wrap: nowrap;
          }

          .item-text {
            font-size: $f5;
            text-decoration: none;
            flex-basis: 75%;

            span {
              font-size: $f3;
              color: $color_meta_text;
            }
          }

          .item-check {
            flex-basis: 160px;
            flex-direction: column;
            margin: 1em auto 0;

            @include min-screen(768) {
              flex-wrap: nowrap;
              margin: auto;
            }

            > .row {
              display: inline-flex;
              justify-content: space-around;

              &:only-child {
                display: block;
              }

              .check-container {
                width: 62px;
                height: 62px;
                text-align: center;

                &.check-container--unchecked {
                  opacity: 0.25;
                }

                > * {
                  font-size: $f1;
                  -webkit-text-stroke-width: 1px;
                }
              }

              .check-value {
                font-size: 3rem;
              }
            }
          }
        }

        .item-check {
          display: inline-flex;
        }

        .item-extrainfo {
          font-size: $f5;
          font-weight: bold;

          .extrainfo-content {
            display: flex;
            width: 100%;

            .extrainfo-block {
              flex-basis: 50%;

              &:first-child {
                margin-right: 1em;
              }

              &:last-child {
                margin-left: 1em;
              }
            }

            .extrainfo-title {
              padding: 0 0 0.5em;
              border-bottom: 1px solid var(--color-base);
            }

            .extrainfo-value {
              margin: 0.5em 0;
              color: $color_text;
              font-size: $f7;
              font-weight: normal;
            }
          }

          a {
            display: block;
            font-weight: normal;
            padding: 0.5em 0;

            i {
              padding-left: 1em;
            }
          }
        }
      }
    }
  }

  // item style fallback
  .item {
    font-size: $f7;
    color: var(--color-base);

    &.item-lvl-0 {
      > .item-title {
        @include border-radius(4px);

        background-color: var(--color-base);
        color: $color_main_negative;

        .item-toggle {
          .toggle-container {
            background-color: $color_main_negative;
            color: var(--color-base);
          }
        }
      }
    }

    &.item-lvl-1 {
      @include min-screen(768) {
        width: 90%;
      }
    }

    &.item-lvl-0,
    &.item-lvl-1 {
      font-size: $f5;

      > .item-title {
        display: flex;
        align-items: center;

        .item-text {
          text-decoration: none;
          font-weight: bold;
        }
      }
    }

    .item-title {
      border-bottom: 1px solid rgb(var(--color-base-string) 0.06);
      padding: 0.5em;
      cursor: pointer;
      display: flex;

      @include min-screen(768) {
        margin: 0.5em;
      }

      > * {
        display: inline-block;
      }

      .item-toggle {
        .toggle-container {
          background-color: rgb(var(--color-base-string) 0.12);
          color: var(--color-base);
          width: 18px;
          height: 18px;
          cursor: pointer;

          @include border-radius(4px);

          display: flex;
          justify-content: center;
          align-items: center;

          > * {
            margin: 0;
            font-size: 1.125rem;
          }
        }
      }

      .item-id {
        float: left;
        color: rgba($color_meta_text, 0.5);
      }

      .item-text {
        text-decoration: underline;
        max-width: 80%;

        @include min-screen(768) {
          max-width: 90%;
        }

        &::first-letter {
          text-transform: uppercase;
        }
      }

      .item-check {
        float: right;
        margin-left: auto;
        align-self: center;

        @include min-screen(768) {
          align-self: auto;
        }

        .check-container {
          width: 18px;
          height: 18px;

          @include border-radius(50%);

          display: flex;
          justify-content: center;
          align-items: center;

          &.check-container--true {
            color: $checked;
            background-color: rgba($checked, 0.3);
          }

          &.check-container--false {
            color: $unchecked;
            background-color: rgba($unchecked, 0.1);
          }

          > * {
            margin: 0;
            font-size: smaller;
          }
        }
      }
    }
  }
}
