.gobierto-skeleton-spinner-container-squares {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.gobierto-skeleton-spinner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  background-color: #dddbdd;

  &::after {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgb(var(--color-base-string) .05),
      rgb(var(--color-base-string) .1),
      rgb(var(--color-base-string) .05)
    );
    animation: shimmer 800ms cubic-bezier(0.36, 0, 0.66, -0.56) infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.gobierto-skeleton-spinner-line {
  height: 1rem;
  width: 100%;
  margin-bottom: .5rem;
  background-color: rgb(var(--color-base-string) .1);
  display: block;
  border-radius: 4px;
}

.gobierto-skeleton-spinner-square {
  border-radius: 4px;
  height: 5rem;
  background-color: rgb(var(--color-base-string) .1);
}
