/*
 * SimpleMDE Editor Overwrites
 *
 */
.form_item {
  .editor-toolbar {
    padding: 25px 10px 0 6px;
    position: relative;

    &.is-sticky {
      position: sticky;
      position: sticky;
      z-index: 100;
      opacity: initial;
      border-bottom: 1px solid;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-color: rgba(#bbb, .6);
      background-color: $color_main_negative;
      padding: 0;

      &:hover {
        opacity: initial;
      }

      &::before,
      &::after {
        content: none;
      }

      .fa-question-circle {
        top: 0;
        bottom: 0;
      }
    }

    .fas {
      margin: 0;
    }

    .fa-question-circle {
      bottom: 0.5rem;
      right: 0.5rem;
    }

    &.fullscreen {
      height: 60px;
      top: 20px;
      z-index: 100;
      position: fixed;

      .fa-question-circle {
        top: 1.5em;
      }
    }
  }

  .CodeMirror-fullscreen,
  .editor-preview-side {
    top: 80px;
  }

  .CodeMirror-disabled {
    background-color: #fafafa;
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
    padding-top: 1.75rem;

    .CodeMirror-scroll,
    .CodeMirror-sizer,
    .CodeMirror-lines,
    .CodeMirror-cursor {
      cursor: not-allowed !important;
    }
  }
}
