/*
 * Some defaults
 *
 */
 html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font_text;
  color: $color_text;

  // if Source Sans Pro
  // font-size: 16px;
  // line-height: 24px;

  // if Libre Franklin
  font-size: 14px;
  line-height: 22px;
}

.pure-g [class*="pure-u"] {
  font-family: $font_text;
}

a {
  color: var(--color-base);
  transition: all 0.15s ease-out 0s;
}

a:hover {
  text-decoration: underline;
}

footer {
  clear: both;
  margin: 5em 0 0;
  padding: 5em 0 0;
}

/* ToDo: Review & generalize components */

/*
 * Various
 *
 */
.soft_cta {
  background: rgba(var(--color-base-string), 0.1);

  @include border-radius(6px);

  padding: 1em 2em;
  display: inline-block;
}

a.soft_cta:hover {
  background: rgba(var(--color-base-string), 0.2);
}

.small {
  font-size: 0.85em;
}

.highlight {
  background: #f1f4be;
  padding: 0.2em;
  display: inline-block;
}

#lines_tooltip {
  table {
    th[title="name"] {
      width: 45%;
    }
  }
}

.help {
  font-size: 0.75em;
  float: right;

  a {
    color: rgba(var(--color-base-string), 0.5);
  }
}

/*
 * Tips
 *
 */
.tip {
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1.2em;

  a {
    color: rgba(var(--color-base-string), 0.7);
    text-decoration: none;
  }

  .fas {
    display: block;
    line-height: 2em;
    font-size: 1.6em;
  }
}

.invisible {
  visibility: hidden;
}

a.list_view_more {
  @include border-radius(3px);

  display: block;
  background: rgba(var(--color-base-string), 0.06);
  color: $text_soft;
  padding: 0.5em 0 0.4em;
  text-align: center;
  margin: 1em 0;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
}

html.turbolinks-progress-bar::before {
  background-color: var(--color-base) !important;
  height: 5px !important;
}

.datepickers-container {
  z-index: 100000000000;
}

.activity_feed.section_editor {
  .activity_item {
    a {
      border-radius: 6px;
      padding: 1em;
      border: 1px solid rgba(var(--color-base-string), 0.15);
      background: rgba(var(--color-base-string), 0.06);
    }

    a:hover {
      background: $color_main_soft;
    }
  }
}

.section_editor_section_canvas {
  border: 2px dashed rgba(var(--color-base-string), 0.06);
  background: rgba(var(--color-base-string), 0.06);
  padding: 1em;
  font-size: 0.85rem;

  .section_canvas_tools {
    text-align: right;
    margin: 0 0 1em;

    a {
      padding: 0.5em 0.75em;

      @include border-radius(3px);

      text-align: center;
    }

    a:hover {
      background: rgba(var(--color-base-string), 0.2);
    }
  }
}

ul.jqtree-tree {
  min-height: 500px;
  margin: 0;

  .jqtree-title {
    color: $color_text;
    margin-left: 1em;
    flex: 1;
  }

  .jqtree-title.draft {
    opacity: 0.5;
  }

  .jqtree-element {
    padding: 0.25em 0.5em;
    border-top: 1px solid rgba(var(--color-base-string), 0.1);
    display: flex;

    &:hover {
      background: rgba(var(--color-base-string), 0.2);
    }

    .delete {
      padding: 0 0.5em;
      border-radius: 3px;

      &:hover {
        background: rgba(var(--color-base-string), 0.2);
      }
    }
  }

  .jqtree-toggler {
    font-size: 0.65rem;
  }
}

.pointer-events-none {
  pointer-events: none;

  * {
    pointer-events: auto;
  }
}
