<div class="tabs">
  <ul>
    <li class="<%= class_if('active', controller.action_name == 'edit') %>">
      <%= link_to t(".configuration_tab"), edit_admin_plans_plan_path(@plan.slug), data: { turbolinks: false } %>
    </li>

    <li class="<%= class_if('active', controller.action_name == 'data') %>">
      <%= link_to t('.data_tab'), admin_plans_plan_data_path(plan_id: @plan.slug), data: { turbolinks: false } %>
    </li>
  </ul>
</div>
