<% if available_periods.any? %>
  <div>
    <% content_for :selected, flush: true do %>
      <%= link_to(
        "#{ t(".period") } #{ selected_period }",
        charter_period_gobierto_citizens_charters_charter_path(@charter.slug, period: selected_period, period_interval: @charter.reference_edition.period_interval)
      ) %>
    <% end %>
    <% content_for :items, flush: true do %>
      <% available_periods.each do |period| %>
        <%= link_to "#{ t(".period") } #{ period }", charter_period_gobierto_citizens_charters_charter_path(@charter.slug, period: period, period_interval: @charter.reference_edition.period_interval) %>
      <% end %>
    <% end %>
    <%= render layout: 'shared/widget_dropdown' do %><% end %>
  </div>
<% end %>
