<% title t('.title', year: @year) %>

<div class="column">
	<%= render partial: 'gobierto_budgets/budgets/year_breadcrumb' %>
  <%= render partial: 'gobierto_budgets/budget_lines/explorer' %>

  <%= render "shared/download_open_data" %>
</div>
