@use "css-conf";

.range-slider {
  &--bars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    padding: 0 0.5em;
    box-sizing: border-box;
    overflow: hidden;

    > * {
      background-color: rgba(var(--color-base-string), 0.1);
      border: 1px solid rgba(var(--color-base-string), 0.25);
      border-bottom-width: 0;
      flex: 1;
      opacity: 0.5;
      transition: opacity .3s ease-out;
      position: relative;

      &.in-range {
        opacity: 1;
      }

      &:not(:first-child) {
        margin-left: -1px;
      }

      > span {
        font-size: css-conf.$f8;
        font-weight: 400;
        line-height: css-conf.$f8;
        opacity: 0;
        position: absolute;
        top: -1rem;
        z-index: 2;
        transition: opacity .3s ease-out;

        &:first-child {
          left: 0;
          transform: translateX(-85%);
        }

        &:last-child {
          right: 0;
          transform: translateX(85%);
        }
      }

      &:hover > span {
        opacity: 0.5;
      }
    }
  }

  .ui-slider {
    background-color: css-conf.$color_main_soft;

    &.ui-slider-horizontal {
      height: 3px;
    }

    .ui-slider-range {
      background-color: var(--color-base);
    }

    .ui-slider-handle {
      border-radius: 100%;
      border: 1px solid css-conf.$color_main_negative;
      background-color: var(--color-base);
      width: 12px;
      height: 12px;
      cursor: pointer;
    }
  }

  &--values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: css-conf.$f8;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.5;
  }
}
