@media print {
  /* General reset */
  body {
    counter-reset: section;
  }

  @page {
    margin: 1.5cm 0.7cm;
  }

  header.meta {
    display: none;
  }

  .column.consultation {
    max-width: none;
    float: left;
  }

  .consultation-info {
    display: none;
  }

  footer {
    display: none;
  }

  #consultation-desktop-app .pure-g {
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
  }

  .consultation-info,
  .consultation-card {
    display: none;
  }

  .consultation-box {
    margin: 0;
  }

  .consultation-lead {
    font-size: 16pt;
    color: #111;
    margin: 0;
    margin-bottom: 5pt;
  }

  /* Cards */
  .card-content {
    padding: 0;
    margin-bottom: 0.25cm;
    padding-bottom: 0.25cm;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    min-height: 80px;
    page-break-inside: avoid;
    display: block !important;
  }

  .card-headline {
    line-height: 1;
    margin-bottom: 0;
    padding: 0;
    font-size: 12pt;
    margin-right: 5pt;
    color: #333;
    display: inline-block;
  }

  .card-headline::before {
    counter-increment: section;
    content: counter(section) ". ";
  }

  .card-figure {
    position: relative;
    float: none;
    display: inline-block;
    color: #333;
    font-weight: 400;
  }

  .card-figure h2 {
    display: inline-block;
    color: #333;
  }

  .card-figure::before {
    content: "(";
    font-size: 1.5em;
    color: #333;
  }

  .card-figure::after {
    font-size: 1.5em;
    color: #333;
    content: ")";
  }

  .card-description {
    padding: 0;
    font-size: 9pt;
    line-height: 1.5;
    margin-bottom: 0;
    color: #333;
    width: 83%;
    display: inline-block;
  }

  .budget-ask {
    box-shadow: none;
    width: 15%;
    padding: 0;
    margin-bottom: 0;
    float: right;
  }

  .select-lead {
    display: none;
  }

  .desktop .pct {
    padding: 0;
    font-size: 11pt;
    background: none;
    margin-bottom: 0;
    width: 105px;
    position: relative;
    text-align: left;
  }

  .pct {
    color: #111;
  }

  .pct::after {
    position: absolute;
    right: 0;
    content: "";
    border: 2px solid #111;
    margin-left: 0.5rem;
    padding: 0.25cm 0.4cm;
  }

  .select-pct {
    padding: 0;
    background: white;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
  }

  .border {
    margin: 0;
  }

  /* Admin */
  header.main,
  menu.main,
  .tabs {
    display: none;
  }

  .admin_content_column {
    padding-top: none;
    float: none;
  }

  .card_container {
    width: 20%;
    display: inline-block;
    min-height: auto;
    margin-bottom: 2.5rem;

    .front {
      position: relative;
      padding: 0;
    }

    .widget_figure {
      font-size: 1.5rem;
    }
  }

  #table_report {
    page-break-inside: avoid;

    tr td,
    tr th {
      color: #111 !important;
    }

    .bg-scale--3,
    .bg-scale--5,
    .bg-scale--4 {
      text-shadow: none;
    }
  }
}
