@import "normalize.css";
@import "purecss/build/pure-nr";
@import "purecss/build/grids-responsive";
@import "@fortawesome/fontawesome-free/css/all";

@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,600|Source+Sans+Pro:200,400,700,600");

// TODO: revisar cuáles sobran
@import "css-conf";
@import "populities";
@import "mixins";
@import "comp-breadcrumbs";
@import "comp-forms";
@import "comp-headings_blocks";
@import "comp-layout";
@import "comp-site_header";
@import "comp-search";
@import "comp-tables";
@import "comp-header_block_inline";
@import "comp-social_buttons";
@import "comp-tipsy";
@import "comp-flash_messages";
@import "css-print";
@import "defaults";
@import "responsive";
// END TODO

/* Hide header and footer */
.consultations.show,
.consultations.budget_summary,
.consultation_items.index,
.consultation_responses.new {
  header.meta {
    margin: 0 0 0;
  }

  .header.meta .slim_nav_bar {
    display: none;
  }

  nav {
    display: none;
  }

  header.meta .site_header .logo {
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    text-align: left;
    border-bottom: 1px solid $separator;
  }

  footer {
    display: none;
  }
}

/* Share buttons */
.gobierto_budget_consultations header.meta .site_header menu.nav .social_links_container {
  top: 11px;
  right: 11px;
  bottom: inherit;
  left: inherit;

  @include min-screen(768) {
    top: inherit;
    right: 11px;
    bottom: 11px;
  }
}

/*
 * Consultations
 *
 */
.active-consultations h3,
.past-consultations h3 {
  font-weight: 400;
}

img.side_50 {
  width: 100%;
  height: auto;
}

.consultation_cont {
  margin: 3em 0;

  /* width: 85%; */
  margin: auto;

  @include border-radius(6px);

  background: rgba(var(--color-base-string), 0.06);
}

/* Consultation intro */
.inline-block {
  display: inline-block;
}

.column.consultation {
  max-width: 960px;
  position: relative;
}

.consultation-intro-wrapper {
  .consultation-intro-header {
    margin: 0 0 2em 0;

    h2 {
      font-size: 2.2em;
      margin: 0;
    }
  }

  @include min-screen(768) {
    position: relative;
    padding: 0 10rem;
    margin-bottom: 3em;

    img.consultation-decoration {
      position: absolute;
      top: -1em;
      left: 0;
    }
  }
}

.consultation-intro-wrapper p {
  @include min-screen(768) {
    font-weight: 300;
    font-size: 1.25rem;
  }
}

.consultation-intro-wrapper img {
  display: block;
}

.consultation-link {
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}

.consultation-link:hover,
.consultation-link:active,
.consultation-link:focus {
  text-decoration: none;
}

.consultation-lead {
  font-weight: 400;
  line-height: 1.3;

  @include min-screen(768) {
    margin-top: 0;
    font-size: 2rem;
  }
}

.consultation_responses .mobile .consultation-lead {
  margin: 1rem;
  margin-bottom: 2rem;
}

.bottom-info {
  padding: 1rem;
  background: var(--color-base);
  color: $color_main_negative;

  @include min-screen(768) {
    position: relative;
    padding: 2rem 10rem;
    height: 10rem;
    font-weight: 300;
    font-size: 1.25rem;
  }
}

.teaser {
  margin: 0.25rem 0;

  @include min-screen(768) {
    margin: 1.5rem 0;
  }
}

.consultation-q {
  color: $color_main_negative;
  margin: 0;
  font-weight: 600;
}

.arrow-right {
  font-size: 2.5rem;
  float: right;
}

.arrow-right .fas {
  margin: 0;
}

.consultation-deadline {
  text-decoration: none;
  margin: 0 1rem;

  @include min-screen(768) {
    margin: 2rem 10rem;
  }
}

.consultation-faq {
  padding: 0 1rem;

  @include min-screen(768) {
    padding: 0;
  }
}

.arrow-left {
  padding: 1rem;
  border-radius: 50%;
  background: #cde9ec;
  color: #1d909d;

  @include min-screen(768) {
    position: absolute;
    left: -5rem;
  }
}

.consultation-faq-q {
  font-weight: 600;
}

.consultation-faq-q.active {
  text-decoration: none;
}

.consultation-faq .consultation-text {
  padding: 0;
}

.consultation-faq .consultation-text p {
  padding: 0;
}

/* Budget preview (desktop only) */
.column.consultation.desktop {
  max-width: 1440px;
  margin: 0 auto;
}

.consultation-img-side {
  position: absolute;
  left: 0;
}

.consultation-text,
.bottom-info-small {
  padding: 0 2rem;
  position: relative;
}

.consultation-text p {
  font-weight: 300;
  padding: 0 2rem 0 4rem;
  line-height: 1.2;
  font-size: 1.5rem;
}

.bottom-info-small {
  padding: 1rem 2rem;
  background: var(--color-base);
  color: $color_main_negative;
  max-width: 25rem;
  margin: 0 auto;
}

.consultation-group {
  margin: 0 auto;
  max-width: 30rem;
}

.intro-arrow {
  text-align: right;
}

.card-header {
  position: relative;
}

/* Cards */
.consultation-box {
  margin: 0.9375rem;
  margin-bottom: 6rem;
}

.consultation-card {
  position: relative;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.26);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-top: -0.75rem;
  background: #dfeff0;

  /* Desktop */
  @include min-screen(768) {
    box-shadow: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    margin-bottom: 0.25rem;
  }
}

.consultation-card.active {
  /* Desktop */
  @include min-screen(768) {
    background-color: #0f5e66;
  }
}

.consultation-card.active::after {
  /* Desktop */
  @include min-screen(768) {
    font-family: "FontAwesome", sans-serif;
    content: "\f105";
    position: absolute;
    z-index: 1;
    right: -2rem;
    top: 0.75rem;
    color: #1d909d;
    font-size: 2.5rem;
  }
}

.consultation-card.active .card-title {
  padding: 1rem 1rem 0 1rem;

  @include min-screen(768) {
    padding: 0.5rem;
  }
}

.card-title {
  padding: 1rem;

  @include min-screen(768) {
    padding: 0.5rem;
  }
}

.consultation_responses .card-title {
  cursor: pointer;
}

.card-content {
  position: relative;
}

.consultation-title {
  margin: 0;
  font-weight: 600;
  display: inline-block;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $color_dark;
  width: 65%;
  vertical-align: middle;

  @include min-screen(768) {
    font-size: 1.15rem;
    width: 22rem;
  }
}

.active .consultation-title {
  white-space: normal;
}

.consultation_responses .consultation-title {
  @include min-screen(768) {
    width: 70%;
  }

  @include min-screen(1200) {
    width: 80%;
  }
}

.consultation-figure {
  font-weight: 300;
  float: right;
  width: 5rem;
}

.consultation-figure span {
  float: right;
}

.consultation-figure .fa-arrow-up {
  color: var(--color-base);
}

.consultation-figure .fa-arrow-down {
  color: var(--color-base);
}

.consultation-figure .fa-circle {
  color: var(--color-base);
}

.desktop .consultation-card.active .consultation-title,
.desktop .consultation-card.active .consultation-figure {
  color: $color_main_negative;
}

.mobile .consultation-card.active .consultation-title {
  font-size: 1.25rem;
  white-space: normal;
}

.mobile .consultation-card.active .consultation-figure {
  font-size: 1.5rem;
}

/* Warnings */
#errors {
  color: $color_main_negative;
  background-color: $color_warn;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 1rem 1rem 2rem 1rem;
  padding: 0.5rem;

  @include min-screen(768) {
    margin: 1rem 0 2rem 0;
  }
}

#notice {
  color: #fff;
  background-color: var(--color-base);
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 1rem 1rem 2rem 1rem;
  padding: 0.5rem;

  @include min-screen(768) {
    margin: 1rem 0 2rem 0;
  }
}

/* Card content (desktop only) */
.card-wrapper {
  padding: 0 0 0 3rem;
}

.card-headline {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-right: 6rem;
}

.card-figure {
  text-align: right;
  color: #9b9b9b;
  position: absolute;
  right: 0;
  top: 0;
}

.card-figure h4 {
  color: #9b9b9b;
  font-weight: 400;
  margin: 0;
  margin-top: 0.35rem;
}

.card-figure p {
  margin-top: 0;
}

/* Card content */
.card-description .sep {
  border-top: 1px solid $color_dark_sep;
  margin-bottom: 1rem;

  @include min-screen(768) {
    border-top: 0;
    margin-bottom: 0;
  }
}

.card-description {
  color: $color_dark;
  padding: 1rem;
  padding-top: 0.5rem;

  @include min-screen(768) {
    padding: 0;
    padding-bottom: 1rem;
  }
}

.card-description.absolute {
  margin-bottom: 2rem;
  max-height: 250px;
  overflow: hidden;
}

.card-description .overlay {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
  height: 55%;
  background: -moz-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137, 255, 241, 0)), color-stop(100%, rgba(0, 0, 0, 1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(137, 255, 241, 0) 0%, rgba(0, 0, 0, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089fff1', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

/* Budget change selector */
.budget-ask {
  text-align: center;
  margin-bottom: 2rem;
  background: #6dbfc6;
}

.mobile .budget-ask {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.budget-ask.absolute {
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}

.budget-ask .read-more {
  position: absolute;
  right: 0.25rem;
  top: -2.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #6dbfc6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  line-height: 1.5rem;
  color: $color_main_negative;
}

.select-lead {
  padding: 0.25rem;
  color: $color_main_negative;
  background: #1d9eab;
  font-weight: 600;
}

.select-info {
  color: $color_main_negative;
  font-weight: 300;
  padding-top: 0.5rem;
}

.select-info .pure-g {
  padding: 0 1rem;
}

.select-pct {
  color: $color_main_negative;
  padding: 0.5rem 0.25rem;
}

.border {
  margin: 0.15rem 0.1rem 0.15rem 0.1rem;

  @include min-screen(768) {
    margin: 0.15rem 1.1rem 0.15rem 1.1rem;
  }
}

.pct {
  margin-bottom: 0;
  background: #6dbfc6;
  text-transform: capitalize;
  padding: 0.75rem 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 6px;
  border: 1px solid transparentize($color_main_negative, 0.5);

  @include min-screen(1024) {
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
  }
}

.pct:focus {
  border-color: inherit;
  box-shadow: none;
  background: #00626b;
}

.border .active {
  border-radius: 6px;
  background: #00626b;
}

.select-pct .pure-u-1-5:not(:first-child) .border {
  margin-left: 0.5rem;
}

/* Fixed stuff */
.consultation-info {
  background: var(--color-base);
  position: fixed;
  width: 100%;
  bottom: 0;

  @include min-screen(768) {
    position: relative;
    margin-bottom: 0.25rem;
  }
}

.surplus-1 .budget-status {
  background: #dec;
  color: #55a900;
}

.surplus-2 .budget-status {
  background: #bbdc99;
}

.surplus-3 .budget-status {
  background: #99cb66;
}

.surplus-4 .budget-status {
  background: #55a900;
}

.deficit-1 .budget-status {
  background: #eed1cc;
  color: #a91900;
}

.deficit-2 .budget-status {
  background: #dda399;
}

.deficit-3 .budget-status {
  background: #cb7566;
}

.deficit-4 .budget-status {
  background: #a91900;
}

.consultation-info h3 {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  color: $color_main_negative;

  @include min-screen(768) {
    padding: 1rem;
    margin-bottom: 0;
  }
}

.consultation-info.active {
  @include min-screen(768) {
    height: 84px;
    z-index: 100000001;
  }
}

.consultation-info .wrapper {
  color: $color_main_negative;
}

.consultation-info .wrapper .budget-base,
.consultation-info .wrapper .budget-status {
  width: 40%;
  margin-right: -3px;
  display: inline-block;
  padding: 0.25rem 0.75rem 0.5rem 0.75rem;
  border-right: 1px solid transparentize($color_main_negative, 0.2);

  @include min-screen(768) {
    padding: 1rem 0.75rem 1.25rem 0.75rem;
  }

  @include min-screen(1200) {
    width: 44%;
  }

  @include min-screen(1400) {
    width: 45%;
  }
}

.budget-lead {
  font-size: 0.85rem;
  font-weight: 300;
}

.budget-figure {
  font-size: 1.5rem;

  @include min-screen(768) {
    font-size: 1.75rem;
  }
}

.consultation-info .wrapper .pure-u-1-6 {
  text-align: center;
}

.budget-next {
  color: $color_main_negative;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3.75rem;

  @include min-screen(768) {
    line-height: 5.25rem;
  }
}

.budget-next:hover,
.budget-next:focus,
.budget-next:active {
  text-decoration: none;
}

.budget-next .fas {
  margin: 0;
}

/* Tooltips */
.not-allowed {
  cursor: pointer;
}

.budget-status {
  cursor: pointer;
}

.tip-warning .tipsy-inner {
  background: #d85b5b;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tip-warning .tipsy-arrow {
  position: absolute;
  background: url(image_path('tipsy')) no-repeat top left;
  background: url(image_path('tipsy_warning'));
  width: 9px;
  height: 5px;
  margin-left: -4px;
  background-position: bottom left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tip-warning .tip-headline,
.tip-info .tip-headline {
  color: $color_main_negative;
  font-weight: 600;
  text-align: left;
  margin: 0;
  margin-top: 0.5rem;
}

.tip-warning p,
.tip-info p {
  font-weight: 300;
  margin: 0.5rem 0;
  margin-bottom: 1rem;
  text-align: left;
}

.tip-warning .tip-button {
  padding: 0.25em 1em;
  background: #a72929;
  float: right;
  width: auto;
}

.tip-info .tipsy-arrow {
  position: absolute;
  background: url(image_path('tipsy')) no-repeat top left;
  background: url(image_path('tipsy_info'));
  width: 9px;
  height: 5px;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  background-position: bottom left;

  @include min-screen(768) {
    transform: rotate(180deg);
  }
}

.tip-info .tipsy-inner {
  background: var(--color-base);
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.tip-info .tip-button {
  width: auto;
  padding: 0.25em 1em;
  float: right;
  background: $color_dark;
}

/* Modal */
.modal-mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  text-align: right;
  background: #249eab;
  width: 250px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  color: $color_main_negative;
  transition: all 0.3s ease;
}

.modal-header {
  color: $color_main_negative;
  text-align: left;
  font-size: 1.15rem;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.modal-body {
  text-align: left;
  margin-bottom: 0.25rem;
}

.modal-container .modal-button {
  width: auto;
  padding: 0.25em 1em;
  background: #056172;
  margin-bottom: 0;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Confirmation */
.description {
  position: relative;
}

.consultation-confirm {
  width: 320px;
  border: 1px solid var(--color-base);
  border-radius: 4px;
  padding: 0.9375rem;
  position: absolute;
  margin-left: 3rem;
  text-align: center;
  top: 20px;
}

.consultation-confirm h3 {
  text-align: left;
  display: inline-block;
  margin-top: 0.5rem;
}

.consultation-confirm button {
  display: block;
  margin: 0 auto;
  padding: 0.75rem 2rem;
}

.consultation-confirm.deficit {
  background: #a91900;
  border: 0;
  text-align: left;
  top: 0;
}

.consultation-confirm.deficit h3 {
  max-width: 400px;
  color: white;
  text-align: left;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
}

.consultation-confirm.deficit .fas {
  color: white;
}

.consultation-confirm.slim {
  text-align: left;
  margin-bottom: 3rem;
}

.consultation-confirm.slim img {
  display: none;
}

.consultation-confirm.slim button {
  margin: initial;
}

.consultation_thanks .wrapper {
  padding: 0.75rem;

  @include min-screen(768) {
    padding: 3rem;
  }
}

.consultation_thanks h1 {
  margin-top: 0;
}
