<%= render "gobierto_admin/gobierto_calendars/events/person_breadcrumb" %>

<h1><%= @person.name %></h1>

<%= render "gobierto_admin/gobierto_people/people/navigation" %>

<%= render partial: "gobierto_admin/gobierto_calendars/events/index", locals: {collection: @collection} %>
