<div class="modal modal-full-width modal-no-padding">
  <div
    dashboard-maker-app
    data-preview-path="<%= '/planes/pla-de-mandat/2019/dashboards/8' %>"
    data-context="<%= @dashboard.context %>"
    data-pipe="project_metrics"
    data-id="<%= @dashboard.id %>"></div>
</div>