<div class="modal">
  <h2><%= t(".title") %></h2>
  <div class="pure-g">
    <div class="pure-u-1 m_b_2">
      <%= select_tag(
            :dashboard,
            options_for_select(@dashboards.map do |dashboard|
              [dashboard.title, dashboard.id, data: { preview_path: dashboard_preview_path(dashboard) }]
            end),
            data: { behavior: "select2" }
          )
      %>
    </div>
    <div class="pure-u-1 right m_b_2">
      <%= link_to(
            t(".add"),
            admin_dashboards_modal_path(
              id: @dashboards[0].id,
              context: @context,
              pipe: @data_pipe,
              indicator: params[:indicator],
              preview_path: dashboard_preview_path(@dashboards[0])
            ),
            id: "add-current-dashboard-btn",
            data: { "dashboards-maker": true },
            class: "open_remote_modal button"
          ) %>
    </div>
    <div class="pure-u-1">
      <hr>
      <%= link_to(
            t(".new"),
            admin_dashboards_modal_path(
              context: @context,
              pipe: @data_pipe,
              indicator: params[:indicator]
            ),
            data: { "dashboards-maker": true },
            class: "open_remote_modal"
          ) %>
    </div>
  </div>
</div>
