<div class="modal modal-full-width modal-no-padding">
  <div
    dashboard-maker-app
    data-context="<%= params[:context] %>"
    data-pipe="<%= params[:pipe] %>"
    <% if params[:id].present? %>
      data-id="<%= params[:id] %>"
    <% end %> />
</div>