<div class="modal modal-full-width modal-no-padding">
  <div 
    dashboard-viewer-app
    data-context="<%= @dashboard.context %>"
    data-pipe="project_metrics"
    data-id="<%= @dashboard.id %>"></div>
</div>