<div class="search-box">
  <i class="fa fa-search"></i>
  <input id="gobierto_search" name="q" class="search-box_input" type="text" placeholder="<%= t('layouts.application.search') %>" aria-label="<%= t('layouts.application.search') %>">
  <div id="search_results" class="search_result_list"></div>
</div>
