<div class="pure-u-1 pure-u-md-1-3">
  <%= link_to gobierto_participation_issue_path(issue), class: 'content_block themed' do %>
    <div class="circle_teaser"></div>
      <h3><%= issue.name %></h3>
      <p class="soft">
        <%= issue.description %>
      </p>

      <% if meta %>
        <div class="meta right">
          <div class="ib"><i class="fa fa-comment"></i> 30</div>
          <div class="ib"><i class="fa fa-users"></i> 50</div>
        </div>
      <% end %>
  <% end %>
</div>
