<% content_for(:current_submodule_link) do %>
  <%= link_to t('gobierto_participation.layouts.menu_subsections.issues'), gobierto_participation_issues_path %>
<% end %>

<div class="column">
  <div class="pure-g">
    <div class="pure-u-1 center slim_headline">
      <p>
        <%= t('.intro_html', location_name: current_site.organization_name) %>
      </p>
    </div>

    <div class="pure-u-1">
      <div class="pure-g three_by_three small_column">
        <% @issues.each do |issue| %>
          <%= render 'issue_teaser', issue: issue, meta: false %>
        <% end %>
      </div>
    </div>
  </div>
</div>
