/// TODO duplicated
/*
 * Site Settings
 *
 */

/* PALETTE: ToDo: Name Palette 
$background: #FFF;
$text: #898989;

$color_1: #BCC41A;
$color_1_dark: #9AA115;
$color_1_soft: #E5E9A6;

$color_2: #D61D57;

$color_3: #60C8D6;
$color_3_soft: #E5F2F3;
*/




