<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-attachments">
          <div class="pure-g">
            <div class="pure-u-2-3">
              <div class="p_2">
                <h1>Últimos documentos añadidos</h1>

                <input type="text" placeholder="Busca...">

                <table class="m_v_1">
                  <tbody>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                    <tr>
                      <td><a href="#">Acta de la reunión v2</a></td>
                      <td>PDF</td>
                      <td>234kb</td>
                      <td>12 nov 2017</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="bg-highlight pure-u-1-3" :class="{ dragged: fileDragged }" >
              <i class="fas fa-times f_right fa-lg p_0_5" @click="$emit('close')"></i>

              <div class="p_2 drag-section">
                <h1>Añade nuevo documento</h1>

                <div class="drag-drop" v-show="!fileDragged" @click="$emit('dragged')">
                  <div class="drag-call">
                    <p>Arrastra y suelta tu documento aquí</p>
                    <p>o</p>
                    <p>Selecciona un archivo de tu disco duro</p>
                  </div>
                  <button>Incluir archivo</button>
                </div>

                <div class="dragged" v-show="fileDragged">
                  <div class="form_item input_text">
                    <label for="name">Documento</label>
                    <input class="strong" type="text" id="name" value="Inventario_bienes_Sueca.pdf (PDF · 234KB)" disabled>
                  </div>

                  <div class="form_item input_text">
                    <label for="name">Título del documento</label>
                    <input class="strong" type="text" id="name" value="Ayuntamiento de Burjassot">
                  </div>

                  <div class="form_item textarea">
                    <label for="entity">Descripción</label>
                    <textarea></textarea>
                  </div>
                  <button class="f_right m_b_2" @click="$emit('dragged')">Guardar</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<script type="text/x-template" id="file-list-template">
  <div class="file-list">
    <table class="explore_slow">
      <tbody>
        <tr>
          <td><a @mouseover="popover" href="#">Acta de la reunión v2</a></td>
        </tr>
        <tr>
          <td><a @mouseover="popover" href="#">Fotos de la presentación</a></td>
        </tr>
      </tbody>
    </table>
    <div class="file-popover">
      <a href="#">Acta de la reunión v2</a>

      <div class="pure-button-group m_v_1" role="group">
        <button class="pure-button"><i class="fas fa-edit"></i></button>
        <button class="pure-button"><i class="fas fa-trash"></i></button>
      </div>

      <button class="button">Incluir archivo en el texto</button>
    </div>
  </div>
</script>


<div id="gobierto-attachment" class="m_v_2">
  <a @click="showFiles = !showFiles" href="#" class="show-files"><i :class="[showFiles ? 'fa-caret-down' : 'fa-caret-right']" class="fa p_h_r_0_25 soft" aria-hidden="true"></i><strong>Adjuntos</strong></a>

  <file-list v-if="showFiles"></file-list>

  <button id="show-modal" @click="showModal = true" class="button m_t_1">Incluir archivo</button>
  <p class="soft m_t_0_5">Arrastra y suelta un archivo para incluirlo</p>

  <modal v-if="showModal" :file-dragged="fileDragged" @dragged="fileDragged = !fileDragged" @close="showModal = false"></modal>
</div>
