<h3>Moderación</h3>

<div class="form_item">

  <div class="options compact">

		<div class="option">
      <input type="radio" id="opt_1" name="opt" value="1" checked="">
      <label for="opt_1">
        <span></span>
        Enviado
     </label>
    </div>

		<div class="option">
      <input type="radio" id="opt_2" name="opt" value="2" checked="">
      <label for="opt_2">
        <span></span>
        En revisión
     </label>
    </div>

    <div class="option">
      <input type="radio" id="opt_3" name="opt" value="3">
      <label for="opt_3">
        <span></span>
        Aprobado
      </label>
    </div>

    <div class="option">
      <input type="radio" id="opt_4" name="opt" value="4">
      <label for="opt_4">
        <span></span>
        Rechazado
      </label>
    </div>

  </div>

</div>

<div class="w_actions m_b_1">
  <button class="button medium">Guardar</button>
</div>
