<div class="globalize_tool">
  <label>Traducir</label>
  <a href="#" class="locale_option selected completed tipsit" title="Define el contenido en su versión en Español">
    <span class="locale">ES</span>
    <span class="status"></span>
  </a>
  <a href="#" class="locale_option completed tipsit" title="Define el contenido en su versión en Catalán">
    <span class="locale">CA</span>
    <span class="status"></span>
  </a>
  <a href="#" class="locale_option tipsit" title="Define el contenido en su versión en Inglés">
    <span class="locale">EN</span>
    <span class="status"></span>
  </a>
</div>
