<%
# Use:
#   render partial: "admin_add_new", locals: {
#     label: 'A침adir otra opci칩n'
#   }
#
# Options:
#   label: "Label" (default: Tipo)
%><div class="admin_new_el">
  <%= link_to('', class: 'p_1 border-el') do %>
    <i class="fas fa-plus-circle"></i>
    <%= local_assigns[:label]? label : 'A침adir otra opci칩n' %>
  <% end %>
</div>
