<div class="calendar-component m_v_2">
   <div class="simple-calendar">
      <div class="calendar-heading">
         <a id="previous-month-link" href="#"><i class="fas fa-chevron-left f_left"></i></a>
         <span class="calendar-title">Juliol, 2017</span>
         <a id="next-month-link" href="#"><i class="fas fa-chevron-right f_right"></i></a>
      </div>
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Dl</th>
               <th>Dm</th>
               <th>Dc</th>
               <th>Dj</th>
               <th>Dv</th>
               <th>Ds</th>
               <th>Dg</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td class="day wday-1 past prev-month">
                  26
               </td>
               <td class="day wday-2 past prev-month">
                  27
               </td>
               <td class="day wday-3 past prev-month">
                  28
               </td>
               <td class="day wday-4 past prev-month">
                  29
               </td>
               <td class="day wday-5 past prev-month">
                  30
               </td>
               <td class="day wday-6 past current-month">
                  1
               </td>
               <td class="day wday-0 past current-month">
                  2
               </td>
            </tr>
            <tr>
               <td class="day wday-1 past current-month has-events">
                  <a href="/agendas?date=2017-07-03">3</a>
               </td>
               <td class="day wday-2 past current-month">
                  4
               </td>
               <td class="day wday-3 past current-month">
                  5
               </td>
               <td class="day wday-4 past current-month">
                  6
               </td>
               <td class="day wday-5 past current-month">
                  7
               </td>
               <td class="day wday-6 past current-month">
                  8
               </td>
               <td class="day wday-0 past current-month">
                  9
               </td>
            </tr>
            <tr>
               <td class="day wday-1 past current-month">
                  10
               </td>
               <td class="day wday-2 past current-month">
                  11
               </td>
               <td class="day wday-3 past current-month">
                  12
               </td>
               <td class="day wday-4 past current-month">
                  13
               </td>
               <td class="day wday-5 past current-month">
                  14
               </td>
               <td class="day wday-6 past current-month">
                  15
               </td>
               <td class="day wday-0 past current-month">
                  16
               </td>
            </tr>
            <tr>
               <td class="day wday-1 past current-month has-events">
                  <a href="/agendas?date=2017-07-17">17</a>
               </td>
               <td class="day wday-2 past current-month">
                  18
               </td>
               <td class="day wday-3 past current-month has-events">
                  <a href="/agendas?date=2017-07-19">19</a>
               </td>
               <td class="day wday-4 today start-date current-month">
                  20
               </td>
               <td class="day wday-5 future current-month">
                  21
               </td>
               <td class="day wday-6 future current-month">
                  22
               </td>
               <td class="day wday-0 future current-month">
                  23
               </td>
            </tr>
            <tr>
               <td class="day wday-1 future current-month">
                  24
               </td>
               <td class="day wday-2 future current-month">
                  25
               </td>
               <td class="day wday-3 future current-month">
                  26
               </td>
               <td class="day wday-4 future current-month">
                  27
               </td>
               <td class="day wday-5 future current-month">
                  28
               </td>
               <td class="day wday-6 future current-month">
                  29
               </td>
               <td class="day wday-0 future current-month">
                  30
               </td>
            </tr>
            <tr>
               <td class="day wday-1 future current-month">
                  31
               </td>
               <td class="day wday-2 future next-month">
                  1
               </td>
               <td class="day wday-3 future next-month">
                  2
               </td>
               <td class="day wday-4 future next-month">
                  3
               </td>
               <td class="day wday-5 future next-month">
                  4
               </td>
               <td class="day wday-6 future next-month">
                  5
               </td>
               <td class="day wday-0 future next-month">
                  6
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
