<div class="data_sheet">

  <header class="clearfix">
    
    Estás viendo
    Comunidad de Madrid > Madrid > Madrid

    <div class="form_filters" id="selectors">

      <div class="group">
        Gasto
        <ul id="measure_selector" class="measure buttons">
          <li><a href="javascript:void(null)" id="per_person" class ="measure button buttonSelected">por habitante</a></li>
          <li><a href="javascript:void(null)" id="percentage" class ="measure button">% sobre el total</a></li>
        </ul>
      </div>

      <div class="group">
        Contexto
        <ul id="context_selector" class="context buttons">
          <li><a href="javascript:void(null)" id="mean_national" class ="context button buttonSelected">País</a></li>
          <li><a href="javascript:void(null)" id="mean_autonomy" class ="context button">CCAA</a></li>
          <li><a href="javascript:void(null)" id="mean_province" class ="context button">Provincia</a></li>
        </ul>
      </div>
      
    </div>
  

  </header>

  <div class="widget_container">

    <div class="widget clearfix">
      
      <div class="sub_element">
        <h3>
          Gasto total 
          <span class="percenchange" class="tipsit" title="Cambio de -3,56% respecto al año anterior">-3,56%</span>
        </h3>
        <div class="number">128,6M€</div>
      </div>

      <div class="sub_element">
        <h3>
          Habitantes
          <span class="percenchange" class="tipsit" title="Cambio de +3,56% respecto al año anterior">+2,60%</span>
        </h3>
        <div class="number">3.245.456</div>
      </div>
      
      <div class="sub_element">
        <h3>
          <span title="Gasto por habitante">Gasto/habitante</span>
          <span class="percenchange" class="tipsit" title="Cambio de -12,46% respecto al año anterior">-12,46%</span>
        </h3>
        <div class="number">128,6€</div>
      </div>
      
      <div class="sub_element">
        <h3>
          Ranking
          <span class="percenchange" class="tipsit" title="Cambio de -2 posiciones respecto al año anterior">-2</span>
        </h3>
        <div class="number">1 <span class="sub">/8.234</span></div>
      </div>

    </div>

    <div class="widget">
      <div class="widget_cont">

        <h2>Gasto por áreas funcionales</h2>

        BARS GRAPH

      </div>
    </div>

    <div class="widget">
      <div class="widget_cont">

        <h2>Gasto por áreas económicas</h2>
        
        BARS GRAPH

      </div>
    </div>

    <div class="widget ">
      <div class="widget_cont">

        <h2>Partidas con mayor gasto</h2>

      </div>
    </div>

    <div class="widget ">
      <div class="widget_cont">
        
        <h2>Partidas con menor gasto</h2>

      </div>
    </div>

  </div>


</div>