<div class="person_event-item person-item pure-g">
  <div class="date_badge pure-u-1 pure-u-lg-1-6">
    <div class="day">18 Ago</div>
    <div class="hour">10:57</div>
  </div>
  <div class="pure-u-1 pure-u-md-5-6 event-content">
    <h3>
      <a href="participation_agenda_event.html<%= '?from=participation_group' if params['from'] == 'participation_group' %>"><%= title %></a>
    </h3>
    <div class="meta">
      <div>
        <div class="ib p_h_r_0_5">
          <i class="fas fa-map-marker"></i> <a href="https://www.google.com/maps/place/40.41874,-3.693944">Ayuntamiento de Madrid</a>
        </div>
        <div class="ib">
          <i class="fas fa-folder"></i> Agenda de: <a href="#">Cultura</a>
        </div>
      </div>
    </div>

    <p>In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum</p>

    <div class="extra_info listed">
      <div class="ib p_h_r_0_5">
        <a href="#" class="button outline rounded wide attend_event"><i class="fas fa-check hidden"></i> <span>Quiero asistir</span></a>
      </div>

      <div class="ib p_h_r_0_5">
        <i class="fas fa-users"></i> <strong>55 vecinos</strong> asistirán
      </div>

      <div class="ib">
        <i class="fas fa-calendar"></i> <a href="#">Añadir a mi calendario</a>
      </div>


    </div>
  </div>
</div>
