<div class="pure-u-1 pure-u-md-1-3">
  <a href="#" class="p_1 light_block home_block">
    <div class="circle_teaser"></div>

    <h3><%= title %></h3>
    <p class="soft"><%= description %></p>
  </a>
</div>
