<% states = ['execuci칩n', 'completu', 'llicitaci칩n'] %>
<table class="investments-home-main--table">
  <thead>
    <th class="investments-home-main--th">
      <div>Proyectu</div>
    </th>
    <th class="investments-home-main--th">
      <div>Est치u</div>
    </th>
    <th class="investments-home-main--th">
      <div>Cantid치</div>
    </th>
  </thead>
  <tbody>
    <% data.each do |value| %>

    <tr class="investments-home-main--tr">
      <td class="investments-home-main--td">
        <div><%= value %></div>
      </td>
      <td class="investments-home-main--td">
        <div><%= states.sample %></div>
      </td>
      <td class="investments-home-main--td">
        <div><%= number_to_currency(rand(4000..120000)) %></div>
      </td>
    </tr>

    <% end %>
  </tbody>
</table>
