<nav class="investments-home-nav">
  <ul>
    <li class="investments-home-nav--item is-active">
      <i class="fas fa-map-marked"></i>
      <i class="far fa-map-marked"></i>
      <span>Mapa</span>
    </li>
    <li class="investments-home-nav--item">
      <i class="fas fa-clone"></i>
      <i class="far fa-clone"></i>
      <span>Galería</span>
    </li>
    <li class="investments-home-nav--item">
      <i class="fas fa-list-alt"></i>
      <i class="far fa-list-alt"></i>
      <span>Llista</span>
    </li>
  </ul>
</nav>
