<aside class="investments-aside--gap">
  <div class="investments-aside--block">
    <h6 class="investments-aside--block-head">Estado</h6>

    <% steps = ['Totes', 'En estudi · 28 / 04 / 16', 'Programat · 28 / 05 / 16', 'Redacció · 28 / 04 / 16', 'Licitació · 13 / 11 /
    17', 'Execució · 6 / 04 / 18', 'Finalitzat · 28 / 04 / 19'] %>

    <nav class="investments-aside--steps">
      <ul>
        <% steps.each do |step| %>
        <li><a href=""><%= step %></a></li>
        <% end %>
      </ul>
    </nav>

    <a href="" class="investments-aside--link">ver detalle de evolución</a>
  </div>
</aside>