<main>
  <div role="tabscontent<%= '-' + seed.to_s %>">
    <div class="investments-home-main--tab-content" role="tabcontent">
      MAPA
    </div>
    <div class="investments-home-main--tab-content" role="tabcontent">GALERÍA</div>
    <div class="investments-home-main--tab-content" role="tabcontent">LISTA</div>
  </div>
</main>
