<nav class="investments-home-nav">
  <ul role="tabs<%= '-' + seed.to_s %>">
    <li class="investments-home-nav--tab is-active" role="tablink">
      <i class="fas fa-map"></i>
      <i class="far fa-map"></i>
      <span>Mapa</span>
    </li>
    <li class="investments-home-nav--tab" role="tablink">
      <i class="fas fa-clone"></i>
      <i class="far fa-clone"></i>
      <span>Galería</span>
    </li>
    <li class="investments-home-nav--tab" role="tablink">
      <i class="fas fa-list-alt"></i>
      <i class="far fa-list-alt"></i>
      <span>Llista</span>
    </li>
  </ul>
</nav>
