
<div class="main_metrics clearfix">

  <div class="metric selected tipsit" data-graph-show="1" title="Gasto total de esta partida en este año">
    <div class="label">Gasto total</div>
    <div class="main">128,4M€</div>
    <div class="secondary">
      <div class="percentage_change up">3,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric tipsit " data-graph-show="2" title="Habitantes de acuerdo al censo ">
    <div class="label">Habitantes</div>
    <div class="main">1.234</div>
    <div class="secondary">
      <div class="percentage_change down">1,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric" data-graph-show="3">
    <div class="label">Gasto por habitante</div>
    <div class="main">1.234€</div>
    <div class="secondary">
      <div class="percentage_change down">1,23%</div>
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric tipsit" data-graph-show="4" title="Diferencia porcentual entre la cantidad presupuestada y la finalmente empleada">
    <div class="label">Presupuesto vs. Ejecución</div>
    <div class="main">-3,45%</div>
    <div class="secondary">
      <div class="ranking"><strong>#12</strong>/8.234</div>
    </div>
  </div>

  <div class="metric tipsit" data-graph-show="5" title="Compara con otros municipios">
    <div class="label">Diferencia con la media</div>
    <div class="main">-13,45%</div>
    <div class="secondary">
      
    </div>
  </div>

  

</div>

<div class="metric_graphs">

  <div class="widget_graph show clearfix" data-graph-cont="1">

    <div class="col-1-2">

      <h2>Gasto total</h2>

      <div class="graph_cont">
        
        <img src="https://dl.dropboxusercontent.com/u/600648/varios/gobierto-test-graph.png" width="100%" > 

      </div>

    </div>

    <div class="col-2-2">

      
      <table>
      <tr>
        <th title="Municipio"></th>
        <th title="Gasto Total"></th>
        <th class="right per_change">Cambio sobre año anterior</th> 
      </tr>
      <tr>
        <td>
          <i class="le le-place"></i>
          El Puerto de Santa María
        </td>
        <td class="right">1.234,45 €</td>
        <td class="right">+3,54%</td>
      </tr>
      <tr>
        <td>
          <i class="le le-province"></i>
          Media provincia
        </td>
        <td class="right">1.234,45 €</td>
        <td class="right">+3,54%</td>
      </tr>
      <tr>
        <td>
          <i class="le le-com"></i>
          Media CCAA
        </td>
        <td class="right">1.234,45 €</td>
        <td class="right">+3,54%</td>
      </tr>
      <tr>
        <td>
          <i class="le le-country"></i>
          Media España
        </td>
        <td class="right">1.234,45 €</td>
        <td class="right">+3,54%</td>
      </tr>
      </table>

    </div>

  </div>

  <div class="widget_graph" data-graph-cont="2">

    graph habitantes 

  </div>

  <div class="widget_graph" data-graph-cont="3">

    graph wadus

  </div>

  <div class="widget_graph" data-graph-cont="5">

    graph gasto por habitante

  </div>

</div>