<div class="news_teaser">
  <h3><a href="participation_news_item.html"><%= headline %></a></h3>

  <div class="meta">
    <time>26 de abril de 2017</time>
  </div>

  <% if image %>
    <%= image_pack_tag 'samples/startups.jpg', class: 'pure-img m_v_1' %>
    <p>A lo largo de toda la jornada de hoy en el Centro de Arte Alcobendas.</p>
  <% else %>
    <p>Higueras, acompañada por la alcaldesa, presenta Madrid, ciudad amigable con las personas mayores,  un plan participativo que se concreta en 73 acciones.</p>
  <% end %>
</div>
