<ul class="pagination">
  <li class="active">1</li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li>...</li>
  <li><a href="#">10</a></li>
</ul>