<ul class="pagination">
  <li><a class="disabled" href="#">Anterior</a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a class="disabled" href="#">...</a></li>
  <li><a href="#">10</a></li>
  <li><a href="#">Siguiente</a></li>
</ul>
