<div class="contribution_card_expanded">

  <div class="contribution_card_expanded_wrapper">

    <div class="modal_like_control">
      <a href="#" class="mfp-close">×</a>
    </div>

    <div class="contribution_card_expanded_main_col">

      <h1>Incentivar el uso del transporte público entre los niños</h1>

      <div>
        <p>Hay que fomentar el uso del transporte entre niños, porque son las futuras generaciones. Y si un niño le pide algo al padre, este le hace más caso. Hay que fomentar el uso del transporte entre niños, porque son las futuras generaciones. Y si un niño le pide algo al padre, este le hace más caso.</p>
        <p>Hay que fomentar el uso del transporte entre niños, porque son las futuras generaciones. Y si un niño le pide algo al padre, este le hace más caso. Hay que fomentar el uso del transporte entre niños, porque son las futuras generaciones. Y si un niño le pide algo al padre, este le hace más caso. Hay que fomentar el uso del transporte entre niños, porque son las futuras generaciones. Y si un niño le pide algo al padre, este le hace más caso.</p>
        <div class="meta">
          —
          <a href="">Martín González</a>
          <span class="date">25/05/2017</span>
        </div>
      </div>

      <div class="comments_container">

        <h3><strong>3</strong> comentarios</h3>

        <% for i in [
          "Pues yo creo que esto no tiene demasiado sentido, ya que los niños no se transportan apenas. En todo caso habría que invitar a sus padres a que utilicen el transporte público cuando tengan que llevarles a algún sitio, para dar ejemplo.",
          "Para fomentar esto haría autobuses con hidromasaje",
          "Vaya tonteria dices fulano.",
          "Pues yo creo que esto no tiene demasiado sentido, ya que los niños no se transportan apenas. En todo caso habría que invitar a sus padres a que utilicen el transporte público cuando tengan que llevarles a algún sitio, para dar ejemplo.",
          "Para fomentar esto haría autobuses con hidromasaje",
          "Vaya tonteria dices fulano."
        ] %>
        <div class="comment">
          <div class="comment_text">
            <%= i %>
            <div class="meta">
              —
              <a href="">Martín González</a>
              <span class="date">25/05/2017</span>
            </div>
          </div>
          <div class="comment_actions">
            <div class="action"><a href="" class="active"><i class="fas fa-thumbs-up"></i> 3</a></div>
            <div class="action"><a href=""><i class="fas fa-thumbs-down"></i> 1</a></div>
            <div class="action"><a href=""><i class="fas fa-reply"></i> Responder</a></div>
            <div class="action"><a href=""><i class="fas fa-flag"></i> Reportar</a></div>
          </div>
        </div>
        <% end %>

        <div class="comment_new">

        <!-- if logged in -->

          <div class="form_item textarea">
            <label>
              Comenta esta idea|propuesta|pregunta
            </label>
            <textarea></textarea>
          </div>

          <div class="form_item action_buttons right">
            <a href="#" class="button">Comentar</a>
          </div>

        <!-- else if not logged in -->

          <div class="inline_login_cta">
            <h2><a href="#signin_register" class="open_modal">Haz login o regístrate para comentar</a></h2>
          </div>

        <!-- end -->

        </div>

      </div>

    </div>

    <div class="contribution_actions ">

      <h3>Valora esta idea</h3>

      <div class="element_eval_actions">

        <!-- <div class="action_button_bg">
          <a href=""></a>
        </div> -->

        <div>
          <a href="" class="action_button love">
            <div class="action_description">Me encanta</div>
          </a>
        </div>

        <div>
          <a href="" class="action_button like">
            <div class="action_description">Me gusta</div>
          </a>
        </div>

        <div>
          <a href="" class="action_button pse">
            <div class="action_description">Me es indiferente</div>
          </a>
        </div>

        <div>
          <a href="" class="action_button reject">
            <div class="action_description">No me gusta</div>
          </a>
        </div>

      </div>

    </div>

  </div>

</div>

<script type="text/javascript">

$(document).on('turbolinks:load', function() {

  $('.action_button').hover(
    function() {
      $(this).find('.action_description').velocity('fadeIn', { duration: 150 });
    },
    function() {
      $(this).find('.action_description').velocity('fadeOut', { duration: 150 });
    }
  );

  // ToDo: leave .action_description visible when its parent.action_button is clicked/selected

  $('.action_button').on('click', function(e) {
    e.preventDefault();
    // $('.action_button').velocity({ opacity: '.5', duration: 50});
    $('.action_button .action_description').hide();
    // $(this).css("opacity", '1');
    $(this).velocity("callout.pulse", { duration: 100});
    $(this).addClass('selected');
    $(this).find('.action_description').velocity("callout.pulse", { duration: 100});
  });


  // ToDo: This repeats with what we have in _participation_group_contributions_contribution_new.html
  // we should probably create a function to close both and anything related
  $('.contribution_card_expanded').hide();
  $('.contribution_card_new').hide();

  $('.contribution_card_expanded .modal_like_control .mfp-close').on('click', function(e){
    e.preventDefault();
    $('.contribution_card_expanded').velocity('fadeOut', { duration: 150 });
    $('.contribution_tools_overlay').velocity('fadeOut', { duration: 150 });
  });

  $('.card').on('click', function(e){
    e.preventDefault();

    // ToDo decide where we position the expanded card
    $('.contributions_content').append($('.contribution_card_expanded'));
    // $('.contributions_container').append($('.contribution_card_expanded'));
    // $('.container').append($('.contribution_card_expanded'));
    $('.contribution_card_expanded').velocity('fadeIn', { duration: 150 });

    $('.contributions_content').append($('.contribution_tools_overlay'));
    $('.contribution_tools_overlay').velocity('fadeIn', { duration: 150 });

  });

  // Height definition, ToDo make it dynamic
  // var contribution_card_expanded_container = $('.contributions_container .contributions_content').height();
  $('.contribution_card_expanded_main_col').height('650');


});

</script>

<%= render 'user_signin_modal' %>
