<div class="modal mfp-hide modal_poll" id="participation_group_polls_poll">

  <div class="poll content_block">

    <div class="poll_title">
      <h1>Encuesta inicial sobre la modificación de la Ordenanza de Terrazas</h1>
    </div>

    <div class="poll_content question_active" data-question-number="1">

      <div class="poll_question multiple_answer with_media">
        <h2>¿Cuáles de estos aspectos consideras relevante actualizar?</h2>
        <div class="help">Puedes elegir varias opciones</div>
        <div class="poll_options">
          <div class="poll_option">
            <a href="" class="button outline rounded checked">Horarios</a>
            <div class="media">
              <img src="https://images.unsplash.com/photo-1503293962593-47247718a17a?auto=format&fit=crop&w=1349&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
            </div>
          </div>
          <div class="poll_option">
            <a href="" class="button outline rounded">Espacio que ocupan las terrazas</a>
            <div class="media">
              <img src="https://images.unsplash.com/photo-1465284958051-1353268c077d?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
            </div>
          </div>
          <div class="poll_option">
            <a href="" class="button outline rounded">Tasas</a>
            <div class="media">
              <img src="https://images.unsplash.com/photo-1490796253857-2bf590840d33?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
            </div>
          </div>
          <div class="poll_option">
            <a href="" class="button outline rounded">Características de los cenadores</a>
            <div class="media">
              <img src="https://images.unsplash.com/photo-1451943744133-d6335204a0a3?auto=format&fit=crop&w=1489&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="poll_content" data-question-number="2">

      <div class="poll_question simple_answer">
        <h2>¿Crees que habría que reducir o ampliar el horario de las terrazas?</h2>
        <div class="poll_options">
          <div class="poll_option">
            <a href="" class="button outline rounded checked">Reducir</a>
          </div>
          <div class="poll_option">
            <a href="" class="button outline rounded">Ampliar</a>
          </div>
        </div>
      </div>

    </div>

    <div class="poll_content" data-question-number="3">

      <div class="poll_question simple_answer">
        <h2>Si opinas que hay que reducirlo, ¿por qué razones?</h2>
        <div class="poll_options">
          <div class="poll_option">
            <a href="" class="button outline rounded checked">Porque es una molestia</a>
          </div>
          <div class="poll_option">
            <a href="" class="button outline rounded">Porque solo beneficia a un número reducido de personas (los bares y los consumidores)</a>
          </div>
          <div class="poll_option">
            <a href="" class="button outline rounded">Porque los perjuicios son mayores que los beneficios</a>
          </div>
          <div class="poll_option">
            <a href="" class="button outline rounded">Porque hay que fomentar una vida silenciosa y recogida</a>
          </div>
        </div>
      </div>

    </div>

    <div class="poll_content poll_last_screen" data-question-number="4">

      <div class="poll_question simple_answer">
        <h2>Estupendo, gracias por contestar</h2>
        <div class="poll_options">

          <p>Si te parece interesante que otras personas aporten sus opiniones, te agradecemos que compartas:</p>

          <div class="social_links_container" data-share>
            <a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|Header"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|Header"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social_share whatsapp" data-share-network="whatsapp" data-track-event="Social Share|Click Whatsapp|Header"><i class="fab fa-whatsapp"></i></a>
            <a href="#" class="social_share telegram" data-share-network="telegram" data-track-event="Social Share|Click telegram|Header"><i class="fab fa-telegram"></i></a>
          </div>


        </div>
      </div>

    </div>

    <div class="poll_progress_map">
      <ul>
        <li class="active"><span>1</span></li>
        <li><span>2</span></li>
        <li><span>3</span></li>
        <li><span>4</span></li>
        <li><span>5</span></li>
        <li><span>6</span></li>
        <li><span>7</span></li>
        <li><span>8</span></li>
      </ul>
      <div class="poll_page">
        4 de 8
      </div>
    </div>

    <div class="poll_actions">
      <a href="" class="button submit next_question">Continuar</a>
    </div>

  </div>

</div>

<script type="text/javascript">

$(document).on('turbolinks:load', function() {

  $('.poll_content').hide();
  $('.question_active').show();

  $('.poll_content .button').on('click', function(e){
    e.preventDefault();
    $(this).addClass('checked');
  });

  $('.next_question').on('click', function(e){
    e.preventDefault();

    var question_number = $('.question_active').data('question-number');
    var question_next = question_number + 1;

    $('.poll_content[data-question-number="' + question_number + '"]')
      .velocity("transition.slideLeftOut", { duration: 250 })
      .removeClass('question_active');

    $('.poll_content[data-question-number="' + question_next + '"]')
      .velocity("transition.slideRightIn", { duration: 250, delay: 250 })
      .addClass('question_active');

  });

});

</script>
