<div class="contribution_card_new">

  <div class="contribution_card_new_header">

    ¿Qué harías para reducir la contaminación en la ciudad?

    <div class="modal_like_control">
      <a href="#" class="mfp-close">×</a>
    </div>

  </div>

  <div class="contribution_card_new_wrapper">

    <div class="contribution_card_new_form">

      <div class="form_item input_text">
        <label>
          Describe tu idea de forma concisa
          <%= attribute_length_indication 140 %>
        </label>
        <input type="text" placeholder="Ej. Una nueva piscina en el polideportivo">
      </div>

      <div class="form_item textarea">
        <label>
          ¿Quieres dar detalles? Desarrolla los puntos principales de tu idea|pregunta|propuesta
        </label>
        <textarea></textarea>
      </div>

      <div class="form_item action_buttons right">
        <a href="#" class="button">Añadir</a>
      </div>

    </div>

  </div>

</div>

<script type="text/javascript">

$(document).on('turbolinks:load', function() {

  // ToDo: This repeats with what we have in _participation_group_contributions_contribution_expanded.html
  // we should probably create a function to close both and anything related
  $('.contribution_card_expanded').hide();
  $('.contribution_card_new').hide();
  $('.contribution_tools_overlay').hide();

  $('.contribution_action .button').on('click', function(e){
    e.preventDefault();
    // ToDo Consolidate with code in _participation_group_contributions_contribution_expanded.html
    $('.contributions_content').append($('.contribution_card_new'));
    $('.contribution_card_new').velocity('fadeIn', { duration: 150 });
    $('.contributions_content').append($('.contribution_tools_overlay'));
    $('.contribution_tools_overlay').velocity('fadeIn', { duration: 150 });
  });

  $('.contribution_card_new .modal_like_control .mfp-close').on('click', function(e){
    e.preventDefault();
    $('.contribution_card_new').velocity('fadeOut', { duration: 150 });
    $('.contribution_tools_overlay').velocity('fadeOut', { duration: 150 });
  });

  var contribution_card_container_width = $('.contributions_container .contributions_content').width();
  var contribution_card_new = $('.contribution_card_new').width();
  $('.contribution_card_new').css('margin-left', (contribution_card_container_width - contribution_card_new) / 2);

});

</script>
