<div class="place_event-item place-item pure-g">
  <div class="badge pure-u-1-3 pure-u-md-5-24">
    <strong><%= date %></strong>
  </div>

  <div class="pure-u-1 pure-u-md-19-24 event-content">
    <h3><a href="participation_agenda_event.html"><%= name %></a></h3>
    <div class="meta">
      <div class="ib">
        <i class="fas fa-clock-o"></i> <%= hour %>
      </div>

      <div class="ib">
        <i class="fas fa-map-marker"></i>
        <a href="https://www.google.com/maps/place/40.41874,-3.693944"><%= place %></a>
      </div>
    </div>
  </div>
</div>
