<div class="place_latest-item place-item pure-g">
  <div class="date_badge pure-u-1-3 pure-u-md-5-24">
    <div class="day"><%= date %></div>
  </div>

  <div class="pure-u-1 pure-u-md-19-24 latest-content">
    <h3><a href="/agendas/richard-rider/2017-08-10-future-government-event"><%= title %></a></h3>
  </div>
</div>
