
	<div class="social_share_container">
  	<a href="" class="social_share twitter" data-share-network="twitter" ><i class="fab fa-twitter"></i> Twitter</a>
  	<a href="" class="social_share facebook" data-share-network="facebook" ><i class="fab fa-facebook"></i> Facebook</a>
  	<a href="" class="social_share linkedin" data-share-network="linkedin" ><i class="fab fa-linkedin"></i> Linkedin</a>
  	<a href="" class="social_share email" data-share-network="email" ><i class="fas fa-envelope"></i> Correo-e</a>
  </div>
