
		<div class="social_links_container">
			<a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|XXX"><i class="fas fa-twitter"></i></a>
			<a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|XXX"><i class="fas fa-facebook"></i></a>
			<!-- <a href="#" class="social_share code" data-share-network="code" data-track-event="Social Share|Click Facebook|XXX"><i class="fas fa-code"></i></a> -->
		</div>
