<a href="#" class="content_block themed <% if negative %> negative <% end %>">
  <h2 class="hidden left">¿Hechas en falta alguna pregunta?</h3>

  <p class="lead"><%= question %></p>

  <div class="date right">
    <i class="fas fa-calendar"></i> <strong>Finaliza</strong> en 3 días
  </div>
</a>
