<div class="pure-u-1 pure-u-md-1-3">
  <a class="content_block light" href="participation_group.html">
    <h3><%= name %></h3>
    <p><%= description %></p>
    <% if meta %>
      <div class="meta right">
        <div class="ib"><i class="fas fa-comment"></i> 30</div>
        <div class="ib"><i class="fas fa-users"></i> 50</div>
      </div>
    <% end %>
  </a>

</div>
