<a href="#" class="content_block themed">
  <div class="circle_teaser"></div>

  <h3><%= title %></h3>
  <p class="soft"><%= description %></p>

  <% if meta %>
    <div class="meta right">
      <div class="ib"><i class="fa fa-comment"></i> 30</div>
      <div class="ib"><i class="fa fa-users"></i> 50</div>
    </div>
  <% end %>
</a>
