<div href="#" class="content_block themed">
  <h2 class="hidden left">¿Hechas en falta alguna pregunta?</h3>

  <a href="#" class="hidden button wide outline rounded fat">Lanzar pregunta</a>

  <p class="lead"><%= question %></p>

  <% if meta %>
    <div class="meta right">
      <div class="ib"><i class="fa fa-comment"></i> 30</div>
      <div class="ib"><i class="fa fa-users"></i> 50</div>
    </div>
  <% end %>
</div>
