<a href="" class="content_block simple_big_header themed filled_block emoji_block">

  <h2>¿Crees que habría que modificar la ordenanza sobre terrazas?</h2>
  <p class="participate_until date">Participa hasta XX/dic</p>
  <div class="button outline rounded fat">Participa en la encuesta</div>

</a>
