<a href="#participation_group_polls_poll" class="open_modal content_block simple_big_header themed filled_block emoji_block">

  <h2>Encuesta inicial sobre la modificación de la Ordenanza de Terrazas</h2>
  <p class="participate_until date">Participa hasta XX/dic</p>
  <div class="button outline rounded fat">Participa en la encuesta</div>

</a>

<%= render 'participation_group_polls_poll' %>
