<div class="pure-g timeline">
  <div class="line"></div>

  <%= render 'timeline_row', { date: '26 ENE - 12 FEB', title: 'Presentación del proceso', description: 'A través de diferentes Mesas de Diálogo Ciudadano recogeremos en los diferentes distritos de Alcobendas propuestas vecinales.', status: 'open', class_names: 'active current', number: '1' } %>
  <%= render 'timeline_row', { date: '26 JUN - 12 JUL', title: 'Mesas de diálogo', description: 'A través de diferentes Mesas de Diálogo Ciudadano recogeremos en los diferentes distritos de Alcobendas propuestas vecinales y soluciones concretas que nos permitan elaborar el borrador del “Pacto social por el fin de la violencia contra la mujer”.', status: 'open', class_names: '', number: '2' } %>
  <%= render 'timeline_row', { date: '13 JUL - 12 OCT', title: 'Publicación del borrador', description: 'A través de diferentes Mesas de Diálogo Ciudadano recogeremos en los diferentes distritos de Alcobendas propuestas vecinales y soluciones concretas que nos permitan elaborar el borrador del “Pacto social por el fin de la violencia contra la mujer”.', status: 'closed', class_names: '', number: '3' } %>
  <%= render 'timeline_row', { date: '12 DIC', title: 'Presentación del pacto', description: 'A través de diferentes Mesas de Diálogo Ciudadano recogeremos en los diferentes distritos de Alcobendas propuestas vecinales y soluciones concretas que nos permitan elaborar el borrador del “Pacto social por el fin de la violencia contra la mujer”.', status: 'closed', class_names: '', number: '4' } %>
</div>
