
<h1>Editar plantillas</h1>

<div class="pure-g template_editor">

  <div class="pure-u-1 pure-u-md-6-24 template_editor_side_pane">

    <div class="file_browser">
      <ul>
        <li><i class="fas fa-folder-open-o"></i> gobierto_participation
          <ul>
            <li><i class="fas fa-folder-open-o"></i> welcome
              <ul>
                <li><i class="fas fa-file-o"></i> _wadus.html.erb</li>
                <li><i class="fas fa-file-o"></i> _maltus.html.erb</li>
                <li><i class="fas fa-file-o"></i> index.html.erb</li>
                <li><i class="fas fa-file-o"></i> index.html.erb</li>
              </ul>
            </li>
            <li><i class="fas fa-folder-open-o"></i> farewell
              <ul>
                <li><i class="fas fa-file-o"></i> _wadus.html.erb</li>
                <li><i class="fas fa-file-o"></i> _maltus.html.erb</li>
                <li><i class="fas fa-file-o"></i> index.html.erb</li>
                <li><i class="fas fa-file-o"></i> index.html.erb</li>
              </ul>
            </li>
            <li><i class="fas fa-folder-o"></i> farewell</li>
            <li><i class="fas fa-folder-o"></i> farewell</li>
            <li><i class="fas fa-folder-o"></i> farewell</li>
            <li><i class="fas fa-folder-o"></i> farewell</li>
          </ul>
        </li>
        <li><i class="fas fa-folder-o"></i> gobierto_budgets</li>
        <li><i class="fas fa-folder-o"></i> gobierto_people</li>
        <li><i class="fas fa-folder-o"></i> gobierto_cms</li>
      </ul>
    </div>

  </div>

  <div class="pure-u-1 pure-u-md-18-24 template_editor_main_pane">

    <div class="action_buttons admin_tools">
      <button class="rounded outline tipsit" title="Descartar cambios guardados, y volver a la plantilla original (ojo, no podrás recuperar la plantilla que hayas personalizado)">Resetear</button>
      <button class="rounded">Previsualizar</button>
      <button class="rounded">Guardar</button>
    </div>

    <div class="code_editor">
      <code>
        http://codemirror.net/#features
        Code Folding
      </code>
    </div>

  </div>

</div>
