<div class="admin_breadcrumb">
  <%= link_to 'Inicio', 'admin' %> »
  <%= link_to 'Participación', 'admin_part' %> »
  Participación
</div>

<h1>Participación</h1>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-16-24">

    <p>Ultima actividad (en grupos, procesos: ideas, votos, reportes...)</p>

    <p>Contenido global: agenda, noticias, documentos</p>

    <p>Grupos / <a href="admin_part_group">Crear grupo</a></p>

  </div>

  <div class="pure-u-1 pure-u-md-2-24"></div>

  <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

    <%# render partial: "admin_widget_save"  %>

  </div>

</div>
