
<h1>Editar usuario</h1>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-16-24">

    <form>

      <div class="form_item input_text">
        <label for="name">Nombre</label>
        <input type="text" id="name" value="Fernando Blat">
      </div>

      <div class="form_item input_text">
        <label for="email">Correo-e</label>
        <input type="email" id="email" value="fernando@blat.es">
      </div>

      <div class="form_block">

        <h2>Grupo</h2>

        <div class="form_item">

          <% options = [
            'PAM - Admin',
            'PAM - Eje 1 - Linea 2',
            'PAM - Editor (envío proyectos)',
            'PAM - Moderador (flujo editorial)'
          ] %>

          <% for i in options %>
          <div class="options compact">

            <div class="option">
              <input type="hidden" name="permission_1" value="0"/>
              <input type="checkbox" id="permission_1" name="permission_1" value="1"/>
              <label for="permission_1">
                <span></span>
                <%= i %>
              </label>
            </div>

          </div>
          <% end %>

        </div>

      </div>

      <div class="form_block">

        <h2>Sitios con acceso</h2>

        <div class="form_item">

          <p>Este usuario puede acceder a administrar:</p>

          <div class="options compact">

            <div class="option">
              <input type="hidden" name="sites" value="0"/>
              <input type="checkbox" id="site_1" name="permission_1" value="1"/>
              <label for="site_1">
                <span></span>
                burjassot.gobierto.es
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="sites" value="0"/>
              <input type="checkbox" id="site_2" name="permission_1" value="1"/>
              <label for="site_2">
                <span></span>
                valencia.gobierto.es
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="sites" value="0"/>
              <input type="checkbox" id="site_3" name="permission_1" value="1"/>
              <label for="site_3">
                <span></span>
                transparencia.dival.es
              </label>
            </div>



          </div>

        </div>

      </div>

      <div class="form_block">

        <h2>Contraseña</h2>

        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2">
            <button>Cambiar contraseña</button>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <button>Reenviar mail de bienvenida</button>
            <p><small>(con enlace para cambiar establecer nueva contraseña)</small></p>
          </div>
        </div>

        <p><strong>Último login</strong>: hace 2 horas <span class="soft">123.456.789.12</span></p>
        <p><strong>Creado</strong>: 12 sep 2016 <span class="soft">123.456.789.12</span></p>

      </div>

      <div class="form_block">

        <h2>Log actividad</h2>

        LOG

      </div>

    </form>


  </div>

  <div class="pure-u-1 pure-u-md-2-24"></div>

  <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">

    <%= render "admin_widget_save.html.erb", locals: { only_save_button: true } %>
    <%# render "admin_widget_attachment.html.erb" %>

  </div>

</div>

<% content_for :javascript_hook do %>
  <%= javascript_tag do %>
    window.GobiertoAdmin.gobierto_attachments_controller.index();
  <% end %>
<% end %>
