
<h1>Personalizar sitio</h1>

<div class="pure-g">

  <div class="pure-u-1 pure-u-md-16-24">
    
    <div class="notice ">
      Bien, se ha guardado sin problemas.
    </div>

    <form>
      
      <div class="form_item input_text">
        <label for="name">Nombre del site</label>
        <input type="text" id="name" value="Transparencia y Participción">
      </div>

      <div class="form_item input_text">
        <label for="entity">Nombre de la entidad</label>
        <input type="text" id="entity" value="Ayuntamiento de Burjassot">
      </div>

      <div class="form_item input_text">
        <label for="entity">Entidad relacionada</label>
        <input type="text" id="entity" value="[autosuggest] Ayuntamiento de Burjassot">
      </div>

      <div class="form_item input_text">
        <label for="subdomain">Dominio o subdominio</label>
        <input type="text" id="subdomain" class="subdomain" value="gobierto.burjassot.es">
        <div class="inline_help">
          Importante: este dominio deberá estar creado previamente para que el site funcione correctamente. Instrucciones: 
          <p><strong>Si es un dominio</strong>: Entrada A a 123.345.678</p>
          <p><strong>Si es un subdominio</strong>: Entrada CNAME a gobierto.dival.es</p>
        </div>
      </div>

      <div class="form_block">
      
        <div class="form_item textarea code">
          <label for="entity">HTML Cabecera</label>
          <textarea></textarea>
        </div>

        <div class="form_item textarea code">
          <label for="entity">HTML Pie</label>
          <textarea></textarea>
        </div>

      </div>

      <div class="form_block">

        <h2>Módulos activados para este sitio</h2>

        <div class="form_item">
          
          <div class="options compact">

            <div class="option">
              <input type="hidden" name="permission_1" value="0"/>
              <input type="checkbox" id="permission_1" name="permission_1" value="1"/>
              <label for="permission_1">
                <span></span>
                Visualización presupuestos
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permission_1" value="0"/>
              <input type="checkbox" id="permission_2" name="permission_1" value="1"/>
              <label for="permission_2">
                <span></span>
                Consultas presupuestos
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_3" name="permission_1" value="1"/>
              <label for="permission_3">
                <span></span>
                Inteligencia
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_4" name="permission_1" value="1"/>
              <label for="permission_4">
                <span></span>
                Personas
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_5" name="permission_1" value="1"/>
              <label for="permission_5">
                <span></span>
                Tu entidad en cifras
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_6" name="permission_1" value="1"/>
              <label for="permission_6">
                <span></span>
                Consultas presupuestos
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_7" name="permission_1" value="1"/>
              <label for="permission_7">
                <span></span>
                Cuadro de mando
              </label>
            </div>

          </div>

        </div>

      </div>

    </form>


  </div>

  <div class="pure-u-1 pure-u-md-2-24"></div>

  <div class="pure-u-1 pure-u-md-1-4 stick_in_parent" id="stick_in_parent">
    
    <%= render "admin_widget_save.html.erb" %>

    <div class="proto_note">
      <p>Opciones:</p>
      <p>- Protegido</p>
      <p>- Público</p>

    </div>

  </div>

</div>