
<h1>Presupuestos</h1>

<div class="tabs">
  <ul>
    <!-- Show this tab only if Micro-participaciones is active -->
    <li class="active"><a href="">Opiniones</a></li>
    <li ><a href="admin_budgets_options">Opciones</a></li>
  </ul>
</div>

<table>
<% for i in [
  "Otras actuaciones de carácter económico",
  "Administración General de la Seguridad y Protección Civil",
  "Comercio, turismo y pequeñas y medianas empresas",
  "Servicios públicos básicos",
  "Producción de bienes públicos de carácter preferente",
  "Otras actuaciones de carácter económico",
  "Administración General de la Seguridad y Protección Civil",
  "Comercio, turismo y pequeñas y medianas empresas",
  "Servicios públicos básicos",
  "Producción de bienes públicos de carácter preferente",
  "Otras actuaciones de carácter económico",
  "Administración General de la Seguridad y Protección Civil",
  "Comercio, turismo y pequeñas y medianas empresas",
  "Servicios públicos básicos",
  "Producción de bienes públicos de carácter preferente"
] %>
<tr>
  <td rowspan="2">Presupuesto 2016</td>
  <td rowspan="2"><%= i %></td>
  <td colspan="4">¿Lo entiendes?</td>
  <td colspan="6">Te parece...</td>
</tr>
<tr>
  <td>Si</td>
  <td>34%</td>
  <td>No</td>
  <td>66%</td>

  <td>Poco</td>
  <td>33%</td>
  <td>Apropiado</td>
  <td>33%</td>
  <td>Mucho</td>
  <td>33%</td>
</tr>
<% end %>
</table>
