<% content_for :javascript_module_link do %>
  <!-- No es necesario adjuntarlo xq ya está DENTRO del pack 'admin' -->
  <!-- <%= javascript_include_tag 'dashboards' %> -->
<% end %>

<% content_for :stylesheet_module_link do %>
  <%= stylesheet_packs_with_chunks_tag 'dashboards' %>
<% end %>

<p>Añadir <code>data-dashboards-maker</code> al elemento que lanzará la ventana modal:</p>

<a data-dashboards-maker class="button open_remote_modal" href="/admin/gobierto_dashboards/dashboards/index">Nuevo</a>
<a data-dashboards-maker class="button open_remote_modal" href="/admin/gobierto_dashboards/dashboards/2/edit">Editar</a>

<hr>

<div dashboard-viewer-app data-context="<%= @context %>" data-id="<%= 0 %>"></div>
