<div class="column">

  <main class="content">
    <header class="gradient-bg">
      <div class="inner">
        <h1>Así funciona un presupuesto municipal</h1>
        <p>El presupuesto municipal es el documento que explica cómo se gestiona el dinero público durante un año. Aquí te explicamos los conceptos más importantes para que no te pierdas en su lectura.</p>

        <ul>
          <li><a href="#">¿Cómo se lee un presupuesto?</a></li>
          <li><a href="#">Tipos de ingreso</a></li>
          <li><a href="#">Tipos de gasto</a></li>
        </ul>
      </div>
    </header>

    <article>
      <%= image_tag 'illustrations/presupuestos.jpg', class: 'pure-img' %>

      <ol>
        <li>La Junta municipal –formada por el alcalde y los responsables de cada área de gobierno– diseña el presupuesto, lo redacta a través de la concejalía de Hacienda y lo presenta en el pleno.</li>
        <li>Una vez allí, todos los concejales lo estudian y sugieren modificaciones. Finalmente se somete a votación y se aprueba.</li>
      </ol>

      <div class="note">
        <p>El presupuesto tiene que quedar aprobado antes del 31 de diciembre del año anterior. Es decir, el presupuesto de 2016 tiene que estar aprobado en diciembre de 2015, si no, se prorroga automáticamente.</p>
      </div>

      <h2>¿Y cómo se lee?</h2>
      <h3>Ingresos</h3>
      <p>Para empezar, los ingresos se dividen según su naturaleza económica, es decir, de dónde viene el dinero y qué “forma” tiene: Si es un crédito bancario, una propiedad municipal que se ha vendido o un impuesto.</p>

      <div class="number">
        <p>En 2016 se ingresaron...</p>
        <div>45.741.771€</div>
      </div>

      <h3>Gastos</h3>
      <p>¿Cómo usa el ayuntamiento el dinero de todos los vecinos? Los gastos se pueden clasificar de dos formas: desde el punto de vista funcional (en qué se gasta) y económico (cómo se gasta).</p>

      <div class="number">
        <div>12€/hab</div>
      </div>

      <hr />

      <blockquote>
        <h4>Clasificación presupuestaria</h4>
        <p>Todo presupuesto tiene ingresos y los gastos. Los ingresos están clasificados de una manera económica, que establece su origen. Los gastos, por otra parte, son funcionales y económicos.</p>

        <div class="share">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </blockquote>

      <hr />

      <h2>Tipos de ingreso</h2>

      <figure>
        <%= image_tag 'samples/park.jpg', class: 'pure-img' %>
        <figcaption>Parque Cedeira (Oporto) <br /> João M. Gil.</figcaption>
      </figure>

      <p>Los ingresos se dividen en nueve apartados, y cada uno de ellos en varios subapartados. Estas divisiones permiten profundizar para conocer la procedencia exacta de cada ingreso.</p>

      <h4>Tipos de ingreso</h4>
      <ol>
        <li><a href="#ingresos-corrientes">Ingresos corrientes</a></li>
        <li><a href="#ingresos-de-capital">Ingresos de capital</a></li>
        <li><a href="#ingresos-financieros">Ingresos financieros</a></li>
      </ol>

      <h3 id="ingresos-corrientes"><small>1</small> Ingresos corrientes</h3>
      <p>Impuestos y tasas que recauda el ayuntamiento, o dinero que el Estado transfiere a cada municipio. Son los más habituales.</p>

      <div class="element-grid">
        <div>
          <h5>Impuestos directos</h5>
          <p>Gravan la fuente de la renta, los frutos del patrimonio o de una actividad económica.</p>
        </div>
        <div>
          <h5>Impuestos indirectos</h5>
          <p>Algunos municipios recaudan una parte del IVA y otros impuestos especiales</p>
        </div>
        <div>
          <h5>Transferencias corrientes</h5>
          <p>Dinero que el ayuntamiento recibe del Estado y de la Comunidad Autónoma.</p>
        </div>
        <div>
          <h5>Tasas y otros ingresos</h5>
          <p>Tasas, precios públicos y contribuciones por la realización de una contraprestación.</p>
        </div>
        <div>
          <h5>Ingresos patrimoniales</h5>
          <p>Son los beneficios sobre bienes que no se destinan a servicio público.</p>
        </div>
      </div>

    </article>
  </main>

</div>
