<div class="column">

  <main class="content">
    <header class="gradient-bg">
      <div class="inner">
        <h1>Cómo funciona un presupuesto municipal</h1>
        <p>El presupuesto municipal es el documento que explica cómo se gestiona el dinero público durante un año. Aquí te explicamos los conceptos más importantes para que no te pierdas en su lectura.</p>

        <ul>
          <li><a href="#como-se-lee">¿Cómo se lee un presupuesto?</a></li>
          <li><a href="#tipos-de-ingreso">Ingresos</a></li>
          <li><a href="#tipos-de-gasto">Gastos</a></li>
          <li><a href="#deuda-viva">Deuda viva: Cuánto debe tu municipio</a></li>
          <li><a href="#ejecucion-presupuestaria">Ejecución presupuestaria</a></li>
        </ul>
      </div>
    </header>

    <article>
      <%= image_tag 'media/images/illustrations/presupuestos.jpg', class: 'pure-img' %>

      <ol>
        <li>La Junta municipal –formada por el alcalde y los responsables de cada área de gobierno– diseña el presupuesto, lo redacta a través de la concejalía de Hacienda y lo presenta en el pleno, que es el órgano de máxima representación política municipal.</li>
        <li>Una vez allí, todos los concejales lo estudian y sugieren modificaciones. Finalmente se somete a votación y se aprueba.</li>
      </ol>

      <div class="note">
        <p>El presupuesto tiene que quedar aprobado antes del 31 de diciembre del año anterior. Es decir, el presupuesto de 2016 tiene que estar aprobado en diciembre de 2015, si no, se prorroga automáticamente.</p>
      </div>

      <h2 id="como-se-lee">¿Y cómo se lee?</h2>
      <p>Todos los presupuestos municipales tienen la misma estructura, definida legalmente en la <a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2008-19916">Orden EHA/3565/2008</a>. La estructura básica es sencilla: se divide en ingresos y gastos. Es decir, responde a las preguntas ¿De dónde sale el dinero? (ingresos) y ¿en qué se gasta? (gastos).</p>

      <h3>Ingresos</h3>
      <p>Para empezar, los ingresos se dividen según su naturaleza económica, es decir, de dónde viene el dinero y qué “forma” tiene: Si es un crédito bancario, una propiedad municipal que se ha vendido o un impuesto.</p>

      <div class="number">
        <p>En 2016 se ingresaron...</p>
        <div>45.741.771€</div>
      </div>

      <h3>Gastos</h3>
      <p>¿Cómo usa el ayuntamiento el dinero de todos los vecinos? Los gastos se pueden clasificar de dos formas: desde el punto de vista funcional (en qué se gasta) y económico (cómo se gasta).</p>

      <div class="number">
        <p>El gasto por habitante fue de...</p>
        <div>12€/hab</div>
      </div>

      <hr />

      <blockquote>
        <h4>Clasificación presupuestaria</h4>
        <p>Todo presupuesto tiene ingresos y los gastos. Los ingresos están clasificados de una manera económica, que establece su origen. Los gastos, por otra parte, son funcionales y económicos.</p>

        <div class="share">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </blockquote>

      <hr />

      <h2 id="tipos-de-ingreso">Tipos de ingreso</h2>

      <figure>
        <%= image_tag 'samples/park.jpg', class: 'pure-img' %>
        <figcaption>Parque Cedeira (Oporto) <br /> João M. Gil.</figcaption>
      </figure>

      <p>Los ingresos se dividen en nueve apartados y cada uno de ellos en varios subapartados. Estas divisiones permiten profundizar para conocer la procedencia exacta de cada ingreso.</p>

      <p>Por ejemplo: dentro de Impuestos indirectos se encuentran los Consumos específicos. Y dentro de este último, están los Impuestos del alcohol o el tabaco. En un presupuesto oficial, los apartados principales se llaman capítulos. Y a su vez, cada capítulo se divide en artículos, conceptos y subconceptos.</p>

      <p>En Gobierto lo hemos simplificado para que sólo tengas que buscar el nombre de cada apartado.</p>

      <h4>Tipos de ingreso</h4>
      <ol>
        <li><a href="#ingresos-corrientes">Ingresos corrientes</a></li>
        <li><a href="#ingresos-de-capital">Ingresos de capital</a></li>
        <li><a href="#ingresos-financieros">Ingresos financieros</a></li>
      </ol>

      <hr class="light_separator" />

      <h3 id="ingresos-corrientes"><small>1</small> Ingresos corrientes</h3>
      <p>Impuestos y tasas que recauda el ayuntamiento, o dinero que el Estado transfiere a cada municipio. Son los más habituales.</p>

      <dl>
        <div>
          <dt><a href="/presupuestos/partidas/1/2016/economic/I">Impuestos directos</a></dt>
          <dd>Gravan la fuente de la renta, los frutos del patrimonio o de una actividad económica.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/2/2016/economic/I">Impuestos indirectos</a></dt>
          <dd>Algunos municipios recaudan una parte del IVA y otros impuestos especiales.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/4/2016/economic/I">Transferencias corrientes</a></dt>
          <dd>Dinero que el ayuntamiento recibe del Estado y de la Comunidad Autónoma.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/3/2016/economic/I">Tasas y otros ingresos</a></dt>
          <dd>Precios públicos y contribuciones por contraprestaciones municipales.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/5/2016/economic/I">Ingresos patrimoniales</a></dt>
          <dd>Rentas de patrimonio del municipio. Son los beneficios sobre bienes que no se destinan a servicio público.</dd>
        </div>
      </dl>

      <h3 id="ingresos-de-capital"><small>2</small> Ingresos de capital</h3>
      <p>Proceden de la venta de propiedades municipales como solares o fincas. También pueden proceder de fondos europeos.</p>

      <dl>
        <div>
          <dt><a href="/presupuestos/partidas/6/2016/economic/I">Enajenación de inversiones reales</a></dt>
          <dd>Venta de solares y fincas rústicas.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/7/2016/economic/I">Transferencias de capital</a></dt>
          <dd>Ingresos de naturaleza no tributaria destinados a financiar gastos de capital.</dd>
        </div>
      </dl>

      <h3 id="ingresos-financieros"><small>3</small> Ingresos financieros</h3>
      <p>Pueden ser depósitos bancarios inmovilizados o créditos concedidos por entidades privadas, como bancos o aseguradoras.</p>

      <dl>
        <div>
          <dt><a href="/presupuestos/partidas/8/2016/economic/G">Activos financieros</a></dt>
          <dd>Devolución de fianzas o depósitos inmovilizados.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/9/2016/economic/G">Pasivos financieros</a></dt>
          <dd>Créditos solicitados a entidades privadas.</dd>
        </div>
      </dl>

      <hr />

      <h2 id="tipos-de-gasto">Tipos de gasto</h2>

      <figure>
        <%= image_tag 'samples/metro.jpg', class: 'pure-img' %>
        <figcaption>Mar de Cristal (Madrid) <br /> Daniel Erler.</figcaption>
      </figure>

      <p>¿Cómo usa el ayuntamiento el dinero de todos los vecinos? Aquí se detalla todo. Los gastos se pueden clasificar de dos formas: desde el punto de vista funcional (en qué se gasta) y económico (cómo se gasta). La cantidad de dinero es la misma, pero la vemos desde dos ángulos.</p>

      <h4>Tipos de gasto</h4>
      <ol>
        <li><a href="#gasto-funcional">Gasto funcional</a></li>
        <li><a href="#gasto-economico">Gasto económico</a></li>
      </ol>

      <hr class="light_separator" />

      <h3 id="gasto-funcional"><small>1</small> Gasto funcional</h3>
      <p>Es la más explicativa: nos dice, por ejemplo, cuánto se gasta en la recogida de basura o en instalaciones deportivas. También se la conoce como clasificación por partidas de gasto.</p>

      <p>En un presupuesto oficial se divide en áreas, y éstas a su vez en políticas, grupos y programas. Este nivel de profundidad permite saber con detalle a dónde va el dinero.</p>

      <dl>
        <div>
          <dt><a href="/presupuestos/partidas/0/2016/functional/G">Deuda pública</a></dt>
          <dd>Esta partida se destina a pagar la deuda acumulada por el ayuntamiento.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/1/2016/functional/G">Servicios públicos básicos</a></dt>
          <dd>Esta partida cubre las necesidades mínimas y obligatorias de un municipio.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/2/2016/functional/G">A. de protección y promoción social</a></dt>
          <dd>Es el dinero que se destina a la prevención y la asistencia. Por ejemplo, el fomento del empleo.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/3/2016/functional/G">P. de b. públicos de carácter preferente</a></dt>
          <dd>Afecta a los servicios que mejoran la calidad de vida: sanidad, educación, cultura y ocio.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/4/2016/functional/G">Actuaciones de carácter económico</a></dt>
          <dd>Aquí entra lo que ayuda a desarrollar el potencial de los distintos sectores económicos.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/9/2016/functional/G">Actuaciones de carácter general</a></dt>
          <dd>Aquí se agrupan los gastos del propio ayuntamiento y demás organismos públicos.</dd>
        </div>
      </dl>

      <h3 id="gasto-economico"><small>2</small> Gasto económico</h3>

      <p>Indica la naturaleza del gasto. Por ejemplo, “Gastos de personal”, que engloba los sueldos de todos los funcionarios según su categoría. Es similar a la clasificación económica de los ingresos. </p>

      <p>En un presupuesto oficial, los apartados principales se llaman capítulos. Y a su vez, cada capítulo se divide en artículos, conceptos y subconceptos.</p>

      <dl>
        <div>
          <dt><a href="/presupuestos/partidas/1/2016/economic/G">Gastos de personal</a></dt>
          <dd>Sueldos de funcionarios, indemnizaciones, cotizaciones y planes de pensiones para todo el personal contratado.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/2/2016/economic/G">Gastos corrientes y servicios</a></dt>
          <dd>Suministros, materiales y gastos de servicios o trabajos realizados por empresas ajenas contratadas.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/3/2016/economic/G">Gastos financieros</a></dt>
          <dd>Pago de intereses derivados de operaciones financieras.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/4/2016/economic/G">Transferencias corrientes</a></dt>
          <dd>Aportaciones a otras entidades o administraciones (estatales, autonómicas o empresas privadas) para financiar operaciones corrientes.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/5/2016/economic/G">Fondo de contingencia y otros imprevistos</a></dt>
          <dd>Son fondos que cubren situaciones de emergencia y gastos no previstos.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/6/2016/economic/G">Inversiones reales</a></dt>
          <dd>Creación de nuevos equipamientos o infraestructuras y adquisición de bienes inventariables.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/7/2016/economic/G">Transferencias de capital</a></dt>
          <dd>Pago de créditos para financiar operaciones de capital, que hayan financiado inversiones reales.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/8/2016/economic/G">Activos financieros</a></dt>
          <dd>Adquisición de activos financieros para la construcción de depósitos y fianzas exigidos.</dd>
        </div>
        <div>
          <dt><a href="/presupuestos/partidas/9/2016/economic/G">Pasivos financieros</a></dt>
          <dd>Pago de amortización de pasivos financieros (como por ejemplo, la deuda).</dd>
        </div>
      </dl>

      <hr />

      <h2>¿Cuánto debe tu municipio?</h2>

      <figure>
        <%= image_tag 'samples/retiro.jpg', class: 'pure-img' %>
        <figcaption>El Retiro (Madrid) <br /> Rimbaud Grégoire.</figcaption>
      </figure>

      <p>La deuda viva de un municipio indica lo que debe el ayuntamiento a los bancos y otras entidades financieras. No hay que confundirla con el total del déficit del municipio (la diferencia entre los ingresos y los gastos).</p>

      <p>La deuda viva sólo incluye lo que se debe a las entidades financieras.</p>

      <div class="note">
        <p>Unos municipios tienen mayor capacidad de endeudamiento que otros. Es posible que un municipio tenga más deuda que otro, pero si su economía es más fuerte, tendrá más capacidad para soportarla y reducirla.</p>
      </div>

      <hr />

      <h2>La ejecución presupuestaria</h2>

      <p>Aprobar un presupuesto no significa que se quede escrito en piedra. A lo largo del año surgen imprevistos que cambian la cantidad o la finalidad de los gastos. Estos cambios se anotan en otro documento: la <a href="/presupuestos/ejecucion/2016">ejecución presupuestaria</a>.</p>

      <div class="note">
        <p>Para saber si nuestro ayuntamiento ha planificado bien las cuentas sólo tenemos que comparar el presupuesto y la ejecución: ¿Ha gastado más de lo presupuestado, le ha sobrado dinero o se ha ajustado a lo previsto?.</p>
      </div>

      <div class="sources note">
        <h4>Fuentes</h4>
        <p>Para elaborar esta guía hemos tomado como referencia la estructura oficial de un presupuesto municipal, definida en la <a href="https://www.boe.es/buscar/doc.php?id=BOE-A-2008-19916">Orden EHA/3565/2008</a> y nos hemos inspirado en otros documentos como <a href="http://www.ocmcartagena.org/files/archive/Entendiendo-un-presupuesto-municipal.pdf">Entendiendo un presupuesto municipal</a> y <a href="https://docs.google.com/presentation/d/1oysDrJvlFxP0sKlzBalxvrV3lzSE5OCSKY7qd5yYpcA/pub?start=false&loop=false&delayms=3000&slide=id.p">Guía de introducción a los presupuestos municipales</a>.</p>
      </div>

    </article>
  </main>

</div>
