<main class="content gobierto_citizens-charters">

  <div class="charter-header">
    <div class="column">
      <h1>Anàlisi Mediambiental i Contaminació Acústica</h1>
      <%= image_tag('illustrations/personaliza.jpg') %>
    </div>
  </div>

  <div class="charter-subheader">
    <div class="column">
      <div class="left">
        <p class="subheader-title">Cumplimos con los compromisos de esta carta al</p>
        <div class="subheader-number">
          <p>86,8%</p>
          <div class="sparkline"></div>
        </div>
        <p class="subheader-title subheader-title--muted">Mejoramos un 5,4% respecto al año pasado</p>
      </div>
      <div class="right">
        <p class="subheader-title">Acerca de esta carta</p>
        L’Ajuntament de València està desple- gant en els últims mesos una intensa labor de modernització de la gestió pú- blica local. Hem normalitzat procediments, simpli- cat tràmits, acurtat terminis... incorpo- rant en la nostra labor diària la
        qualitat en el servici, inclosa la implementació de les modernes tecnologies i la millora contínua.
        <p><a href="#">Ver la carta completa</a></p>
        <p class="subheader-title--muted">Misión, Visión, Servicios, Unidad responsable...</p>
      </div>
    </div>
  </div>

  <div class="charter-container">
    <% 9.times do %>
    <div class="charter">
      <div class="charter-inner">
        <div>Realitzar les comprovacions, mesuraments i/o informes pertinents de les denúncies de sorolls entre particulars en un termini màxim de dues setmanes des de la visita als mateixos.</div>
        <div class="charter-number">
          <p>92.4%</p>
          <div class="sparkline"></div>
        </div>
        <small class="charter-text--muted">El nombre de denúncies resoltes en termini.</small>
      </div>
    </div>
    <% end %>
  </div>

</main>
