
<div class="column">

	<div class="pure-g block m_v_3">
		<div class="pure-u-1 pure-u-md-1-2">
			<h1>Opina sobre los presupuestos de Burjassot</h1>
			<p class="intro">Tu municipio quiere conocer tu opinión sobre en qué se debe emplear el dinero del Ayuntamiento, tu dinero</p>
		</div>
		<div class="pure-u-1 pure-u-md-1-2">
			<%= image_tag('illustrations/presupuestos.jpg', class: 'side_50') %>
		</div>
		
	</div>

	<div class="box p_v_2">

		<div class="inner center">

			<p><strong>Sólo te llevará 10 minutos</strong></p>

			<button class="gigantic"><%= link_to 'Participa en la consulta', 'consultation_budget-line' %></button>

			<p>Destinado a cualquier ciudadano de Madrid</p>

			<p>[<a href="user_signin">Login</a>]</p>

		</div>

	</div>

	<div class="center m_v_4">

		<div class="separator quarter"></div>

		<h2>Cómo funciona</h2>

		<div class="pure-g">
			
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="p_h_2">
					<p class="soft">1</p>
					<p>Te mostramos información de las partidas presupuestarias para que tengas contexto</p>
				</div>
			</div>
			
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="p_h_2">
					<p class="soft">2</p>
					<p>Opina sobre los temas a los que destinar más o menos recursos</p>
				</div>
			</div>
			
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="p_h_2">
					<p class="soft">3</p>
					<p>Tu ayuntamiento recibe la información y la utiliza para informar sus deciciones</p>
				</div>
			</div>

		</div>

		<div class="separator quarter"></div>

		<button class="small">Más información</button>

	</div>


</div>