<div class="column consultation desktop">

  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="consultation-text mb3">
        <%= image_tag 'illustrations/consultation_2.png', class: 'consultation-img-side' %>

        <p>Estas son todas las partidas sobre las que queremos pedirte opinión.</p>
        <p>Puedes dar tu opinión diciendo si piensas que habría que destinar más, menos o los mismos recursos.</p>

        <div class="intro-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="182" height="51" viewBox="0 0 182 51">
            <g fill="none" fill-rule="evenodd">
              <path stroke="#699EA3" d="M0.15234375,0.703125 C0.15234375,0.703125 46.2767269,42.1612884 176.684237,42.1612884"/>
              <polyline fill="#699EA3" points="167 50.167 182 41.834 167 33.5 167 50.167"/>
            </g>
          </svg>
        </div>
      </div>

      <div class="consultation-step">
        <a class="consultation-link" href="/sandbox/consultation_step3.html">
          <div class="bottom-info-small">
            <div class="teaser">
              <h2 class="consultation-q inline-block">Comenzar a opinar</h2>
              <div class="arrow-right"><i class="fas fa-arrow-right" aria-hidden="true"></i></div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2">
      <div class="consultation-group">
        <div class="consultation-card">
          <div class="card-title">
            <div class="consultation-title">Fiestas: actividades organizadas</div>
            <div class="consultation-figure">145,5€</div>
          </div>
        </div>
        <div class="consultation-card">
          <div class="card-title">
            <div class="consultation-title">Fiestas: actividades organizadas</div>
            <div class="consultation-figure">145,5€</div>
          </div>
        </div>
        <div class="consultation-card">
          <div class="card-title">
            <div class="consultation-title">Fiestas: actividades organizadas</div>
            <div class="consultation-figure">145,5€</div>
          </div>
        </div>
        <div class="consultation-card">
          <div class="card-title">
            <div class="consultation-title">Fiestas: actividades organizadas</div>
            <div class="consultation-figure">145,5€</div>
          </div>
        </div>
        <div class="consultation-card">
          <div class="card-title">
            <div class="consultation-title">Fiestas: actividades organizadas</div>
            <div class="consultation-figure">145,5€</div>
          </div>
        </div>
        <div class="consultation-card">
          <div class="card-title">
            <div class="consultation-title">Fiestas: actividades organizadas</div>
            <div class="consultation-figure">145,5€</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
