<div class="column consultation">
  <h2 class="consultation-lead mb2">Los 1.123€ de gasto por persona se reparten así - abre cada partida para opinar</h2>
</div>

<div id="app">
  <div class="consultation-box">
    <consultation-card v-for="card in cards" :card="card" :active="active"></consultation-card>
  </div>

  <budget-calculator :active="active"></budget-calculator>
  <description-modal v-if="modal" :current="current"></description-modal>
</div>

<template id="card">
  <div class="consultation-card" :class="{ active: card.toggleDesc }">
    <div class="card-title" @click="setActive(card, $event)">
      <div class="consultation-title">{{card.title}}</div>
      <div class="consultation-figure">{{card.figure}}</div>
    </div>

    <transition name="card" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave" v-bind:css="false">
      <div class="pure-u-5-5 card-content" v-if="card.toggleDesc">
        <div class="pure-g">
          <div class="pure-u-5-5">
            <div class="card-description" :class="{ absolute: card.hidden }">
              <div class="sep"></div>
              <div>
                {{card.description}}
                <div v-if="card.hidden" class="overlay"></div>
              </div>
            </div>
          </div>
        </div>

        <budget-box :card="card"></budget-box>
      </div>
    </transition>
  </div>
</template>

<template id="budget-box">
  <div class="budget-ask" :class="{ absolute: card.hidden }">
    <div v-if="card.hidden" class="read-more" @click="showModal(card)">...</div>
    <div class="pure-g">
      <div class="select-lead pure-u-5-5">Crees que se debería...</div>

      <div class="pure-u-5-5 select-info">
        <div class="pure-g">
          <div class="pure-u-1-3">Reducir</div>
          <div class="pure-u-1-3">Mantener</div>
          <div class="pure-u-1-3">Aumentar</div>
        </div>
      </div>

      <div class="pure-u-5-5">
        <div class="pure-g select-pct">
          <div class="pure-u-1-3">
            <div class="border">
              <button class="pct not-allowed" title="<h4 class='tip-headline'>Anda, esta partida no se puede tocar</h4><p>La administración central ha impuesto límites a los pagos de la deuda pendiente. Por lo que ni tu (ni tu ayuntamiento) podéis reducir lo que se dedica a pagar deuda, solo ampliarlo (para reducir la deuda más rápido)</p><button class='tip-button'>OK</button>">Reducir</button>
            </div>
          </div>
          <div class="pure-u-1-3">
            <div class="border">
              <button class="pct equal active">Mantener</button>
            </div>
          </div>
          <div class="pure-u-1-3">
            <div class="border">
              <button class="pct">Aumentar</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <span class="visibilityCheck"></span>
  </div>
</template>

<template id="budget-calculator">
  <div class="consultation-info">
    <div class="pure-g wrapper" v-if="active">
      <div class="pure-u-5-6">
        <div class="pure-g">
          <div class="pure-u-1-2">
            <div class="budget-base">
              <div class="budget-lead">Presupuesto base</div>
              <div class="budget-figure">1.234€</div>
            </div>
          </div>
          <div class="pure-u-1-2">
            <div class="budget-status" title="<h4 class='tip-headline'>Deuda</h4><p>El municipio tiene una deuda pendiente de 1,2M€, o 1.234€ por habitante. El año 2016 se destinan 138.000€ a pagar deuda.</p><h4 class='tip-headline'>¿Déficit o superávit?</h4><p>Con tus decisiones entraríamos en déficit anual: gastaríamos más de lo que ingresamos en el ejercicio y la deuda pendiente aumentaría. Puedes reevaluar tus decisiones para entrar en equilibrio.</p><button class='tip-button'>OK</button>">
              <div class="budget-lead">Superávit/Déficit</div>
              <div class="budget-figure">0€</div>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-u-1-6">
        <a href="#" class="budget-next"><i class="fas fa-arrow-right" aria-hidden="true"></i></a>
      </div>
    </div>

    <h4 v-else>Abre cada partida para expresar tu preferencia</h4>
  </div>
</template>

<template id="description-modal">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <h2 class="modal-header">{{current.title}}</h2>
          <div class="modal-body">{{current.description}}</div>
          <button class="modal-button" @click="hideModal">OK</button>
        </div>
      </div>
    </div>
  </transition>
</template>
