<div class="column consultation">
  <div class="consultation-intro-wrapper mb2">
    <%= image_tag 'illustrations/consultation_2.png', class: 'mt2 mb1 consultation-decoration' %>
    <h2 class="consultation-lead">Tu ayuntamiento invierte 695€ por habitante. En total: 2,1 millones de €</h2>

    <p>Recibe ingresos de impuestos directos y tasas (vivienda, vehículos, licencias para negocios...), y también del estado (para repartir lo que recauda de IRPF e IVA) y de otras administraciones.</p>
    <p class="mb2">En esta consulta queremos que expreses tu opinión a qué destinar una parte del presupuesto.</p>
    <a class="button-light mb2" href="/sandbox/consultation_faq.html">Preguntas frecuentes</a>
  </div>

  <a class="consultation-link" href="/sandbox/consultation_step3.html">
    <div class="bottom-info">
      <div class="teaser">
        <h2 class="consultation-q inline-block">Opina sobre el presupuesto</h2>
        <div class="arrow-right"><i class="fas fa-arrow-right" aria-hidden="true"></i></div>
      </div>

      <p>Mira como se reparte esa inversión, y opina sobre las prioridades</p>
    </div>
  </a>
</div>
