<div class="column consultation">

  <div class="consultation-faq">
    <div class="consultation-text">
      <a class="arrow-left" href="http://madrid.gobierto.test/sandbox/consultation_step2.html"><i class="fas fa-arrow-left" aria-hidden="true"></i></a>

      <h2 class="consultation-lead mt1">Preguntas sobre el proceso</h2>

      <p><a class="consultation-faq-q active" href="">¿En qué consiste la consulta de presupuestos de Sencelles?</a></p>
      <p>Recibe ingresos de impuestos directos y tasas (vivienda, vehículos, licencias para negocios...), y también del estado (para repartir lo que recauda de IRPF e IVA) y de otras administraciones.</p>
      <p><a class="consultation-faq-q" href="">¿Quién puede participar?</a></p>
      <p class="hidden"></p>
      <p><a class="consultation-faq-q" href="">¿Cuándo se puede participar?</a></p>
      <p class="hidden"></p>
      <p><a class="consultation-faq-q" href="">¿Por qué sólo se puede participar sobre algunas partidass?</a></p>
      <p class="hidden"></p>
      <p><a class="consultation-faq-q" href="">¿Por qué no se puede elegir el importe exacto que asignar a cada partida?</a></p>
      <p class="hidden"></p>
    </div>
  </div>
</div>
