<div class="column consultation">
  
  <%= image_tag 'illustrations/consultation_2.png' %>
  
  <h2 class="consultation-lead">Tu ayuntamiento invierte 1.123€ por habitante. En total: 123 millones de €</h2>
  <p class="mb3">Recibe ingresos del estado (para repartir lo que recauda de IRPF e IVA), de otras administraciones, y también de impuestos directos (tasas por vivienda, vehículos, licencias para negocios…)</p>
</div>

<a class="consultation-link" href="/sandbox/consultation_step3.html">
  <div class="bottom-info">
    <div class="teaser">
      <div class="arrow-right"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <h2 class="consultation-q">Mira como se reparte esa inversión, y opina sobre las prioridades</h2>
    </div>
  </div>
</a>
