
<div class="column">

	<div class="consultation_cont">

		<div class="pure-g">

			<div class="pure-u-1 pure-u-md-18-24">

				<header class="consultation" id="consultation_box">

					<h1>
						<div class="bl_counter">1/12</div>
						Inversión en Instalaciones Deportivas
					</h1>
					<p><small>¿Cuánto crees que se debería gastar en esta partida?</small></p>

				</header>

				<div class="tabs">
					<ul>
						<li class="active"><%= link_to 'Contexto', '', "data-tab-target": 'context' %></li>
						<li><%= link_to 'Opina', '', "data-tab-target": 'give_opinion' %></li>
					</ul>
				</div>

				<div class="pure-g tab active" data-tab="context">

					<div class="pure-u-1 pure-u-md-2-3 bl_content" >

						<p>Comentario editorial sobre el estado de las inversiones en deportes. Se podría reutilizar lo que se genere para una Historia. Se acompañaría de gráficas y métricas generadas automaticamente y que se podrían seleccionar. </p>

						<p>Comentario editorial sobre el estado de las inversiones en deportes. Se podría reutilizar lo que se genere para una Historia. Se acompañaría de gráficas y métricas generadas automaticamente y que se podrían seleccionar. </p>

					</div>

					<div class="pure-u-1 pure-u-md-1-3 bl_context">

						<p>Hemos aumentado el gasto un 5% en los últimos 5 años, y se ha reducido un 1.5% en el último año</p>

						<p>Gastamos un 10% más que la media provincial, y un 5% menos que la media nacional</p>

					</div>

					<div class="pure-u-1 continue center">

						<%= link_to 'Opina <i class="fas fa-arrow-right"></i>'.html_safe, '#consultation_box', "data-tab-target": 'give_opinion', class: 'button' %>
						<!-- <button>Opina <i class="fas fa-arrow-right"></i></button> -->

					</div>

				</div>

				<div class="bl_content tab" data-tab="give_opinion" >

					<div class="consultation_marker">
						<h3>Planificado para esta partida <i class="fas fa-question-circle tipsit" title="La cantidad que el Ayuntamiento propone como inversión para esta partida, basado en la inversión realizada en los últimos ejercicios y que contempla las iniciativas que se quieren llevar a cabo"></i></h3>
						<div class="qty">100.000€</div>
					</div>

					<div class="consultation_marker">

						<h3>Tu propuesta <i class="fas fa-question-circle tipsit" title="Para cada partida puedes proponer si para ti esta partida "></i></h3>

						<div class="pure-g">

							<div class="pure-u-1-3 reduce">

								<div class="option">
					        <input type="radio" id="opt_1" name="opt_1" value="1"/>
					        <label for="opt_1">
					          <span></span>
					          Reducir gasto un 10%
					        </label>
					      </div>

							</div>

							<div class="pure-u-1-3 mantain">

								<div class="option">
					        <input type="radio" id="opt_2" name="opt_1" value="1"/>
					        <label for="opt_2">
					          <span></span>
					          Mantener el gasto
					        </label>
					      </div>

							</div>

							<div class="pure-u-1-3 augment">

								<div class="option">
					        <input type="radio" id="opt_3" name="opt_1" value="1"/>
					        <label for="opt_3">
					          <span></span>
					          Aumentar el gasto un 10%
					        </label>
					      </div>

							</div>

						</div>

					</div>

					<div class="continue center">

						<a href="consultation_confirmation" class="button">Siguiente <i class="fas fa-arrow-right"></i></a>


					</div>


				</div>

			</div>

			<div class="pure-u-1 pure-u-md-6-24 consultation_sidebar">

				<i class="fas fa-help"><%= link_to '' %></i>

				<div class="consultation_marker">
					<h3>Inversión total planificada <i class="fas fa-question-circle tipsit" title="La suma de los importes inicialmente propuestos para las partidas de esta simulación. Recuerda que es solo una selección de partidas, por lo que esta cifra no coincide con el presupuesto total del municipio"></i></h3>
					<div class="qty">650.000€</div>
				</div>

				<div class="consultation_marker debt_marker ">
					<h3>Con tus decisiones <i class="fas fa-question-circle tipsit" title="Esta es la suma de los importes de las partidas teniendo en cuenta tus preferencias en cuanto a incrementos, disiminución o mantenimiento de los importes propuestos. Si con tus propuestas se pasa el total planificado, te indicaremos que entras en déficit."></i></h3>
					<div class="qty">650.000€</div>

					<div class="warning_text">
						<h4>Estás en déficit </h4>
						<p>Deberás recortar en otras partidas o aumentar tu endeudamiento</p>
					</div>

				</div>


			</div>

		</div>

	</div>


</div>
