<div class="column consultation">



  <div class="consultation-intro-wrapper">

    <%# image_tag 'illustrations/consultation_2.png', class: 'consultation-decoration' %>
    <img src="http://i.imgur.com/7Yiu2VU.png" class="consultation-decoration">

    <div class="consultation-intro-header">
      <h2>Qui Paga, Mana</h2>
      <h2><span class="soft">Decideix el pressuposto 2017</span></h2>
    </div>

    <p>En aquesta consulta hem descartat les despeses obligatòries i hem deixat totes les despeses variables perquè opinis sobre la seva importància.</p>

    <p>Una vegada finalitzat el procés, el borrador del pressupost s’integrarà amb les vostres respostes i fins amb una variació del 10% per àrea per conformar el pressupost definitiu de 2017. A més, les tendrem en compte en el següent any per saber les vostres prioritats.</p>

    <p>
      <a class="button_light" href="/paginas/consulta-preguntas-frecuentes-ca">Preguntas frecuentes</a>
      <a class="button_light" href="#">Bases</a>
    </p>

  </div>




  <a class="consultation-link" href="/sandbox/consultation_step2.html">
    <div class="bottom-info">
      <div class="teaser">
        <h2 class="consultation-q inline-block">¿Quieres opinar?</h2>
        <div class="arrow-right"><i class="fas fa-arrow-right" aria-hidden="true"></i></div>
      </div>

      <p>Es sencillo, y sólo te llevará unos minutos. Entre todos conseguiremos mejorar la eficiencia de nuestro ayuntamiento</p>
    </div>
  </a>

  <a class="consultation-deadline" href="/sandbox/consultation-faq.html">Consulta abierta hasta el 10 de marzo.</a>
</div>
