<div class="column">
  <div class="pure-g block header_block_inline m_b_1">
    <div class="pure-u-1 pure-u-md-12-24">
      <h2 class="with_description">
        Contratos
      </h2>
      <p>
        Visualización y análisis de los contratos adjudicados y las licitaciones del SITE_ENTITY. 
      </p>
    </div>
  </div>
  
  <main>

    <div class="pure-g gutters m_b_4">
      
      <div class="pure-u-1 pure-u-lg-1-4">
        <aside class="investments-home-aside--gap">
          VUE: FILTERS
        </aside>
      </div>

      <div class="pure-u-1 pure-u-lg-3-4">

        <div style="border: 1px solid #CCC; padding: 1em; margin-bottom: 2em; ">VUE: TABS NAV</div>

        <h1>Aplicación informática Gobierto para la visualización de información municipal</h1>
        <p>Breve descripción del contrato que idealmente estará disponible para que sirva para ilustrar el contenido del mismo. Breve descripción del contrato que idealmente estará disponible para que sirva para ilustrar el contenido del mismo. </p>

        <div class="pure-g p_2 bg-gray">

          <div class="pure-u-1 pure-u-lg-1-2">

            <label class="soft">Adjudicatario</label>

            <div class="">
              <strong class="d_block">Populate Tools SL</strong>
              B87344099
            </div>

          </div>

          <div class="pure-u-1 pure-u-lg-1-2">
            <table>
            <tr>
              <th class="left">Imp. adjudicación</th>
              <td>12.000 €</td>
            </tr>
            <tr>
              <th class="left">Imp. licitación</th>
              <td>12.000 €</td>
            </tr>
            <tr>
              <th class="left">Descuento</th>
              <td>12 %</td>
            </tr>
            <tr>
              <th class="left">Procedimiento</th>
              <td>Abierto</td>
            </tr>
            <tr>
              <th class="left">Tipo</th>
              <td>Servicios</td>
            </tr>
            </table>

          </div>

        </div>
        
        
      </div>
    
    </div>
  
  </main>

</div>

        