
<div class="column text_page">

	<header class="text_page_header">

		<h1>Tus notificaciones</h1>
		<p>Desde esta p치gina puedes descargar en formato reutilizable el contenido de este site. </p>

	</header>

	<!-- si tenemos m치s de un m칩dulo activado mostramos el navegador -->
	<menu>
	<ul>
		<li><%= link_to 'Presupuestos', '', id: 'section-budgets' %></li>
		<li><%= link_to 'Altos cargos y agendas', '', id: 'section-people' %></li>
		<li><%= link_to 'Indicadores', '', id: 'section-indicators' %></li>
		<li><%= link_to 'Participaci칩n', '', id: 'section-participation' %></li>
	</ul>
	</menu>

	<div class=""

</div>