<p>Hola,</p>

<p style="margin: 1em 0">
  Tu registro se ha completado con éxito. Ahora puedes interactuar en  como usuario registrado.
</p>

<p style="margin: 1em 0">
  <a href="http://wadus.com" style="background-color: #00909E; padding: 1em 2em; color: #FFF; display: inline-block; border-radius: 6px; font-weight: bold; text-decoration: none">
    Activa tu cuenta
  </a>
</p>

<p style="font-size: 12px; color: #999; margin: 1em 0">
  Si no te funciona, copia y pega este enlace en tu navegador: http://wadus.link.de.activaction.com
</p>

<p>
  Puedes gestionar tus alertas desde tu cuenta: http://sencelles.gobify.net/user/notifications
</p>
