<% content_for :javascript_module_link do %>
<%= javascript_packs_with_chunks_tag 'dashboards' %>
<% end %>
<% content_for :stylesheet_module_link do %>
<%= stylesheet_packs_with_chunks_tag 'dashboards' %>
<% end %>
<main class="gobierto-documents">
  <div class="column">
    <div class="pure-g gutters m_b_1" />
    <div class="pure-u-1 pure-u-lg-1-4">
      <p>Sidebar</p>
    </div>
    <div class="pure-u-1 pure-u-lg-3-4">
      <section class="pure-g gobierto-documents-header">
        <div class="gobierto-documents-header-left pure-u-1 pure-u-lg-3-4">
          <div class="gobierto-documents-header-left-bgc">
          </div>
          <%= image_tag('samples/bgc-sustentia-bnp.png', class: 'gobierto-documents-header-left-image', alt: '') %>
          <h2 class="gobierto-documents-header-title"><strong>Repositorio Documental</strong> de la FND</h2>
          <button type="button" class="gobierto-documents-header-btn gobierto-documents-header-btn-left">
            Explora la colección ↓
          </button>
          <button type="button" class="gobierto-documents-header-btn gobierto-documents-header-btn-right">
            Envía tus propuestas →
          </button>
        </div>
        <div class="gobierto-documents-header-right pure-u-1 pure-u-lg-1-4">
          <p class="gobierto-documents-header-right-text">Repositorio documental de buenas prácticas sobre derechos humanos y empresa con ejemplos de Colombia y el ámbito internacional. </p>
          <a href="#" class="gobierto-documents-header-right-about">Acerca de</a>
        </div>
      </section>
      <section class="gobierto-documents-sort">
        <a class="gobierto-documents-sort-btn" href="">Ultimos documentos</a>
        <a class="gobierto-documents-sort-btn" href="">Orden alfabético</a>
        <a class="gobierto-documents-sort-btn" href="">Más visitados</a>
      </section>
      <a href="gobierto_documents_item" class="gobierto-documents-element">
        <h3 class="gobierto-documents-element-title">Preguntas Frecuentes acerca de los Principios Rectores sobre las Empresas y los Derechos Humanos </h3>
        <p class="gobierto-documents-element-text">Aporta respuestas sencillas y claras a las preguntas más frecuentes planteadas sobre el tema de DDHH y Empresas. Aporta respuestas sencillas y claras a las preguntas más frecuentes planteadas sobre el tema de DDHH y Empresas.</p>
        <div class="pure-g gobierto-documents-element-topics">
          <div class="pure-u-1 pure-u-lg-1-3 gobierto-documents-element-topics-left">
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Organización</span>
              <span class="gobierto-documents-element-topics-element-text">ONU</span>
            </div>
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Temática</span>
              <span class="gobierto-documents-element-topics-element-text">Temática</span>
            </div>
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Año</span>
              <span class="gobierto-documents-element-topics-element-text">2014</span>
            </div>
          </div>
          <div class="pure-u-1 pure-u-lg-1-3 gobierto-documents-element-topics-right">
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Tipo documento</span>
              <span class="gobierto-documents-element-topics-element-text">Guía práctica</span>
            </div>
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Sector</span>
              <span class="gobierto-documents-element-topics-element-text">General</span>
            </div>
          </div>
        </div>
      </a>
      <a href="gobierto_documents_item" class="gobierto-documents-element">
        <h3 class="gobierto-documents-element-title">Líneas Directrices de la OCDE para Empresas Multinacionales REVISIÓN 2011 </h3>
        <p class="gobierto-documents-element-text">Código de conducta amplio, no vinculatorio que los países miembros de la OCDE y otros adherentes han acordado para promover el sector empresarial. Cuenta también con un proceso de mediación para atender quejas. Revisión 2011</p>
        <div class="pure-g gobierto-documents-element-topics">
          <div class="pure-u-1 pure-u-lg-1-3 gobierto-documents-element-topics-left">
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Organización</span>
              <span class="gobierto-documents-element-topics-element-text">ONU</span>
            </div>
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Temática</span>
              <span class="gobierto-documents-element-topics-element-text">Temática</span>
            </div>
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Año</span>
              <span class="gobierto-documents-element-topics-element-text">2014</span>
            </div>
          </div>
          <div class="pure-u-1 pure-u-lg-1-3 gobierto-documents-element-topics-right">
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Tipo documento</span>
              <span class="gobierto-documents-element-topics-element-text">Guía práctica</span>
            </div>
            <div class="gobierto-documents-element-topics-element">
              <span class="gobierto-documents-element-topics-element-title">Sector</span>
              <span class="gobierto-documents-element-topics-element-text">General</span>
            </div>
          </div>
        </div>
      </a>

    </div>
  </div>
  </div>
</main>
