<% content_for :javascript_module_link do %>
<%= javascript_packs_with_chunks_tag 'dashboards' %>
<% end %>
<% content_for :stylesheet_module_link do %>
<%= stylesheet_packs_with_chunks_tag 'dashboards' %>
<% end %>

<main class="gobierto-documents">
  <div class="column">
    <div class="pure-g gutters m_b_1" />
    <div class="pure-u-1 pure-u-lg-1-4">
      <p>Sidebar</p>
    </div>
    <div class="pure-u-1 pure-u-lg-3-4">
      <h3 class="gobierto-documents-item-element-title">Líneas Directrices de la OCDE para Empresas Multinacionales REVISIÓN 2011 </h3>
      <p class="gobierto-documents-item-element-text">Código de conducta amplio, no vinculatorio que los países miembros de la OCDE y otros adherentes han acordado para promover el sector empresarial. Cuenta también con un proceso de mediación para atender quejas. Revisión 2011</p>
      <div class="pure-g gobierto-documents-item-element-topics">
        <div class="pure-u-1 pure-u-lg-1-2 gobierto-documents-item-element-topics-left">
          <div class="gobierto-documents-item-element-topics-element">
            <span class="gobierto-documents-item-element-topics-element-title">Publicado por</span>
            <a href="" class="gobierto-documents-item-element-topics-element-text">ONU</a>
          </div>
          <div class="gobierto-documents-item-element-topics-element">
            <span class="gobierto-documents-item-element-topics-element-title">Tipo de Organización</span>
            <a href="" class="gobierto-documents-item-element-topics-element-text">Organismo internacional</a>
          </div>
          <div class="gobierto-documents-item-element-topics-element">
            <span class="gobierto-documents-item-element-topics-element-title">Ambito de la publicación</span>
            <a href="" class="gobierto-documents-item-element-topics-element-text">Internacional</a>
          </div>
          <div class="gobierto-documents-item-element-topics-element">
            <span class="gobierto-documents-item-element-topics-element-title">Año</span>
            <a href="" class="gobierto-documents-item-element-topics-element-text">2014</a>
          </div>
        </div>
        <div class="pure-u-1 pure-u-lg-1-2 gobierto-documents-item-element-topics-right">
          <div class="gobierto-documents-item-element-topics-element">
            <span class="gobierto-documents-item-element-topics-element-title">Tipo documento</span>
            <a href="" class="gobierto-documents-item-element-topics-element-text">Guía práctica</a>
          </div>
          <div class="gobierto-documents-item-element-topics-element">
            <span class="gobierto-documents-item-element-topics-element-title">Temática</span>
            <a href="" class="gobierto-documents-item-element-topics-element-text">General (DDHH y Empresa)</a>
          </div>
          <div class="gobierto-documents-item-element-topics-element">
            <span class="gobierto-documents-item-element-topics-element-title">Sector</span>
            <a href="" class="gobierto-documents-item-element-topics-element-text">General</a>
          </div>
        </div>
      </div>
      <article>
        <h3 class="gobierto-documents-document-title">DOCUMENTO</h3>
        <div class="pure-g gobierto-documents-document-element">
          <div class="pure-u-lg-1-24 gobierto-documents-document-element-icon">
            <svg width="26" height="32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.134 0H1.55C1.09 0 .714.374.714 1.1V31.43c0 .197.375.571.836.571h22.9c.462 0 .836-.374.836-.571V7.416c0-.398-.053-.526-.147-.62l-6.65-6.65A.505.505 0 0018.135 0z" fill="#E9E9E0"/><path d="M18.429.086v6.771h6.77L18.43.087z" fill="#D9D7CA"/><path d="M8.15 19.042a.918.918 0 01-.552-.186c-.594-.446-.674-.943-.637-1.281.104-.93 1.255-1.904 3.42-2.896.86-1.883 1.677-4.204 2.165-6.143-.57-1.241-1.125-2.851-.72-3.796.141-.33.317-.584.647-.694.13-.044.46-.098.58-.098.289 0 .542.37.721.599.169.215.551.67-.213 3.887.77 1.59 1.862 3.211 2.908 4.32.749-.134 1.393-.204 1.918-.204.895 0 1.438.209 1.659.639.183.355.108.77-.223 1.234-.318.445-.757.68-1.269.68-.694 0-1.504-.438-2.406-1.305a27.38 27.38 0 00-5.044 1.612c-.478 1.014-.936 1.83-1.362 2.43-.586.82-1.091 1.202-1.591 1.202zm1.522-2.929c-1.221.686-1.719 1.25-1.755 1.568-.005.053-.02.191.247.396.085-.027.582-.254 1.508-1.964zm7.793-2.538c.465.358.58.54.884.54.133 0 .514-.006.691-.253a.904.904 0 00.132-.237c-.07-.037-.164-.112-.672-.112-.288 0-.651.013-1.035.062zm-4.269-3.761a40.747 40.747 0 01-1.528 4.322 28.56 28.56 0 013.712-1.154 19.563 19.563 0 01-2.184-3.168zm-.347-4.836c-.056.02-.76 1.004.055 1.838.542-1.208-.03-1.846-.055-1.838zM24.45 32H1.55a.836.836 0 01-.836-.836v-8.878h24.572v8.878a.836.836 0 01-.836.836z" fill="#CC4B4C"/><path d="M6.934 30.286h-.937v-5.758h1.656c.244 0 .486.039.726.117.24.079.454.196.644.352.19.156.344.345.462.566.117.221.176.47.176.746 0 .292-.05.556-.149.793a1.658 1.658 0 01-.414.598c-.177.161-.391.286-.64.375-.25.088-.527.133-.829.133h-.695v2.078zm0-5.047v2.281h.86c.114 0 .227-.02.34-.059a.855.855 0 00.308-.191.936.936 0 00.227-.371 1.756 1.756 0 00.046-.914.935.935 0 00-.16-.351.948.948 0 00-.34-.281c-.145-.076-.338-.114-.578-.114h-.703zM15.41 27.247c0 .474-.05.879-.152 1.215-.101.336-.23.617-.387.844a1.99 1.99 0 01-.527.535c-.195.13-.384.228-.566.293a2.34 2.34 0 01-.5.125c-.151.018-.263.027-.336.027h-2.18v-5.758h1.734c.485 0 .91.077 1.278.23.367.154.672.359.914.614.242.254.423.545.543.87.12.326.18.66.18 1.005zm-2.78 2.351c.635 0 1.093-.203 1.374-.609.282-.406.422-.995.422-1.765 0-.24-.028-.477-.085-.711a1.52 1.52 0 00-.332-.637 1.753 1.753 0 00-.668-.461c-.282-.117-.646-.176-1.094-.176H11.7v4.36h.93zM17.723 25.239v1.813h2.407v.64h-2.407v2.594h-.953v-5.758h3.601v.71h-2.648z" fill="#fff"/></svg>
          </div>
          <div class="pure-u-lg-6-24 gobierto-documents-document-element-download">
            <a href="" class="gobierto-documents-document-element-download-text">Descarga el documento</a>
            <span class="gobierto-documents-document-element-download-size">PDF, 123 KB</span>
          </div>
          <div class="pure-u-lg-17-24 gobierto-documents-document-element-source">
            <span class="gobierto-documents-document-element-source-text">Fuente original</span>
            <a href="https://www.oecd.org/daf/inv/mne/MNEguidelinesESPANOL.pdf" class="gobierto-documents-document-element-source-link">https://www.oecd.org/daf/inv/mne/MNEguidelinesESPANOL.pdf</a>
          </div>
        </div>
      </article>
      <div id="gobierto-documents-viewer-pdf-container">
      </div>
    </div>
  </div>
  </div>
</main>

<script src="https://unpkg.com/pdfobject@2.2.6/pdfobject.min.js"></script>
<script>
PDFObject.embed("https://www.learningcontainer.com/wp-content/uploads/2019/09/sample-pdf-download-10-mb.pdf", "#gobierto-documents-viewer-pdf-container");
</script>

