<%= content_for :body_attributes do %>
  class="home-cms gobierto_participation"
<% end %>

<div class="home-cms">
  <div class="column">
    <div class="header">
      <h1>Getafe Gobierno Abierto</h1>
      <small>Bienvenido al portal de gobierto abierto de Getafe. Accede a todas nuestras iniciativas de transparencia y participación. </small>
    </div>
    <div class="pure-g">
      <div id="transparency" class="pure-u-1 pure-u-md-11-24 block flexbox">
        <div class="block-title">
          <div class="column">
            <h2>Transparencia</h2>
          </div>
        </div>
        <div class="block-content">
          <div class="column flexbox">
            <div>
              <h3>PRESUPUESTOS</h3>
              <ul>
                <li><a href="">Presupuesto</a></li>
                <li><a href="">Facturas</a></li>
                <li><a href="">Recibo</a></li>
              </ul>
            </div>
            <div>
              <h3>ALTOS CARGOS Y AGENDAS</h3>
              <ul>
                <li><a href="">Cargos</a></li>
                <li><a href="">Agendas</a></li>
                <li><a href="">Retribuciones</a></li>
                <li><a href="">Declaraciones</a></li>
                <li><a href="">Viajes</a></li>
              </ul>
            </div>
            <div>
              <h3>OBSERVATORIO ESTADÍSTICO</h3>
              <ul>
                <li><a href="">Población</a></li>
                <li><a href="">Economía</a></li>
                <li><a href="">Empleo</a></li>
              </ul>
            </div>
            <div>
              <h3>PORTAL DE TRANSPARENCIA</h3>
              <ul>
                <li><a href="">Corporación municipal</a></li>
                <li><a href="">Ciudadanos</a></li>
                <li><a href="">Urbanismo</a></li>
                <li><a href="">Contratos</a></li>
                <li><a href="">Acceso a la información</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-24"></div>
      <div id="participation" class="pure-u-1 pure-u-md-11-24 block flexbox">
        <div class="block-title">
          <div class="column">
            <h2>Participación</h2>
          </div>
        </div>
        <div class="block-content">
          <div class="column flexbox">
            <div>
              <h3>PRESUPUESTOS PARTICIPATIVOS</h3>
              <ul>
                <li><a href="">Proyectos</a></li>
                <li><a href="">Presupuesto</a></li>
              </ul>
            </div>
            <div>
              <h3>CONSULTAS</h3>
              <ul>
                <li><a href="">Audiencias previas</a></li>
                <li><a href="">Consultas</a></li>
              </ul>
            </div>
            <div>
              <h3>OTRAS</h3>
              <ul>
                <li><a href="">Asambleas</a></li>
                <li><a href="">Voluntariado</a></li>
                <li><a href="">Reglamento</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
[data-sidebar] {
  display: none;
}

.cms_page article {
  padding-left: 0;
}

.cms_page article h1,
.cms_page article h2 {
  border-bottom: 0;
  padding: 0;
}

article .breadcrumb,
article > h1 {
  display: none;
}
</style>

<script type="text/javascript">
$('[data-main]').removeClass('pure-u-md-3-4');
</script>
