<div class="container sandbox">
  <div class="column inner_cols three_cols">

    <% @templates.each do |template| %>
      <%= link_to template, "/sandbox/" + template %>
    <% end %>

  </div>
</div>
