<div class="intro_section clearfix">
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-3">
			<%= image_tag('illustrations/cuentas.jpg', class: 'img-fluid side_50 pb1') %>
			<h1 class="intro_headline">Tu municipio en cifras</h1>
			<p class="intro_desc">Explora los datos de Santander por categoría: economía, empleo, educación, sociedad.</p>
		</div>
		<div class="pure-u-1 pure-u-md-2-3">
			<div class="ml1 b"></div>
		</div>
	</div>
</div>

<header class="indicators_header">
	<div class="column">
		<ul class="indicators_sections">
			<li><a href="#" class="header_active">Economía</a></li>
			<li><a href="#">Empleo</a></li>
			<li><a href="#">Población</a></li>
			<li><a href="#">Sociedad</a></li>
			<li><a href="#">Presupuestos</a></li>
		</ul>
		<ul class="indicators_social">
			<li><a href="#">Seguir <i class="indicator_icon fa fa-check-circle"></i></a></li>
			<li><i class="fa fa-facebook" aria-hidden="true"></i></li>
			<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
		</ul>
	</div>
</header>
<header class="indicators_subheader">
	<div class="column">
		<ul class="indicators_subsections">
			<li><a href="#">Presupuestos</a></li>
			<li><a href="#">Deuda</a></li>
			<li><a href="#">Empresas</a></li>
			<li><a href="#">Empleo</a></li>
		</ul>
	</div>
</header>

<div class="column">
	<div class="pure-g mb2">
		<div class="pure-u-1 pure-u-md-1-3">
			<h2 class="section_headline">Economía</h2>
			<p class="section_desc">Santander es el municipio de la provincia con la renta bruta más alta. Su deuda está en niveles similares a otros municipios de su tamaño, y el PIB de la región es el 14º de España.</p>
			<p class="section_desc">Santander es el municipio de la provincia con la renta bruta más alta. Su deuda está en niveles similares a otros municipios de su tamaño, y el PIB de la región es el 14º de España.</p>
		</div>
		<div class="pure-u-1 pure-u-md-2-3">
			<div class="ml1 main_graphic"></div>
		</div>
	</div>
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="indicators_widget"></div>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="ml1 indicators_widget"></div>
		</div>
		<div class="pure-u-1 pure-u-md-1-3">
			<div class="ml1 indicators_widget"></div>
		</div>
	</div>
</div>