<div class="intro_section clearfix">
	<div class="column">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<%= image_tag('illustrations/cuentas.png', class: 'img-fluid side_50 pb1') %>
				<h1 class="intro_headline">Tu municipio en cifras</h1>
				<p class="intro_desc">Explora los datos de Santander por categoría: economía, empleo, educación, sociedad.</p>
			</div>
			<div class="pure-u-1 pure-u-md-2-3">
				<div class="b small_graphic"></div>
			</div>
		</div>
	</div>
</div>

<nav class="indicators_nav">
	<div class="indicators_header">
		<div class="column">
			<ul class="indicators_sections">
				<li class="indicators_section"><a href="#economia" class="active">Economía</a></li>
				<li class="indicators_section"><a href="#empleo">Empleo</a></li>
				<li class="indicators_section"><a href="#poblacion">Población</a></li>
				<li class="indicators_section"><a href="#sociedad">Sociedad</a></li>
				<li class="indicators_section"><a href="#presupuestos">Presupuestos</a></li>
			</ul>
			<ul class="pull-right indicators_social hidden-xs">
				<li class="indicators_section social_section"><a href="#">Seguir <i class="indicator_icon fa fa-check-circle"></i></a></li>
				<li class="indicators_section social_section"><i class="fa fa-facebook" aria-hidden="true"></i></li>
				<li class="indicators_section social_section"><i class="fa fa-twitter" aria-hidden="true"></i></li>
			</ul>
		</div>
	</div>
	<div class="indicators_subheader">
		<div class="column">
			<ul class="indicators_subsections">
				<li class="indicators_subsection"><a href="#">Presupuestos</a></li>
				<li class="indicators_subsection"><a href="#">Deuda</a></li>
				<li class="indicators_subsection"><a href="#">Empresas</a></li>
				<li class="indicators_subsection"><a href="#">Empleo</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="column">
	<section id="economia" class="mb4">
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-1-3">
				<h2 class="section_headline">Economía</h2>
				<p class="section_desc">Santander es el municipio de la provincia con la renta bruta más alta. Su deuda está en niveles similares a otros municipios de su tamaño, y el PIB de la región es el 14º de España.</p>
				<p class="section_desc">Santander es el municipio de la provincia con la renta bruta más alta. Su deuda está en niveles similares a otros municipios de su tamaño, y el PIB de la región es el 14º de España.</p>
			</div>
			<div class="pure-u-1 pure-u-md-2-3">
				<div class="main_graphic b"></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Número de empresas <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Evolución de la deuda viva <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="indicator_widget">
					<div class="widget_headline">La renta, comparada <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="empleo" class="mb4">
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-2-3">
				<h2 class="section_headline">Empleo</h2>
				<p class="section_desc">El desempleo ha bajado un 10% en el último año, situándose en niveles similares a los 2009. Ocupa el puesto 19º de las ciudades con menor desempleo de la provincia.</p>
			</div>
		</div>
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget small_graphic b"></div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget small_graphic b"></div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="small_graphic b"></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Parados por rango de edad <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Contratos por tipo <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="indicator_widget">
					<div class="widget_headline">La tasa de paro en Cantabria <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="poblacion" class="mb4">
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-2-3">
				<h2 class="section_headline">Población</h2>
				<p class="section_desc">La edad media del municipio es de 30,2 años, es una ciudad joven. Santander tiene menos población extranjera que la media española (10% frente a un 30%).</p>
			</div>
		</div>
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-3-3">
				<div class="main_graphic b"></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Nacimientos <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Defunciones <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="indicator_widget">
					<div class="widget_headline">Población por nacionalidad <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="sociedad" class="mb4">
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-1-3">
				<h2 class="section_headline">Sociedad</h2>
				<p class="section_desc">La edad media del municipio es de 30,2 años, es una ciudad joven. Santander tiene menos población extranjera que la media española (10% frente a un 30%).</p>
				<p class="section_desc">Santander es el municipio de la provincia con la renta bruta más alta. Su deuda está en niveles similares a otros municipios de su tamaño, y el PIB de la región es el 14º de España.</p>
			</div>
			<div class="pure-u-1 pure-u-md-2-3">
				<div class="main_graphic b"></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-4">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Número de colegios <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-4">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Número de hospitales <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-4">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Número de vehículos <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-4">
				<div class="indicator_widget">
					<div class="widget_headline">Viviendas <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="presupuestos" class="mb4">
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-2-3">
				<h2 class="section_headline">Presupuestos</h2>
				<p class="section_desc">La edad media del municipio es de 30,2 años, es una ciudad joven. Santander tiene menos población extranjera que la media española (10% frente a un 30%).</p>
			</div>
		</div>
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-3-3">
				<div class="main_graphic b"></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Inversión por habitante <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="mr_widget indicator_widget">
					<div class="widget_headline">Coste de la deuda <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="indicator_widget">
					<div class="widget_headline">Presión fiscal comparada <span class="widget_info pull-right">i</span></div>
					<div class="widget_body"></div>
				</div>
			</div>
		</div>
	</section>
</div>