<div class="intro_section clearfix">
	<div class="column">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-2-5">
				<p class="intro_desc">Conoce Santander a través de sus principales cifras: nuestra población, economía, empleo, sociedad.</p>
			</div>
			<div class="pure-u-1 pure-u-md-3-5">
				<%= image_tag('illustrations/integra.jpg', class: 'img-fluid side_50 pb1') %>
			</div>
		</div>
	</div>
</div>

<div class="column">
	
	<section id="poblacion" class="mb4">
		<div class="pure-g mb2">
			<div class="separator"></div>
			<div class="pure-u-1 pure-u-md-2-3">
				<h2 class="section_headline">Población</h2>
				<p class="section_desc">La edad media del municipio es de 30,2 años, es una ciudad joven. Santander tiene menos población extranjera que la media española (10% frente a un 30%).</p>
			</div>
		</div>
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-3-3">
				<div id="age_distribution" class="main_graphic">
					<h4 class="chart_headline">Distribución de la población en Santander</h4>
				</div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Población <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body">
						<span class="widget_figure">330.212</span>
						<span class="pull-right widget_pct">1,5% <i class="fa fa-caret-up positive" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Nacimientos <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body">
						<span class="widget_figure">2.341</span>
						<span class="pull-right widget_pct">0,2% <i class="fa fa-caret-up positive" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="indicator_widget">
					<div class="widget_headline">Defunciones <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body">
						<span class="widget_figure">2.132</span>
						<span class="pull-right widget_pct">0,3% <i class="fa fa-caret-up positive" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section id="empleo" class="mb4">
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-2-3">
				<h2 class="section_headline">Empleo</h2>
				<p class="section_desc">El desempleo ha bajado un 10% en el último año, situándose en niveles similares a los 2009. Ocupa el puesto 19º de las ciudades con menor desempleo de la provincia.</p>
			</div>
		</div>
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr small_graphic b"></div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr small_graphic b"></div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="small_graphic b"></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Parados por rango de edad <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Contratos por tipo <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="indicator_widget">
					<div class="widget_headline">La tasa de paro en Cantabria <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body"></div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section id="economia" class="mb4">
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr">
					<h2 class="section_headline">Economía</h2>
					<p class="section_desc">Santander es el municipio de la provincia con la renta bruta más alta. Su deuda está en niveles similares a otros municipios de su tamaño, y el PIB de la región es el 14º de España.</p>
					<p class="section_desc">Santander es el municipio de la provincia con la renta bruta más alta. Su deuda está en niveles similares a otros municipios de su tamaño, y el PIB de la región es el 14º de España.</p>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-2-3">
				<div class="main_graphic b"></div>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Número de empresas <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body">
						<span class="widget_figure">1.345€</span>
						<span class="pull-right widget_pct">4,5% <i class="fa fa-caret-up positive" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Evolución de la deuda viva <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body">
						<span class="widget_figure">1.345€</span>
						<span class="pull-right widget_pct">4,5% <i class="fa fa-caret-up positive" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="indicator_widget">
					<div class="widget_headline">La renta, comparada <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body">
						<span class="widget_figure">1.345€</span>
						<span class="pull-right widget_pct">4,5% <i class="fa fa-caret-up positive" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="presupuestos" class="mb4">
		<div class="pure-g mb2">
			<div class="pure-u-1 pure-u-md-2-3">
				<h2 class="section_headline">Presupuestos</h2>
				<p class="section_desc">La edad media del municipio es de 30,2 años, es una ciudad joven. Santander tiene menos población extranjera que la media española (10% frente a un 30%).</p>
			</div>
		</div>
		<div class="pure-g">
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Inversión por habitante <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Coste de la deuda <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="indicator_widget">
					<div class="widget_headline">Presión fiscal comparada <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body"></div>
				</div>
			</div>
			
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Inversión por habitante <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="r_mr indicator_widget">
					<div class="widget_headline">Coste de la deuda <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body"></div>
				</div>
			</div>
			<div class="pure-u-1 pure-u-md-1-3">
				<div class="indicator_widget">
					<div class="widget_headline">Presión fiscal comparada <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></div>
					<div class="widget_body"></div>
				</div>
			</div>
		</div>
	</section>
	
</div>
