<%= content_for :body_attributes do %> class="gobierto_investments" <% end %>

<div class="column">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-1-3">
      <aside>
        <h4 class="investments-aside--heading">Detalle de proyecto</h4>
        <div class="investments-aside--block">
          <h6 class="investments-aside--block-head">Estado</h6>

          <% steps = ['Totes', 'En estudi · 28 / 04 / 16', 'Programat · 28 / 05 / 16', 'Redacció · 28 / 04 / 16', 'Licitació · 13 / 11 /
          17', 'Execució · 6 / 04 / 18', 'Finalitzat · 28 / 04 / 19'] %>

          <nav class="investments-aside--steps">
            <ul>
              <% steps.each do |step| %>
              <li><a href=""><%= step %></a></li>
              <% end %>
            </ul>
          </nav>

          <a href="" class="investments-aside--link">ver detalle de evolución</a>
        </div>
      </aside>
    </div>

    <div class="pure-u-1 pure-u-lg-2-3">
      <main>
        <h1>EDXXX-1 Actuacions i millores col·lectives</h1>
        <p>
          La remodelació i reurbanització de la C-245 integrarà una nou carril bici, i un carril bus segregat i continu de 13 quilòmetres
          entre Castelldefels i Cornellà. La plataforma segregada per als autobusos permetrà augmentar la velocitat comercial almenys en un
          25% en els trams urbans i guanyar puntualitat en …. ver más
        </p>
        <img src="http://lorempixel.com/400/200/sports/1" alt="" />
        <div>
          <div>
            <div>Edificio</div>
            <div>Edificis educatius</div>
          </div>
          <div>
            <div>Servicio</div>
            <div>Direcció d'Ensenyament</div>
          </div>
          <div>
            <div>Tareas</div>
            <div>
              Actuacions instal·lació de línies de vida <br />
              Actuacions a l'instal.lació d'alarmes (adequació normativa) <br />
              Actuacions derivades de normativa de baixa tensió <br />
              Actuacions derivades de normativa eficiència energètica <br />
              Actuacions derivades compliment normativa legionel.la <br />
              Actuacions derivades compliment normativa extinció incendis <br />
              Millores - Substitució de tubs fluorescents pet TL8 (13 equip) <br />
              Millores - Domòtica (21 equipaments)
            </div>
          </div>
          <div>
            <div>Contrato y facturación</div>
            <div>Ver ficha</div>
          </div>
          <div>
            <div>Documentos</div>
            <div>Memorias</div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
