<%= content_for :body_attributes do %>
  class="theme-participation gobierto_participation"
<% end %>

<div class="gradient-bg">
  <div class="column">

    <div class="flex_container">

      <% for i in [
        "¿Qué harías para reducir la contaminación en la ciudad?",
        "¿Cómo podemos fomentar el uso de la bicicleta?",
        "¿Qué podemos hacer para reducir el uso del coche?",
        "¿Qué añadirías al sistema de transporte para que lo usases más?",
        "Ideas generales sobre medio ambiente"

      ]
      %>

        <a href="participation_group_contributions_container" class="content_block themed light" >

          <h3><%= i %></h3>
          <p>Generemos y valoremos entre todos ideas para reducir la contaminación en Alcobendas</p>

          <div class="meta right">
            <div class="ib"><i class="fas fa-comment"></i> 30</div>
            <div class="ib"><i class="fas fa-users"></i> 50</div>
          </div>

        </a>
      <% end %>

    </div>
  </div>
</div>
