<%= content_for :body_attributes do %>
  class="theme-participation gobierto_participation"
<% end %>

<div class="column">
  <div class="pure-g">
    <div class="pure-u-1 center slim_headline">
      <p>Tus ideas ayudan a mejorar Alcobendas y la vida de todos los que residimos aquí. Aporta tus mejores ideas en nuestros <strong>espacios permanentes de participación</strong>.</p>
    </div>

    <div class="pure-u-1">
      <div class="pure-g three_by_three small_column">
        <% for i in [
          'Cooperación, Sensibilización y Ayuda Humanitaria',
          'Cultura',
          'Deportes',
          'Educación',
          'Integración Social e Inmigración',
          'Mayores',
          'Medio Ambiente',
          'Mujer e Igualdad',
          'Participación Ciudadana',
          'Salud y Bienestar Social',
          'Consumo',
          'Juventud e Infancia',
          'Comercio',
          'Urbanismo']
        %>
          <%= render 'theme_teaser', name: i, description: 'Bibliotecas, centros culturales, programación', meta: false %>
        <% end %>

      </div>
    </div>
  </div>
</div>
