<%= content_for :body_attributes do %>
  class="theme-participation gobierto_participation content"
<% end %>

<div class="column">

  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-18-24">
      <article class="news_article">
        <h3>Introducción</h3>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>

        <h3>¿Por qué lanzamos este proceso?</h3>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>

        <h3>Cómo participar</h3>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>

        <h3>Reuniones presenciales</h3>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>

        <h3>Ayuda</h3>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>
        <p>¿Qué tiene que ver la Violencia contra las mujeres contigo? ¿y con nuestra Ciudad? Es un problema colectivo en el que está implicada toda la sociedad. Es necesario establecer redes de colaboración, cooperación y corresponsabilidad. Entérate de que tu fuerza es necesaria para atacar la expresión más brutal de la desigualdad.</p>
      </article>
    </div>

    <div class="pure-u-1 pure-u-lg-1-24"></div>

    <div class="pure-u-1 pure-u-lg-5-24">
      <h4 class="with_light_separator m_t_1">Documentos relacionados</h4>
      <div class="document_list m_b_2">
        <div class="document">
          <a href="#" title="Inventario_bienes_Sueca.pdf">Inventario_bienes_Sueca.pdf</a>
          <div class="soft">
            <small>PDF · 234kb</small>
          </div>
        </div>

        <div class="document">
          <a href="#" title="Inventario_bienes_Sueca_Entes_y_Organizaciones.pdf">Inventario_bienes_Sueca_Entes_y_Organizaciones.pdf</a>
          <div class="soft">
            <small>PDF · 234kb</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
