<div class="column">

  <div class="button">Button</div>

  <div class="button light">Button light</div>

  <div class="button soft">Button soft</div>

  <div class="button small">Button small</div>

</div>
