<div class="column">

  <h1>Buttons</h1>
  <div class="button">Button</div>

  <div class="button light">Button light</div>

  <div class="button soft">Button soft</div>

  <div class="button small">Button small</div>

  <div class="button small rounded">Button small rounded</div>

  <div class="button outline rounded">Button rounded</div>

  <hr class="m_v_3">

  <h1>Responsive grid</h1>

  <h2>Normal padding</h2>
  <div class="pure-g two_by_two">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="content_block p_1">
        <h2>2x2</h2>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2">
      <div class="content_block p_1">
        <h2>2x2</h2>
      </div>
    </div>
  </div>

  <div class="pure-g three_by_three">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="content_block p_1">
        <h2>3x3</h2>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-3">
      <div class="content_block p_1">
        <h2>3x3</h2>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-3">
      <div class="content_block p_1">
        <h2>3x3</h2>
      </div>
    </div>
  </div>

  <div class="pure-g four_by_four">
    <div class="pure-u-1 pure-u-md-1-4">
      <div class="content_block p_1">
        <h2>4x4</h2>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-4">
      <div class="content_block p_1">
        <h2>4x4</h2>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-4">
      <div class="content_block p_1">
        <h2>4x4</h2>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-4">
      <div class="content_block p_1">
        <h2>4x4</h2>
      </div>
    </div>
  </div>

</div>
