<div class="column">
  <div class="block">
    <div class="pure-g header_block_inline m_b_1">
      <div class="pure-u-1 pure-u-md-12-24">
        <h2 class="with_description">¿Cuál es tu contribución al presupuesto del Ayuntamiento de Mataró?</h2>
        <p>Parte del presupuesto de tu municipio se financia directamente de impuestos y tasas locales. Calcula cuánto aportas tú al presupuesto de acuerdo a tu vivienda, vehículos...</p>
      </div>

      <div class="pure-u-1 pure-u-md-12-24 right">
        <%= image_tag('illustrations/presupuestos.jpg', class: 'medium_img') %>
      </div>
    </div>

    <div class="pure-g m_b_4">
      <div class="pure-u-1">
        <div class="receipt">
          <div class="padding">

            <div class="pure-g m_b_1">
              <div class="pure-u-1 pure-u-md-5-24 receipt_item">Inmueble</div>
              <div class="pure-u-1 pure-u-md-10-24 receipt_dropdown">
                <select name="select">
                  <option value="value1" selected>Elige…</option>
                  <option value="value2">Ninguno (vives de alquiler)</option>
                  <option value="value3">Un inmueble</option>
                  <option value="value4">Dos inmuebles</option>
                  <option value="value5">Tres o más inmuebles</option>
                </select>
              </div>
              <div class="pure-u-1 pure-u-md-2-24 receipt_separator"></div>
              <div class="pure-u-1 pure-u-md-7-24 receipt_calc">
                <div class="bg">
                  <small>Define tus inmuebles para calcular</small>
                  <span>0€</span>
                </div>
              </div>
            </div>

            <div class="pure-g m_b_1">
              <div class="pure-u-1 pure-u-md-5-24 receipt_item">Vehículo</div>
              <div class="pure-u-1 pure-u-md-10-24 receipt_dropdown">
                <select name="select">
                  <option value="value1" selected>Elige…</option>
                  <option value="value2">Coche pequeño (12 caballos fiscales)</option>
                  <option value="value3">Coche mediano (18 caballos fiscales)</option>
                  <option value="value4">Coche grande (24 caballos fiscales)</option>
                </select>
              </div>
              <div class="pure-u-1 pure-u-md-2-24 receipt_separator"></div>
              <div class="pure-u-1 pure-u-md-7-24 receipt_calc">
                <div class="bg">
                  <small>Define tus vehículos para calcular</small>
                  <span>151,67€</span>
                </div>
              </div>
            </div>

            <div class="pure-g m_b_1">
              <div class="pure-u-1 pure-u-md-5-24 receipt_item">Vehículo adicional</div>
              <div class="pure-u-1 pure-u-md-10-24 receipt_dropdown">
                <select name="select">
                  <option value="value1" selected>Elige…</option>
                  <option value="value2">Ninguno</option>
                  <option value="value3">Un coche</option>
                  <option value="value4">Dos coches o más</option>
                </select>
              </div>
              <div class="pure-u-1 pure-u-md-2-24 receipt_separator"></div>
              <div class="pure-u-1 pure-u-md-7-24 receipt_calc">
                <div class="bg">
                  <small>Define tus vehículos adicionales para calcular</small>
                  <span>0€</span>
                </div>
              </div>
            </div>

            <div class="pure-g m_b_1">
              <div class="pure-u-1 pure-u-md-5-24 receipt_item">Unidad familiar</div>
              <div class="pure-u-1 pure-u-md-10-24 receipt_dropdown">
                <select name="select">
                  <option value="value1" selected>Elige…</option>
                  <option value="value2">Un adulto</option>
                  <option value="value3">Dos adultos</option>
                  <option value="value4">Dos adultos y un menor</option>
                  <option value="value5">Dos adultos y dos menores</option>
                </select>
              </div>
              <div class="pure-u-1 pure-u-md-2-24 receipt_separator"></div>
              <div class="pure-u-1 pure-u-md-7-24 receipt_calc">
                <div class="bg">
                  <small>Define tus unidad familiar para calcular</small>
                  <span>74,04€</span>
                </div>
              </div>
            </div>

            <div class="pure-g m_b_1">
              <div class="pure-u-1 pure-u-md-5-24 receipt_item">Vado</div>
              <div class="pure-u-1 pure-u-md-10-24 receipt_dropdown">
                <select name="select">
                  <option value="value1" selected>Elige…</option>
                  <option value="value2">No</option>
                  <option value="value3">Sí</option>
                </select>
              </div>
              <div class="pure-u-1 pure-u-md-2-24 receipt_separator"></div>
              <div class="pure-u-1 pure-u-md-7-24 receipt_calc">
                <div class="bg">
                  <small>Define tu vado para calcular</small>
                  <span>0€</span>
                </div>
              </div>
            </div>
          </div>

          <div class="padding receipt_result">
            <div class="pure-g">
              <div class="pure-u-1 pure-u-md-15-24"><h3>Tu contribución a los presupuestos del Ayuntamiento de Valencia</h3></div>
              <div class="pure-u-1 pure-u-md-6-24 receipt_separator soft"></div>
              <div class="pure-u-1 pure-u-md-3-24 receipt_result_number">225,71€</div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3">
        <h2 class="m_v_1">Detalle de tu contribución</h2>

        <div class="desktop_only">
          <p class="ib m_v_0 p_h_r_0_5">Compártelo</p>

          <div class="social_links_container ib" data-share>
            <a href="#" class="social_share twitter" data-share-network="twitter" data-track-event="Social Share|Click Twitter|Header"><i class="fa fa-twitter"></i></a>
            <a href="#" class="social_share facebook" data-share-network="facebook" data-track-event="Social Share|Click Facebook|Header"><i class="fa fa-facebook"></i></a>
            <% pending do %>
              <a href="#embed-graph-code" class="code open_modal"><i class="fa fa-code"></i></a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-2-3">
        <div class="receipt_bill">
          <% for i in [
            'Bienestar comunitario',
            'Seguridad y movilidad ciudadana',
            'Deuda pública',
            'Servicios de carácter general',
            'Vivienda y urbanismo',
            'Cultura'
          ] %>
            <div class="bill_row">
              <div class="toggle"><i class="fa fa-plus"></i></div>
              <div class="line"><%= i %></div>
              <div class="figure">79,18€</div>

              <div class="hidden children">

                <% for i in [
                  'Servicios sociales y promoción social',
                  'Medio ambiente',
                  'Transporte público',
                  'Administración financiera y tributaria',
                  'Educación',
                  'Deporte',
                  'Comercio, turismo y pequeñas y medianas empresas',
                  'Órganos de gobierno',
                  'Fomento del empleo',
                  'Transferencias a otras administraciones públicas',
                  'Infraestructuras',
                  'Otras actuaciones de carácter económico',
                  'Sanidad'
                ] %>
                  <div class="bill_row_child">
                    <div class="line"><%= i %></div>
                    <div class="figure">32,99€</div>
                  </div>
                <% end %>

              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
$('.bill_row').on('click', function() {
  $(this)
    .toggleClass('toggled')
    .find('.fa').toggleClass('fa-plus fa-minus')
    .parent().siblings('.children').toggleClass('hidden');
}).find('.children').click(function(e) {
  return false;
});
</script>
