<div class="column">

	<div class="padded_cols example pure-g">

		<div class="pure-u-md-1-4">
			<div class="padded">
				1-4
			</div>
		</div>

		<div class="pure-u-md-1-4">
			<div class="padded">
				2-4
			</div>
		</div>

		<div class="pure-u-md-1-4">
			<div class="padded">
				3-4
			</div>
		</div>

		<div class="pure-u-md-1-4">
			<div class="padded">
				4-4
			</div>
		</div>

    <div class="pure-u-md-1-4">
			<div class="padded">
				1-4
			</div>
		</div>

		<div class="pure-u-md-1-4">
			<div class="padded">
				2-4
			</div>
		</div>

		<div class="pure-u-md-1-4">
			<div class="padded">
				3-4
			</div>
		</div>

		<div class="pure-u-md-1-4">
			<div class="padded">
				4-4
			</div>
		</div>

	</div>

	<div class="padded_cols example pure-g">

		<div class="pure-u-md-1-6">
			<div class="padded">
				1-6
			</div>
		</div>

		<div class="pure-u-md-1-6">
			<div class="padded">
				2-6
			</div>
		</div>

		<div class="pure-u-md-1-6">
			<div class="padded">
				3-6
			</div>
		</div>

		<div class="pure-u-md-1-6">
			<div class="padded">
				4-6
			</div>
		</div>

		<div class="pure-u-md-1-6">
			<div class="padded">
				5-6
			</div>
		</div>

		<div class="pure-u-md-1-6">
			<div class="padded">
				6-6
			</div>
		</div>

	</div>

</div>
