
<div class="column">

	<div class="block">
		<h2>Tus alertas</h2>
	</div>

	<div class="pure-g pure-g-ext-1-3">

		<div class="pure-u-1 pure-u-md-1-3 padded_line_box compact">
			<h3>Cada cuánto</h3>

			<form>

				<div class="form_item options_cont compact">

          <div class="option">
            <input type="radio" id="opt_A_1" name="opt_A" value="1" checked />
            <label for="opt_A_1">
              <span></span>
              Sobre la marcha
            </label>
          </div>

          <div class="option">
            <input type="radio" id="opt_A_2" name="opt_A" value="2"/>
            <label for="opt_A_2">
              <span></span>
              Resumen cada hora
            </label>
          </div>

          <div class="option">
            <input type="radio" id="opt_A_3" name="opt_A" value="2"/>
            <label for="opt_A_3">
              <span></span>
              Resumen diario
            </label>
          </div>

          <div class="option">
            <input type="radio" id="opt_A_4" name="opt_A" value="2"/>
            <label for="opt_A_4">
              <span></span>
              Resumen semanal
            </label>
          </div>

        </div>

      </form>

		</div>

		<div class="pure-u-1 pure-u-md-1-3 padded_line_box compact">
			
			<h3>Áreas</h3>

			<form>

				<div class="form_item">
	          
          <div class="options compact">

            <div class="option">
              <input type="hidden" name="permission_1" value="0"/>
              <input type="checkbox" id="permission_1" name="permission_1" value="1"/>
              <label for="permission_1">
                <span></span>
                Presupuestos
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permission_1" value="0"/>
              <input type="checkbox" id="permission_2" name="permission_1" value="1"/>
              <label for="permission_2">
                <span></span>
                Altos cargos y agendas
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_3" name="permission_1" value="1"/>
              <label for="permission_3">
                <span></span>
                Indicadores
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_4" name="permission_1" value="1"/>
              <label for="permission_4">
                <span></span>
                Participación
              </label>
            </div>

          </div>

        </div>

      </form>
    

		</div>

		<div class="pure-u-1 pure-u-md-1-3 padded_line_box compact">
			
			<h3>Personas</h3>

			
			<form>

				<div class="form_item">
	          
          <div class="options compact">

            <div class="option">
              <input type="hidden" name="permission_C_1" value="0"/>
              <input type="checkbox" id="permission_C_1" name="permission_1" value="1"/>
              <label for="permission_C_1">
                <span></span>
                Rafa García García, Alcade de Burjassot
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permission_1" value="0"/>
              <input type="checkbox" id="permission_C_2" name="permission_1" value="1"/>
              <label for="permission_C_2">
                <span></span>
                Roc LLuis Senent Sánchez, Concejal Delegado del Área de Promoción Económica
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_C_3" name="permission_1" value="1"/>
              <label for="permission_C_3">
                <span></span>
                Roc LLuis Senent Sánchez, Concejal Delegado del Área de Promoción Económica
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_C_4" name="permission_1" value="1"/>
              <label for="permission_C_4">
                <span></span>
                Roc LLuis Senent Sánchez, Concejal Delegado del Área de Promoción Económica
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permission_1" value="0"/>
              <input type="checkbox" id="permission_C_2" name="permission_1" value="1"/>
              <label for="permission_C_2">
                <span></span>
                Roc LLuis Senent Sánchez, Concejal Delegado del Área de Promoción Económica
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_3" name="permission_1" value="1"/>
              <label for="permission_3">
                <span></span>
                Roc LLuis Senent Sánchez, Concejal Delegado del Área de Promoción Económica
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_4" name="permission_1" value="1"/>
              <label for="permission_4">
                <span></span>
                Roc LLuis Senent Sánchez, Concejal Delegado del Área de Promoción Económica
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permission_1" value="0"/>
              <input type="checkbox" id="permission_2" name="permission_1" value="1"/>
              <label for="permission_2">
                <span></span>
                Roc LLuis Senent Sánchez, Concejal Delegado del Área de Promoción Económica
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_3" name="permission_1" value="1"/>
              <label for="permission_3">
                <span></span>
                Roc LLuis Senent Sánchez, Concejal Delegado del Área de Promoción Económica
              </label>
            </div>

            <div class="option">
              <input type="hidden" name="permissions" value="0"/>
              <input type="checkbox" id="permission_4" name="permission_1" value="1"/>
              <label for="permission_4">
                <span></span>
                Roc LLuis Senent Sánchez, Concejal Delegado del Área de Promoción Económica
              </label>
            </div>

          </div>

        </div>

      </form>
    

		</div>

	</div>

	<div class="actions_block">

		<button class="">Guardar</button>

	</div>

</div>