  <div class="main">
    <div id="selectors">
        <ul id="measure_selector" class="measure buttons">
           <li><a href="javascript:void(null)" id="per_person" class ="measure button buttonSelected">por habitante</a></li><!--
        --><li><a href="javascript:void(null)" id="percentage" class ="measure button">% sobre el total</a></li>
        </ul>
        <ul id="context_selector" class="context buttons">
           <li><a href="javascript:void(null)" id="mean_national" class ="context button buttonSelected">País</a></li><!--
        --><li><a href="javascript:void(null)" id="mean_autonomy" class ="context button">CCAA</a></li><!--
        --><li><a href="javascript:void(null)" id="mean_province" class ="context button">Provincia</a></li>
        </ul>
    </div>
    <div id="vis_distribution"></div>
  </div>
    
