<% content_for :breadcrumb_current_item do %>
  <h1>
    <%= link_to t(".news"), gobierto_participation_pages_path %>
  </h1>
<% end %>

<div class='gradient-bg'>
  <div class='column'>
    <%= render "gobierto_cms/templates/new", { page: @page } %>
  </div>
</div>
