<% content_for :breadcrumb_current_item do %>
  <h1>
    <%= link_to t('.pages'), gobierto_participation_news_index_path %>
  </h1>
<% end %>

<div class='gradient-bg'>
  <%= render "gobierto_cms/templates/page", { page: @page } %>
</div>
