<p>El archivo a cargar debe ser un CSV, sin fila de cabecera, con las columnas de datos que queramos que el usuario deba verficiar. Por ejemplo, si queremos que valide DNI, fecha de nacimiento y código postal, deberemos preparar un fichero como este:</p>

<pre><code>51000000W,12-05-1975
49000000W,25-01-1985
34000000W,04-12-1995
...</code></pre>
