/*
 * Tabs
 *
 */
.tab {
  display: none;
}
.tab.active {
  display: block;
}
.tabs {
	@include tabs;	
	ul {
		border-color: rgba($color_main, .41);
		li {
			height: initial;
			display: inline-block;
			a {
				border: none;
				background: rgba($color_main, .1);
				color: $color_text;
				padding: .75em 3em .25em;
				margin: 0 1em;
				font-weight: 200;
			}
			a:hover {
				background: rgba($color_main, .3);
			}
		}	
		li.active {
			a {
				border: 1px solid rgba($color_main, .41);
				border-bottom: 1px solid #FFF;
				background: $color_main_negative;
				color: $color_text;
				margin-bottom: -1px;
			}
		}
	}
}
