/*
 * Social Buttons
 *
 */
.social_share {
  display: inline-block;
  padding: .35em .75em;
  margin: 1em 1em 0 0;
  color: #FFF;
  text-decoration: none;
  @include border-radius(3px);
  .fa {
    margin: 0;
    display: inline-block;
  }
}
a.social_share {
  .fa {
    // margin: 0 .2em 0 0;
  }
}
.social_share_container {
	.social_share {
		@include border-radius(16px);
    padding: .25em 2em;
		text-decoration: none;
		.fa {
			margin: 0 .2em 0 0;
		}
	}
	.social_share:hover {
		text-decoration: none;
	}
}
.social_share:hover {
  color: #FFF;
}
.facebook {
  background: $color_facebook;
}
.twitter {
  background: $color_twitter;
}
.linkedin {
  background: #0074B5;
}
.email {
  background: $color_main;
}
.code {
  background: $color_main;
}
.facebook:hover {
  background: darken(#3A589A, 10%);
}
.twitter:hover {
  background: darken(#00ABEF, 10%);
}
.email:hover {
  background: darken($color_main, 10%);
}
.linkedin:hover {
  background: darken(#0074B5, 10%);
}
.code:hover {
  background: darken($color_main, 10%);
}
.social_links_container {
  // width: 40px;
  z-index: 90;
  
  a {
    @include border-radius(3em);
    margin: 0 .5em 0 0;
    font-size: .85em;
    padding: .2em .1em;
    color: #FFF;
    display: inline-block;
    width: 2.25em;
    box-sizing: border-box;
    text-align: center;
  }
  a.twitter {

  }
  a.facebook {

  }
}