.embed {
  .main_content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .sticky-wrapper {
    display: none;
  }
  .sticky_top {
    display: none !important;
  }
  .ranking a {
    display: none !important; 
  }
  .cta_majors {
    display: none !important;
  }
  .breadcrumb.geo {
    display: none;
  }
  
}