/*main css*/
body {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

#main {
  overflow: hidden;
  margin-top: 100px;
}

#vis_dispersion {
  width: 100%;
  float: left;
  background-color: #FFDED4;
}

#density_vis_per {
  width: 50%;
  overflow: hidden;
}

.axis path {
  fill: none;
  stroke-width: 1px;
}

.axis line {
  stroke-width: 1px;
  /*shape-rendering: crispEdges;*/
}

.mean_text {
  font-size: 0.7em;
}

.mean_text {
  font-size: 0.7em;
}

.legend_dispersion text {
  font-size: 0.7em;
}

/*Tooltip*/

.vis_dispersion_tooltip {
  top: 0;
  right: 0;
  position: absolute;
  padding: 5px;
  line-height: 140%;
  width: 180px;
  height: 50px;
  font-size: 12px;
  background: #FAF7F5;
  border: 1px solid #424242;
  border-radius: 5px;
  pointer-events: none;
  text-align: right;
}

