/*main css*/


#lines_container {
  overflow: hidden;
}

#lines_chart {
  background-color: #F5F4F4;
}

#lines_tooltip {

}

.chart_title {
  font-size: 2em;
  font-weight: 600;
}

.axis path {
  fill: none;
  stroke-width: 1px;
}

.axis line {
  stroke-width: 1px;
  /*shape-rendering: crispEdges;*/
}

.evolution_line {
  fill: none;
}


/*Tooltip*/

/*.vis_evolution_tooltip {
  top: 0;
  right: 0;
  position: absolute;
  padding: 5px;
  line-height: 140%;
  width: 150px;
  height: 50px;
  font-size: 12px;
  background: #FAF7F5;
  border: 1px solid #424242;
  border-radius: 5px;
  pointer-events: none;
  text-align: right;
}*/

