<% title t(".services") %>
<div class="column">
  <div class="block">
    <div class="pure-g header_block_inline">
      <div class="pure-u-1 pure-u-md-12-24">
         <h1><%= t(".services") %></h1>

         <% @services.each do |service| %>
           <div>
             <ul>
               <li>
                 <%= link_to service.title, gobierto_citizens_charters_service_charters_path(service.slug) %>
               </li>
             </ul>
           </div>
         <% end %>
      </div>
    </div>
  </div>
</div>
