<div class="row">
  <div>
    <div id="center_1R">
      <div class="fpca_descripciopagina">
        <h2 class="header2 pd-15 pd-30">Qui treballa a la Generalitat?</h2>
        <div class="imatge_amb_peu amb_text clearfix">
          <img src="http://governobert.gencat.cat/web/.content/10_Transparencia/03_FuncioPublica/rsz_1funcionaris3_-1.jpg" alt="Empleats públics" title="Qui treballa a la Generalitat?" class="widthResponsive" />
        </div>
        <div class="basic_text_peq pd-15 pd-30">
          <p>Les administracions públiques catalanes disposen en el seu conjunt d’una plantilla de 300.000 empleats públics. La Generalitat compta amb prop de 200.000 per atendre el funcionament dels serveis que li són propis. La immensa majoria treballa
            en serveis d’atenció directa a les persones, i són docents, personal d’institucions sanitàries, o es dediquen a l’àmbit de l’Administració i els serveis.</p>
          <p>Des d’aquí podeu accedir a informació exhaustiva sobre la relació de llocs de treball dels <strong>empleats públics</strong>, quants n’hi ha, on treballen i les seves condicions laborals. Dins del sector públic, hi ha funcionaris de carrera
            interins, laborals indefinits i temporals, i també personal directiu. Disposareu d’informació sobre les retribucions, convenis, representació sindical... També podeu conèixer qui són <strong>els alts càrrecs i el personal directiu</strong>            de la Generalitat i dades com ara quines retribucions perceben, quin patrimoni declaren, a què es dediquen professionalment, més enllà de la política, i quines activitats són incompatibles entre si. Finalment, aquesta secció ofereix una porta
            d’entrada al funcionament dels diferents tipus de <strong>convocatòries</strong> per treballar a la Generalitat i a tota la informació relacionada amb els processos de selecció de personal.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </div>
      <div class="fpca_distribuidora pd-15 pd-30">
        <div class="llistat_destacat_text_avancat">
          <div class="llistat_col-lg-3 nova-altura-dist">
            <div class="col-xs-12 corrector-margins col-sm-4">
              <div class="box destacat_text_avancat_cont distribuidora-nova-3">
                <h2 class="border_groc"><a title="Alts càrrecs i directius" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/alts-carrecs-i-directius/">Alts càrrecs i directius</a></h2>
                <div class="llistat_enllacos_filet marge-dist-fills">
                  <ul class="list-group llistat_enllacos_filet_cont">
                    <li class="list-group-item"><a title="Alts càrrecs i directius" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/alts-carrecs-i-directius/relacio-dalts-carrecs-personal-directiu-personal-eventual-i-les-seves-retribucions/">Relació d'alts càrrecs, personal directiu, personal eventual, i les seves retribucions</a></li>
                    <li
                      class="list-group-item"><a title="Alts càrrecs i directius" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/alts-carrecs-i-directius/incompatibilitats-i-declaracions-dalts-carrecs/">Incompatibilitats i declaracions d'alts càrrecs</a></li>
                      <li class="list-group-item"><a target='_blank' title="Alts càrrecs i directius" href="http://governacio.gencat.cat/ca/pgov_ambits_d_actuacio/pgov_funcio_publica/alts-carrecs-i-directius/codi-de-conducta-alts-carrecs-personal-directiu/">Codi de conducta dels alts càrrecs i personal directiu</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 corrector-margins col-sm-4">
              <div class="box destacat_text_avancat_cont distribuidora-nova-3">
                <h2 class="border_celeste"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/">Empleats públics</a></h2>
                <div class="llistat_enllacos_filet marge-dist-fills">
                  <ul class="list-group llistat_enllacos_filet_cont">
                    <li class="list-group-item"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/relacio-dels-llocs-de-treball/">Relació dels llocs de treball</a></li>
                    <li class="list-group-item"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/convocatorias-de-promocion-interna/">Convocatòries de promoció interna</a></li>
                    <li class="list-group-item"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/alumnes-admesos-a-les-activitats-formatives/">Alumnes admesos a les activitats formatives</a></li>
                    <li class="list-group-item"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/nombre-defectius/">Nombre d'efectius: personal al servei de les administracions públiques catalanes</a></li>
                    <li class="list-group-item"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/taules-retributives/">Taules retributives</a></li>
                    <li class="list-group-item"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/acords-pactes-i-convenis-de-personal/">Acords, pactes i convenis de personal</a></li>
                    <li class="list-group-item"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/representacio-sindical/">Representació sindical</a></li>
                    <li class="list-group-item"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/cost-dels-alliberats-sindicals/">Cost dels alliberats sindicals</a></li>
                    <li class="list-group-item"><a title="Empleats públics" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/empleats-publics/resolucions-de-compatibilitat-dels-empleats-publics/">Resolucions de compatibilitat dels empleats públics</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 corrector-margins col-sm-4">
              <div class="box destacat_text_avancat_cont distribuidora-nova-3">
                <h2 class="border_vermell"><a title="Accés a la funció pública" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/acces-a-la-funcio-publica/">Accés a la funció pública</a></h2>
                <div class="llistat_enllacos_filet marge-dist-fills">
                  <ul class="list-group llistat_enllacos_filet_cont">
                    <li class="list-group-item"><a title="Accés a la funció pública" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/acces-a-la-funcio-publica/ofertes-publiques-i-convocatories/">Oferta d'ocupació pública i convocatòries (oposicions)</a></li>
                    <li class="list-group-item"><a title="Accés a la funció pública" href="http://governobert.gencat.cat/ca/transparencia/Funcio-publica/acces-a-la-funcio-publica/ofertes-de-treball-de-ladministracio-de-la-generalitat/">Ofertes de treball temporal de l'Administració de la Generalitat</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
