/*
 * CSS Settings
 *
 */
/* ToDo: Change to production location */
/* vendor */
@import "bourbon";
@import "pure-min";
@import "pure-grids-responsive-min";
@import "tipsy";
@import "populities";
@import "magnific-popup";
@import "slick";
// @import "slick-theme";

/* gobierto */
@import "gobierto_budgets/treemap";

/* fonts */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,600|Source+Sans+Pro:200,400,700,600");
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";        

$font_headings: 'Source Sans Pro';
$font_text: 'Source Sans Pro';

/*
 * Colors
 *
 */

/*
$color_1: #00909E;
$color_1_soft: #EFF8F9;
$color_1_dark: #00909E;
*/
$color_text: #767168;
$color_main: #00909E;
$color_1: $color_main;
$color_1_soft: transparentize($color_main, .94);
$background: $color_1;
$color_secondary: #F0F0F0;
$color_main_negative: #FFF;
$color_separator: #D6D6D6;
$color_neutral_soft: #F5F4F4;
$color_highlight: #F1F4BE;
$color_meta_text: #A5A5A5;
$text_soft: $color_meta_text;

$color_facebook: #3A589A;
$color_twitter: #00ABEF;
$color_link: #276D97;
$color_headers: #676767;

$separator: #F0F0F0;

/* visualizations */
$color_vis_place: #E9AD00;
$color_vis_province: #A479F4;
$color_vis_com: #AAC44B;
$color_vis_country: #008998;

/* logo colors */
$color_logo_yellow: #E9AD00;
$color_logo_pink: #F39B95;
$color_logo_blue: #388F9C;

@import "gobierto_sites/vis_lineas_tabla";

.color_main {
	background: $color_main;
}


/*
 * Page elements: header, footer...
 *
 */
html {
  margin: 0; 
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font_text;
  font-size: 16px;
  line-height: 24px;
  color: $color_text;
}
.pure-g [class*="pure-u"] {
	font-family: $font_text;
}
a {
  color: $color_main;
  @include transition;
}
a:hover {
  text-decoration: underline;
}
footer {
  clear: both;
  margin: 5em 0 0 0;
  padding: 5em 0 0 0;
}


/*
 * Layout
 *
 */
.column {
	width: calc(100% - 6rem);
	max-width: 1400px;
	margin: auto;
}
.block_color {
	background: transparentize($color_main, .94);
	border-top: 4px solid $color_main;
}



/*
 * Site Header
 *
 */
header.meta {
	color: $color_main_negative;
	padding: 0;
	margin: 0 0 2em 0;
	.client_links {
		padding: .75em 0 .6em;
		margin: 0 0 1em 0;
		background: $color_secondary;
		font-size: .85em;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				margin: 0 1em 0 0;
				display: inline-block;
			}
		}
		a {
			color: $color_text;
			text-decoration: none;
		}
		
	}
	.site_header {
		padding: 5em 0 .5em 0;
		a {
			text-decoration: none; 
			color: $color_main_negative;
		}
		a:hover {
			color: rgba($color_main_negative, .8);
		}
	}
	.logo {
		border: 1px solid #FFF;
		display: inline-block;
		margin: 0 2em 1em 0;
		display: none;
	}
	.site_title {
		display: inline-block;
		font-size: 2em;
		font-weight: 200;
	}
	menu.sub_sections {
		background: darken($color_main, 10%);
		margin: 1em 0 0 0;
		padding: 0;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				display: inline-block;
				a {
					text-transform: uppercase;
					text-decoration: none;
					font-size: .85em;
					color: $color_main_negative;
					padding: .5em 1.75em .4em;
					display: inline-block;
					opacity: .5;
				}
				a:hover {
					background: darken($color_main, 14%);
					color: $color_main;
					opacity: .5;
				}
				a.active {
					background: darken($color_main, 18%);
					// color: $color_main;
					// opacity: .5;
				}
			}
			li:first-child {
				a {
					margin-left: 0;
					// padding-left: 0;
				}
			}
		}
	}
}
header.section {
	border-bottom: 1px solid $color_separator;
	padding: 0 0 1em 0;
	margin: 2em 0 1em 0;
	h1 {
		border-bottom: 1px solid $color_separator;
		padding: 0 0 1em 0;
		margin: 0 0 1em 0;
	}
	.social_links_container {
		float: right;
	}
	.description {
		padding: 0 2em 2em 0;
		box-sizing: border-box;
		p {
			font-size: 1.3em;
			font-weight: 200;
			line-height: 1.5em;	
		}
		@include reset_ul_li;
		ul {
			a {
				display: inline-block;
				text-transform: uppercase;
				margin: 0 1em 0 0;
			}
		}
	}
	
}


/*
 * Demo Bar
 *
 */
.demo_bar {
	/*
	position: fixed;
	bottom: 0;
	*/
	border-bottom: 2px solid transparentize(#B18300, .5);
	background-color: #FEF1D5;
	min-height: 55px;
	width: 100%;
	@include box-shadow(0,0,20px,rgba(0, 0, 0, 0.3));

	> div {
		margin-top: 15px;
		margin-bottom: 8px;
		color: #B18300;

		> a {
			margin-left: 20px;
			color: #B18300;
		}
	}

	div:last-child {
		text-align: right;
		> a {
			margin-right: 15px;
		}
	}
}


/*
 * Home
 *
 */
.numbers_intro {
	margin: 3em 0;
	h2 {
		font-weight: 200;
		font-size: 2em;
		margin: .25em 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		font-size: 1.25em;
		li {
			margin: 0 0 .5em 0;
			font-weight: 200;
		}
	}
	.social_links_container {
		float: right;
	}
	.breadcrumb {
		display: inline-block;
		padding: 0;
		.column { 
			width:
			auto; 
		}
		.line_browser {
			margin-top: -1.83em;
			margin-left: -1.03em;
			padding: 1em 0em 1em 1em;
			z-index: 1;
		}
		.bread_links {
			a {
				margin: 0;
				text-decoration: none;
				background: transparentize($color_main, .94);
				padding: 0 10px;
				@include border-radius(6px);
			}	
		}
	}
}
.intro_p_l {
	position: relative;
	table {
		width: 100%;
	}
	h2 {
		font-weight: 200;
		font-size: 1.3em;
		margin: .25em 0;
		padding: 0 2em 0 0;
	}
	h3 {
		color: $color_main; 
		text-transform: uppercase;
		margin: .2em 0;
		font-size: 1.15em;
	}
	.tip {
		position: absolute;
		bottom: 5rem;
		width: 15%;
		font-size: .85em;
	}
	table {
		.qty {
			background: transparentize($color_main, .85);
		}
	}
}
.featured_b_l {
	.cont {
		background: $color_neutral_soft;
		padding: 2em 3em;
	}
	.highlight {
		margin: .5em  0;
	}
	.ic {
		margin: 0 0 0 1em;
		box-sizing: border-box;
		font-size: 1.25em;
		font-weight: 200;
		label {
			display: table-cell;
			vertical-align: bottom;
			line-height: 1em;
			height: 40px;
		}
	}
	& > first-child {
		margin: 0;
	}
	.title {
		box-sizing: border-box;
		font-size: 1.6em;
		line-height: 1.4em;
		font-weight: 200;
		text-align: right;
		padding-right: 2em;
		padding-top: .5em;
		border-right: 1px solid $color_separator;
		strong {
			font-weight: 400;
			display: block;
		}
	}
	small {
		line-height: .5em;
	}
}
.explore_detail {
	h3 {
		font-weight: 200;
		margin-top: 4.85em;
	}
	@include reset_ul_li();
	li {
		display: block;
	}
	input[type=text] {
		width: 70%;
	}
	button {
		width: 23%;
	}
	table.med_bg {
		.fa {
			margin-right: .5em;
		}
		td, th {
			padding: .7em 1em .4em 1em;
		}
		td.qty, td.bar {
			padding: .7em 0 .4em 0;
		}
		td.bar {
			padding-left: 10px;
		}
		td {
			table {
				font-size: 1rem;
				border: 1px solid transparentize($color_main, .85);
			}
			.child_tb_cont {
				padding: 1em 1.5em;
			}
		}
	}
}
.slim_search {
	label {
		font-weight: 200;
		padding: 0 1em 0 0;	
	}
	input[type=text] {
		height: 40px;
		width: 300px;
	}
	margin-top: .8em;
}
.metric_boxes {
	margin: 0 0 6em 0;
	.metric_box {
		box-sizing: border-box;
		.inner {
			background: transparentize($color_main, .85);
			margin: 0 .5em;
			padding: .8em 1em;
			min-height: 100px;
			position: relative;
		}
		h3 {
			color: $color_main;
			margin: 0 0 .75em 0;
			font-size: 1em;
			font-weight: 600;
		}
		.metric {
			font-size: 2em;
			font-weight: 600;
		}
		.explanation {
			font-size: .75em;
			opacity: .6;
			position: absolute;
			bottom: .8em;
		}
		span.not_av {
			font-size: 1em;
			opacity: .5;
		}
	}
	.metric_box:first-child {
		.inner {
			margin-left: 0;
		}
	}
	.metric_box:last-child {
		.inner {
			margin-right: 0;
		}
	}

}



/*
 * Tabs
 *
 */
.tabs {
	@include tabs;
	ul {
		border-color: rgba($color_main, .41);
	}
	li {
		height: initial;
		a {
			border: none;
			background: rgba($color_main, .1);
			color: $color_text;
			padding: .75em 3em .25em;
			margin: 0 1em;
			font-weight: 200;
		}
		a:hover {
			background: rgba($color_main, .3);
		}
	}	
	li.active {
		a {
			border: 1px solid rgba($color_main, .41);
			border-bottom: 1px solid #FFF;
			background: $color_main_negative;
			color: $color_text;
			margin-bottom: -1px;
		}
	}
}




/*
 * Forms
 *
 */
input[type=text], input[type=email], input[type=submit], .button, button, .option, select, option {
  box-sizing: border-box;
  height: 54px;
  padding: 0 1em; 
  margin: 0 .5em 0 0;
  display: inline-block;
  vertical-align: middle;
  @include border-radius(6px);
  border: 1px solid $color_separator;
}
input[type=submit], .button, button {
  @include transition;
  border: 0;
  background: $color_main;
  color: #FFF;
  padding: 0 2em;
  text-transform: uppercase;
  font-style: 700;
  cursor: pointer;
}
input[type=submit]:hover, .button:hover, button:hover {
  background: darken($color_main, 10%);
}
option, select {
  font-weight: 400;
  font-size: .8em;
  // border: 1px solid #CCC;
  padding: 18px;
  background: #F1F1F1;
}
.option {
	padding: 0;
}
.button, button {
  text-decoration: none;
  padding: 1em 2em;
  font-weight: 700;
}
.button:hover, button {
  color: #FFF;
}
button.light, .button.light {
	background: $color_main_negative;
	border: 1px solid $color_separator;
	color: $color_main;
}
button.light:hover, .button.light:hover {
	background: rgba($color_main, .2);
}
input[type="checkbox"], input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label, input[type="radio"] + label {
  cursor: pointer;
  display: block;
  padding: 14px;
  @include transition;
}
input[type="checkbox"] + label span, input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid $color_main;
  background: #FFF;
  @include border-radius(3px);
  margin: -4px 11px 0 0;
  vertical-align: middle;
  cursor: pointer;
}
input[type="checkbox"] + label:hover, input[type="radio"] + label:hover {
  background: rgba($color_main, .1);
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
  background: rgba($color_main, .2);
}
input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span {
  background: $color_main;
}
input[type="radio"] + label span {
	@include border-radius(13px);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
}
select::-ms-expand { /* for IE 11 */
  display: none;
}
.disclaimer {
	font-size: .75em;
	opacity: .5;
}
.button_light {
  background: rgba($color_1, .2);
  @include transition;
  font-size: .75em;
  text-decoration: none;
  padding: .5em 1.5em;
  line-height: 1.2em;
  @include border-radius(20px);
  margin: 1em 0;
  display: inline-block;
}
.button_light:hover {
  background: rgba($color_1, .3);
  text-decoration: none;
}



/*
 * Tables
 *
 */
.table_cont_round {
	background: transparentize($color_main, .94); // rgba($color_main, .06);
	@include border-radius(6px);
	padding: .5em 0;
}
td.bar {
	padding-right: 0;
	div.bar {
		background: $color_vis_country;
		height: 18px;
		@include border-radius(3px);
	}
}
table.explore_slow {
	font-size: 1.2rem;
	tr.group {
		td {
			border-top: 3px solid transparentize($color_main, .85);
		}
	}
	tr:hover {
		@include transition;
		td:not(.level_1) {
			background: rgba($color_main, .1) !important;
		}
	}
	td {
		vertical-align: top;
		padding: .5em 1em;
		a {
			display: block;
		}
	}
	td.level_1 {
		font-size: .75em;
		padding-left: 0;
	}
	td.bar {
		width: 100px;
	}
}

table.med_bg {
	width: 100%;
	background: $color_main_negative;
	/*tr:first-child {
		td {
			border-top: 3px solid $color_main;
		}
	}*/
	td, th {
		border-top: 1px solid transparentize($color_main, .85);
		background: transparentize($color_main, .94);
		padding: .7em 1em .4em 1em;
		font-size: .85em;
		a {
			display: inline;
		}
	}
	th {
		background: none;
		font-weight: normal;
		font-size: .75em;
		text-align: left;
		opacity: .5;
		border: none;
		text-align: right;
	}
	tr:hover {
		@include transition;
		td, th {
			background: rgba($color_main, .1) !important;
		}
	}
	td.qty, td.bar {
		width: 60px;
	}
	td.qty {
		text-align: right;
	}
	td.big_qty {
		width: 100px;
	}
	td.bar {
		padding-left: 10px;
	}
	.budget_line {
		width: 50%;
	}
	tr.child_group > td:first-child {
		padding-right: 0;
		padding-left: 2.5em;
	}
	tr.child_group {
		.child_tb_cont {
			padding: 0;
			margin: 0 0 1em 0;
		}
	}
}
table {
	width: 100%;
	td, th {
		border-top: 1px solid transparentize($color_main, .85);
		padding: .7em 1em .4em;
		font-size: .85em;
		a {
			display: inline-block;
		}
	}
	td.qty {
		text-align: right;
	}
}

#lines_tooltip {
	table {
		th[title=name] {
			width: 45%;
		}
	}
}
.help {
  font-size: .75em;
  float: right;
  a {
    color: rgba($color_main, .5);
  }
}


/*
 * Headings
 *
 */
footer {
	padding: 5em 0;
	font-size: .85em;
	ul {
	
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			margin: 0 1em 0 0;
			display: inline-block;
		}
	}
	a {
		color: $color_text;
		text-decoration: none;
	}
}



/*
 * Filter
 *
 */
.filter {
	font-size: .75em;
	a {
		display: inline-block;
		padding: .35em 1.25em .25em;
		margin: 0 .75em 0 0;
		@include border-radius(2em);
		background: rgba($color_main, .2);
		text-decoration: none;
	}
	a:hover {
		background: rgba($color_main, .3);
	}
	a.active, a.active:hover {
		border: 1px solid rgba($color_main, .2);
		background: $color_main_negative;
	}
	a.active {
		cursor: default;
	}
	a.help {
		font-weight: bold;
		padding: .35em 1em .25em;
	}
	.separator_v {
		margin: -.25em 2em 0 2em;
	}
	span.label {
		padding: 0 1em;
	}
}

/* comparator version, pending to unify */
.form_filters {
  display: inline-block;
  float: right;
  font-size: 12px;
  margin: 1em 0;

  .group {
    display: inline-block;
    margin: 0 0 0 1em;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
  }
  ul {
    @include border-radius(2em);
    background: #EFF8F9;
    padding: 0 10px;
    margin: 0;
  }
  li a {
    display: inline-block;
    border-right: 1px solid $background;
    text-decoration: none;
    padding: 1px 7px;
    margin: 0;

  }
  li:last-child a {
    border: none;
  }
  li a:hover, li a.buttonSelected, a.active {
    background: #D1EAED;
  }
}


/*
 * Headings
 *
 */
h1, h2, h3, h4 {

}
.block {
	h2 {
		font-weight: 200;
		text-transform: uppercase;
		font-size: 1.6em;
		margin: 2em 0;
	}
	h2.with_description {
		margin-bottom: .35em;
	}
	.description {
		width: 50%;
		font-size: .85em;
		margin: 0 0 3em 0;
		line-height: 1.3em;
		opacity: .6;
	}
}
h2.lite {
	margin: 0 0 .5em 0;
	font-size: 1em;
}

/*
 * Content Boxes
 *
 */
.box {
  background: $color_1_soft;
  @include border-radius(6px);
  .inner {
    padding: 1em 2em;
  }
}

/*
 * Breadcrumbs
 *
 */
.breadcrumb {
  margin: 0 0 2em 0;
  background: #FFF;
  // border-bottom: 1px solid #DFDFDF;
  padding: 1em 0;
	a,span {
		margin: 0 .5em;
    font-size: 1.15em;
	}
	a:first-child {
		margin-left: 0
	}
}
.breadcrumb.is_stuck {
	z-index: 10000;
	@include box-shadow(0,3px,6px,rgba(0, 0, 0, 0.2));
}

.breadcrumb.year_only {
	margin-bottom: 0;
	.bread_hover {
		max-width: 100px;
	}
	.bread_hover {
		display: inline-block;
	}
	.bread_links {
		background: transparentize($color_main, .9);
		padding: .3em .75em;
		@include border-radius(4px);
		font-weight: 200;
		a {
			text-decoration: none;
			color: $color_text;
		}
		.fa {
			vertical-align: middle;
			margin-top: -10px;
			color: $color_main;
		}
	}
	.line_browser {
		padding: calc(1.5em - 1px) 2em 2em 2em;
		.col {
			padding: 0;
			width: 100%;
			font-size: 1.2em;
			font-weight: 200;
			a {
				display: block;
			}
		}
	}
}
.header_block_inline {
	h2 {
		margin: .8em 0 2em 0;
	}
}

.line_browser {
	z-index: 100;
	overflow: hidden;
	white-space: nowrap;
	display: none;
	position: absolute;
	background: #FFF;
	padding: 2em 1em 1em 2em;
	margin-left: calc( -2em - 1px);
	margin-top: calc( -3.5em - 1px);
	border: 1px solid #DFDFDF;
	@include border-radius(4px);
	box-sizing: border-box;
	@include box-shadow(0,3px,6px,rgba(0, 0, 0, 0.2));
	.col {
		display: inline-block;
		display: none;
		float: left; 
		padding: 0 1em 0 0;
	}
	.col[data-level='0'] {
		display: block;
	}
	.bread_links {
		margin: 0 0 1em 0;
	}
	table {
		font-size: .85em;
	}
	td.selected, td.selected_no_children {
		border-left: 2px solid rgba($color_main, .5);
		position: relative;
	}
	td.selected::after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border-style: solid;
		border-width: 6px 0 6px 11.3px;
		border-color: transparent transparent transparent rgba($color_main, .5);
    top: 38%;
    left: 100%;
  }
}
.bread_links {
	display: inline-block;
}
.open_line_browser, .close_line_browser {
	opacity: .5;
	color: $color_main;
	cursor: pointer;
	margin: 0 1em 0 0;
}



/*
 * Budget Lines
 *
 */
.budget_line {
	
	header {
		h1, .social_links_container {
			margin-top: 0;
			display: inline-block;
		}
		.social_links_container {
			float: right;
		}
	}
	.line_description {
		p {
			margin-top: 0;
			font-size: 1em;
			line-height: 1.6em;
		}
	}
	.metric_boxes {
		margin-bottom: 2em;
	}

	.block {
		h2 {
			margin-bottom: 1em;
		}
	}

}
.show_me_another {
	text-align: center;
	margin: 1em 0;
	font-size: .85em;
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: rgba($color_main, .75);
		display: inline-block;
		padding: .5em 2em .25em;
		@include border-radius(4px);
	}	
	.fa {
		margin: 0 .5em 0 0;
		font-size: .85em;
	}
	a:hover {
		background: rgba($color_main, .1);
		color: $color_main;
	}
}

.invisible {
    visibility: hidden
}



/*
 * Execution
 *
 */
.execution {
  margin: 3em 0;
  .box {
    .inner {
      box-sizing: border-box;
    }
    .vizz {
      /*border: 1px solid #DFDFDF;*/
      min-height: 60px;
      margin: 1em 0 2em 2em;
      .axis {
        line, path {
          fill: none;
          stroke: #D6DDDF;
          shape-rendering: crispEdges;
        }
        .tick {
          text {
            fill: #B0B2AE;
            font-size:11px;
          }
        }

      }
      .line {
        fill: none;
        stroke: #B0B2AE;
        stroke-width: 1px;
        stroke-dasharray: 5,2;
      }
      line.year_marker {
        fill: none;
        stroke: #009BAA;
        stroke-width: 1.5px;
      }
      .y.axis path,
      .x.axis path {
        display: none;
      }
    }
    h1 {
      color: $color_1;
      font-size: 3.6em;
    }
    .totals {
      table {
        width: 100%;
        margin-bottom: 1em;
      }
      th,td {
      	border: none;
        white-space: nowrap;
        font-size: 1em;
        width: 50%;
      }
      th {
        font-weight: bold;
        text-align: right;
      }
      td {
        text-align: left;
        margin-left:1em;
      }
      p {
        margin: 0.25em 0;
      }
    }
  }
  h2.lite {
    display: inline-block;
    min-height: 3em;
    width: 50%;
  }
  .form_filters {
    margin: 0;
  }
  table {
    width: 100%;
    td, th {
    	border: none;
    	padding: .35em 1em .1em;
    }
    th {
      font-size: .7em;
      font-weight: bold;
      background: none;
      text-transform: none;
      text-align: right;
    }
    td {
      text-align: right;
      white-space: nowrap;
    }
    td.title {
      text-align: left;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 0;
    }
  }
  @include screen(1280) {
    table td.title {
      max-width: 160px;
    }
  }

  @include screen(1024) {
    .deviation_table_container {
      padding-bottom:2em;
      margin-bottom:2em;
      border-bottom:solid 1px rgba(178, 175, 169, 0.5); 
    }
    .deviation_table_container:last-child {
      border-bottom: none;
    }
  }

  .deviation_widget {
    min-height: 275px;
  }

}



/*
 * Consultations
 *
 */
.consultation_list {
	.consultation {
		width: 48%;
		height: 190px;
		float: left;
		margin-bottom: 4em;
		@include border-radius(5px);
		background: $color_main;
		box-sizing: border-box;
		color: $color_main_negative;
		position: relative;

		h3 {
			margin: 0;
			font-size: 1.6em;
			font-weight: 200;
			line-height: 1.2em;
			a {
				padding: 1.5rem 1.5rem 3rem;
				display: block;
			}
			a:hover {
				background: darken($color_main, 5%);
				@include border-radius(5px);
			}
		}
		a {
			color: $color_main_negative;
			text-decoration: none;
		}
		a:hover {
			color: rgba($color_main_negative, .8);
		}
		.meta {
			border-top: 1px solid rgba($color_main_negative, .3);
			box-sizing: border-box;
			padding: .75rem 1.5rem;
			font-size: .8em;
			line-height: 1.2em;
			.dates {
				float: left;
				width: 120px;
				border-right: 1px solid rgba($color_main_negative, .2);
				margin-right: 1em;
			}
		}
		.act {
			position: absolute;
			bottom: -1em;
			right: 1em;
			a {
				display: block;
				padding: .75em 1.5em .65em;
				font-weight: 700;
				background: darken($color_main, 15%);
				height: initial;

			}
		}
		form {
			input[type=email] {
				width: 60%;
			}
		}
	}
	.consultation:nth-of-type(2n) {
		float: right; 
	}
	.consultation.get_lead, .consultation.stats {
		background: rgba($color_main, .1);
		padding: 1.5rem;
		color: $color_text;
		h3 {
			font-size: 1.3em;
			margin: 0 0 1.25em 0;
		}
	}
}

.consultation_item {
	margin-top: 3em;
	margin-bottom: 3em;
	header {
		.main_title {
			margin: 1em 0 2em 0;
			box-sizing: border-box;
			padding: 3em 6em 2em;
			text-align: center;
			@include linear-gradient(135deg, rgba($color_main, 0.5) 0%, $color_main 150%);
			@include border-radius(6px);
			color: $color_main_negative;
			h1 {
				line-height: 1.6em;
				font-weight: 600;
			}
			.meta {
				font-size: .8em;
				margin: 2em 5em 0;
				padding: 2em 0 0 0;
				border-top: 1px solid rgba($color_main_negative, .5);
				text-transform: uppercase;
				text-align: center;
			}
		}
		.pre_title {
			margin: 6% 30% 2%;
			font-size: 1.2em;
			font-weight: 200;
		}
		.header_comps {
			padding-top: 8em;
		}
	}
	.participation_question_cont {
		margin: auto;
		box-sizing: border-box;
		@include border-radius(5px);
		border: 1px solid $color_separator;
		padding: 3em 5em;
		text-align: center;
		margin-top: 2em;
		h2 {
			font-size: 1.8em;
			line-height: 1.4em;
			margin: 1em 0 1.5em 0;
			font-weight: 600;
			color: $color_main;
		}
		.options {
			margin: 0 10%;
			.option {
				display: block;
				margin: 0 0 1em 0;
				text-align: left;
				height: 65px;
				input[type="checkbox"] + label, input[type="radio"] + label {
					box-sizing: border-box;
					padding: 20px;
				}
			}
			button, .button {
				width: 100%;
				margin: 1em auto;
			}
			input[type=text] {
				width: 100%;
				border: none;
				padding: 20px;
				height: 63px;
			}
		}
	}
	ul.slick-dots {
		position: absolute;
		top: -1em;
		text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
		li {
			display: inline-block;
			button {
			  text-indent: -3000px;
		    border-radius: 13px;
		    font-size: 3px;
		    height: 12px;
		    opacity: .5;
		    margin: 0 2em;
			}
		}
		li.slick-active {
			button {
				opacity: 1;
			}
		}

	}

}




/*
 * Social Buttons
 *
 */
.social_share {
  display: inline-block;
  padding: .35em .75em;
  margin: 1em 1em 0 0;
  color: #FFF;
  text-decoration: none;
  @include border-radius(3px);
  .fa {
    margin: 0;
    display: inline-block;
  }
}
a.social_share {
  .fa {
    // margin: 0 .2em 0 0;
  }
}
.social_share_container {
	.social_share {
		@include border-radius(16px);
    padding: .25em 2em;
		text-decoration: none;
		.fa {
			margin: 0 .2em 0 0;
		}
	}
	.social_share:hover {
		text-decoration: none;
	}
}
.social_share:hover {
  color: #FFF;
}
.facebook {
  background: $color_facebook;
}
.twitter {
  background: $color_twitter;
}
.linkedin {
  background: #0074B5;
}
.email {
  background: $color_main;
}
.code {
  background: $color_main;
}
.facebook:hover {
  background: darken(#3A589A, 10%);
}
.twitter:hover {
  background: darken(#00ABEF, 10%);
}
.email:hover {
  background: darken($color_main, 10%);
}
.linkedin:hover {
  background: darken(#0074B5, 10%);
}
.code:hover {
  background: darken($color_main, 10%);
}
.social_links_container {
  // width: 40px;
  z-index: 90;
  
  a {
    @include border-radius(3em);
    margin: 0 .5em 0 0;
    font-size: .85em;
    padding: .2em .1em;
    color: #FFF;
    display: inline-block;
    width: 2.25em;
    box-sizing: border-box;
    text-align: center;
  }
  a.twitter {

  }
  a.facebook {

  }
}



/*
 * Tips
 *
 */
.tip {
	font-size: .85em;
	font-weight: 700;
	line-height: 1.2em;
	a {
		color: rgba($color_main, .7);
		text-decoration: none;
	}
	.fa {
		display: block;
		line-height: 2em;
		font-size: 1.6em;
	}

}



/*
 * Various
 *
 */
.soft_cta {
	background: rgba($color_main, .1);
	@include border-radius(6px);
	padding: 1em 2em;
	display: inline-block;

}
a.soft_cta:hover {
	background: rgba($color_main, .2);
}
.small {
	font-size: .85em;
}
.highlight {
	background: #F1F4BE;
	padding: .2em;
	display: inline-block;
}
.separator {
	border-top: 1px solid $color_separator;
	margin: 2em 0;
}
.separator_v {
	border-left: 1px solid $color_separator;
	margin: 0 1em;	
	display: inline-block;
	height: 3em;
	margin-top: -.25em;
	vertical-align: top;
}

.p_h_r_1 {
	padding: 0 1em 0 0;
	box-sizing: border-box;
}
.p_h_r_2 {
	padding: 0 2em 0 0;
	box-sizing: border-box;
}
.p_h_r_3 {
	padding: 0 3em 0 0;
	box-sizing: border-box;
}
.p_h_l_1 {
	padding: 0 1em 0 0;
	box-sizing: border-box;
}
.p_h_l_2 {
	padding: 0 2em 0 0;
	box-sizing: border-box;
}
.p_h_l_3 {
	padding: 0 3em 0 0;
	box-sizing: border-box;
}


/*
 * Modals
 *
 */
.modal {
  position: relative;
  background: #FFF;
  padding: 3em 4em 4em;
  width: auto;
  max-width: 750px;
  margin: 20px auto;
  @include border-radius(5px);

  &#read_later {
    input[type=submit], .button {
      padding: 0 1em;
    }
  }
  color: $color_headers;

  input[type=text], input[type=email] {
    border: 1px solid $color_meta_text;
  }
  input[type=email] {
    width: 50%;
  }
  input[type=email].short {
    width: 32%;
  }
  h2 {
    margin: 0 0 .15em 0;
    font-size: 2em;
  }
  .disclaimer {
    font-size: .8em;
    text-align: center;
    margin: 2em 0;
    opacity: .6;
  }
}


.section_separator {
  margin: 1em 0;
  text-align: center;
  color: $text_soft;
  font-size: .85em;
  line-height: 1.4em;
  .sep {
    width: 10%;
    border-top: 1px solid $text_soft;
    height: 1px;
    margin: 1em auto;
    opacity: .5;
  }
  p {
    margin: 0;
  }
}
.separator {
  border-top: 1px solid $text_soft;
  width: 100%;
  height: 1px;
  margin: 2em 0;
  opacity: .5;
}
a.list_view_more {
  @include border-radius(3px);
  display: block;
  background: $color_1_soft;
  color: $text_soft;
  padding: .5em 0 .4em 0;
  text-align: center;
  margin: 1em 0;
  text-decoration: none;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 600;
}


/*
 * Autocomplete
 *
 */
.autocomplete-suggestions { 
  border: 1px solid #999; 
  font-size: 12px;
  background: #FFF; 
  cursor: default; 
  overflow: auto; 
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
}
.autocomplete-suggestion { padding: 2px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 10px;}
.autocomplete-selected { background: $color_main; color: #FFF; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { }
.autocomplete-group strong { 
  font-weight: bold; 
  font-size: 14px; 
  color: #999; 
  background: $separator;
  padding: 2px 10px;
  text-transform: uppercase;
  display: block; 
  border-bottom: 1px solid $separator; 
}


html.turbolinks-progress-bar::before {
  background-color: $color_main !important;
  height: 5px !important;
}

@import "responsive";