<p>
<%= t('.hi') %>,
</p>

<p>
<%= t('.click_link') %>
</p>

<p>
  <%= edit_user_passwords_url(reset_password_token: @user.reset_password_token, domain: @site.domain) %>
</p>

<p>
<%= t('.bye') %>
</p>
