<p>
<%= t('.hi') %>,
</p>

<p>
<%= t('.click_link') %>
</p>

<p>
  <%= link_to edit_user_passwords_url(reset_password_token: @user.reset_password_token, host: @site_host),
              edit_user_passwords_url(reset_password_token: @user.reset_password_token, host: @site_host) %>
</p>

<p>
<%= t('.bye') %>
</p>
