<p>
<%= t('.hi') %>,
</p>

<p>
  <%= t('.click_link') %>
</p>

<p>
  <%= link_to admin_admin_confirmations_url(confirmation_token: @admin.confirmation_token, host: @site_host),
              admin_admin_confirmations_url(confirmation_token: @admin.confirmation_token, host: @site_host) %>
</p>

<p>
  <%= t('.bye') %>
</p>
