<p>
<%= t('.hi') %>,
</p>

<p>
  <%= t('.click_link') %>
</p>

<p>
  <%= link_to admin_admin_confirmations_url(confirmation_token: @admin.confirmation_token, domain: @site.try(:domain)),
              admin_admin_confirmations_url(confirmation_token: @admin.confirmation_token, domain: @site.try(:domain)) %>
</p>

<p>
  <%= t('.bye') %>
</p>
