<p>
<%= t('.hi') %>,
</p>

<p>
  <%= t('.click_link') %>
</p>

<p>
  <%= admin_admin_confirmations_url(confirmation_token: @admin.confirmation_token, host: @site.try(:domain) || ENV['HOST']) %>
</p>

<p>
  <%= t('.bye') %>
</p>
