<p>
  Hey,
</p>

<p>
  You have been invited to collaborate in Gobierto.
</p>

<p>
  Use the following URL to accept the invitation.
</p>

<p>
  <%= admin_admin_invitation_acceptances_url(invitation_token: @admin.invitation_token) %>
</p>
