<p>
<%= t('.hi') %>,
</p>

<p>
  <%= t('.click_link') %>:
</p>

<p>
  <%= admin_admin_invitation_acceptances_url(invitation_token: @admin.invitation_token, domain: @site.try(:domain)) %>
</p>

<p>
  <%= t('.bye') %>
</p>
