<p>
<%= t('.hi') %>,
</p>

<p>
  <%= t('.click_link') %>
</p>

<p>
  <%= edit_admin_admin_passwords_url(reset_password_token: @admin.reset_password_token, host: @site.try(:domain) || ENV['HOST']) %>
</p>

<p>
<%= t('.bye') %>
</p>
