/*
* Master CSS file for Gobierto. In this file we include:
*
* - Vendor & Gobierto libraries
* - Gobierto components
* - CSS conf (fonts, colors)
* - Fonts
*
*/


/*
* Vendor libraries
*
*/
@import "bourbon";
@import "pure-min";
@import "pure-grids-responsive-min";
@import "tipsy";
@import "magnific-popup";
@import "datepicker.min";
@import "simple_calendar";


/*
* Gobierto libraries
*
*/
@import "populities";


/*
* Gobierto components
*
*/
@import "css-conf";
@import "comp-breadcrumbs";
@import "comp-flash_messages";
@import "comp-filters";
@import "comp-forms";
@import "comp-headings_blocks";
@import "comp-layout";
@import "comp-lists";
@import "comp-metric_boxes";
@import "comp-modals";
@import "comp-site_header";
@import "comp-search";
@import "comp-social_buttons";
@import "comp-tables";
@import "comp-tabs";
@import "comp-text_content";
@import "comp-indicator_widget";
@import "comp-content";
@import "comp-agenda";
@import "comp-timeline";

@import "comp-graph-treemap";
@import "comp-graph-vis_lines_table";
@import "comp-graph-vis_bubbles";
@import "comp-graph-slider";

@import "module-activity";
@import "module-budget_vis";
@import "module-consultations";
@import "module-people";
@import "module-indicators";
@import "module-participation";
@import "module-people";

@import "module-admin";

/*
* Gobierto themes
*
*/
@import "theme-participation";

/*
 * Print styles
 *
 */
@import "css-print";


/*
 * Fonts
 *
 */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,600|Source+Sans+Pro:200,400,700,600");
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";





/*
 * Some defaults
 *
 */
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font_text;
  font-size: 16px;
  line-height: 24px;
  color: $color_text;
}
.pure-g [class*="pure-u"] {
	font-family: $font_text;
}
a {
  color: $color_main;
  @include transition;
}
a:hover {
  text-decoration: underline;
}





/* ToDo: Review & generalize components */

/*
 * Various
 *
 */
.soft_cta {
	background: rgba($color_main, .1);
	@include border-radius(6px);
	padding: 1em 2em;
	display: inline-block;

}
a.soft_cta:hover {
	background: rgba($color_main, .2);
}
.small {
	font-size: .85em;
}
.highlight {
	background: #F1F4BE;
	padding: .2em;
	display: inline-block;
}



#lines_tooltip {
	table {
		th[title=name] {
			width: 45%;
		}
	}
}
.help {
  font-size: .75em;
  float: right;
  a {
    color: rgba($color_main, .5);
  }
}

/*
 * Utils
 *
 */
.b {
	border: 1px solid #111;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.m1 {
	margin: 1em;
}
.mt1 {
  margin-top: 1em;
}
.mt2 {
  margin-top: 2em;
}
.mt3 {
  margin-top: 3em;
}
.mt4 {
  margin-top: 4em;
}
.mb1 {
	margin-bottom: 1em;
}
.mb2 {
	margin-bottom: 2em;
}
.mb3 {
	margin-bottom: 3em;
}
.mb4 {
	margin-bottom: 4em;
}
.ml1 {
	margin-left: 1em;
}
.p1 {
	padding: 1em;
}
.pb0 {
 	padding-bottom: 0;
}
.pb1 {
	padding-bottom: 1em;
}
.pb2 {
	padding-bottom: 2em;
}
.pb3 {
	padding-bottom: 3em;
}
.pb4 {
	padding-bottom: 4em;
}
.pl-xs {
  padding-left: 0.75rem;

  @include min-screen(768) {
    padding-left: 0;
  }
}
.center-md {
  @include min-screen(768) {
    text-align: center;
  }
}


// Hidden utilities
.hidden-xs {
    display: none;
}
@media (min-width: 768px) {
    .hidden-xs {
        display: block;
    }
}


/*
 * Tips
 *
 */
.tip {
	font-size: .85em;
	font-weight: 700;
	line-height: 1.2em;
	a {
		color: rgba($color_main, .7);
		text-decoration: none;
	}
	.fa {
		display: block;
		line-height: 2em;
		font-size: 1.6em;
	}
}

.invisible {
    visibility: hidden
}




a.list_view_more {
  @include border-radius(3px);
  display: block;
  background: $color_1_soft;
  color: $text_soft;
  padding: .5em 0 .4em 0;
  text-align: center;
  margin: 1em 0;
  text-decoration: none;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 600;
}



html.turbolinks-progress-bar::before {
  background-color: $color_main !important;
  height: 5px !important;
}

.download_file {
  padding: .5em 1em;
  margin: -.5em 0 1em 1em;
  @include border-radius(6px);
  display: inline-block;
  border: 1px solid transparentize($color_main, .75);
  text-decoration: none;
  .fa {
    opacity: .5;
  }
  .file_size {
    opacity: .5;
  }
}

.download_open_data {
  margin: 4em 0;
  padding: 3em 0;
  border-top: 1px solid $color_separator;
  font-size: .75em;
  a {
    color: $color_meta_text;
    width: 135px;
    display: inline-block;
    vertical-align: top;
    line-height: 1.4em
  }
  a:hover {
    color: darken($color_meta_text, 10%);
  }
  .fa {
    margin: 0 .6em;
  }
}
.open_data {
  h1 + .subtitle, h2 + .subtitle, h3 + .subtitle {
    margin: -1em 0 2em 0;
  }
  .data_block {
    border-top: 1px solid $color_separator;
    padding: 2em 0;
    margin: 2em 0;
    h2, h3 {
      margin-top: 0;
    }
    .data_item {
      margin: 0 0 3em 0;
      p {
        margin: .5em 0;
      }
    }
    h3 {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
    h3 + .button.small {
      margin-left: 1em;
    }
  }
}




@import "responsive";
