/*
 * Master CSS file for Gobierto. In this file we include:
 *
 * - Vendor & Gobierto libraries
 * - Gobierto components
 * - CSS conf (fonts, colors)
 * - Fonts
 *
 */


/*
 * Vendor libraries
 *
 */
@import "bourbon";
@import "pure-min";
@import "pure-grids-responsive-min";
@import "tipsy";
@import "magnific-popup";
@import "slick";
@import "datepicker.min";
// @import "slick-theme";


/*
 * Gobierto libraries
 *
 */
@import "populities";


/*
 * Gobierto components
 *
 */
@import "css-conf";
@import "comp-breadcrumbs";
@import "comp-flash_messages";
@import "comp-filters";
@import "comp-forms";
@import "comp-headings_blocks";
@import "comp-layout";
@import "comp-lists";
@import "comp-metric_boxes";
@import "comp-modals";
@import "comp-site_header";
@import "comp-social_buttons";
@import "comp-tables";
@import "comp-tabs";
@import "comp-indicator_widget";

@import "comp-graph-treemap";
@import "comp-graph-vis_lines_table";

@import "module-budget_vis";
@import "module-participation";
@import "module-indicators";

@import "module-admin";



/*
 * Fonts
 *
 */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,600|Source+Sans+Pro:200,400,700,600");
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";





/*
 * Some defaults
 *
 */
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font_text;
  font-size: 16px;
  line-height: 24px;
  color: $color_text;
}
.pure-g [class*="pure-u"] {
	font-family: $font_text;
}
a {
  color: $color_main;
  @include transition;
}
a:hover {
  text-decoration: underline;
}
footer {
  clear: both;
  margin: 5em 0 0 0;
  padding: 5em 0 0 0;
}







/* ToDo: Review & generalize components */

/*
 * Various
 *
 */
.soft_cta {
	background: rgba($color_main, .1);
	@include border-radius(6px);
	padding: 1em 2em;
	display: inline-block;

}
a.soft_cta:hover {
	background: rgba($color_main, .2);
}
.small {
	font-size: .85em;
}
.highlight {
	background: #F1F4BE;
	padding: .2em;
	display: inline-block;
}



#lines_tooltip {
	table {
		th[title=name] {
			width: 45%;
		}
	}
}
.help {
  font-size: .75em;
  float: right;
  a {
    color: rgba($color_main, .5);
  }
}

/*
 * Utils
 *
 */
.b {
	border: 1px solid #111;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.m1 {
	margin: 1em;
}
.mb1 {
	margin-bottom:  1em
}
.mb2 {
	margin-bottom:  2em
}
.mb3 {
	margin-bottom:  3em
}
.mb4 {
	margin-bottom:  4em
}
.ml1 {
	margin-left: 1em;
}
.p1 {
	padding: 1em;
}
.pb0 {
 	padding-bottom: 0;
}
.pb1 {
	padding-bottom: 1em;
}
.pb2 {
	padding-bottom: 2em;
}
.pb3 {
	padding-bottom: 3em;
}
.pb4 {
	padding-bottom: 4em;
}

// Hidden utilities
.hidden-xs {
    display: none;
}
@media (min-width: 768px) {
    .hidden-xs {
        display: block;
    }
}


/*
 * Tips
 *
 */
.tip {
	font-size: .85em;
	font-weight: 700;
	line-height: 1.2em;
	a {
		color: rgba($color_main, .7);
		text-decoration: none;
	}
	.fa {
		display: block;
		line-height: 2em;
		font-size: 1.6em;
	}
}

.p_h_r_1 {
	padding: 0 1em 0 0;
	box-sizing: border-box;
}
.p_h_r_2 {
	padding: 0 2em 0 0;
	box-sizing: border-box;
}
.p_h_r_3 {
	padding: 0 3em 0 0;
	box-sizing: border-box;
}
.p_h_l_1 {
	padding: 0 1em 0 0;
	box-sizing: border-box;
}
.p_h_l_2 {
	padding: 0 2em 0 0;
	box-sizing: border-box;
}
.p_h_l_3 {
	padding: 0 3em 0 0;
	box-sizing: border-box;
}
.invisible {
    visibility: hidden
}




a.list_view_more {
  @include border-radius(3px);
  display: block;
  background: $color_1_soft;
  color: $text_soft;
  padding: .5em 0 .4em 0;
  text-align: center;
  margin: 1em 0;
  text-decoration: none;
  font-size: .8em;
  text-transform: uppercase;
  font-weight: 600;
}



html.turbolinks-progress-bar::before {
  background-color: $color_main !important;
  height: 5px !important;
}

@import "responsive";
