.beeswarm-plot {
  .domain {
    stroke: none;
  }

  .axis-x {
    .tick {
      line {
        stroke: none;
      }

      text {
        font-size: 14px;
        color: #c4c4c4; }
    }
  }

  .axis-y {
    .tick {
      stroke-dasharray: 1px;

      text {
        font-size: 14px;
        text-transform: uppercase;
        color: #0072bc;
      }
    }
  }

}

.beeswarm-tooltip {
  display: none;
  position: absolute;
  padding: .5rem;
  width: 300px;
  height: auto;
  z-index: 1;
  right: 1rem;
  color: #111;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.98);
}

.beeswarm-circle {
  cursor: pointer;
  &:hover {
    fill-opacity: 1;
  }
}
