/*
 * Forms
 *
 */
input[type=text], input[type=email], input[type=submit], input[type=password], .button, button, .option, select, option, textarea {
  box-sizing: border-box;
  height: 54px;
  padding: 0 1em;
  margin: 0 .5em 0 0;
  display: inline-block;
  vertical-align: middle;
  @include border-radius(6px);
  border: 1px solid $color_separator;
}
input[type=submit], .button, button {
  @include transition;
  border: 0;
  background: $color_main;
  color: #FFF;
  padding: 0 2em;
  text-transform: uppercase;
  font-style: 700;
  cursor: pointer;
}
input[type=submit]:hover, .button:hover, button:hover {
  background: darken($color_main, 10%);
}
option, select {
  font-weight: 400;
  padding: 18px;
  // font-size: .8em;
  // border: 1px solid #CCC;
  // background: #F1F1F1;
}
.option {
	padding: 0;
}
.option.separate {
  margin-top: 1em;
  padding-top: 1em;
}
.form_item.input_text, .form_item.textarea, .select_control {
  position: relative;
  margin: 0 0 1em 0;
  label {
    position: absolute;
    top: .5rem;
    left: 1rem;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
  }
  input, textarea {
    padding: 2.75rem 1rem 1.35rem .95rem;
    width: 100%;
    outline: none;
  }
  textarea {
    box-sizing: border-box;
    height: 300px;
  }
  input[type=password] {
    height: 67px;
    padding: 1.5rem 1rem .25rem 1rem;
  }
}
.select_control {
  box-sizing: border-box;
  border: 1px solid $color_separator;
  @include border-radius(6px);
  select {
    margin: 1.75rem 0 0 0;
  }
}

.form_item.textarea.code {
  background: none;
  textarea {
    font-size: .75em;
  }
}

.form_item {
  .options {
    .option {
      display: block;
      margin: 0 0 1em 0;
    }
  }
  .options.compact {
    font-size: .85em;
    .option {
      height: 40px;
      border: none;
      margin-bottom: .5em;
    }
    input[type="checkbox"] + label, input[type="radio"] + label {
      padding: 5px 9px;
      margin: -9px 0 0 -9px;
      @include border-radius(3px);
    }
    input[type="checkbox"] + label span, input[type="radio"] + label span {
      height: 14px;
      width: 14px;
    }
  }
}
.widget_save {
  .form_item {
    .options.compact {
      .option {
        height: initial;  
      }
    }  
  }
}
.button, button {
  text-decoration: none;
  padding: 1em 2em;
  font-weight: 700;
}
.button:hover, button {
  color: #FFF;
}
button.light, .button.light {
	background: $color_main_negative;
	border: 1px solid $color_separator;
	color: $color_main;
}
button.light:hover, .button.light:hover {
	background: rgba($color_main, .2);
}
input[type="checkbox"], input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label, input[type="radio"] + label {
  cursor: pointer;
  display: block;
  padding: 14px;
  @include transition;
}
input[type="checkbox"] + label span, input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid $color_main;
  background: #FFF;
  @include border-radius(3px);
  margin: -4px 11px 0 0;
  vertical-align: middle;
  cursor: pointer;
}
.password_protected {
  display: none;
}
input[type="checkbox"] + label:hover, input[type="radio"] + label:hover {
  background: rgba($color_main, .1);
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
  background: rgba($color_main, .2);
  .password_protected {
    margin: .5em 0;
    font-size: .85em;
    line-height: 1.2em;
    display: block;
    padding: 0 0 0 29px;
    p {
      margin: 0 0 .5em 0;
    }
    input {
      padding: 5px;
      @include border-radius(3px);
      height: initial;
      width: 100%;
      margin: .25em 0;
    }
  }
}
input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span {
  background: $color_main;
}
input[type="radio"] + label span {
	@include border-radius(13px);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
}
select::-ms-expand { /* for IE 11 */
  display: none;
}
.disclaimer {
	font-size: .75em;
	opacity: .5;
}
.button_light {
  background: rgba($color_1, .2);
  @include transition;
  font-size: .75em;
  text-decoration: none;
  padding: .5em 1.5em;
  line-height: 1.2em;
  @include border-radius(20px);
  margin: 1em 0;
  display: inline-block;
}
.button_light:hover {
  background: rgba($color_1, .3);
  text-decoration: none;
}

.slim_search {
	label {
		font-weight: 200;
		padding: 0 1em 0 0;	
	}
	input[type=text] {
		height: 40px;
		width: 300px;
	}
	margin-top: .8em;
}


/*
 * Autocomplete
 *
 */
.autocomplete-suggestions { 
  border: 1px solid #999; 
  font-size: 12px;
  background: #FFF; 
  cursor: default; 
  overflow: auto; 
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
}
.autocomplete-suggestion { padding: 2px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 10px;}
.autocomplete-selected { background: $color_main; color: #FFF; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { }
.autocomplete-group strong { 
  font-weight: bold; 
  font-size: 14px; 
  color: #999; 
  background: $separator;
  padding: 2px 10px;
  text-transform: uppercase;
  display: block; 
  border-bottom: 1px solid $separator; 
}
