/*
 * Filter
 *
 */
.filter {
  font-size: .75em;
  @include screen(768) {
    &.m_2 {
      margin: 0 0 1em 0;
    }
  }
  a {
    display: inline-block;
    padding: .35em 1.25em .25em;
    margin: 0 .75em 0 0;
    @include border-radius(2em);
    background: rgba($color_main, .2);
    text-decoration: none;
    cursor: pointer;

    @include screen(768) {
      padding: .35em .5em .25em;
    }
  }
  a:hover {
    background: rgba($color_main, .3);
    text-decoration: none;
  }
  a.active, a.active:hover {
    border: 1px solid rgba($color_main, .2);
    background: $color_main_negative;
  }
  a.active {
    cursor: default;
  }
  a.help {
    font-weight: bold;
    padding: .35em 1em .25em;
  }
  .separator_v {
    margin: -.25em 2em 0 2em;
  }
  span.label {
    padding: 0 1em;
  }
  a:last-child {
    margin-right: 0;
  }
}

/* comparator version, pending to unify */
.form_filters {
  display: inline-block;
  float: right;
  font-size: 12px;
  margin: 1em 0;

  .group {
    display: inline-block;
    margin: 0 0 0 1em;
  }
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
  }
  ul {
    @include border-radius(2em);
    background: #EFF8F9;
    padding: 0 10px;
    margin: 0;
  }
  li a {
    display: inline-block;
    border-right: 1px solid $background;
    text-decoration: none;
    padding: 1px 7px;
    margin: 0;

  }
  li:last-child a {
    border: none;
  }
  li a:hover, li a.buttonSelected, a.active {
    background: #D1EAED;
  }
}
