/*
 * Forms
 *
 */
input[type=text], input[type=email], input[type=number], input[type=submit], input[type=password], input[type=file], .button, button, select, option, textarea {
  box-sizing: border-box;
  height: 74px;
  padding: 0 1em;
  margin: 0 .5em 0 0;
  display: inline-block;
  vertical-align: middle;
  @include border-radius(6px);
  border: 1px solid $color_separator;
  background: #fafafa;
  @include screen(740) {
    width: 100%;
    margin: 0 0 1em 0;
  }
}
input[type=text]:focus, input[type=email]:focus, input[type=submit]:focus, input[type=password]:focus, input[type=file]:focus, .button:focus, button:focus, select:focus, textarea:focus {
  border-color: #51a7e8;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
  background: #FFF;
}
.form_item.input_text, .form_item.textarea, .select_control, .file_field {
  position: relative;
  margin: 0 0 1em 0;
  label {
    position: absolute;
    top: .5rem;
    left: 1rem;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
  }
  input, textarea {
    padding: 1.9rem 1rem .25rem 1rem;
    width: 100%;
    outline: none;
  }
  textarea, .rich-text-area trix-editor {
    box-sizing: border-box;
    min-height: 300px;
  }
}
.select_control {
  background: #fafafa;
  select {
    padding: 0 15px;
    height: 47px;
  }
}
.select_control.selects_inline {
  select {
    width: initial;
    display: inline-block;
    max-width: 25%;
  }
}
.file_field {
  border: 1px solid $color_separator;
  @include border-radius(6px);
  padding: 2.5em 1em 1em 1em;
  input[type=file] {
    padding: 0;
    border: none;
    height: initial;
  }
}
input[type=submit], .button, button {
  @include transition;
  border: 0;
  height: initial;
  background: $color_main;
  color: #FFF;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
input[type=submit]:hover, .button:hover, button:hover {
  background: darken($color_main, 10%);
}
button a, a.button {
  color: #FFF;
  text-decoration: none;
}
a.button:hover {
  text-decoration: none;
}
.button:hover, button {
  color: #FFF;
}
button.soft, .button.soft {
  background: transparentize($color_main, .35);
}
button.light, .button.light {
  background: $color_main_negative;
  border: 1px solid $color_separator;
  color: $color_main;
}
button.gigantic, .button.gigantic {
  font-size: 1.3em;
  height: initial;
  padding: 1.4em 4em 1.2em;
  margin: 1em 0;
  @include border-radius(2em);
  text-decoration: none;
}
button.small, .button.small {
  font-size: .85em;
  padding: .45em 1em .3em;
  height: initial;
  line-height: 1.2em;
  font-weight: 300;
  @include border-radius(4px);
  display: inline-block;
}
button.light:hover, .button.light:hover {
  background: rgba($color_main, .2);
}
.button_light {
  background: rgba($color_1, .2);
  @include transition;
  font-size: .75em;
  text-decoration: none;
  padding: .5em 1.5em;
  line-height: 1.2em;
  @include border-radius(20px);
  margin: 1em 0;
  display: inline-block;
}
.button_light:hover {
  background: rgba($color_1, .3);
  text-decoration: none;
}
button.outline, .button.outline {
  background: #FFF;
  border: 1px solid transparentize($color_1, .75);
  color: $color_main;
}
button.outline:hover, .button.outline:hover {
  background: $color_1_soft;
  text-decoration: none;
}
input[type="checkbox"], input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label, input[type="radio"] + label {
  cursor: pointer;
  display: block;
  padding: 14px;
  @include transition;
}
input[type="checkbox"] + label span, input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid $color_main;
  background: #FFF;
  @include border-radius(3px);
  margin: -4px 11px 0 0;
  vertical-align: middle;
  cursor: pointer;
}
.password_protected {
  display: none;
}
input[type="checkbox"] + label:hover, input[type="radio"] + label:hover {
  background: rgba($color_main, .1);
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
  background: rgba($color_main, .2);
  .password_protected {
    margin: .5em 0;
    font-size: .85em;
    line-height: 1.2em;
    display: block;
    padding: 0 0 0 29px;
    p {
      margin: 0 0 .5em 0;
    }
    input {
      padding: 5px;
      @include border-radius(3px);
      height: initial;
      width: 100%;
      margin: .25em 0;
    }
  }
}
input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span {
  background: $color_main;
}
input[type="radio"] + label span {
  @include border-radius(13px);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
}
select::-ms-expand { /* for IE 11 */
  display: none;
}
input[type=submit]:disabled, .button:disabled, button:disabled {
  background: darken($color_main, 20%);
  color: darken(#fff, 20%);
}
option, select {
  font-weight: 400;
  padding: 18px;
  width: 100%;
  /*font-size: .8em;
  border: 1px solid #CCC;
  background: #F1F1F1;
  */
}
.option {
	padding: 0;
  position: relative;
}
.option.separate {
  margin-top: 1em;
  padding-top: 1em;
}
.form_item.input_text, .form_item.textarea, .select_control, .file_field {
  position: relative;
  margin: 0 0 2em 0;
  label {
    position: absolute;
    top: .5rem;
    left: 1rem;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
  }
  input, textarea {
    padding: 1.75rem 1rem 0.5rem .95rem;
    width: 100%;
    outline: none;
  }
  textarea {
    box-sizing: border-box;
    height: 300px;
    font-size: 1em;
  }
  input[type=password] {
    height: 67px;
    padding: 1.5rem 1rem .25rem 1rem;
  }
}
.select_control, .options_cont {
  box-sizing: border-box;
  border: 1px solid $color_separator;
  @include border-radius(6px);
  select {
    margin: 1.75rem 0 0 0;
  }
}
.options_cont {
  margin: 0 0 1em 0;
  > label {
    margin: .5rem 1rem;
    display: block;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
  }
}
.form_item.textarea.code {
  background: none;
  textarea {
    font-size: .85em;
  }
}
.form_item {
  position: relative;
  .options {
    .option {
      display: block;
      margin: 0 0 1em 0;
    }
  }
  .options.options_cont {
    .option {
      margin: 0 1em 1em 1em;
      font-size: .85em;
      box-sizing: border-box;
    }
  }
  .options.compact {
    font-size: .85em;
    .option {
      border: none;
      margin-bottom: 1em;
    }
    input[type="checkbox"] + label, input[type="radio"] + label {
      padding: 5px 9px 5px 2.6em;
      margin: -9px 0 0 -9px;
      @include border-radius(3px);

    }
    input[type="checkbox"] + label span, input[type="radio"] + label span {
      position: absolute;
      top: 1em;
      left: 0;
      height: 14px;
      width: 14px;
    }
  }
  .fa {
    margin: 0 .5em;
    opacity: .5;
  }
  .fa-question-circle {
    position: absolute;
    top: .5rem;
    right: 0;
  }
}
.widget_save {
  .form_item {
    .options.compact {
      .option {
        height: initial;
      }
    }
  }
}
.disclaimer {
	font-size: .75em;
	opacity: .5;
}

.slim_search {
	label {
		font-weight: 200;
		padding: 0 1em 0 0;
	}
	input[type=text] {
		height: 40px;
		width: 300px;
	}
	margin-top: .8em;
}


/*
 * Autocomplete
 *
 */
.autocomplete-suggestions {
  border: 1px solid #999;
  font-size: 12px;
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}
.autocomplete-suggestion { padding: 2px 10px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 10px;}
.autocomplete-selected { background: $color_main; color: #FFF; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { }
.autocomplete-group strong {
  font-weight: bold;
  font-size: 14px;
  color: #999;
  background: $separator;
  padding: 2px 10px;
  text-transform: uppercase;
  display: block;
  border-bottom: 1px solid $separator;
}
.ui-autocomplete {
  z-index: 1500;
}
trix-toolbar .button_group button.attach::before {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA%2FPjxzdmcgaGVpZ2h0PSIxNnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNCAxNiIgd2lkdGg9IjI0cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c2tldGNoPSJodHRwOi8vd3d3LmJvaGVtaWFuY29kaW5nLmNvbS9za2V0Y2gvbnMiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48dGl0bGUvPjxkZXNjLz48ZGVmcy8%2BPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSI%2BPGcgZmlsbD0iIzAwMDAwMCIgaWQ9IkNvcmUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMjYuMDAwMDAwLCAtNDYuMDAwMDAwKSI%2BPGcgaWQ9ImJhY2t1cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTI2LjAwMDAwMCwgNDYuMDAwMDAwKSI%2BPHBhdGggZD0iTTE5LjQsNiBDMTguNywyLjYgMTUuNywwIDEyLDAgQzkuMSwwIDYuNiwxLjYgNS40LDQgQzIuMyw0LjQgMCw2LjkgMCwxMCBDMCwxMy4zIDIuNywxNiA2LDE2IEwxOSwxNiBDMjEuOCwxNiAyNCwxMy44IDI0LDExIEMyNCw4LjQgMjEuOSw2LjIgMTkuNCw2IEwxOS40LDYgWiBNMTQsOSBMMTQsMTMgTDEwLDEzIEwxMCw5IEw3LDkgTDEyLDQgTDE3LDkgTDE0LDkgTDE0LDkgWiIgaWQ9IlNoYXBlIi8%2BPC9nPjwvZz48L2c%2BPC9zdmc%2B);
}


.actions_block {
  border-top: 1px solid $color_separator;
  padding: 2em 0 0 0;
  margin: 2em 0 0 0;
}

.follow_item {
  button, .button {
    width: 100%;
    margin: .5em 0 1em 0;
  }

}
