.gobierto-pagination {
  display: block;
}

.gobierto-pagination-btn {
  display: inline-block;
}

.gobierto-pagination-pages {
  display: inline-block;
}

.gobierto-pagination-pages-element {
  display: inline-block;
}

.gobierto-pagination-pages-element-btn {
  display: inline-block;
}
