.subscribable_box {
  background: rgba($color_main, .1);
  padding: 1.5rem;
  margin-top: 4em;
  color: $color_text;
  @include border-radius(5px);
  h3 {
    font-size: 1.3em;
    font-weight: 200;
    line-height: 1.2em;
    margin: 0 0 1.25em 0;
  }
  form {
    input[type=email] {
      width: 60%;
    }
  }
}
