/*
 * Headings
 *
 */
h1, h2, h3, h4 {

}
.block {
	h2 {
		font-weight: 200;
		text-transform: uppercase;
		font-size: 1.6em;
		margin: 2em 0;
	}
	h2.with_description {
		margin-bottom: .35em;
	}
	.description {
		width: 50%;
		font-size: .85em;
		margin: 0 0 3em 0;
		line-height: 1.3em;
		opacity: .6;
	}
}
h1.light {
	font-weight: 200;
}
h2.lite {
	margin: 0 0 .5em 0;
	font-size: 1em;
}
h1, h2 {
	span.element_title {
		font-size: .9rem;
		font-weight: normal;
		padding-left: 1em;
	}
}
p.intro {
	font-size: 1.6em;
	line-height: 1.3em;
	font-weight: 200;
}

/*
 * Content Boxes
 *
 */
.box {
  background: $color_1_soft;
  @include border-radius(6px);
  .inner {
    padding: 1em 2em;
  }
}


.separator {
	border-top: 1px solid $text_soft;
  margin: 2em 0;
	width: 100%;
  height: 1px;
  opacity: .5;
}
.separator_v {
	border-left: 1px solid $color_separator;
	margin: 0 1em;	
	display: inline-block;
	height: 3em;
	margin-top: -.25em;
	vertical-align: top;
}
.separator.half {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.separator.quarter {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
.block_color {
	background: transparentize($color_main, .94);
	border-top: 4px solid $color_main;
}
.section_separator {
  margin: 1em 0;
  text-align: center;
  color: $text_soft;
  font-size: .85em;
  line-height: 1.4em;
  .sep {
    width: 10%;
    border-top: 1px solid $text_soft;
    height: 1px;
    margin: 1em auto;
    opacity: .5;
  }
  p {
    margin: 0;
  }
}
.separator {
  
}

.padded_line_box {
	@include border-radius(6px);
	border: 1px solid $color_separator;
	padding:  2em 3em;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}