/*
 * Headings
 *
 */
h1, h2, h3, h4 {
	line-height: 1.2em;
  color: $color_main;
  .soft {
    color: $color_meta_text;
    font-weight: normal;
  }
}
.block {
  position: relative;
  margin: 0 0 1em 0;
	h1, h2 {
		font-weight: 200;
		text-transform: uppercase;
		font-size: 1.6em;
    margin: 2em 0;
	}
	h2.with_description {
		margin-bottom: .35em;
	}
	.description {
		width: 50%;
		font-size: .85em;
		margin: 0 0 3em 0;
		line-height: 1.3em;
		opacity: .6;
	}
  .slim {
    margin: 0;
  }
  .to_r {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.dynamic-content {
  .block {
    margin-bottom: 3em;
  }
}
.block.slim {
  font-size: .75em;
}
h1.light {
	font-weight: 200;
}
h2.lite {
	margin: 0 0 .5em 0;
	font-size: 1em;
}
h1, h2 {
	span.element_title {
		font-size: .9rem;
		font-weight: normal;
		padding-left: 1em;
	}
}
p.intro {
	font-size: 1.6em;
	line-height: 1.3em;
	font-weight: 200;
}

.compact {
  h3 {
    margin: 0 0 1em 0;
  }
}
.block_section {
  text-transform: uppercase;
  font-size: .85em;
  color: $color_meta_text;
}


/*
 * Content Boxes
 *
 */
.box {
  background: $color_1_soft;
  @include border-radius(6px);
  .inner {
    padding: 1em 2em;
  }
}
.slim_box {
  margin: 1em 0;
  .inner {
    padding: 1em;
  }
  h3 {
    margin: 0 0 .75em 0;
    font-size: 1.1em;
    font-weight: 600;
  }
  .disclaimer {
    text-align: left;
    font-size: .75em;
    margin: .5em 0 0 0;
  }
  input[type=text], input[type=email] {
    width: 50%;
  }
  input[type=text], input[type=email], input[type=submit] {
    height: 45px;
    padding: .25em 1em;
  }
}
.color_neutral_soft {
  background: $color_neutral_soft;
}
.fully_linked {
  margin: 0 0 1em 0;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 200;
  a {
    display: block;
    text-decoration: none;
    padding: 1.5em;
  }
  a:hover {
    text-decoration: none;
    background: darken($color_1_soft, 15%);
  }
  .fa {
    margin-right: 1em;
  }
}

.separator {
	border-top: 1px solid $text_soft;
  margin: 2em 0;
	width: 100%;
  height: 1px;
  opacity: .5;
}
.separator_v {
	border-left: 1px solid $color_separator;
	margin: 0 1em;	
	display: inline-block;
	height: 3em;
	margin-top: -.25em;
	vertical-align: top;
}
.separator.half {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.separator.quarter {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
.separator_blue_medium {
	border-top: 3px solid transparentize($color_main, .65);
}
.block_color {
	background: transparentize($color_main, .94);
	border-top: 4px solid $color_main;
}
.section_separator {
  margin: 1em 0;
  text-align: center;
  color: $text_soft;
  font-size: .85em;
  line-height: 1.4em;
  .sep {
    width: 10%;
    border-top: 1px solid $text_soft;
    height: 1px;
    margin: 1em auto;
    opacity: .5;
  }
  p {
    margin: 0;
  }
}

.padded_line_box {
	@include border-radius(6px);
	border: 1px solid $color_separator;
	padding:  2em 3em;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
  @include screen(740) {
    padding: 0 1em;
    margin: 0 0 1em 0;
  }
}
.padded_line_box.compact {
  padding: 1em 1.5em;
}

.see_more {
  display: block;
  padding: .75em 1em;
  margin: 0 0 2em 0;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  background: $color_1_soft;
}
.see_more:hover {
  text-decoration: none;
  background: darken($color_1_soft, 15%); 
}

.inpage_section {
  @include border-radius(4px);
  text-align: center; 
  background: $color_neutral_soft;
  padding: 1em;
  margin: 2em 0;
  ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
    a {
      margin: 0 1em;
    }
  }

}

