/*
 * Modals
 *
 */
.modal {
  position: relative;
  background: #FFF;
  padding: 3em 4em 4em;
  width: auto;
  max-width: 750px;
  margin: 20px auto;
  @include border-radius(5px);
  color: $color_headers;

  &#read_later {
    input[type=submit], .button {
      padding: 0 1em;
    }
  }

.disclaimer {
    font-size: .8em;
    text-align: center;
    margin: 2em 0;
    opacity: .6;
  }
}
.mfp-bg {
	opacity: .6;
}
.mfp-close-btn-in .mfp-close:hover {
	color: #FFF;
	border-radius: 0;
}
.modal-attachments {
  background: white;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  transition: 0.3s;
  /* padding: 1rem; */
  border-radius: 4px;

  h1 {
    color: #946b04;
    font-weight: 400;
    margin-bottom: 0.5em !important;
  }

  input[type=text] {
    height: 40px;
    width: 380px;
  }

  table {
    tr td:first-child {
      width: 75%;
    }
    tr td:nth-child(2),
    tr td:nth-child(3),
    tr td:nth-child(4) {
      color: $text_soft;
    }
    tr td:nth-child(3) {
      text-transform: uppercase;
    }
  }

  .bg-highlight {
    background: #fef0cd;
  }

  .drag-section {
    height: calc(100% - 130px);

    .drag-drop {
      text-align: center;
      height: 100%;
      border: 3px dotted #b4a47d;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .drag-call {
        margin: 0 auto;
        text-align: center;
        max-width: 150px;
        color: #b4a47d;

        p {
          margin-top: 0;
        }
      }

      button {
        background: $color_1;
        color: white;
        text-transform: uppercase;
        padding: 0.75em 2em;
      }
    }
  }
}
