/*
 * Modals
 *
 */
.modal {
  position: relative;
  background: #FFF;
  padding: 3em 4em 4em;
  width: auto;
  max-width: 750px;
  margin: 20px auto;
  @include border-radius(5px);
  color: $color_headers;

  &#read_later {
    input[type=submit], .button {
      padding: 0 1em;
    }
  }

.disclaimer {
    font-size: .8em;
    text-align: center;
    margin: 2em 0;
    opacity: .6;
  }
}
.mfp-bg {
	opacity: .6;
}
.mfp-close-btn-in .mfp-close:hover {
	color: #FFF;
	border-radius: 0;
}
.modal-attachments {
  position: relative;
  background: white;
  max-height: 530px;
  max-width: 90vw;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  /* padding: 1rem; */
  border-radius: 4px;

  @media (min-width: 1440px) {
    max-height: 960px;
    max-width: 1200px;
  }

  h1 {
    color: #946b04;
    font-weight: 400;
    margin-bottom: 0.5em !important;
  }

  input[type=text] {
    height: 40px;
    width: 380px;
  }

  table {
    tbody {
      display: block;
      overflow-y: scroll;
      max-height: 350px;

      @media (min-width: 1440px) {
        max-height: 450px;
      }
    }
    tr td:first-child {
      width: 75%;
    }
    tr td:nth-child(2),
    tr td:nth-child(3),
    tr td:nth-child(4) {
      color: $text_soft;
    }
    tr td:nth-child(2),
    tr td:nth-child(3) {
      width: 5%;
    }
    tr td:nth-child(3) {
      text-transform: uppercase;
    }
  }

  .bg-highlight {
    background: #fef0cd;
    // max-height: 530px;
    transition: 0.3s;
    height: 100%;
    left: 66.6667%;
    position: absolute;
    border-radius: 4px;
    z-index: 1;

    i {
      cursor: pointer;
    }
    @media (min-width: 1440px) {
      max-height: none;
    }

    &.dragged {
      left: 0;
      width: 100%;
    }
  }

  .dragged .drag-section {
    max-width: 750px;
    margin: 0 auto;
  }

  .drag-section {
    height: calc(100% - 115px);

    .drag-drop {
      text-align: center;
      height: 93%;
      border: 3px dotted #b4a47d;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      @media (min-width: 1440px) {
        height: 100%;
      }

      &:hover {
        background: darken(#fef0cd, 5%)
      }

      .drag-call {
        margin: 0 auto;
        text-align: center;
        max-width: 150px;
        color: #b4a47d;

        p {
          margin-top: 0;
        }
      }

      button {
        background: $color_1;
        color: white;
        text-transform: uppercase;
        padding: 0.75em 2em;
      }
    }
  }

  .dragged {
    input[type=text] {
      height: auto;
    }

    .strong {
      color: $color_headers;
    }

    .form_item.textarea {
      margin-bottom: 1em;

      textarea {
        min-height: 180px;
        height: 180px;

        @media (min-width: 1440px) {
          min-height: 280px;
          height: 280px;
        }
      }
    }
  }
}
