.vis-bubbles {
  position: relative;
  
  .tooltip {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #eee;
    padding: 10px;
    z-index: 4;
  }
  
  .bubble-g {
    text {
      fill: white;
      text-shadow: 1px 1px 0 #111, -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111;
      pointer-events: none;
    }
  }
}
