:root {
  --grey-line: #c4c4c4;
  --blue-text: #0072bc;
  --white: #fff;
  --black: #000;
  --grey: #ccc;
  --shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.beeswarm-container {
  position: relative;
}

.beeswarm-plot {

  .domain {
    stroke: none;
  }

  .axis-x {
    .tick {
      line {
        stroke: none;
      }

      text {
        font-size: $f7;
        color: var(--grey-line);
      }
    }
  }

  .axis-y {
    .tick {
      stroke-dasharray: 1px;

      line {
        stroke: var(--grey-line);
      }

      text {
        display: none;
      }

    }
  }

  .line-y {
    stroke: var(--grey-line);
    stroke-dasharray: 1px;
  }

  .label-y {
    font-size: $f7;
    text-transform: uppercase;
    fill: var(--blue-text);
  }

}

.beeswarm-tooltip {
  opacity: 0;
  position: absolute;
  padding: .5rem;
  width: max-content;
  max-width: 300px;
  height: auto;
  z-index: 1;
  right: $f6;
  color: var(--black);
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--grey);
  box-shadow: var(--shadow);
}

.beeswarm-circle {
  cursor: pointer;

  &:hover {
    fill-opacity: 1;
  }
}
