.gobierto-block-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: .75rem;
  line-height: 14px;
  padding-top: 1em;
  width: 100%;
}

.gobierto-block-header--title {
  text-transform: uppercase;
  font-weight: 700;
}

.gobierto-block-header--link {
  font-weight: 400;
  background: none;
  cursor: pointer;
  color: var(--color-base);
  padding: 0;
  font-size: .75rem;
  text-transform: none;
  &:hover {
    background: none;
    text-decoration: underline;
  }
}

.gobierto-block-header--icon {
  transition: transform ease-in .1s;
  pointer-events: none;
  color: var(--color-base);
}

.gobierto-rotate-icon {
  i {
    transform: rotate(270deg);
  }
}
