:root {
  --perspective-map-range-1: #f1eef6;
  --perspective-map-range-2: #bdc9e1;
  --perspective-map-range-3: #74a9cf;
  --perspective-map-range-4: #2b8cbe;
  --perspective-map-range-5: #045a8d;
  --perspective-map-category-1: #a6cee3;
  --perspective-map-category-2: #1f78b4;
  --perspective-map-category-3: #b2df8a;
  --perspective-map-category-4: #33a02c;
  --perspective-map-category-5: #fb9a99;
}

.perspective-map-legend {
  line-height: 18px;
  color: #555;
  background-color: #fff;
  padding: 1em;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.perspective-map-legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}

.perspective-map-tooltip {
  background-color: #fff;
  padding: 1em;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.perspective-map-tooltip:empty {
  display: none;
}