/* Widget */
.indicator_widget {
	padding: 1.5em;
	border-radius: 8px;
	margin-bottom: 2em;
	background: #f0f9f9;
	cursor: pointer;
	transition: 0.3s all;
}
.indicator_widget:focus,
.indicator_widget:active,
.indicator_widget:hover, {
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}
.widget_headline {
	font-weight: 700;
	margin-bottom: 1rem;
}
.widget_body {
	height: 100px;
	line-height: 80px;
}
.widget_headline i {
	color: #b1b8b8;
	margin: 0.25em .25em 0 0;
	transition: all 0.25s;
	cursor: pointer;
}
.indicator_widget:focus .widget_headline i,
.indicator_widget:active .widget_headline i,
.indicator_widget:hover .widget_headline i, {
	color: $color_text;
}
.widget_headline .fa-times {
	color: $color_text;
}

.widget_figure {
	font-weight: 300;
	font-size: 4em;
	color: $color_1;
}
.widget_pct {
	font-weight: 300;
}
.widget_pct i {
	margin-left: 0.25rem;
}
.widget_pct .fa-caret-up {
	color: $color_vis_com;
}
.widget_pct .fa-caret-down {
	color: $color_warn;
}

// Widget additional info screen
.widget_info {
	display: none;
	height: 100px;
}

// Widget metadata
.widget_meta .fa-clock-o,
.widget_meta .fa-university {
	font-size: 70%;
}
.widget_meta .widget_src {
	vertical-align: middle;
	display: inline-block;
	font-size: 70%;
	width: 55%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.widget_meta .widget_src a {
	color: $color_text;
	text-decoration: none;
}
.widget_updated {
	font-size: 70%;
}
