/* Widget */
.card_container {
	position: relative;
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	min-height: 180px;
	border-radius: 8px;
	margin-bottom: 2rem;
}
.indicator_widget {
	margin-right: 2rem;
	cursor: pointer;
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
}
.front,
.back {
	border-radius: 8px;
	padding: 1rem;
	background: #f0f9f9;
	width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.2s all;
}
.front:hover,
.front:active,
.front:focus,
.back:hover,
.back:active,
.back:focus {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);	 
}
.widget_headline {
	margin-bottom: 0.5rem;
	font-weight: 600;
}
.widget_body {
  min-height: 80px;
  line-height: 80px;
  
  .half {
    width: 48%;
    display: inline-block;
  }
  .category {
    color: $text_soft;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 0.85rem;
  }
  
  ol {
    padding: 0 1rem;
  }
}
.widget_body.categories {
  line-height: inherit;
  font-size: 0.85rem;
}
.widget_headline i {
	color: #b1b8b8;
	margin: 0.25em .25em 0 0;
	transition: all 0.25s;
	cursor: pointer;
}
.indicator_widget:focus .widget_headline i,
.indicator_widget:active .widget_headline i,
.indicator_widget:hover .widget_headline i, {
	color: $color_text;
}
.widget_headline .fa-times {
	color: $color_text;
}
.back .fa-facebook,
.back .fa-twitter {
	color: $color_text;
}
.front .fa-facebook,
.front .fa-twitter {
	opacity: 0;
	transition: 0.25s;
}
.front:hover .fa-facebook,
.front:hover .fa-twitter {
	opacity: 1;
}

.widget_figure {
	font-weight: 300;
	font-size: 2rem;
	color: $color_1;
}
.widget_pct {
	font-weight: 300;
}
.widget_pct i {
	margin-left: 0.25rem;
}
.widget_pct .fa-caret-up {
	color: $color_vis_com;
}
.widget_pct .fa-caret-down {
	color: $color_warn;
}

// Widget additional info screen
.widget_info {
	min-height: 80px;
}

// Widget metadata
.widget_meta .fa-clock-o,
.widget_meta .fa-university {
	font-size: 70%;
	color: #9c9c9c;
}
.widget_meta .widget_src {
	vertical-align: middle;
	display: inline-block;
	font-size: 70%;
	width: 55%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #7F7F7F;
  font-weight: 300;
}
.widget_meta .widget_src a {
	font-weight: 300;
	color: #7F7F7F;
	text-decoration: none;
}
.widget_updated {
	font-weight: 300;
	color: #7F7F7F;
	font-size: 70%;
}

/* Card flip */
.card_container.hover .indicator_widget {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.card_container.hover .front,
.card_container.hover .back {
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);	 
}
.front {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.back {
	left: -2rem;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.figure-row {
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
	.card_container {
		min-height: 200px;
	}
	.indicator_widget {
		margin-right: 6rem;
	}
  .indicator_widget.slim {
    margin-right: 3rem;
  }
	.widget_start {
		margin-right: 6rem;
	}
	.widget_middle {
		margin-right: 4rem;
		margin-left: 2rem;
	}
	.widget_end {
		margin-right: 2rem;
		margin-left: 4rem;
	}
	.widget_body {
		min-height: 100px;
    line-height: 100px;
	}
	.widget_headline {
		margin-bottom: 1rem;
	}
	.widget_figure {
		font-size: 2.5rem;
	}
	.widget_info {
		min-height: 100px;
	}
}
