.graph-title {
  text-transform: uppercase;
  border-bottom: 2px solid $color_main_soft;
  padding-bottom: 0.5em;

  + p {
    font-size: 0.875em;
    opacity: 0.5;
  }
}

.as-block {
  display: block;
}

//bars
//hbars1
//hbars2
.dc-chart svg {
  overflow: visible;
}

.dc-chart g.row rect,
.dc-chart rect.bar {
  fill: $color_main;

  &.deselected {
    fill: #ccc;
  }
}

.dc-chart g.row text,
.dc-chart .axis,
.dc-chart .axis text {
  font: inherit;
  font-size: 0.875rem;
  fill: $color_text !important;
  white-space: pre;
}

.dc-chart .axis .axis-title {
    opacity: 0.5;
    text-transform: uppercase;
}

.dc-chart .axis line {
  stroke: $color_text;
}

.dc-chart .axis path,
.dc-chart .axis .tick line:not(.grid-line) {
  display: none;
}

//jsGrid
.jsgrid {
  .jsgrid-filter-row {
    input {
      height: 30px;
    }
  }

  input[type="checkbox"] {
    display: inline-block;
  }
}

//Overlays
.overlay-container {
  position: relative;

  .overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    box-shadow: inset 0px 0px 20px 20px $color_main_negative;
    z-index: 2;
    cursor: pointer;

    .overlay-content {
      position: absolute;
      top: 15rem;
      margin: 0 auto;
      font-size: $f2;
      color: $color_main_negative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
