#gobierto-observatory-demography-map-app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: 100;
}

.column {
  padding: 0 2rem;
}

.gobierto_observatory {
  height: 100vh;

  &-header {
    width: 100%;
    background-color: var(--numbers);
    font-family: var(--plex-font);
    padding: 2rem;
    letter-spacing: 0;
    display: flex;
    justify-content: flex-end;
  }

  &-header-left {
    width: 80%;
  }

  &-header-right {
    width: 20%;
    text-align: right;
  }

  &-header-title,
  &-header-council,
  &-header-back {
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
    display: block;
  }

  &-header-title {
    font-weight: normal;
    margin-bottom: .5rem;
  }

  &-header-back {
    font-size: 1rem;
    font-weight: normal;
  }

  &-date-update,
  &-legend {
    font-size: 11px;
    display: block;
    text-align: right;
    color: rgba(79, 79, 79, .5);
    margin-top: 1rem;
  }

  &-date-update {
    margin: 0;
    padding-right: 1rem;
  }

  &-legend {
    text-align: left;
    margin-top: -.5rem;
  }

  &-symbol {
    color: #445d77;
  }

  &-sidebar,
  .pure-g [class*="pure-u"] {
    font-family: var(--plex-font) !important;
  }

  &-sidebar {
    background-color: #fff;
    padding: 1rem 0 !important;
    height: calc(100vh - 120px);
    overflow-y: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }

  &-container-charts {
    position: relative;
    padding: 1rem 2rem;
  }

  &-sidebar::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
  
  &-container-map {
    height: calc(100vh - 120px);
    padding-left: 0 !important;
    position: relative;
  }

  &-habitants-title {
    margin: 0;
    font-size: 1rem;
    color: var(--pyramidal-female);
  }

  &-habitants-number {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    color: var(--numbers);
  }

  .graphics {
    overflow: hidden;
    margin-top: 2rem;
  }

  #inhabitants {
    color: var(--pyramidal-female);
  }

  .selected + .row,
  .selected + .row + .titlerow {
    font-weight: bold;
  }

  .graph-title {
    font-size: 1rem;
    font-weight: normal;
    color: var(--pyramidal-female);
    border-bottom: 0;
    margin: 0;
    padding-bottom: 0;
    text-transform: initial;
  }
}

.leaflet-interactive:hover {
  stroke-width: 3px;
  fill-opacity: 0.7;
}

.filter-close {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 95%;
  background-color: rgba(0, 142, 156, .2);
  display: none;
  color: var(--pyramidal-female);
  padding: 2px 5px;
  transition: background-color .3s ease-in;

  &:hover {
    background-color: rgba(0, 142, 156, .5);
  }

  i {
    cursor: pointer;
    margin: 0;
  }
}

.active-filtered {
  background-color: rgba(0, 142, 156, .1);

  .graph-title {
    font-weight: bold;
  }

  .filter-close {
    display: block;
  }
}

#titlerow_0,
#titlerow_1,
#text-label_0,
#text-label_1 {
  font-weight: bold;
  fill: rgba(79, 79, 79, .75) !important;
}

#text-label_0,
#text-label_1 {
  font-weight: normal;
}

#bar-nationality.dc-chart {
  g.row {

    &._0 {
      rect {
        fill: var(--numbers);

        &.deselected {
          fill: #ccc;
        }
      }
    }

    &._1 {
      rect {
        fill: rgba(18, 54, 91, .5);

        &.deselected {
          fill: #ccc;
        }
      }
    }
  }
}

#bar-sex.dc-chart {
  g.row {

    &._0 {
      rect {
        fill: var(--pyramidal-female);

        &.deselected {
          fill: #ccc;
        }
      }
    }

    &._1 {
      rect {
        fill: var(--pyramidal-male);

        &.deselected {
          fill: #ccc;
        }
      }
    }
  }
}

#piramid-age-sex {
  .left-chart,
  .right-chart {
    display: inline-block;
  }

  .left-chart.dc-chart {
    g.row {
      rect {
        transition: all .3s ease-in;
        fill: var(--pyramidal-male);

        &.deselected {
          fill: #ccc;
        }
      }
    }
  }

  .right-chart.dc-chart {
    g.row {
      rect {
        fill: var(--pyramidal-female);

        &.deselected {
          fill: #ccc;
        }
      }
    }
  }
}

/* stylelint-disable */
.gobierto_observatory {
  .dc-chart {
    float: none;
  
    &.left-chart {
      svg {
        overflow: hidden;
      }
    }
  
    .axis {
      display: none;
    }
  
    g.row rect,
    rect.bar {
      fill: #ff776d;
      rx: 3px;
  
      &.deselected {
        fill: #ccc;
      }
    }
  
    g.row text.titlerow {
      font-size: 14px;
      fill: rgba(79, 79, 79, .5) !important;
    }
  
    g.row text {
      font-size: 14px;
      fill: rgb(79, 79, 79) !important;
    }
  
    g[class*="row"] {
      cursor: pointer;
  
      text {
        font-size: 12px;
        text-transform: initial;
      }
  
      &:hover {
        text {
          font-weight: bold;
        }
      }
    }
  }
  
  .left-chart.dc-chart {
    g.row text {
      display: none;
    }
  }
  
  .left-chart.dc-chart,
  .right-chart.dc-chart {
    .axis {
      display: none;
    }
  
    .axis-y {
      display: block;
    }
  
    rect {
      rx: 3px;
      transition: all .3s ease-in-out;
    }
  }
  
  .right-chart.dc-chart {
    g.row {
      text.titlerow {
        display: none;
      }
  
      text {
        fill: #111;
        pointer-events: none;
      }
    }
  }
}
/* stylelint-enable */

#map {
  height: 100%;
  max-height: 100vh;
  width: 100%;

  .leaflet-container {
    width: 100% !important;
  }
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
  font-family: var(--plex-font) !important;

  i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

#reset-filters {
  background-color: var(--color-base);
  padding: .5rem 1rem;
  font-size: 12px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 999;
  color: #fff;

  &.disabled {
    cursor: not-allowed;
    opacity: .8;
    background-color: #ccc;
  }
}

#gobierto_observatory-demography-map-app-container-spinner {
  position: absolute;
  background-color: #fff;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  &.disable-spinner {
    display: none;
  }
}

#gobierto-observatory-demography-map-app-spinner {
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #3e67ec;
  border-radius: 50%;
  animation: loadingSpinner 1s linear infinite;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

@keyframes loadingSpinner {
  100% {
    transform: rotate(360deg);
  }
}