.ui-slider {
  background-color: $color_main_soft;

  &.ui-slider-horizontal {
    height: 3px;
  }

  .ui-slider-range {
    background-color: var(--color-base);
  }

  .ui-slider-handle {
    border-radius: 100%;
    border: 1px solid $color_main_negative;
    background-color: var(--color-base);
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
}
