.gobierto-table {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  table {
    max-width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    th {
      font-weight: bold;
      color: var(--color-base);
    }

    i {
      color: var(--color-base);
    }

    td.right {
      text-align: right;
    }

    td.bold {
      font-weight: bold;
    }
  }

  &__th {
    padding: 0 .5rem .25rem 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    border-top: 0;
    border-bottom: 1px solid #ccc;

    &:last-child {
      padding: 0 0 .25rem;
      margin-left: auto;

      .sort-icon {
        margin-right: .5rem;
      }
    }
  }

  &__td {
    border: 0;
    font-size: $f6;
    padding: .5rem .5rem .5rem 0;

    i {
      color: var(--color-base);
    }

    &:first-child {
      flex: 0 0 50%;
    }

    &:last-child {
      margin-left: auto;
      padding: .5rem 0;
    }
  }

  &__td--alt {
    border: 0;
    font-size: $f7;
    padding: .5rem .5rem .5rem 0;
    font-weight: normal;
    flex: 1;

    &.is-selected {
      font-weight: 900;
    }

    &:first-child {
      flex: 0 0 50%;
    }

    &:last-child {
      text-align: right;
      padding: .5rem 0;
    }
  }

  &__td-name {
    text-decoration: underline;
    color: var(--color-base);
    cursor: pointer;
  }

  &__td-link {
    display: flex;
    align-items: baseline;
    color: var(--color-base);
    cursor: pointer;

    i {
      flex: 0 0 12px;
    }

    a {
      max-width: 80%;
    }
  }

  &__container {
    width: 100%;
  }

  &__wrapper {
    width: 100%;
    position: relative;

    > div {
      overflow-x: auto;
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 2rem;
    align-items: center;

    th {
      cursor: pointer;
    }
  }

  &__breadcrumb {
    display: flex;
    align-items: center;
    padding-right: .5rem;

    > :not(:last-child) {
      margin-right: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 35vw;
    }

    &-group {
      text-transform: uppercase;
      font-size: $f6;
      font-weight: bold;
      cursor: pointer;
    }

    &-term {
      text-transform: uppercase;
      font-size: $f5;
      text-decoration: none;
      color: var(--color-base);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 40vw;
    }

    &-arrow {
      opacity: .5;
    }
  }

  &__column-selector {
    position: relative;
    color: var(--color-base);
    font-size: $f7;
    cursor: pointer;

    &__trigger {
      display: flex;
      align-items: baseline;

      span {
        text-decoration: underline;
        white-space: nowrap;
        margin-right: 0.5rem;
      }
    }

    &__icon {
      margin-left: .5rem;
    }

    &__content {
      position: absolute;
      right: 0;
      top: 100%;
      background-color: $color_main_negative;
      padding: 2em;
      box-sizing: border-box;
      width: 25vw;
      box-shadow: 0 0 20px rgba(0, 0, 0, .25);
      border-radius: 3px;
      z-index: 3;
      max-height: 250px;
      overflow-y: scroll;
    }
  }

  &--inner {
    margin-left: 1rem;
    width: calc(100% - 1rem);
  }

  .table-th-money {
    text-align: right;
  }
}
