.timeline {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 2rem;
  
  .timeline-wrap {
    height: 6px;
    position: relative;
    display: block;
    border-radius: 15px;
    background-color: #ccc;
  }
  .timeline-dot {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
    transition: all 0s;
    will-change: transform;
    cursor: pointer;
    z-index: 3;
    width: 16px;
    height: 16px;
    top: -5px;
    transition-duration: 0s;
    transform: translateX(-8px);
    left: 100%;
  }
  .timeline-pieces {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    height: 100%;
    list-style: none;
    
    .timeline-piece {
      position: absolute;
      width: 6px;
      height: 6px;
      top: 0px;
      
      .timeline-piece-dot {
        background-color: rgb(204, 204, 204);
        visibility: visible;
        width: 12px;
        height: 12px;
        position: absolute;
        left: 50%;
        top: 50%;
        // width: 100%;
        // height: 100%;
        display: inline-block;
        // background-color: rgba(0, 0, 0, 0.16);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        transition: all .3s;
      }
      .timeline-piece-label {
        position: absolute;
        display: inline-block;
        top: 10px;
        left: 50%;
        white-space: nowrap;
        font-size: 1rem;
        color: #333;
        transform: translateX(-50%);
        visibility: visible;
      }
    }
    .timeline-piece:first-child {
      .timeline-piece-label {
        left: 0;
        transform: translateX(0%);
      }
    }
    .timeline-piece:last-child {
      .timeline-piece-label {
        left: 100%;
        transform: translateX(-100%);
      }
    }
  }
}
