/*
 * Metric boxes
 *
 */

.metric_boxes {
	margin: 0 0 3em 0;

  .metric_box {
		box-sizing: border-box;
		.inner {
      background: transparentize($color_main, .85);
			margin: 0 .5em;
			padding: .8em 1em;
			min-height: 100px;
			position: relative;
		}
		h3 {
      color: $color_main;
			margin: 0 0 .75em 0;
			font-size: 1em;
      opacity: 0.6;
			font-weight: 600;
		}
		.metric {
			font-size: 2em;
			font-weight: 600;
		}
		.explanation {
			font-size: .75em;
			opacity: .6;
			position: absolute;
			bottom: .8em;
		}
		span.not_av {
			font-size: 1em;
			opacity: .5;
		}
    .explanation_bar {
      font-size: .75em;
      position: absolute;
      bottom: .8em;
      width: calc(100% - 3em);
      line-height: 1.4;

      span {
        opacity: 0.6;
      }
    }
    .bar {
      display: inline-block;
      width: 25%;
      opacity: 1;
      height: 10px;
      background: rgba($color_main, .1);
      margin-right: 0.25rem;

      .line {
        opacity: 1;
        height: 10px;
        background: $color_main
      }
    }
    .tooltiped {
      text-decoration: underline;
      cursor: pointer;
    }
	}
	.metric_box:first-child {
		.inner {
			margin-left: 0;
		}
	}
	.metric_box:last-child {
		.inner {
			margin-right: 0;
		}
	}

}
