/*
 * Search results
 *
 */
.search_results {
  .search_box {
    margin: 0 0 4em 0;

    input {
      height: initial;
      padding: 1em;
    }

    input[type=text] {
      width: 70%;
    }
  }

  .result {
    margin: 0 0 3em 0;

    h2 {
      margin: 0;
      font-size: 1.2em;
    }

    .item_type,
    .updated_at {
      opacity: 0.5;
      text-transform: uppercase;
    }

    .item_type::after {
      content: " · ";
    }
  }
}
