/*
 * Flash messages
 *
 */
.success, .error, .alert, .notice {
  padding: 2em;
  margin-bottom: 2em;
  font-size: 1.2em;
  border-left: 10px solid;

  .fa {
    font-size: 1.5em;
    margin: 0 1em 0 0;
    vertical-align: top;
  }
  &.slim {
    padding: 1em;
    font-size: 0.9em;
  }
}

.success {
  background: #CCCC00;
  border-color: darken(#CCCC00, 20%);
  color: #FFF;
}
.error {
  background: #FF9966;
  border-color: darken(#FF9966, 20%);
  color: #FFF;
}
.alert {
  background: #FFEBE0;
  border-color: darken(#FFEBE0, 20%);
  color: #AE5D3B;
}
.notice {
  background: #F5F5CC;
  border-color: darken(#F5F5CC, 20%);
  color: #787A03;
}
.field_with_errors {
  input {
    border: 1px solid #FF9966;
  }
}
/*.disclaimer {
  font-size: .8em;
  text-align: center;
  line-height: 1.4em;
  width: 70%;
  margin: 2em auto;
  opacity: .8;
}*/
