.person_event-item,
.place_event-item,
.place_news-item,
.place_latest-item {
  .date_badge {
    box-sizing: border-box;
    padding: .3em 0;
    background-color: $color_main;
    text-align: center;
    background: $color_1_soft;
    @include border-radius(4px);
    color: $color_main;
  }
  .day, .month, .hour {
    margin: 0;
    line-height: 1.4em;
  }
  .day {
    font-size: 1.4em;
    font-weight: 600;
  }
  .month, .hour {
    font-size: .85em;
  }
  .hour {
    opacity: .5;
  }
}

.event-content,
.news-content,
.latest-content {
  padding: 0 0 0 1.5em;
  box-sizing: border-box;
  // border-bottom: 1px solid $color_separator;

  .meta {
    font-size: .85em;
  }
  h2, h3 {
    margin: .5em 0 .75em 0;
  }
  .event-data {
    border-top: 1px solid $color_separator;
  }
  .event-description {
    padding: 2em 0;
  }
  .person-item {
    padding: 0 0 1em 0;
    border: none;
  }
  .event-locations {
    box-sizing: border-box;
    padding: 0 0 0 2em;
  }
  .person-name {
    h2 {
      margin-top: 0;
    }
    .soft {

    }
  }
}

.events-filter {
  .filter-option:not(.active) {
    @extend .soft;
  }
}
