.punchcard {
  min-height: 500px;
  position: relative;

  circle {
    fill: $color_main;

    &:hover {
      fill: lighten($color_main, 10%);
      cursor: pointer;
    }
  }

  line {
    stroke: $color_meta_text;
  }

  rect {
    pointer-events: none;

    &:nth-of-type(odd) {
      fill: rgba($color_main, .2);
    }

    &:nth-of-type(even) {
      fill: none;
    }
  }

  .title {
    font-weight: bold;
  }

  .y.axis {
    text-anchor: start;

    .tick text {
      font-size: $f7;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .x.axis {
    .tick text {
      font-size: $f8;
      fill: $color_meta_text;
    }
  }
}
