#population_pyramid {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;

  svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .pyramid {
    .males {
      rect {
        fill: $color_1;

        &:hover {
          cursor: pointer;
          fill: darken($color_1, 10%);
        }
      }
    }

    .females {
      rect {
        fill: invert($color_1);

        &:hover {
          cursor: pointer;
          fill: darken(invert($color_1), 10%);
        }
      }
    }

    .titles {
      font-weight: 600;
      font-size: $f7;
      fill: $color_text;
    }

    .tick {
      text {
        fill: lighten($color_text, 25%);
        font-size: $f8;
      }

      line {
        stroke: lighten($color_text, 50%);
      }
    }

    .y.axis {
      text-anchor: end;
    }

    .tooltip {
      font-weight: 600;
      font-size: $f7;
      fill: $color_text;
    }
  }

  .areas {
    .title {
      font-weight: 600;
      font-size: $f6;
      fill: $color_text;
    }

    .subtitle {
      font-size: $f7;
      fill: $color_main_soft;

      .as-title {
        font-weight: 600;
        fill: $color_text;
      }
    }

    .range {
      @for $i from 0 through 2 {
        &.r-#{$i} {
          rect {
            fill: lighten($color_logo_yellow, $i * 20);
          }

          rect.inner {
            fill: lighten($color_logo_yellow, $i * 10);
          }
        }
      }
    }
  }

  .marks {
    .mark {
      line {
        stroke: $color_logo_yellow;
        stroke-width: 2px;
      }

      text {
        font-size: $f6;
        fill: $color_text;
        font-weight: 600;
      }
    }
  }
}
