header {
  // Header weights
  $fExtraLight: 200;
  $fRegular: 400;
  $fSemibold: 600;
  $fBold: 700;

  // Header media breakpoints, from purecss.io
  $wSmall: 568px;
  $wMedium: 768px;
  $wLarge: 1024px;
  $wExtraLarge: 1280px;

  // Header Mixins
  @mixin font($size: $f6, $color: $color_1, $weight: $fRegular, $style: normal) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
  }
  @mixin breakpoint($point) {
    @if $point == sm {
      @media (max-width: $wSmall) {
        @content;
      }
    } @else
    if $point == md {
      @media (max-width: $wMedium) {
        @content;
      }
    } @else
    if $point == lg {
      @media (max-width: $wLarge) {
        @content;
      }
    } @else
    if $point == xl {
      @media (max-width: $wExtraLarge) {
        @content;
      }
    }
  }

  .slim_nav_bar {
    margin: 0;
    text-transform: uppercase;
    background-color: $color_secondary;

    a {
      display: inline-block;
      padding: .75em .5em .6em;
      text-decoration: none;
      margin: 0;
      @include font(0.85em, $color_text, $fExtraLight);

      &:hover {
        background: darken($color_secondary, 7.5%);
      }
    }

    .user_links, .language_selector, .pure-menu {
      display: inline-block;
      width: initial;
    }

    .pure-menu {
      .pure-menu-item {
        display: block;
      }

      .pure-menu-children {
        background-color: $color_secondary;
        min-width: 150px;
        @include box-shadow(0, 5px, 10px);

        .pure-menu-link {
          display: block;
          padding: .5em 1em;

          &:hover {
            background-color: darken($color_secondary, 7.5%);
          }
        }

      }
    }

    .button-feed {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0 6px;
      background: $color_1_soft;
      text-transform: initial;
      border: 1px solid transparent;
      @include font($f7, $color_1, $fBold);
      @include border-radius(75px);

      &:hover {
        background: darken($color_1_soft, 25%);;
      }

      i {
        opacity: 0.5;
      }
    }
  }

  .site_header {

    a {
      text-decoration: none;
    }

    .site_header_block {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      height: 120px;
      padding: 16px 0;
      box-sizing: border-box;

      .site_header_logo {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .site_header_image {
          height: 100%;

          a {
            height: 100%;
            display: inline-flex;
            align-items: center;

            img {
              // max-height: calc(100% - (2 * 16px));
              max-height: 100px;
              display: inline-block;
            }
          }
        }

        .site_header_slogan {
          padding: 0 0 0 2em;
          margin: 0 0 0 2em;
          border-left: 1px solid $color_1_soft;

          @include font($f5, $color_1, $fExtraLight);

          span::before {
            content: "\A";
            white-space: pre;
          }
        }
      }

      .site_header_social {
        display: flex;

        .search-box {
          position: relative;

          i {
            position: absolute;
            opacity: 0.3;
            top: 6px;
            left: 5px;
            font-size: $f7;
          }

          .search-box_input {
            border: 1px solid rgba($color_1, 0.3);
            border-radius: 100px;
            width: 170px;
            height: 26px;
            text-indent: 5px;
            transition: width 0.5s;

            &:focus {
              width: 270px;
            }
          }

          .search_result_list {
            @include box-shadow(0, 0, 10px);
            @include border-radius(4px);
            width: 250px;
            background: $color_neutral_soft;
            z-index: 1000;
            font-size: .85em;
            line-height: 1.2em;
            position: absolute;
            bottom: 3em;

            @include min-screen(740) {
              bottom: initial;
              right: 1em;
            }

            a {
              color: $color_headers;
            }

            .result {
              display: block;
              padding: 1em;

              h2 {
                margin: .25em 0;
                font-size: 1rem;
              }
            }
            .result:hover {
              background: darken($color_neutral_soft, 2%);
            }
          }
        }

        .social_links_container {
          text-align: center;
          font-size: .85em;
          display: inline;

          .social_share {
            padding: 0;
            width: 2.1em;
            cursor: pointer;
          }
        }
      }
    }

    .main-nav {
      background-color: $color_1_soft;
      cursor: pointer;

      .main-nav-item {
        display: inline-block;
        margin: 0 1.5em 0 0;
        border-top: 5px solid transparent;

        &:hover {
          // background-color: darken($color_1_soft, 10%);
          border-top: 5px solid transparentize($color_1, .5);
          @include transition;
        }

        &.active {
          border-top: 5px solid $color_1;

          a {
            font-weight: $fBold;
          }
        }
      }

      a {
        display: block;
        padding: 8px 0 10px;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
        @include font($f5, $color_1, $fExtraLight);
      }
    }
    .particle {
      color: $color_1;
      margin: 0 1em 0 0;
      display: inline-block;
    }

    .sub-nav {
      cursor: pointer;

      .sub-nav-item {
        display: inline-block;
        margin: 0 1.5em 0 0;
        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid transparentize($color_1, .5);
          @include transition;
        }

        &.active {
          a {
            font-weight: $fSemibold;
          }
        }
      }

      a {
        display: block;
        padding: 8px 0 4px;
        height: 100%;
        width: 100%;
        text-transform: uppercase;
        @include font(1em, $color_1, $fExtraLight);
      }
    }
    .secondary_nav {
      float: right;
      margin: 0;
      padding: 0;
      ul, li {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
      li {
        display: inline-block;
        padding: 0 0 0 1em;
        a {
          padding: 6px 0;
          font-size: $f7;
          text-transform: none;
          font-weight: normal;
          color: $color_meta_text;
          line-height: 1.2;
          border-bottom: 2px solid transparent;
        }
        a:hover {
          border-bottom: 2px solid transparentize($color_1, .5);
          @include transition;
        }
      }
    }
  }

  // Media queries
  @include breakpoint(md) {
    .button-feed {
      display: none;
    }
  }

  @include breakpoint(sm) {
    .site_header {
      .site_header_block {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;

        > * {
          width: 100%;
        }

        .site_header_logo {
          .site_header_image {
            a {
              width: 100%;
            }
          }

          .site_header_slogan {
            margin: 0;
          }

          .site_header_image,
          .site_header_slogan {
            max-width: 50%;
          }
        }

        .site_header_social .search-box {
          width: 100%;

          .search-box_input {
            width: 100%;

            &:focus {
              width: 100%;
            }
          }

          .search_result_list {
            bottom: initial;
          }
        }
      }

      .main-nav {
        display: none;

        .main-nav-item {
          display: block;
          text-align: center;
        }
      }

      .sub-nav {
        display: none;
        text-align: center;
      }

    }
  }
}
