/*
 * Text content
 *
 */

.text_page {
  header.text_page_header {
    text-align: center;
    h1 {

    }
  }
  
}
.article {
	
}
figure.png, figure.jpg, figure.gif {
	margin: 1em 0;
	img {
		max-width: 100%;
		height: auto;
	}
	figcaption {
		display: none;
	}
}
