.graph-title {
  text-transform: uppercase;
  border-bottom: 2px solid $color_main_soft;
  padding-bottom: 0.5em;
}

.as-block {
  display: block;
}

//bars
//hbars1
//hbars2
.dc-chart g.row rect,
.dc-chart rect.bar {
  fill: $color_main;

  &.deselected {
    fill: #ccc;
  }
}

.dc-chart g.row text,
.dc-chart .axis,
.dc-chart .axis text {
  font-size: 0.875em;
  fill: $color_text !important;
  white-space: pre;
}

.dc-chart .axis path,
.dc-chart .axis line {
  stroke: $color_text;
}

//jsGrid
.jsgrid {
  .jsgrid-filter-row {
    input {
      height: 30px;
    }
  }

  input[type="checkbox"] {
    display: inline-block;
  }
}
