/*
 * Layout
 *
 */
.column {
	width: calc(100% - 6rem);
	max-width: 1400px;
	margin: auto;
}


/*
 * Footer
 *
 */
footer {
	padding: 5em 0;
	font-size: .85em;
	ul {
	
		margin: 0;
		padding: 0;
		list-style-type: none;
		li {
			margin: 0 1em 0 0;
			display: inline-block;
		}
	}
	a {
		color: $color_text;
		text-decoration: none;
	}
}
