.graph-tooltip {
  position: absolute;
  z-index: 50;
  opacity: 0;
  transform: translateX(20%);

  .tooltip-content {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
    padding: 0 0.25rem;
    position: relative;
    background: lighten($color_main, 10%);
    border: 1px solid $color_main;

    &::after,
    &::before {
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &::after {
      border-color: rgba(lighten($color_main, 10%), 0);
      border-width: 5px;
    }

    &::before {
      border-color: rgba($color_main, 0);
      border-width: 6px;
    }

    &.left {
      &::after,
      &::before {
        right: 100%;
        top: 50%;
      }

      &::after {
        border-right-color: lighten($color_main, 10%);
        margin-top: -5px;
      }

      &::before {
        border-right-color: $color_main;
        margin-top: -6px;
      }
    }

    &.bottom {
      &::after,
      &::before {
        top: 100%;
        left: 50%;
      }

      &::after {
        border-top-color: lighten($color_main, 10%);
        margin-left: -5px;
      }

      &::before {
        border-top-color: $color_main;
        margin-left: -6px;
      }
    }

    &.right {
      &::after,
      &::before {
        left: 100%;
        top: 50%;
      }

      &::after {
        border-left-color: lighten($color_main, 10%);
        margin-top: -5px;
      }

      &::before {
        border-left-color: $color_main;
        margin-top: -6px;
      }
    }

    &.top {
      &::after,
      &::before {
        bottom: 100%;
        left: 50%;
      }

      &::after {
        border-bottom-color: lighten($color_main, 10%);
        margin-left: -5px;
      }

      &::before {
        border-bottom-color: $color_main;
        margin-left: -6px;
      }
    }
  }
}
