/*
 * SimpleMDE Editor Overwrites
 *
 */
.form_item {
  .editor-toolbar {
    padding: 25px 10px 0 6px;
    .fa {
      margin: 0;
    }
    .fa-question-circle {
      bottom: .5rem;
      right: .5rem;
    }
  }
}
