/*
 * CSS Conf
 *
 */
$font_headings: 'Source Sans Pro', 'Helvetica Neue', 'Arial','sans-serif';
$font_text: 'Source Sans Pro', 'Helvetica Neue', 'Arial', 'sans-serif';
$font_serif: 'Georgia, serif';

/*
 * Colors
 *
 */
/*
$color_1: #00909E;
$color_1_soft: #EFF8F9;
$color_1_dark: #00909E;
*/
$color_text: #767168;
$color_main: #00909E;
$color_main_soft: #cce8eb;
$color_dark: #005D67;
$color_dark_sep: transparentize($color_dark, .9);
$color_1: $color_main;
$color_1_soft: transparentize($color_main, .94);
$background: $color_1;
$color_secondary: #F0F0F0;
$color_main_negative: #FFF;
$color_separator: #D6D6D6;
$color_neutral_soft: #F5F4F4;
$color_highlight: #F1F4BE;
$color_meta_text: #A5A5A5;
$text_soft: $color_meta_text;

$color_facebook: #3A589A;
$color_twitter: #00ABEF;
$color_link: #276D97;
$color_headers: #676767;

$separator: #F0F0F0;

/* visualizations */
$color_vis_place: #E9AD00;
$color_vis_province: #A479F4;
$color_vis_com: #AAC44B;
$color_vis_country: #008998;

/* logo colors */
$color_logo_yellow: #F8B206 /* #E9AD00 */;
$color_logo_pink: #F39B95;
$color_logo_blue: #388F9C;

$test_color: transparentize($color_logo_yellow, .8);
$color_warn: #981F2E;
$color_success: #2ca25f;

.color_bg_main {
	background: $color_main;
}

/*
 * Type scale
 *
 */
$mega: 6rem;
$submega: 5rem;
$f1: 3rem;
$f2: 2.25rem;
$f3: 1.5rem;
$f4: 1.25rem;
$f5: 1.125rem;
$f6: 1rem;
$f7: 0.875rem;
