// @media print {
  body {
    counter-reset: section;
  }
  @page {
   margin: 1.5cm 0.7cm;
  }
  header.meta {
    display: none;
  }
  .column.consultation {
    max-width: none;
    float: left;
  }
  .consultation-info {
    display: none;
  }
  footer {
    display: none;
  }
  .consultation-box {
    margin: 0;
  }
  .consultation-lead.mb2 {
    margin: 0;
    margin-bottom: 0.25cm;
    color: #111;
    font-weight: 700;
  }
  .column.consultation p {
    margin-top: 0;
  }
  .consultation-card {
    box-shadow: none;
    background: none;
    margin-bottom: 0.35cm;
    padding-bottom: 0.35cm;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    page-break-inside: avoid;
  }
  .card-title {
    line-height: 1;
    margin-bottom: 0;
    padding: 0;
  }
  .consultation-title {
    font-size: 12pt;
    color: #333;
  }
  .consultation-title::before {
    counter-increment: section;
    content: counter(section) ". ";
  }
  .consultation-figure {
    float: none;
    display: inline-block;
    color: #333;
    font-weight: 400;
    vertical-align: top;
  }
  .consultation-figure .fa {
    display: none;
  }
  .consultation-figure::before {
    content: "(";
  }
  .consultation-figure::after {
    content: ")";
  }
  .card-content {
    display: block !important;
  }
  .card-description {
    padding: 0;
    font-size: 9pt;
    line-height: 1.5;
    margin-bottom: 0;
    color: #333;
    width: 83%;
    display: inline-block;
    vertical-align: top;
  }
  .budget-ask {
    box-shadow: none;
    width: 15%;
    padding: 0;
    margin-bottom: 0;
    float: right;
  }
  .select-lead {
    display: none;
  }
  .pct {
    padding: 0;
    font-size: 11pt;
    background: none;
    margin-bottom: 0;
    width: 105px;
    position: relative;
    text-align: left;
  }
  .pct::after {
    position: absolute;
    right: 0;
    content: "";
    border: 2px solid #111;
    margin-left: 0.5rem;
    padding: 0.25cm 0.4cm;
  }
  .select-pct {
    padding: 0;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
  }
  .card-description .sep {
    display: none;
  }
// }
