/*
 * CSS Conf
 *
 */
$font_headings: 'Source Sans Pro';
$font_text: 'Source Sans Pro';
$font_serif: 'Georgia, serif';

/*
 * Colors
 *
 */
/*
$color_1: #00909E;
$color_1_soft: #EFF8F9;
$color_1_dark: #00909E;
*/
$color_text: #767168;
$color_main: #00909E;
$color_1: $color_main;
$color_1_soft: transparentize($color_main, .94);
$background: $color_1;
$color_secondary: #F0F0F0;
$color_main_negative: #FFF;
$color_separator: #D6D6D6;
$color_neutral_soft: #F5F4F4;
$color_highlight: #F1F4BE;
$color_meta_text: #A5A5A5;
$text_soft: $color_meta_text;

$color_facebook: #3A589A;
$color_twitter: #00ABEF;
$color_link: #276D97;
$color_headers: #676767;

$separator: #F0F0F0;

/* visualizations */
$color_vis_place: #E9AD00;
$color_vis_province: #A479F4;
$color_vis_com: #AAC44B;
$color_vis_country: #008998;

/* logo colors */
$color_logo_yellow: #F8B206 /* #E9AD00 */;
$color_logo_pink: #F39B95;
$color_logo_blue: #388F9C;

$test_color: transparentize($color_logo_yellow, .8);
$color_warn: #981F2E;

.color_main {
	background: $color_main;
}
