@import "normalize.css";
@import "purecss/build/pure-nr";
@import "purecss/build/grids-responsive";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "https://fonts.googleapis.com/css?family=Work+Sans:200,400,700,600|Source+Sans+Pro:200,400,700,600";
@import "modules/css-conf";
@import "modules/populities";
@import "modules/mixins";
@import "modules/comp-forms";
@import "modules/comp-headings_blocks";
@import "modules/comp-layout";
@import "modules/comp-site_header";
@import "modules/comp-social_buttons";
@import "modules/comp-tables";
@import "modules/defaults";
@import "modules/comp-vue-filters";
@import "modules/comp-perspective-viewer";
@import "modules/comp-vue-skeleton-spinner";
@import "modules/data-summary";
@import "modules/data-sql-editor";

:root {
  --transition: .1s ease-in;
  --shadow: 0 2px 20px rgb(0 0 0 / 30%);
  --grey-dataset: rgb(51 51 51 / 50%);
  --grey-text: #666;
}

.gobierto-data {
  padding-top: $f6;

  @include min-screen(768) {
    @include gutters(66px)
  }

  ul {
    padding-left: 0;
    margin-top: 0;
  }

  &-home-nav--tab {
    list-style: none;
    display: inline-block;
    color: var(--color-base);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    margin: 0 1.5em 0 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid rgba(var(--color-base-string), 0.5);
      text-decoration: none;
    }

    &.is-active {
      font-weight: bold;
    }

  }

  &-layout-sidebar {
    height: 100%;
    overflow: hidden;
    position: sticky;
    top: 0;

    &.gobierto-data-layout-column {
      padding-right: 0 !important;
    }

    .gobierto-filters > *:not(:first-child) {
      padding-top: 1em;
    }
  }

  &-tabs-sidebar {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: $f6;
  }

  &-tab-sidebar--tab {
    font-style: normal;
    font-size: $f7;
    color: var(--grey-text);
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-bottom: .25rem;
    border-bottom: 2px solid var(--color-base);
    opacity: .5;

    &.is-active {
      opacity: 1;
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-right: .25rem;
    }

  }

  &-layout-column {
    padding: 0;
    padding-right: $f6;
    box-sizing: border-box;
  }

  &-title-dataset {
    font-family: $font_headings;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-base);
    margin: 0;
    letter-spacing: 0;

    &-big {
      margin-bottom: 0;
    }
  }

  &-buttons {
    text-align: right;
  }

  &-btn-blue {
    font-size: $f7;
    background-color: var(--color-base);
    cursor: pointer;
    padding: 4px 9px;
    line-height: 1.5;
    font-weight: normal;
    border-radius: 3px;
    color: $color_main_negative;
    position: relative;
    transition: background-color var(--transition);

    &:hover {
      background-color: rgb(var(--color-base-string) .2) !important;
    }
  }

  &-sets-nav--tab {
    list-style: none;
    font-family: $font_text;
    font-weight: 500;
    font-size: $f7;
    line-height: 1.5;
    text-align: center;
    color: #4a4a4a;
    display: inline-block;
    padding: .5rem $f4;
    background-color: rgba(var(--color-base-string), .1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition);

    &:hover {
      background-color: rgba(var(--color-base-string), .05);
    }

    &.is-active {
      background-color: $color_main_negative;
      border: 1px solid var(--color-base);
      border-bottom: 0;
      position: relative;
      bottom: -1px;
    }

    & + & {
      margin-left: .25rem;
    }

  }

  &-sets-nav {
    border-bottom: 1px solid var(--color-base);
    padding-left: $f6;
    margin-top: 20px;

    ul {
      margin: 0;
    }

  }

  &-sets-nav--tab-container {
    padding-top: $f4;

    &.gobierto-data-sql-editor-your-queries-container {
      padding-top: 0;
    }
  }

  &-tabs-section-title {
    font-weight: bold;
    font-size: $f6;
    line-height: 20px;
    margin-bottom: $f6;
    color: rgb(102 102 102 / 75%);
    cursor: pointer;
  }

  &-resources-list-element {
    display: inline-block;
    width: 50%;
    margin-bottom: $f6;
  }

  &-info-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include min-screen(768) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-info-list-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &-info-list-title {
    min-height: 50px;
    transition: color .3s ease-in;
  }

  &-info-list-element {
    text-decoration: none;
    background: $color_main_negative;
    border: 1px solid #F5F5F5;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    border-radius: 4px;

    &:hover {
      text-decoration: none;

      .gobierto-data-info-list-title {
        color: $color_main_negative;
      }

      .gobierto-data-summary-header {
        background: var(--color-base);
      }

      .gobierto-data-summary-body {
        background: $color_main_negative;
      }

      .gobierto-data-summary-header-container-text {
        color: $color_main_negative;
      }
    }

    .gobierto-data-summary-header {
      padding: $f6 $f6 .5rem $f6;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      transition: background .3s ease-in;
      max-height: 140px;
      min-height: 140px;
    }

    .gobierto-data-summary-header-description {
      padding-right: 0;
    }

    .gobierto-data-summary-body {
      padding: .5rem $f6 $f6;
      min-height: 115px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      transition: background .3s ease-in;
      position: relative;

      i {
        position: absolute;
        top: 80%;
        left: 90%;
        color: var(--color-base);
      }
    }

  }

  &-resources-list-element-name {
    font-weight: 600;
    font-size: $f6;
    line-height: 20px;
    color: var(--color-base);
  }

  &-resources-list-element-size {
    font-size: $f6;
    color: var(--color-base);
  }

  &-btn-download-data {
    border: 1px solid rgba(var(--color-base-string), .2);
    padding: .5rem;
    font-size: $f6;
    font-family: $font_text;
    font-weight: 600;
    min-width: 250px;
    margin: 0 0 .5rem;
    position: relative;
    text-transform: unset;
    vertical-align: top;
  }

  &-summary-header-btns {
    margin-bottom: $f6;
    width: 100%;

    .gobierto-data-btn-download-data {
      width: 100%;
    }
  }

  .gobierto-data-btn-download-data {
    display: inline-block;
    box-sizing: border-box;
    background: $color_main_negative;
    text-align: center;
    text-decoration: none;
    color: var(--color-base);
    margin-right: 0;

    i {
      color: rgb(var(--color-base-string) .5)
    }
  }

  &-container-btn-download-data {
    position: relative;
    width: 100%;
    display: inline-flex;

    &.arrow-top {
      .gobierto-data-btn-download-data-modal {
        height: auto;
        display: block;
        z-index: 3;
        min-width: 200px;

        &::after,
        &::before {
          bottom: 100%;
          border: solid transparent;
          content: ' ';
          height: 0;
          width: 0;
          left: 90%;
          position: absolute;
          border-color: rgb(255 255 255 / 0%);
        }

        &::before {
          border-bottom-color: var(--color-base) !important;
          margin-left: -9px;
          border-width: 9px;
        }

        &::after {
          border-bottom-color: $color_main_negative !important;
          margin-left: -8px;
          border-width: 8px;
        }
      }

      &.modal-left {
        .gobierto-data-btn-download-data-modal {
          &::after,
          &::before {
            left: 10%;
          }
        }

      }
    }

    &.modal-right {
      float: right;

      .gobierto-data-btn-download-data-modal {
        width: inherit;
        max-width: 125px;
        height: auto;
        right: 0;
        left: initial;
      }

      .gobierto-data-btn-download-data-modal-element {
        text-align: right;
      }

    }
  }

  &-btn-download-data-modal,
  &-sql-editor-recent-queries {
    box-shadow: var(--shadow);
    border: 1px solid var(--color-base);
    border-radius: 3px;
    padding: .5rem 0;
    position: absolute;
    width: 30rem;
    display: none;
    top: 130%;
    left: 0;
    background-color: $color_main_negative;

    &.modal-left {
      left: 0;
    }

    &.modal-right {
      right: 0;
    }

    &.active {
      display: block;
    }

    &.arrow-top.modal-left,
    &.arrow-top.modal-right {
      background: $color_main_negative;
      border: 1px solid var(--color-base);

      &::after,
      &::before {
        bottom: 100%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        border-color: rgb(255 255 255 / 0%);
      }

      &::before {
        border-bottom-color: var(--color-base) !important;
        margin-left: -9px;
        border-width: 9px;
      }

      &::after {
        border-bottom-color: $color_main_negative !important;
        margin-left: -8px;
        border-width: 8px;
      }

    }

    &.arrow-top.modal-left {
      &::after,
      &::before {
        left: 10%;
      }
    }

    &.arrow-top.modal-right {
      &::after,
      &::before {
        right: 90%;
      }
    }
  }

  &-sql-editor-container {
    display: inline-block;
    position: relative;
    margin-right: .25rem;
  }

  &-sql-editor-recent-queries {
    display: none;
    background-color: $color_main_negative;
    z-index: 10;
    top: 135%;
    width: 50vw;
    max-width: 750px;

    &.active {
      display: block;
    }

    &.arrow-top.modal-left {
      &::after,
      &::before {
        left: 20px;
      }
    }

    .gobierto-data-summary-queries-element {
      height: max-content;
      max-height: 30vw;
      overflow: hidden;
      overflow-y: scroll;
    }

  }

  &-btn-download-data-modal-element {
    background-color: transparent;
    transition: background-color var(--transition);
    padding: .5rem $f6;
    color: var(--grey-text);
    display: block;
    width: 100%;
    text-decoration: none;
    border-radius: 0;
    text-align: left;
    font-weight: normal;
    box-sizing: border-box;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      background-color: rgba(var(--color-base-string), .1);
    }
  }

  &-recent-queries-list-element {
    background-color: transparent;
    padding: .5rem;
    font-size: $f7;
    font-weight: normal;
    display: block;
    width: 100%;
    border-radius: 0;
    text-align: left;
    text-transform: none !important;
    box-sizing: border-box;
    position: relative;
    color: var(--grey-text);
    font-family: monospace;

    &:hover,
    &.active-query {
      background-color: rgba(var(--color-base-string), .1);

      &::before {
        display: inline-block;
      }
    }
  }

  .border-color-queries {
    border-left: 1px solid rgba(var(--color-base-string), .1);
    width: calc(50% - 1px);
  }

  &-summary-queries-container {
    padding: .25rem .5rem .25rem 2rem;
    cursor: pointer;
    transition: background-color var(--transition);

    &:hover {
      background-color: rgba(var(--color-base-string), 0.1);
    }
  }

  &-summary-queries-container-name {
    font-size: $f7;
    color: var(--grey-text);
    display: inline-block;
    vertical-align: middle;
    width: 78%;
    position: relative;
    z-index: 1;

    &:hover {
      color: inherit;
    }
  }

  &-visualizations-name {
    font-size: $f7;
    color: var(--grey-text);
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  &-summary-queries-container-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: right;
  }

  .icons-your-queries {
    display: inline-block;
    max-width: 14px;
  }

  .spinner-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_main_negative;
  }

  .pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pulse-bubble {
    width: $f6;
    height: $f6;
    border-radius: 50%;
    background-color: var(--color-base);
  }

  .pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
  }

  .pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
  }

  .pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
  }

  @keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1);
    }

    to {
      opacity: .25;
      transform: scale(.75);
    }
  }

  &-sidebar-datasets-links {
    i {
      color: var(--color-base);
    }

    &:hover {
      color: var(--color-base);
    }
  }

  &-sidebar-datasets-container-columns {
    &::after {
      content: '';
      width: 100%;
      border-bottom: 2px solid rgb(102 102 102 / 20%);
      display: block;
      margin: $f6 0;
    }
  }

  &-sidebar-datasets-name {
    font-size: $f7;
    cursor: pointer;
    color: var(--grey-text);
    text-decoration: none;
  }

  &-sidebar-caret-icon {
    color: var(--color-base);
    cursor: pointer;
  }

  &-sidebar-datasets-links-columns {
    padding-left: $f6;
  }

  &-sidebar-datasets-links-columns-text {
    font-size: $f7;
    display: inline-block;
    white-space: nowrap;
    width: 90%;
    opacity: .5;
  }

  &-sidebar-icon {
    color: var(--color-base);
    cursor: pointer;
  }

  .btn-sql-show-all {
    display: block;
    margin: $f6 auto;
    padding: .5rem;
  }

  .rotate-caret {
    transform: rotate(270deg);
  }

  .CodeMirror-scroll {
    overflow: hidden !important;
  }

  &-sql-editor-footer {
    display: inline-block;
    width: max-content;
    max-width: 80%;
  }

  &-filters-element {
    padding-bottom: 1em;
    border-bottom: 1px solid hsl(0deg 0% 59.2% / 50%);

    .disabled {
      pointer-events: none;

      i {
        display: none;
      }
    }
  }

  &-filters-element-no-margin {
    margin-bottom: 0;
  }

  .sidebar-filter-caret {
    display: inline-block;
    cursor: pointer;
  }

  &-infolist {
    background-color: rgb(113 184 193 / 10%);
    color: #71b8c1;
    height: 40vh;
    width: 100%;
    padding: $f6;
    font-weight: bold;
    margin-bottom: $f6;
  }

  &-sidebar-datasets-links-columns-see-more {
    font-size: $f7;
    cursor: pointer;
    color: var(--color-base);
    text-decoration: underline;
    padding-left: $f6;
    padding-top: .5rem;
    text-transform: none;
    transition: font-weight var(--transition);

    &:hover {
      font-weight: bold;
    }
  }

  &-visualization--grid {
    @include grid($f6, 2)
  }

  &-visualization--aspect-ratio-16-9 {
    @include aspect-ratio(16, 9);

    min-height: 350px;
    z-index: 1;

    .gobierto-data-visualization--item {
      margin-top: $f6;
    }
  }

  &-visualization--container {
    position: relative;
  }

  &-visualization--card {
    background-color: rgba(var(--color-base-string), .05);
    padding: $f6;
    border-radius: 3px;
    min-height: 350px;

    .gobierto-data-visualization--image {
      height: 80%;
    }
  }

  &-visualization--content {
    display: flex;
    flex-direction: column;
  }

  &-visualization--icons {
    position: absolute;
    left: 92%;
    top: $f8;
    z-index: 2;
  }

  &-visualization--h3 {
    color: $color_text;
    font-size: $f6;
    font-weight: bold;
    line-height: 20px;
    opacity: .75;
  }

  &-visualization--title {
    font-size: $f6;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 $f6;
  }

  &-visualization--image {
    height: 90%;
    width: 100%;
    object-fit: contain;
  }

  &-description {
    height: auto;
    columns: 3;
    column-fill: balance;
  }

  &-btn-preview {
    width: 100%;
    display: inline-block;

    .gobierto-data-btn-download-data {
      width: 100%;
    }

    &:hover {
      color: var(--color-base);
    }
  }

  &-columns-icon {
    font-size: 11px;
    opacity: .5;
  }

  &-columns-icon-boolean::before,
  &-columns-icon-decimal::before,
  &-columns-icon-hstore::before,
  &-columns-icon-integer::before,
  &-columns-icon-inet::before {
    content: "\f292";
  }

  &-columns-icon-jsonb::before,
  &-columns-icon-string::before,
  &-columns-icon-text::before {
    content: "\f031";
  }

  &-columns-icon-time::before,
  &-columns-icon-date::before,
  &-columns-icon-datetime::before,
  &-columns-icon-timestamp::before,
  &-columns-icon-timestampz::before {
    content: "\f073";
  }

  &-summary-separator {
    border-bottom: 1px solid rgb(102 102 102 / 20%);
    padding-bottom: 2rem;
  }

  //REVIEW: This class prevent/disabled/destroyed click event on data element from top menu
  &-top-menu a {
    pointer-events: none;
  }

  &-index-title {
    margin-top: 0;
    font-size: $f6;
    display: inline-block;
    color: rgb(102 102 102 / 75%);
  }

  &-visualitzation-element-title {
    margin: 0;
  }

  &-visualization-query-container {
    letter-spacing: 0;
    width: 100%;

    .gobierto-data-summary-queries-panel-title {
      padding-left: 0;
      display: inline-block;
      font-size: $f7;
    }

    .gobierto-data-summary-queries-container-name {
      width: auto;
    }
  }

  &-landing-visualizations {
    margin-top: 0;

    .gobierto-data-summary-header-description {
      padding-left: $f6;
      margin-bottom: $f6;

      p {
        margin-top: .25rem;
        max-width: 60%;
      }
    }

    .gobierto-data-summary-header-description-link {
      padding-left: $f6;
    }

    .gobierto-data-index-title {
      margin-bottom: 0;
    }

    .gobierto-data-visualization--grid {
      margin-top: $f6;
    }

    .gobierto-data-visualization--dataset {
      font-size: $f7;
      color: var(--grey-dataset);
    }
  }

}
