.PRUEBA > .PRUEBAS {
  .PRUEBAS{
    .PRUEBAS {
      .PRUEBAS{
        margin:0;
        margin-left:0;
        margin:0;
      }

      p + n + f {
        .noexiste{ config: null }
      }

      @inventado {
        .media {}
      }
    }
  }
}

