@import "css-conf";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;700&display=swap');
@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

/*
 * Observatory
 *
 */

:root {
  --red-chart: #ff776d;
  --pyramidal-female: #008e9c;
  --pyramidal-male: #f8b206;
  --numbers: #12365b;
  --plex-font: 'IBM Plex Sans', sans-serif;
}

// Intro

#gobierto-observatory-demography-map-app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: 100;
}

.gobierto-observatory-container-banner {
  cursor: pointer;
}

.gobierto-observatory-banner {
  position: relative;
  min-height: 260px;
}

.gobierto-observatory-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--pyramidal-female);
  font-family: var(--plex-font);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
  box-sizing: border-box;
}

.gobierto-observatory-footer--text,
.gobierto-observatory-footer--button {
  font-size: 1.5rem;
  font-weight: 100;
  color: #fff;
  width: 50%;
  margin: 0;
  line-height: 31px;
}

.gobierto-observatory-footer--button {
  font-weight: bold;
  text-align: right;
  text-decoration: none;
}

.gobierto-observatory-footer--button-text {
  margin-right: 1rem;
}

.gobierto-observatory-image {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.gobierto_observatory {
  height: 100vh;

  &-header {
    width: 100%;
    background-color: var(--numbers);
    font-family: var(--plex-font);
    padding: 2rem;
    letter-spacing: 0;
    display: flex;
    justify-content: flex-end;
  }

  &-header-left {
    width: 80%;
  }

  &-header-right {
    width: 20%;
    text-align: right;
  }

  &-header-title,
  &-header-council,
  &-header-back {
    font-size: 1.5rem;
    font-weight: 100;
    color: #fff;
    display: block;
  }

  &-header-title {
    font-weight: normal;
    margin-bottom: .5rem;
  }

  &-header-back {
    font-size: 1rem;
    font-weight: normal;
  }

  &-date-update,
  &-legend {
    font-size: 11px;
    display: block;
    text-align: right;
    color: rgba(79, 79, 79, .5);
    margin-top: 1rem;
  }

  &-date-update {
    margin: 0;
    padding-right: 1rem;
  }

  &-legend {
    text-align: left;
    margin-top: -.5rem;
  }

  &-symbol {
    color: #445d77;
  }

  &-habitants-title {
    margin: 0;
    font-size: 1rem;
    color: var(--pyramidal-female);
  }

  #piramid-age-sex {
    .left-chart,
    .right-chart {
      display: inline-block;
    }

    .left-chart.dc-chart {
      g.row {
        rect {
          transition: all .3s ease-in;
          fill: var(--pyramidal-male);

          &.deselected {
            fill: #ccc;
          }
        }
      }
    }

    .right-chart.dc-chart {
      g.row {
        rect {
          fill: var(--pyramidal-female);

          &.deselected {
            fill: #ccc;
          }
        }
      }
    }
  }

  &-habitants-number {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    color: var(--numbers);
  }

  .graphics {
    overflow: hidden;
    margin-top: 2rem;
  }

  .leaflet-interactive {

    &:hover {
      stroke-width: 3px;
      fill-opacity: 0.7;
    }
  }

  #bar-nationality.dc-chart {
    g.row {

      &._0 {
        rect {
          fill: var(--numbers);

          &.deselected {
            fill: #ccc;
          }
        }
      }

      &._1 {
        rect {
          fill: rgba(18, 54, 91, .5);

          &.deselected {
            fill: #ccc;
          }
        }
      }
    }
  }

  #titlerow_0,
  #titlerow_1,
  #text-label_0,
  #text-label_1 {
    font-weight: bold;
    fill: rgba(79, 79, 79, .75) !important;
  }

  #text-label_0,
  #text-label_1 {
    font-weight: normal;
  }

  #bar-sex.dc-chart {
    g.row {

      &._0 {
        rect {
          fill: var(--pyramidal-female);

          &.deselected {
            fill: #ccc;
          }
        }
      }

      &._1 {
        rect {
          fill: var(--pyramidal-male);

          &.deselected {
            fill: #ccc;
          }
        }
      }
    }
  }

  .dc-chart {
    float: none;

    &.left-chart {
      svg {
        overflow: hidden;
      }
    }

    .axis {
      display: none;
    }

    g.row rect,
    rect.bar {
      fill: #ff776d;
      rx: 3px;

      &.deselected {
        fill: #ccc;
      }
    }

    g.row text.titlerow {
      font-size: 14px;
      fill: rgba(79, 79, 79, .5) !important;
    }

    g.row text {
      font-size: 14px;
      fill: rgb(79, 79, 79) !important;
    }

    g[class*="row"] {
      cursor: pointer;

      text {
        font-size: 12px;
        text-transform: initial;
      }

      &:hover {
        text {
          font-weight: bold;
        }
      }
    }

  }

  .column {
    padding: 0 2rem;
  }

  &-sidebar,
  .pure-g [class*="pure-u"] {
    font-family: var(--plex-font) !important;
  }

  &-sidebar {
    background-color: #fff;
    padding: 1rem 0 !important;
    height: calc(100vh - 120px);
    overflow-y: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }

  &-container-charts {
    position: relative;
    padding: 1rem 2rem;
  }

  .filter-close {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 95%;
    background-color: rgba(0, 142, 156, .2);
    display: none;
    color: var(--pyramidal-female);
    padding: 2px 5px;
    transition: background-color .3s ease-in;

    &:hover {
      background-color: rgba(0, 142, 156, .5);
    }

    i {
      cursor: pointer;
      margin: 0;
    }
  }

  .active-filtered {
    background-color: rgba(0, 142, 156, .1);

    .graph-title {
      font-weight: bold;
    }

    .filter-close {
      display: block;
    }

  }

  &-sidebar::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }

  &-container-map {
    height: calc(100vh - 120px);
    padding-left: 0 !important;
    position: relative;
  }

  #inhabitants {
    color: var(--pyramidal-female);
  }

  .selected + .row,
  .selected + .row + .titlerow {
    font-weight: bold;
  }

  .graph-title {
    font-size: 1rem;
    font-weight: normal;
    color: var(--pyramidal-female);
    border-bottom: 0;
    margin: 0;
    padding-bottom: 0;
    text-transform: initial;
  }

  .sections-nav {
    float: left;
    z-index: 1;
    font-weight: 600;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        cursor: pointer;
        margin-bottom: 0.75rem;
        text-transform: uppercase;
        font-weight: 300;

        a {
          text-decoration: none;

          &:hover,
          &:focus,
          &:active {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .sections {
    position: relative;
    float: left;

    @media (min-width: 768px) {
      margin-left: 3rem;
      width: calc(100% - 11rem);
    }
  }

  section {
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ebebeb;

    .description {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 1rem;
    }

    &:last-child {
      border-bottom: 0;
    }

    .section_desc {
      margin-top: 0;
    }

    .widget_headline h3 {
      color: $color_text;
      font-weight: 300;
      margin: 0;
      max-width: 75%;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .intro_section {
    background: $color_main_negative;
    margin-top: -2em;
    border-bottom: 1px solid #ebebeb;

    @media (min-width: 768px) {
      padding: 5em 0 4em 0;
    }
  }

  .intro_headline {
    margin-bottom: 0;
  }

  .intro_desc {
    font-size: 1.5em;
    line-height: 1.3;
    font-weight: 200;
  }

  footer {
    z-index: 2;
    clear: both;
    padding: 0;
    margin: 0;
  }

  #poblacion h2 {
    margin-top: 0;
  }

  #empleo .description {
    width: 100%;
  }

  /* Cards */
  .padded_cols.pure-g {
    @include min-screen(768) {
      width: calc(100% + 4em);
      // asumming 3 elements per col

      [class*="pure-u"]:nth-child(3n+1) {
        margin-left: -1em;
      }
    }

    @include screen(769) {
      [class*="pure-u"]:first-child {
        margin-left: 0;
      }
    }

    .widget_body,
    .widget_info {
      height: 110px;
    }
  }

  /* Graphics */
  .gobierto_observatory .axis path {
    stroke: #bdbdbd;
  }

  #age_distribution {
    position: relative;

    .axis {
      font-family: $font_text;
      font-size: 0.9em;

      text {
        fill: $text_soft;
      }
    }

    .y.axis {
      .domain {
        display: none;
      }

      line {
        stroke: #ccc;
        stroke-dasharray: 1, 2;
      }
    }

    .chart_headline {
      margin-top: 0;
    }

    .focus {
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }

    rect:hover {
      fill: darken(#d52a59, 10%);
    }
  }

  #rent_distribution {
    position: relative;

    .description {
      opacity: 1;
    }

    .annotations {
      color: $text_soft;
      font-weight: 300;
      position: relative;

      .arrow {
        color: $color_text;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    }

    .pop-anno {
      position: absolute;
      font-size: 1rem;
      background: white;
      left: 10px;
      top: 75px;
    }

    .rent-anno {
      position: absolute;
      font-size: 1rem;
      background: white;
      right: 2%;
      top: 75px;
    }

    .axis {
      font-family: $font_text;
      font-size: 0.9em;

      .domain {
        display: none;
      }

      .tick {
        line {
          stroke-dasharray: 2, 2;
          stroke: #dcdcdc;
        }

        text {
          fill: $text_soft;
        }
      }
    }

    .x.axis .tick text {
      font-weight: 600;
    }

    .circles .selected-city {
      stroke: #111;
    }

    .text-label {
      font-size: 1em;
      font-weight: 600;
      text-shadow: 0 0 5px white;
    }

    circle {
      pointer-events: none;
      fill-opacity: 0.7;
    }

    .tooltip {
      border-radius: 2px;
      padding: 0.5rem;
      min-height: 90px;
      width: 200px;
      border: 1px solid #ccc;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      background: rgba(255, 255, 255, 0.98);
      font-size: 1em;
      color: #111;
      text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
      pointer-events: none;
      opacity: 0;
      z-index: 99;
      position: absolute;
    }

    .tooltip-city {
      font-weight: 600;
      margin-bottom: 0.5rem;
      font-size: 1.05rem;
    }

    .tooltip-table {
      line-height: 1.4;

      td {
        border-top: 1px solid $color_separator;
      }
    }

    .table-t {
      color: $color_text;
      font-weight: 600;
      padding: 0.7em 0 0.4em;
    }
  }

  #empleo {
    .chart_headline {
      text-align: left;
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  #unemployment_rate,
  #unemployment_age {
    margin-bottom: 1rem;
    position: relative;

    .lines-labels div {
      position: absolute;
      margin-top: 10px;
      max-width: 40px;
      line-height: 1;
      text-transform: uppercase;
      font-size: 0.75em;
    }

    .axis {
      font-family: $font_text;
      font-size: 0.9em;
    }

    .tick text {
      fill: $text_soft;
    }

    .line {
      path {
        fill: none;
        stroke-width: 2.5px;
      }
    }

    .y.axis {
      .tick line {
        stroke-dasharray: 2, 2;
        stroke: #ccc;
      }

      .domain {
        display: none;
      }
    }

    .voronoi path {
      fill: none;
      pointer-events: all;
    }

    .focus {
      text {
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
      }

      circle {
        stroke-width: 2px;
      }
    }
  }

  #unemployment_rate {
    .lines-labels div {
      margin-top: 20px;
      max-width: none;
      width: 60px;
    }
  }

  #unemployment_sex {
    position: relative;

    .lines-labels div {
      position: absolute;
      margin-top: 20px;
      max-width: 40px;
      line-height: 1;
      text-transform: uppercase;
      font-size: 0.75em;
    }

    .axis {
      font-family: $font_text;
      font-size: 0.9em;

      .tick text {
        fill: $text_soft;
      }
    }

    .line {
      fill: none;
      stroke-width: 2.5px;
    }

    .y.axis {
      .tick line {
        stroke-dasharray: 2, 2;
        stroke: #ccc;
      }

      .domain {
        display: none;
      }
    }

    .voronoi path {
      fill: none;
      pointer-events: all;
    }

    .focus {
      text {
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
      }

      circle {
        stroke-width: 2px;
      }
    }
  }

  @media (min-width: 768px) {
    .observatory_header {
      min-height: 55px;
    }

    .observatory_sections {
      margin-top: 1em;
    }

    .observatory_section {
      font-size: 1em;
      margin-left: 20px;
    }

    .r_mr {
      margin-right: 1.5em;
    }

    .gobierto_observatory h4 {
      text-align: center;
    }

    #unemployment_age {
      margin-bottom: 0;
    }

    #rent_distribution {
      .pop-anno,
      .rent-anno {
        font-size: 1.25rem;
      }

      .rent-anno {
        right: 8.75%;
        top: 50px;
      }

      .text-label {
        font-size: 1.25rem;
      }
    }
  }

  #map {
    height: 100%;
    max-height: 100vh;
    width: 100%;

    .leaflet-container {
      width: 100% !important;
    }
  }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .info h4 {
    margin: 0 0 5px;
    color: #777;
  }

  .legend {
    line-height: 18px;
    color: #555;
    font-family: var(--plex-font) !important;

    i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  }

  .left-chart.dc-chart {
    g.row text {
      display: none;
    }
  }

  .left-chart.dc-chart,
  .right-chart.dc-chart {
    .axis {
      display: none;
    }

    .axis-y {
      display: block;
    }

    rect {
      rx: 3px;
      transition: all .3s ease-in-out;
    }
  }

  .right-chart.dc-chart {
    g.row {
      text.titlerow {
        display: none;
      }

      text {
        fill: #111;
        pointer-events: none;
      }
    }
  }

  #reset-filters {
    background-color: var(--color-base);
    padding: .5rem 1rem;
    font-size: 12px;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 999;
    color: #fff;

    &.disabled {
      cursor: not-allowed;
      opacity: .8;
      background-color: #ccc;
    }
  }

  #gobierto_observatory-demography-map-app-container-spinner {
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    &.disable-spinner {
      display: none;
    }
  }

  #gobierto-observatory-demography-map-app-spinner {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.4em solid transparent;
    border-color: #eee;
    border-top-color: #3e67ec;
    border-radius: 50%;
    animation: loadingSpinner 1s linear infinite;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
  }

  @keyframes loadingSpinner {
    100% {
      transform: rotate(360deg);
    }
  }
}
