.gobierto_citizens-charters {
  .charters-box-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

border: 1px solid red;

    // @Component BOX
    .charters-box {
      $gap: 1.5rem;

      padding: $gap;
      color: $color_main_negative;

      /* flexgrid */
      & {
        flex: 1 0 calc(33.3% - (4 * #{$gap}));
        margin: $gap;
      }

      &:nth-of-type(3n + 1) {
        margin-left: 0;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(-n + 3) {
        margin-top: 0;
      }

      &:nth-last-of-type(-n + 3) {
        margin-bottom: 0;
      }
      /* end flexgrid */

      &::after {
        content: "";
        display: block;
        padding-bottom: calc(100% / (16 / 9)); // aspect ratio
      }

      .box-inner {
        @include absolute-layout();
      }

      .box-title {
        font-size: $f3;
      }

      .box-results {
        .results-title {
          font-size: $f7;
          opacity: .6;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }

        .results-value {
          font-size: $f1;
          display: inline;
        }
      }

      .box-contents {
        font-size: $f6;
      }
    }
  }
}
