@import "comp-text_content";
@import "comp-timeline";
@import "comp-content";

/*
 * Consultations
 *
 */
.consultation_list {
  .consultation {
    width: 48%;
    height: 190px;
    float: left;
    margin-bottom: 4em;

    @include border-radius(5px);

    background: var(--color-base);
    box-sizing: border-box;
    color: $color_main_negative;
    position: relative;

    h3 {
      margin: 0;
      font-size: 1.6em;
      font-weight: 200;
      line-height: 1.2em;

      a {
        padding: 1.5rem 1.5rem 3rem;
        display: block;
      }

      a:hover {
        background: rgba(var(--color-base-string), 0.8);

        @include border-radius(5px);
      }
    }

    a {
      color: $color_main_negative;
      text-decoration: none;
    }

    a:hover {
      color: rgba($color_main_negative, 0.8);
    }

    .meta {
      border-top: 1px solid rgba($color_main_negative, 0.3);
      box-sizing: border-box;
      padding: 0.75rem 1.5rem;
      font-size: 0.8em;
      line-height: 1.2em;

      .dates {
        float: left;
        width: 120px;
        border-right: 1px solid rgba($color_main_negative, 0.2);
        margin-right: 1em;
      }
    }

    .act {
      position: absolute;
      bottom: -1em;
      right: 1em;

      a {
        display: block;
        padding: 0.75em 1.5em 0.65em;
        font-weight: 700;
        background: rgba(var(--color-base-string), 0.8);
        height: initial;
      }
    }

    form {
      input[type=email] {
        width: 60%;
      }
    }
  }

  .consultation:nth-of-type(2n) {
    float: right;
  }

  .consultation.get_lead,
  .consultation.stats {
    background: rgba(var(--color-base-string), 0.1);
    padding: 1.5rem;
    color: $color_text;

    h3 {
      font-size: 1.3em;
      margin: 0 0 1.25em 0;
    }
  }
}

.consultation_item {
  margin-top: 3em;
  margin-bottom: 3em;

  header {
    .main_title {
      margin: 1em 0 2em 0;
      box-sizing: border-box;
      padding: 3em 6em 2em;
      text-align: center;
      background-image: linear-gradient(135deg, rgba(var(--color-base-string), 0.5) 0%, var(--color-base) 150%);

      @include border-radius(6px);

      color: $color_main_negative;

      h1 {
        line-height: 1.6em;
        font-weight: 600;
      }

      .meta {
        font-size: 0.8em;
        margin: 2em 5em 0;
        padding: 2em 0 0 0;
        border-top: 1px solid rgba($color_main_negative, 0.5);
        text-transform: uppercase;
        text-align: center;
      }
    }

    .pre_title {
      margin: 6% 30% 2%;
      font-size: 1.2em;
      font-weight: 200;
    }

    .header_comps {
      padding-top: 8em;
    }
  }

  .participation_question_cont {
    margin: auto;
    box-sizing: border-box;

    @include border-radius(5px);

    border: 1px solid $color_separator;
    padding: 3em 5em;
    text-align: center;
    margin-top: 2em;

    h2 {
      font-size: 1.8em;
      line-height: 1.4em;
      margin: 1em 0 1.5em 0;
      font-weight: 600;
      color: var(--color-base);
    }

    .options {
      margin: 0 10%;

      .option {
        display: block;
        margin: 0 0 1em 0;
        text-align: left;
        height: 65px;

        input[type="checkbox"] + label,
        input[type="radio"] + label {
          box-sizing: border-box;
          padding: 20px;
        }
      }

      button,
      .button {
        width: 100%;
        margin: 1em auto;
      }

      input[type=text] {
        width: 100%;
        border: 0;
        padding: 20px;
        height: 63px;
      }
    }
  }

  ul.slick-dots {
    position: absolute;
    top: -1em;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      button {
        text-indent: -3000px;
        border-radius: 13px;
        font-size: 3px;
        height: 12px;
        opacity: 0.5;
        margin: 0 2em;
      }
    }

    li.slick-active {
      button {
        opacity: 1;
      }
    }
  }
}
