/*
 * Indicators
 *
 */

// Intro
.intro_section {
	padding: 5em 0 4em 0;
	background: $color_main_negative;
	margin-top: -2em;
}
.intro_headline {
	margin-bottom: 0;
}
.intro_desc {
	// max-width: 350px;
	font-size: 1.2em;
}


// Sections
.section_headline {
	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
	text-transform: none;
}
.section_desc {
	margin-top: 0;
}
.main_graphic {
	// height: 500px;
}
.small_graphic {
	height: 250px;
}

// Bigger phones
@media (min-width: 375px) {
	.indicators_section {
		font-size: 0.8em;
	}
	.indicators_subsection {
		font-size: 0.8em;
		margin-left: 20px;
	}
}

// Desktop
@media (min-width: 768px) {
	.indicators_header {
		min-height: 55px;
	}
	.indicators_sections {
		margin-top: 1em;
	}
	.indicators_section {
		font-size: 1em;
		margin-left: 20px;
	}
	.r_mr {
		margin-right: 2.5em;
	}
}
