@import "css-conf";
@import "mixins";
@import "comp-block-checkbox";
@import "comp-block-header";
@import "comp-vue-dropdown";

:root {
  --green-table--first: rgba(33, 150, 83, .1);
  --green-table--second: rgba(33, 150, 83, .2);
}

.dashboards {
  @include min-screen(768) {
    @include gutters(66px)
  }

  &-home-nav {
    background-color: rgba($color_headers, 0.04);
    margin-bottom: 1em;

    &--reset {
      display: flex;
      align-items: flex-end;
      height: 100%;
      font-size: $f7;
      cursor: pointer;
      justify-content: flex-end;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include min-screen(768) {
        justify-content: flex-start;
        flex-direction: row;
        margin-right: 0;
      }
    }

    &--tab {
      color: var(--color-base);
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      text-transform: uppercase;
      padding: 14px 0;
      border-top: 3px solid transparent;
      box-sizing: border-box;
      cursor: pointer;
      transition: all 100ms ease-out;
      text-align: center;
      margin-left: 20px;
      flex: 1 0 auto;

      @include min-screen(768) {
        flex: 0 0 auto;
        min-width: 100px;
      }

      > :first-child {
        flex: 0 0 25px;
      }

      &.is-active {
        font-weight: 700;
        border-top-color: var(--color-base);
      }

      &.is-active i:first-of-type,
      &:not(.is-active) i:last-of-type {
        display: inline-block;
      }

      &.is-active i:last-of-type,
      &:not(.is-active) i:first-of-type {
        display: none;
      }
    }
  }

  &-home-main {
    $border-radius: 3px 4px 4px;

    height: 100%;
    min-height: 500px;

    &--link {
      color: var(--color-base);
      font-size: $f6;
      font-weight: 700;
      line-height: 19px;
      margin-bottom: 20px;
      display: block;
    }

    &--property {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      > :first-child {
        font-size: $f8;
        font-weight: 700;
        line-height: 14px;
        text-transform: uppercase;
        flex: 1 0 25%;
        padding-right: 3%;
        box-sizing: border-box;
      }

      > :last-child {
        font-size: $f7;
        font-weight: 400;
        line-height: 16px;
        flex: 1 0 50%;
      }

      &:not(:last-child) {
        margin-bottom: .5em;
      }
    }

    &--th {
      font-size: $f8;
      font-weight: 700;
      line-height: 14px;
      text-align: left;
      border-top: 0;
      text-transform: uppercase;
      padding: 0 0 0.5em;
      color: var(--color-base);

      @include min-screen(768) {
        &:first-child > * {
          padding-left: 20px;
        }
      }

      &:last-child > * {
        text-align: right;
        padding-right: 0;

        @include min-screen(768) {
          padding-right: 20px;
        }
      }
    }

    &--td {
      padding: 0;
      font-size: $f6;
      font-weight: 400;
      line-height: 28px;
      text-align: left;
      border-top: 0;
      cursor: pointer;

      > * {
        border-top: 1px solid;
        border-top-color: rgba(var(--color-base-string), .1);
        padding: 0.5em 0;
      }

      &:first-child > * {
        font-weight: 700;
        margin-left: 0;
        padding-right: 8px;

        @include min-screen(768) {
          margin-left: 20px;
        }
      }

      &:last-child > * {
        text-align: right;
        margin-right: 0;
        padding-left: 8px;

        @include min-screen(768) {
          margin-right: 20px;
        }
      }

      &:not(:first-child):not(:last-child) > *::first-letter {
        text-transform: uppercase;
      }
    }

    .largest-width-td {
      width: 45%;
    }

    &--tr:hover > * {
      background-color: rgba(var(--color-base-string), .1);

      > * {
        border-top-color: transparent;
      }

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }

    &--tr:hover + &--tr > * > * {
      border-top-color: transparent;
    }
  }

  &-home-aside {
    &--download-open-data {
      padding: 2em 0;
      font-size: 1em;

      a {
        color: var(--color-base);
        width: 75%;
        display: inline-block;
        vertical-align: top;
        line-height: 1.4em;
      }

      a:hover {
        color: rgba(var(--color-base-string), 0.8);
      }

      .fas {
        color: var(--color-base);
        margin: 0 0.6em;
      }
    }
  }

  .container {
    .block {
      .with_description,
      .breadcrumb {
        display: inline-block;
      }

      .breadcrumb {
        margin-left: .5rem;
      }
    }
  }
}


.gobierto-dashboards {

  .pure-g {
    letter-spacing: 0 !important;
  }

  .metric_boxes {

    .metric_box {
      margin-bottom: 1rem;

      .inner {
        margin-right: 0;
        margin-left: 0;
        min-height: auto;
        padding-bottom: 2rem;
      }
    }
  }

  &-table {
    td > * {
      padding: .75rem .5rem .75rem 0;
      vertical-align: middle;
      display: inline-block;
    }

    td {
      border-top: 0;
      padding: 0 1rem;
    }

    &--subheader {
      border-collapse: collapse;
      border-radius: 4px;
      width: 100%;
      overflow: hidden;

      td > * {
        padding: .75rem .5rem .75rem 0;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  &-table--header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
  }

  &-tablerow--header {
    border-bottom: 1px dashed rgba(0, 0, 0, .15);
    cursor: pointer;

    &:hover {
      background-color: rgba(var(--color-base-string), .1);
    }

    .gobierto-dashboards-table-header--nav-text {
      color: var(--color-base);
      text-decoration: underline;
    }

    &.act-has-children {
      background-color: rgba(var(--color-base-string), .1);
      flex-wrap: wrap;

      &:hover {
        background-color: rgba(var(--color-base-string), .2);
      }

      .gobierto-dashboards-table-header--elements {
        font-weight: bold;
      }

      .gobierto-dashboards-table-header--nav-text {
        font-weight: bold;
        display: inline-block;
        font-size: 1rem;
      }

      .gobierto-dashboards-table--secondlevel {
        width: 100%;
        background-color: #fff;

        .gobierto-dashboards-tablerow--header {
          &:last-child {
            border-bottom: 0;
          }
        }

        .gobierto-dashboards-table-header--nav {
          display: inline-block;

          .gobierto-dashboards-table-header--nav-text {
            font-weight: normal;
            padding-left: 1.5rem;
          }
        }
      }
    }
  }

  &-table-header--nav {
    width: 28%;
    min-width: 28%;
    color: var(--color-base);

    p {
      color: var(--color-base);
    }
  }

  &-table--header--thead {
    align-items: end;

    .gobierto-dashboards-table-header--elements {
      padding: 2rem 1.5rem .75rem .25rem;
      position: relative;
    }

    .gobierto-dashboards-table-color-direct {
      border-top-left-radius: 4px;
      background-color: rgba(var(--color-base-string), .08);
    }

    .gobierto-dashboards-table-color-indirect {
      background-color: rgba(var(--color-base-string), .12);
    }

    .gobierto-dashboards-table-color-total {
      background-color: rgba(var(--color-base-string), .2);
    }

    .gobierto-dashboards-table-color-inhabitant {
      background-color: rgba(var(--color-base-string), .4);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding-top: 3rem;
    }

    .gobierto-dashboards-table-color-income {
      background-color: rgba(33, 150, 83, .2);
    }

    .gobierto-dashboards-table-color-coverage {
      border-top-right-radius: 4px;
      background-color: rgba(33, 150, 83, .4);
    }
  }

  &-table--secondlevel-nested {
    .gobierto-dashboards-table-header--nav {
      padding-left: 2.75rem;
    }
  }

  &-table-header--elements {
    width: 12%;
    box-sizing: border-box;
    text-align: right;

    i {
      display: inline-block;
      vertical-align: middle;
    }

    span {
      font-size: 1rem;
    }
  }

  &-table-color-direct {
    background-color: rgba(var(--color-base-string), 0.04);
  }

  &-table-color-indirect {
    background-color: rgba(var(--color-base-string), 0.06);
  }

  &-table-color-total {
    background-color: rgba(var(--color-base-string), .1);
  }

  &-table-color-inhabitant {
    background-color: rgba(var(--color-base-string), 0.2);
  }

  &-table-color-income {
    background-color: var(--green-table--first);
  }

  &-table-color-coverage {
    background-color: var(--green-table--second);
  }

  &-header--elements-text {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    color: #666;
    max-width: calc(100% - 19px);
  }

  &-table-header--link,
  &-table-header--link-top {
    font-size: 18px;
    color: var(--color-base);
    text-decoration: underline;
  }

  &-table-header--link-top {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1rem;
  }

  &-tablesecondlevel--header {
    background-color: var(--color-base);
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    padding: .5rem 0;
    border-bottom: 0;
    cursor: initial;

    &:hover {
      background-color: var(--color-base);
    }

    .gobierto-dashboards-table-header--nav,
    .gobierto-dashboards-table-header--elements {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &-table-header--link-container {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1rem;

    i {
      display: inline-block;
      vertical-align: middle;
    }

    .gobierto-dashboards-table-header--link-top {
      padding-bottom: 0;
    }
  }

  &-table-item {
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 96.5%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;

    @include min-screen(768) {
      flex-wrap: nowrap;
      padding: 3rem;
    }
  }

  &-table-item-left {
    width: 100%;

    @include min-screen(768) {
      width: 60%;
    }
  }

  &-table-item-right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include min-screen(768) {
      width: 45%;
    }
  }

  &-table-item-left-container {
    margin-bottom: 1.5rem;
  }

  &-table-item-title,
  &-table-item-text {
    font-size: 1rem;
    font-weight: normal;
    color: #666;
    display: block;
    max-width: 30rem;
  }

  &-table-item-title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &-table-item-right-container {
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

    &-income,
    &-coverage {
      .gobierto-dashboards-table-item-right-table {
        border-color: rgba(33, 150, 83, .2);
      }
    }
  }

  &-table-item-right-section {
    width: 22%;
    display: inline-block;
    padding-right: .5rem;
  }

  &-table-item-right-section-title {
    font-size: 1rem;
    color: rgba(102, 102, 102, .5);
    text-align: right;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
  }

  &-table-item-right-table {
    border-left: 7px solid rgba(1, 120, 168, .2);
    padding-left: 1rem;
    width: 100%;

    @include min-screen(768) {
      width: 70%;
    }
  }

  &-table-item-right-table-element {
    padding: .25rem 0;
    width: 100%;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &-table-item-right-table-container {
    border-bottom: 1px dashed rgba(0, 0, 0, .15);
    width: 89%;
    margin-right: .75rem;
    display: inline-block;
  }

  &-table-item-right-table-element-bold {
    font-weight: bold;
  }

  &-table-item-right-table-text,
  &-table-item-right-table-amount {
    font-size: 1rem;
    color: #666;
    width: 49%;
    display: inline-block;
  }

  &-table-item-right-table-amount {
    text-align: right;
  }

  &-title {
    font-weight: 300;
    font-size: 25.6px;
    color: var(--color-base);
    text-transform: uppercase;
  }

  .vis-costs {
    position: relative;
    background-color: #f0f0f0;
  }

  &-header--tooltip,
  &-item--tooltip {
    position: absolute;
    background: white;
    padding: 10px;
    z-index: 4;
    min-width: 200px;
    max-width: 250px;
    padding: .5rem;
    border: 1px solid #979797;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
    border-radius: 4px;
    text-align: left;
    top: -110px;
    left: -10px;

    &::before,
    &::after {
      border-radius: 2px;
      position: absolute;
      top: 100%;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -7px;
      border-width: 7px;
      border-style: solid;
      border-color: transparent transparent darken(#979797, 20%);
      content: '';
      transform: rotate(180deg);
    }

    &::after {
      margin-left: -6px;
      border-width: 6px;
      border-color: transparent transparent white;
    }
  }

  &-item--tooltip {
    top: -70px;
    left: 60%;
  }
}
