@import "css-conf";
@import "mixins";
@use "comp-vue-transitions";

:root {
  --space: #{$f6};
  --color-grey-str: 102, 102, 102;
  --font-family: "Libre Franklin", "Helvetica Neue", "Arial", "sans-serif";
  --font-family-alt: #{$font_text};
}

.dashboards-viewer {
  .widget {
    background-color: rgba(var(--color-base-string), 0.1);
    padding: var(--space);
    height: 100%;
    user-select: none;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;

    @include border-radius(3px);

    &::after {
      content: "";
      position: absolute;
      background-color: white;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &__textarea {
      height: 100%;
      width: 100%;
      resize: none;
    }
  }

  .graph-individual {
    font-family: var(--font-family-alt);
    height: 100%;

    @include flexbox(calc(2 * var(--space)), column);

    &__barchart {
      position: relative;
      background-color: rgba(var(--color-base-string), 0.2);
      overflow: hidden;
      height: 20px;
      width: 100%;
      flex: 0 0 20px;

      @include border-radius(2px);

      &--active {
        @include border-radius(2px);

        background-color: var(--color-base);
        height: 100%;
        animation: progress-x 500ms ease-in-out;
        transform: translateX(0);

        @keyframes progress-x {
          from { transform: translateX(-100%); }
        }
      }
    }

    &__title {
      font-size: $f6;
    }

    &__metric {
      &--container {
        @include flexbox();
        @include flex-align(space-between);
      }

      &--title {
        font-weight: bold;
        font-size: $f7;
        color: var(--color-base);
        opacity: 0.75;
      }

      &--value {
        font-size: $f1;
        line-height: 1.1;
        font-weight: 300;
        color: rgba(var(--color-grey-str), 1);
      }
    }

    &__date {
      font-family: var(--font-family);
      font-size: $f7;
      opacity: 0.5;
      margin-top: auto;
    }
  }

  .graph-table {
    font-family: var(--font-family-alt);

    &__title {
      font-weight: bold;
      font-size: $f5;
      margin: 0 0 var(--space);
    }

    &__table {
      &--tr,
      &--tr:hover td,
      &--tr:nth-child(2n-1) td,
      &--td,
      &--th {
        background: none;
        font-size: $f7;
      }

      &--th,
      &--td:first-child {
        font-weight: bold;
      }

      &--th {
        color: var(--color-gray);
      }

      &--tr {
        border-top: 1px dashed #e0e0e0;

        &:first-child {
          border-top-style: solid;
        }
      }

      &--th:not(:first-child),
      &--td:not(:first-child) {
        text-align: right;
      }

      &--th span,
      &--tr:last-child {
        opacity: 0.5;
      }
    }

    &__barchart {
      position: relative;
      background-color: rgba(var(--color-base-string), 0.2);
      overflow: hidden;
      width: 33%;
      max-width: 100px;
      transform: rotateX(180deg);

      @include border-radius(2px);

      &--wrapper {
        @include flex-align(flex-end, flex-end);
        @include flexbox(var(--space), $dir: column);
      }

      &--wrapper-relative {
        @include flex-align(flex-end, flex-end);
        @include flexbox($dir: column);

        height: 120px;
        width: 100%;
      }

      &--active {
        @include border-radius(2px);

        background-color: var(--color-base);
        width: 100%;
        animation: progress-y 500ms ease-in-out;
        transform: translateY(0);

        @keyframes progress-y {
          from { transform: translateY(-100%); }
        }
      }
    }
  }

  &__card {
    padding: var(--space);
    border: 1px solid rgba(var(--color-grey-str), 0.2);
    position: relative;
    cursor: pointer;
    transition: background-color 250ms;

    @include border-radius(8px);
    @include min-screen(768) {
      padding: calc(2 * var(--space));
    }

    &:hover {
      background-color: rgba(var(--color-grey-str), 0.1);
    }

    &-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 24px;
      
      @include min-screen(768) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 42px;
      }
    }

    &-container {
      @include aspect-ratio(3, 1);
    }

    &-title {
      text-decoration: underline;
      font-weight: 700;
      font-size: $f3;
      margin: 0 0 var(--space);
    }

    &-subtitle {
      color: $color_text;
      font-size: $f7;
      line-height: 1.25;
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    cursor: pointer;
    margin-top: 1rem;
  }
}
