@import "css-conf";
@import "mixins";

.dashboards {
  @include min-screen(768) {
    @include gutters(66px)
  }

  &-home-nav {
    background-color: rgba($color_headers, 0.04);

    &--reset {
      display: flex;
      align-items: flex-end;
      height: 100%;
      font-size: $f7;
      cursor: pointer;
      justify-content: flex-end;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include min-screen(768) {
        justify-content: flex-start;
        flex-direction: row;
        margin-right: 0;
      }
    }

    &--tab {
      color: var(--color-base);
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      text-transform: uppercase;
      padding: 14px 0;
      border-top: 3px solid transparent;
      box-sizing: border-box;
      cursor: pointer;
      transition: all 100ms ease-out;
      text-align: center;
      margin-left: 20px;
      flex: 1 0 auto;

      @include min-screen(768) {
        flex: 0 0 auto;
        min-width: 100px;
      }

      > :first-child {
        flex: 0 0 25px;
      }

      &.is-active {
        font-weight: 700;
        border-top-color: var(--color-base);
      }

      &.is-active i:first-of-type,
      &:not(.is-active) i:last-of-type {
        display: inline-block;
      }

      &.is-active i:last-of-type,
      &:not(.is-active) i:first-of-type {
        display: none;
      }
    }
  }
}
