:root {
  --color-base-string: var(--color-main, #{red($color_main), green($color_main), blue($color_main)});
  --color-base: rgb(var(--color-base-string));
  --color-base-soft: rgba(var(--color-base-string), 10%);
  --color-base-soft-darker: rgba(var(--color-base-string), 25%);
}

.tour {
  .column {
    width: 100%;
    max-width: 100vw;
  }
}
