/*
 * People
 *
 */

body.gobierto_people {

  .block + .person-item {
    margin-top: 2em;
  }
  img.avatar {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .people-grid {
    .person-item {
      border: 1px solid $color_separator;
      padding: 1.5em;
      margin-right: 1.5em;
      margin-bottom: 1.5em;
      min-height: 150px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .person-item, .item {
    padding: 2em 0;
    border-top: 1px solid $color_separator;
    box-sizing: border-box;

    .meta {
      font-size: .85em;
      img {
        margin: 0 1em 0 0;
        vertical-align: middle;
      }  
    }
    h2 {
      font-size: 1.2em;
      margin: 0 0 .25em 0;
    }
    .person-name {
      padding: 0 0 0 1.5em;
      box-sizing: border-box;
    }
  }
  .post-item {
    h2 {
      margin: 0 0 1em 0;
    }
  }

  .person_event-item {
    .date_badge {
      box-sizing: border-box;
      padding: .3em 0;
      background-color: $color_main;
      text-align: center;
      background: $color_1_soft;
      @include border-radius(4px);
      color: $color_main;
    }
    .day, .month, .hour {
      margin: 0;
      line-height: 1.4em;
    }
    .day {
      font-size: 1.4em;
      font-weight: 600;
    }
    .month, .hour {
      font-size: .85em;
    }
    .hour {
      opacity: .5;
    }
  }
  .event-content {
    padding: 0 0 0 1.5em;
    box-sizing: border-box;
    .meta {
      font-size: .85em;
    }
  }

  .events-filter {
    .filter-option:not(.active) {
      @extend .soft;
    }
  }

  .calendar-component {
    padding: 1.5em;
    margin: 1em 0;
    text-align: center;
    border: 1px solid $color_separator;

    table {
      border: 0;
    }

    th {
      text-align: center;
      border: 0;
    }

    td {
      height: auto;
      border: 0;
    }
  }

}

body.gobierto_people.welcome.index {
  .filter_boxed {
    ul {
      li {
        a {
          padding: .25em 1em .2em;
          margin: 0 .5em 0 0;
        }
      }
    }
  }
}
