.gobierto_investments .investments {

  &-project--heading {
    color: $color_text;
    font-size: $f5;
    font-weight: 300;
    line-height: 22px;
  }

  &-project-aside {
    @include min-screen(768) {
      &--gap {
        padding-right: 40px;
        height: 100%;
      }
    }

    &--block {
      background-color: #f6f6f6;
      padding: 1em;
      height: 100%;
      box-sizing: border-box;
    }

    &--block-head {
      color: $color_headers;
      font-size: $f8;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
      margin: 0;
    }

    &--link {
      border-top: 1px solid $separator_dark;
      font-size: $f7;
      font-weight: 400;
      line-height: 33px;
      text-decoration: underline;
      display: block;
    }

    &--steps {
      ul {
        padding: 0;
        list-style-type: none;
      }

      li {
        height: 2rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          background-color: #c5c5c5;
          border-radius: 100%;
          width: 9px;
          height: 9px;
          top: 50%;
          left: 1rem;
          transform: translate(-50%, -50%);
          z-index: 2;
        }

        &:not(:last-of-type)::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 1px;
          border-left: 1px dashed #c5c5c5;
          left: 1rem;
          top: 50%;
          z-index: 1;
        }

        &:hover::before {
          background-color: #fff;
        }
      }

      a {
        color: $color_text;
        font-size: $f6;
        font-weight: 400;
        line-height: 33px;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 0 2rem;

        &:hover {
          background-color: #0072bc;
          border-radius: 3px;
          color: $color_main_negative;
          font-weight: 600;

          &::before {
            content: "";
            position: absolute;
            display: block;
            background-color: #0072bc;
            border-radius: 100%;
            width: 3px;
            height: 3px;
            top: 50%;
            left: 1rem;
            transform: translate(-50%, -50%);
            z-index: 3;
          }
        }

      }
    }
  }

  &-project-main {
    &--heading {
      font-size: 26px;
      font-weight: 300;
      line-height: 31px;
      margin-top: 0;
    }

    &--intro {
      font-size: $f5;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 38px;
    }

    &--carousel {
      margin-bottom: 28px;

      img {
        max-height: 300px;
        object-fit: cover;
        cursor: pointer;

        &:not(:first-child) {
          margin-left: 5px;
        }
      }
    }

    &--table-row {
      display: flex;
      align-items: baseline;
      color: $color_text;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      > :last-child {
        flex: 1;
      }
    }

    &--cell-heading {
      flex: 0 0 20%;
      font-size: $f6;
      font-weight: 700;
      line-height: 19px;
      text-transform: uppercase;
      padding-right: 1rem;
    }

    &--strong {
      font-size: $f3;
      font-weight: 700;
      line-height: 29px;
    }

    &--inner-table-row {
      display: flex;
      align-items: baseline;
      color: $color_text;
      justify-content: space-between;

      > :first-child {
        flex: 1;
        padding-right: 1rem;
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }

    &--icon-text {
      display: flex;
      align-items: baseline;

      > :first-child {
        flex: 0 0 1.5em;
        color: $color_logo_yellow;
      }

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }

  &-home-aside {
    @include min-screen(768) {
      &--gap {
        @extend .investments-project-aside--gap;
      }
    }

    &--block {
      padding: 16px 0;
      border-bottom: 1px solid $separator_dark;
    }

    &--block-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px;
      font-size: $f8;
      line-height: 14px;

      > :first-child {
        text-transform: uppercase;
        font-weight: 700;
      }

      > :last-child {
        font-weight: 400;
      }
    }

    &--checkbox {
      cursor: pointer;

      label {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        padding: 0;
        display: flex;
        align-items: center;
        position: relative;

        &:hover {
          background: transparent;
        }
      }

      input[type="checkbox"] + label {
        background: transparent;

        &::before {
          content: "";
          border: 1px solid $separator_dark;
          display: inline-block;
          border-radius: 3px;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          line-height: 16px;
          text-align: center;
          transition: all .2s ease;
        }
      }

      input[type="checkbox"]:checked + label::before {
        background: $color_main;
        color: $color_main_negative;
        content: "✔";
      }
    }

    &--calendar-button {
      background-color: $color_main_soft;
      border-radius: 4px;
      padding: 6px;
      cursor: pointer;

      > :first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      strong {
        font-size: $f7;
        font-weight: 700;
        line-height: 17px;
      }

      i {
        color: $color_main;
        font-size: $f5;
      }

      small {
        font-size: $f8;
        font-weight: 400;
        line-height: 14px;
        opacity: 0.5;
      }
    }
  }

  &-home-nav {
    background-color: rgba($color_headers, 0.04);

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
    }

    &--item {
      color: $color_main;
      font-size: 20px;
      font-weight: 300;
      line-height: 24px;
      text-transform: uppercase;
      padding: 14px 0;
      margin-left: 20px;
      border-top: 3px solid transparent;
      box-sizing: border-box;
      cursor: pointer;

      > :first-child {
        flex: 0 0 25px;
      }

      &.is-active {
        font-weight: 700;
        border-top-color: $color_main;
      }

      &.is-active i:first-of-type,
      &:not(.is-active) i:last-of-type {
        display: inline-block;
      }

      &.is-active i:last-of-type,
      &:not(.is-active) i:first-of-type {
        display: none;
      }
    }
  }
}
