/*
 * Indicators
 *
 */

// Intro
.intro_section {
	padding: 5em 0 4em 0;
	background: $color_main_negative;
	margin-top: -2em;
}
.intro_headline {
	margin-bottom: 0;
}
.intro_desc {
	// max-width: 350px;
	font-size: 1.2em;
}


// Sections
.section_headline {
	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
	text-transform: none;
}
.section_desc {
	margin-top: 0;
}
.main_graphic {
	// height: 500px;
}
.small_graphic {
	height: 250px;
}

/* Graphics */
#age_distribution {
	position: relative;
}
#age_distribution .axis {
	font-family: $font_text;
	font-size: 0.75em;
}
#age_distribution .y.axis .domain {
	display: none;
}
#age_distribution .y.axis line {
	stroke: $color_main_negative;
	stroke-dasharray: 1, 2;
}
#age_distribution .chart_headline {
	font-weight: 600;
	margin-top: 0;
}

// Desktop
@media (min-width: 768px) {
	.indicators_header {
		min-height: 55px;
	}
	.indicators_sections {
		margin-top: 1em;
	}
	.indicators_section {
		font-size: 1em;
		margin-left: 20px;
	}
	.r_mr {
		margin-right: 2.5em;
	}
	#age_distribution .chart_headline {
		margin-top: 2rem;
		position: absolute;
		left: 2em;
	}
}
