.gobierto_citizens-charters {

  .absolute-layout {
    @include absolute-layout();
  }

  .fake-layout {
    pointer-events: none;

    :not(.invisible) {
      pointer-events: auto;
    }
  }

  // @Component BOX
  .charters-box-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .charters-box {
      $gap: 1.5rem;

      color: $color_main_negative;
      padding: $gap / 2;

      @include screen(0, 767) {
        @include flexgrid($gap: $gap / 2, $columns: 1);
      }

      @include screen(768, 1280) {
        @include flexgrid($gap: $gap, $columns: 3);
      }

      @include min-screen(1280) {
        padding: $gap;

        @include flexgrid($gap: 2 * $gap, $columns: 3);
      }

      &::after {
        content: "";
        display: block;
        padding-bottom: calc(100% / (24 / 9)); // aspect ratio

        @include min-screen(768) {
          padding-bottom: calc(100% / (16 / 9)); // aspect ratio
        }
      }

      .box-inner {
        @include absolute-layout();
      }

      .box-title {
        font-size: $f5;

        @include screen(1024, 1280) {
          font-size: $f4;
        }

        @include min-screen(1280) {
          font-size: $f3;
        }
      }

      .results-title {
        font-size: $f7;
        opacity: .6;
        text-transform: uppercase;
        margin-bottom: 0;

        @include screen(1024, 1280) {
          margin-bottom: .5rem;
        }

        @include min-screen(1280) {
          margin-bottom: 1rem;
        }
      }

      .results-value {
        font-size: $f3;
        display: inline;

        @include screen(1024, 1280) {
          font-size: $f2;
        }

        @include min-screen(1280) {
          font-size: $f1;
        }
      }

      .box-contents {
        font-size: $f6;
      }
    }

    .charters-box--lead {
      @extend .charters-box;

      background-color: $color_main_negative !important;
      border: 1px solid $color_separator;
      color: $color_text;

      .results-title {
        font-size: $f6;
        margin-bottom: 2rem;
      }

      .results-value {
        font-size: $f1;

        @include min-screen(1024) {
          font-size: $submega;
        }
      }
    }
  }

  .charter-header {
    background-color: $color_main;

    > * {
      display: flex;
      justify-content: space-between;
      max-height: 150px;
    }

    h1 {
      color: $color_main_negative;
    }

    img {
      object-fit: cover;
      max-height: 100%;
      max-width: 100%;
    }
  }

  .charter-subheader {
    margin: 3rem 0 1rem;

    > * {
      display: flex;
      justify-content: space-between;

      > * {
        flex-basis: 40%;
      }
    }

    .subheader-title {
      color: $color_main;
      text-transform: uppercase;
      font-size: $f6;
    }

    .subheader-title--muted {
      opacity: .5;
    }

    .subheader-title--compact {
      margin-bottom: 0;
    }

    .subheader-number {
      align-items: center;

      @include flexbox(5rem);

      > p {
        font-size: $submega;
        line-height: $submega;
      }
    }

    .subheader-selector {
      /* reset */
      border-radius: 0;
      border: 1px solid $color_separator;
      height: 2rem;
      background: $color_main_negative;
      padding: 0;

      /* stylish */
      width: 50%;
      color: rgba($color_text, .5);
      background-image: linear-gradient(45deg, transparent 50%, $color_separator 50%), linear-gradient(135deg, $color_separator 50%, transparent 50%);
      background-position: calc(100% - 20px) 50%, calc(100% - 12px) 50%;
      background-size: 8px 8px, 8px 8px;
      background-repeat: no-repeat;
    }
  }

  // @Component CHARTER
  .charter-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $color_separator;
    background-color: $color_separator;

    .charter {
      @include flexgrid($gap: 1px, $columns: 3);

      // to avoid using opacity rgba(color, .1)
      background-color: lighten(desaturate(adjust-hue($color_main, 7), 55.56), 59.8);
      padding: 2rem;

      &:hover {
        // to avoid using opacity rgba(color, .2)
        background-color: lighten(desaturate(adjust-hue($color_main, 8), 54.29), 53.14);
      }

      .charter-number {
        align-items: center;

        @include flexbox(3rem);

        > p {
          font-size: $f1;
          line-height: $f1;
        }
      }

      .charter-text--muted {
        opacity: .5;
      }
    }
  }
}
