@import "css-conf";
@import "mixins";
@import "comp-vue-filters";
@import "comp-perspective-viewer";
@import "comp-vue-skeleton-spinner";

:root {
  --transition: .1s ease-in;
  --shadow: 0 2px 20px rgba(0, 0, 0, .3);
  --grey-dataset: rgba(51, 51, 51, .5);
}

.gobierto-data {

  /* Pure-css add display block to the summary element and the arrow/caret/icon is hide because summary must have list-item to show the arrow. */
  summary {
    display: list-item !important;
  }

  padding-top: 1rem;

  @include min-screen(768) {
    @include gutters(66px)
  }

  ul {
    padding-left: 0;
    margin-top: 0;
  }

  &-home-nav--tab {
    list-style: none;
    display: inline-block;
    color: var(--color-base);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    margin: 0 1.5em 0 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid rgba(var(--color-base-string), 0.5);
      text-decoration: none;
    }

    &.is-active {
      font-weight: bold;
    }

  }

  &-layout-sidebar {
    height: 100%;
    overflow: hidden;
    position: sticky;
    top: 0;

    &.gobierto-data-layout-column {
      padding-right: 0 !important;
    }
  }

  &-tabs-sidebar {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
  }

  &-tab-sidebar--tab {
    font-style: normal;
    font-size: $f7;
    color: #666;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-bottom: .25rem;
    border-bottom: 2px solid var(--color-base);
    opacity: .5;

    &.is-active {
      opacity: 1;
      font-weight: bold;
    }

    &:not(:last-child) {
      margin-right: .25rem;
    }

  }

  &-layout-column {
    padding: 0;
    padding-right: 1rem;
    box-sizing: border-box;
  }

  &-title-dataset {
    font-family: $font_headings;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-base);
    margin: 0;
    letter-spacing: 0;

    &-big {
      font-size: 24px;
      margin-bottom: 0;
    }
  }

  &-buttons {
    text-align: right;
  }

  &-btn-blue {
    font-size: $f7;
    background-color: var(--color-base);
    cursor: pointer;
    padding: 4px 9px;
    line-height: 1.5;
    font-weight: normal;
    border-radius: 3px;
    color: $color_main_negative;
    position: relative;
    transition: background-color var(--transition);

    &:hover {
      background-color: rgba(var(--color-base-string), .2) !important;
    }
  }

  &-sets-nav--tab {
    list-style: none;
    font-family: $font_text;
    font-weight: 500;
    font-size: $f7;
    line-height: 1.5;
    text-align: center;
    color: #4a4a4a;
    display: inline-block;
    padding: .5rem 1.25rem;
    background-color: rgba(var(--color-base-string), .1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition);

    &:hover {
      background-color: rgba(var(--color-base-string), .05);
    }

    &.is-active {
      background-color: #fff;
      border: 1px solid var(--color-base);
      border-bottom: 0;
      position: relative;
      bottom: -1px;
    }

    & + & {
      margin-left: 0.25rem;
    }

  }

  &-sets-nav {
    border-bottom: 1px solid var(--color-base);
    padding-left: 1rem;
    margin-top: 20px;

    ul {
      margin: 0;
    }

  }

  &-sets-nav--tab-container {
    padding-top: 1.25rem;
  }

  &-summary-header {
    box-sizing: border-box;
  }

  &-summary-header-description {
    margin-top: 0;
    font-size: $f7;
    color: #666;
  }

  &-summary-header-description-link {
    text-decoration: underline;
    cursor: pointer;
  }

  &-summary-header-container {
    margin: .5rem 0;
  }

  &-summary-header-container-text,
  &-summary-header-container-label,
  &-summary-header-container-text-link {
    font-size: 1rem;
    color: #666;
    display: inline-block;
  }

  &-summary-header-container-text-link {
    color: var(--color-base);
  }

  &-summary-header-container-label {
    width: 110px;
    color: rgba(102, 102, 102, .5);
  }

  &-summary-btn-download-data {
    background-color: #fff;
    color: var(--color-base);
    border-radius: 3px;
    padding: 1.5rem;
    border: 1px solid rgba(1, 120, 168, .2);
  }

  &-summary-resources {
    display: block;
    width: 100%;
    letter-spacing: 0;
    padding: 1rem 0;
    margin-top: 2rem;
    border-top: 1px solid rgba(102, 102, 102, .75);
  }

  &-tabs-section-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 1rem;
    color: rgba(102, 102, 102, .75);
    cursor: pointer;
  }

  &-resources-list-element {
    display: inline-block;
    width: 50%;
    margin-bottom: 1rem;
  }

  &-info-list-element {
    width: 100%;
    border: 1px solid rgba(var(--color-base-string), 0.3);
    border-radius: 3px;
    padding: 1em 1.25em;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &-resources-list-element-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-base);
  }

  &-resources-list-element-size {
    font-size: 16px;
    color: var(--color-base);
  }

  &-summary-queries {
    width: 100%;
    letter-spacing: 0;

    .gobierto-data-summary-queries-sql-code {

      .CodeMirror {
        background-color: transparent;
        padding: 0;
      }

      .CodeMirror-line {
        white-space: normal;
        width: 100%;
      }

      .CodeMirror-sizer {
        width: 90%;
      }
    }
  }

  &-summary-queries-panel {
    border: 1px solid rgba(var(--color-base-string), 0.3);
    border-radius: 3px;
    position: relative;

    &::after {
      content: '';
      display: inline-block;
      height: 100%;
      width: 1px;
      position: absolute;
      left: 50%;
      background-color: rgba(var(--color-base-string), .3);
    }

    .gobierto-vue-dropdown--content {
      &:not(:empty) {
        margin-bottom: 2rem;
      }
    }

  }

  &-summary-queries-panel-title {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: rgba(102, 102, 102, .75);
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 6px;
    padding-left: 1rem;
  }

  &-summary-queries-sql-code {
    padding: 12px 1rem 1rem;
    margin-top: 0;
    font-family: monospace;
    font-size: 12px;
    color: #666;
    position: sticky;
    top: 0;
  }

  &-btn-download-data {
    border: 1px solid rgba(var(--color-base-string), .2);
    padding: 1rem;
    font-size: 1rem;
    font-family: $font_text;
    font-weight: 600;
    min-width: 250px;
    margin: 1rem 1rem .5rem .25rem;
    position: relative;
    text-transform: unset;
    vertical-align: top;
  }

  &-container-btn-download-data {
    position: relative;
    width: max-content;
    display: inline-flex;

    &.arrow-top {

      .gobierto-data-btn-download-data-modal {
        height: auto;
        display: block;
        z-index: 3;
        min-width: 200px;

        &::after,
        &::before {
          bottom: 100%;
          border: solid transparent;
          content: ' ';
          height: 0;
          width: 0;
          left: 90%;
          position: absolute;
          border-color: rgba(255, 255, 255, 0);
        }

        &::before {
          border-bottom-color: var(--color-base) !important;
          margin-left: -9px;
          border-width: 9px;
        }

        &::after {
          border-bottom-color: #fff !important;
          margin-left: -8px;
          border-width: 8px;
        }
      }

      &.modal-left {

        .gobierto-data-btn-download-data-modal {

          &::after,
          &::before {
            left: 10%;
          }
        }

      }
    }

    &.modal-right {
      float: right;

      .gobierto-data-btn-download-data-modal {
        width: inherit;
        max-width: 125px;
        height: auto;
        right: 0;
        left: initial;
      }

      .gobierto-data-btn-download-data-modal-element {
        text-align: right;
      }

    }
  }

  &-btn-download-data-modal,
  &-sql-editor-recent-queries {
    box-shadow: var(--shadow);
    border: 1px solid var(--color-base);
    border-radius: 3px;
    padding: .5rem 0;
    position: absolute;
    width: 30rem;
    display: none;
    top: 130%;
    left: 0;
    background-color: #fff;

    &.modal-left {
      left: 0;
    }

    &.modal-right {
      right: 0;
    }

    &.active {
      display: block;
    }

    &.arrow-top.modal-left,
    &.arrow-top.modal-right {
      background: #fff;
      border: 1px solid var(--color-base);

      &::after,
      &::before {
        bottom: 100%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        border-color: rgba(255, 255, 255, 0);
      }

      &::before {
        border-bottom-color: var(--color-base) !important;
        margin-left: -9px;
        border-width: 9px;
      }

      &::after {
        border-bottom-color: #fff !important;
        margin-left: -8px;
        border-width: 8px;
      }

    }

    &.arrow-top.modal-left {

      &::after,
      &::before {
        left: 10%;
      }
    }

    &.arrow-top.modal-right {

      &::after,
      &::before {
        right: 90%;
      }
    }
  }

  &-sql-editor-container {
    display: inline-block;
    position: relative;
    margin-right: .25rem;
  }

  &-sql-editor-recent-queries {
    display: none;
    background-color: #fff;
    z-index: 10;
    top: 135%;
    width: 50vw;
    max-width: 750px;

    &.active {
      display: block;
    }

    &.arrow-top.modal-left {

      &::after,
      &::before {
        left: 20px;
      }
    }

    .gobierto-data-summary-queries-element {
      height: max-content;
      max-height: 30vw;
      overflow: hidden;
      overflow-y: scroll;
    }

  }

  &-btn-download-data-modal-element {
    background-color: transparent;
    transition: background-color var(--transition);
    padding: .5rem 1rem;
    color: #000;
    display: block;
    width: 100%;
    text-decoration: none;
    border-radius: 0;
    text-align: left;
    font-weight: normal;
    box-sizing: border-box;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      background-color: rgba(var(--color-base-string), .1);
    }
  }

  .codemirror {
    border: 0;
  }

  .CodeMirror {
    background-color: rgba(#666, .05);
    border: 0;
    padding: .5rem;
    height: auto !important;
    min-height: 100px !important;
  }

  .CodeMirror-code {
    font-size: 12px;
    color: #666;
    font-family: monospace;
  }

  .btn-sql-editor {
    text-transform: none;
    min-height: 31px;
    border: 1px solid rgba(var(--color-base-string), .2);
    font-weight: 600;
    font-size: $f7;
    margin: 0;

    &.isDisabled {
      opacity: .4;
      pointer-events: none;
    }

    &.remove-label {
      font-size: 0;

      i {
        font-size: $f7;
      }
    }

    &.btn-sql-editor-run {
      position: relative;
      margin-left: auto;
    }

    &.btn-sql-editor-queries {
      background-color: #fff;
      color: var(--color-base);
    }
  }

  .btn-sql-revert-query {
    vertical-align: top;
    margin-left: .5rem;
  }

  .btn-sql-revert-viz {
    vertical-align: top;
  }

  &-sql-editor {
    margin-bottom: 1rem;

    input[type="text"] {
      background: #f9f9f9;
      border: 1px solid rgba(0, 89, 201, .2);
      height: auto;
      border-radius: 3px;
      display: inline-block;
      padding: .25rem;
      transition: width var(--transition);

      &.disable-input-text {
        border-color: #f9f9f9;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
      }

      &.disable-cursor-pointer {
        pointer-events: none;
      }
    }

    input[type="checkbox"],
    input[type="checkbox"] + label {
      display: inline-block;
    }

    input[type="checkbox"] + label {
      padding: 0 .25rem;

      &:hover {
        background-color: transparent;
      }
    }

    input[type="checkbox"]:checked + label {
      background-color: transparent;
    }

    .gobierto-data-tab-sidebar--tab {
      width: auto;
      margin-right: 1rem;
      font-weight: normal;

      i {
        color: var(--color-base);
      }
    }

    .btn-sql-editor-revert {
      margin-left: .5em;
    }
  }

  &-sql-editor-toolbar {
    padding: .5rem 0;
    display: flex;
    position: sticky;
    top: 0;
    background-color: $color_main_negative;
    z-index: 3;
  }

  &-sql-editor-container-save {
    display: inline-flex;
    align-items: center;

    i {
      min-width: 20px;
    }
  }

  &-sql-editor-container-save-text {
    min-height: 31px;
  }

  &-sql-editor-container-save-label {
    font-size: $f7;
    color: #666;
    padding-right: .5em;
    cursor: pointer;
  }

  &-sql-editor-container-save-label-input,
  &-sql-editor-container-save-label-text {
    display: inline-block;
    vertical-align: middle;
  }

  &-sql-editor-modified-label-container {
    margin: 0 .5rem;
  }

  &-sql-editor-modified-label,
  &-sql-editor-modified-event {
    font-size: $f7;
    color: #666;
    opacity: .5;
  }

  &-sql-editor-modified-event {
    text-transform: lowercase;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 .25rem;
  }

  &-sql-editor-footer-records,
  &-sql-editor-footer-time,
  &-sql-editor-footer-guide {
    display: inline-block;
    font-size: $f7;
    color: #666;
    opacity: .6;
  }

  &-sql-editor-footer-time {
    opacity: .4;
  }

  &-sql-editor-footer-guide {
    color: var(--color-base);
    opacity: .5;
    float: right;
  }

  &-sql-editor-footer-records {
    padding-right: .5rem;
  }

  &-sql-editor-tabs {
    margin-top: 2rem;

    .gobierto-data-btn-download-data-modal {
      margin-top: 1rem;
    }

    .gobierto-data-btn-download-data {
      padding: .25rem;
      min-width: auto;
      text-transform: none;
      margin: 0;
      margin-left: auto;
      font-size: $f7;
    }
  }

  &-sql-editor-table-container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
  }

  table {
    &.gobierto-data-sql-editor-table {
      border: 1px solid rgba(#666, .1);
      border-top: 0;
      font-size: $f7;
      color: #666;

      thead,
      tr,
      th {
        border-top: 0;
        letter-spacing: 0;
      }

      th {
        font-weight: 600;
      }

      td {
        border-top: 0;
        border-right: 1px solid rgba(#666, .1);
      }
    }
  }

  &-sql-editor-table-header {
    th {
      font-weight: bold;
    }
  }

  &-sql-editor-table-body {
    tr {

      &:nth-child(even) {
        background-color: rgba(#eeb33f, .05);
      }

      &:nth-child(odd) {
        background-color: rgba(#eeb33f, .2);
      }
    }
  }

  &-recent-queries-list-element {
    background-color: transparent;
    padding: .5rem;
    font-size: $f7;
    font-weight: normal;
    display: block;
    width: 100%;
    border-radius: 0;
    text-align: left;
    text-transform: none !important;
    box-sizing: border-box;
    position: relative;
    color: #666;
    font-family: monospace;

    &:hover,
    &.active-query {
      background-color: rgba(var(--color-base-string), .1);

      &::before {
        display: inline-block;
      }
    }
  }

  &-sql-error-message {
    font-size: $f7;
    font-weight: 600;
    color: #b62323;
  }

  &-sql-editor-your-queries-container {
    @include min-screen(768) {
      width: 50vw;
    }
    box-shadow: var(--shadow);
    position: absolute;
    top: 45px;
    left: 0;
    background: white;
    padding: 0;
    z-index: 10;
    width: 70vw;

    .gobierto-data-summary-queries-panel {
      border-color: var(--color-base);
      height: max-content;
      max-height: 30vw;
      overflow: hidden;
      overflow-y: scroll;
    }

    &.arrow-top {

      &::after,
      &::before {
        bottom: 100%;
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        left: 20px;
        position: absolute;
        border-color: rgba(255, 255, 255, 0);
      }

      &::before {
        border-bottom-color: var(--color-base) !important;
        margin-left: -9px;
        border-width: 9px;
      }

      &::after {
        border-bottom-color: #fff !important;
        margin-left: -8px;
        border-width: 8px;
        background-color: transparent;
      }

      .gobierto-data-summary-queries-panel {
        .border-color-queries {
          border-color: var(--color-base);
        }
      }
    }
  }

  .border-color-queries {
    border-left: 1px solid rgba(var(--color-base-string), .1);
    width: calc(50% - 1px);
  }

  &-summary-queries-container {
    padding: .25rem .5rem .25rem 2rem;
    cursor: pointer;
    transition: background-color var(--transition);

    &:hover {
      background-color: rgba(var(--color-base-string), 0.1);
    }
  }

  &-summary-queries-container-name {
    font-size: $f7;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    width: 78%;
    position: relative;
    z-index: 1;

    &:hover {
      color: inherit;
    }
  }

  &-visualizations-name {
    font-size: $f7;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

  &-summary-queries-container-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: right;
  }

  .icons-your-queries {
    display: inline-block;
    max-width: 14px;
  }

  .spinner-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pulse-bubble {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--color-base);
  }

  .pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
  }

  .pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
  }

  .pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
  }

  @keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1);
    }

    to {
      opacity: .25;
      transform: scale(.75);
    }
  }

  &-sidebar-datasets-links {

    i {
      color: var(--color-base);
    }

    &:hover {
      color: var(--color-base);
    }
  }

  &-sidebar-datasets-container-columns {
    &::after {
      content: '';
      width: 100%;
      border-bottom: 2px solid rgba(102, 102, 102, 0.2);
      display: block;
      margin: 1rem 0;
    }
  }

  &-sidebar-datasets-name {
    font-size: $f7;
    cursor: pointer;
    color: #000;
    text-decoration: none;
  }

  &-sidebar-caret-icon {
    color: var(--color-base);
    cursor: pointer;
  }

  &-sidebar-datasets-links-columns {
    padding-left: 1rem;
  }

  &-sidebar-datasets-links-columns-text {
    font-size: $f7;
    display: inline-block;
    white-space: nowrap;
    width: 90%;
    opacity: .5;
  }

  &-sidebar-icon {
    color: var(--color-base);
    cursor: pointer;
  }

  .btn-sql-show-all {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
  }

  .rotate-caret {
    transform: rotate(270deg);
  }

  .CodeMirror-scroll {
    overflow: hidden !important;
  }

  &-sql-editor-footer {
    display: inline-block;
    width: max-content;
    max-width: 80%;
  }

  &-filters-element {
    padding-bottom: 1em;
    border-bottom: 1px solid hsla(0, 0, 59.2%, .5);

    .disabled {
      pointer-events: none;

      i {
        display: none;
      }
    }
  }

  &-filters-element-no-margin {
    margin-bottom: 0;
  }

  .sidebar-filter-caret {
    display: inline-block;
    cursor: pointer;
  }

  &-infolist {
    background-color: rgba(113, 184, 193, .1);
    color: #71b8c1;
    height: 40vh;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-sidebar-datasets-links-columns-see-more {
    font-size: $f7;
    cursor: pointer;
    color: var(--color-base);
    text-decoration: underline;
    padding-left: 1rem;
    padding-top: .5rem;
    text-transform: none;
    transition: font-weight var(--transition);

    &:hover {
      font-weight: bold;
    }
  }

  &-visualization--grid {
    @include grid(16px, 2)
  }

  &-visualization--aspect-ratio-16-9 {
    @include aspect-ratio(16, 9);
    min-height: 350px;
    z-index: 1;

    .gobierto-data-visualization--item {
      margin-top: 1rem;
    }
  }

  &-visualization--container {
    position: relative;
  }

  &-visualization--card {
    background-color: rgba(var(--color-base-string), .05);
    padding: 16px;
    border-radius: 3px;
    min-height: 350px;
  }

  &-visualization--content {
    display: flex;
    flex-direction: column;
  }

  &-visualization--icons {
    position: absolute;
    left: 92%;
    top: .75rem;
    z-index: 2;
  }

  &-visualization--h3 {
    color: $color_text;
    font-size: $f6;
    font-weight: bold;
    line-height: 20px;
    opacity: .75;
  }

  &-visualization--title {
    font-size: $f6;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 1rem;
  }

  &-description {
    height: auto;
    columns: 3;
    column-fill: balance;
  }

  &-btn-preview {
    margin-left: 1.25rem;

    &:hover {
      color: var(--color-base);
    }
  }

  &-columns-icon {
    font-size: 11px;
    opacity: .5;
  }

  &-summary-header-btns {
    margin-top: 1.5rem;
  }

  &-columns-icon-boolean::before,
  &-columns-icon-decimal::before,
  &-columns-icon-hstore::before,
  &-columns-icon-integer::before,
  &-columns-icon-inet::before {
    content: "\f292";
  }

  &-columns-icon-jsonb::before,
  &-columns-icon-string::before,
  &-columns-icon-text::before {
    content: "\f031";
  }

  &-columns-icon-time::before,
  &-columns-icon-date::before,
  &-columns-icon-datetime::before,
  &-columns-icon-timestamp::before,
  &-columns-icon-timestampz::before {
    content: "\f073";
  }

  &-summary-separator {
    border-bottom: 1px solid rgba(102, 102, 102, .2);
    padding-bottom: 2rem;
  }

  //REVIEW: This class prevent/disabled/destroyed click event on data element from top menu
  &-top-menu a {
    pointer-events: none;
  }

  &-index-title {
    margin-top: 0;
    font-size: 1rem;
    display: inline-block;
    color: rgba(102, 102, 102, .75);
  }

  &-visualitzation-element-title {
    margin: 0;
  }

  &-visualization-query-container {
    letter-spacing: 0;
    width: 100%;

    .gobierto-data-summary-queries-panel-title {
      padding-left: 0;
      display: inline-block;
      font-size: $f7;
    }

    .gobierto-data-summary-queries-container-name {
      width: auto;
    }
  }

  &-landing-visualizations {
    margin-top: 0;

    .gobierto-data-summary-header-description {
      padding-left: 1rem;
      margin-bottom: 1rem;

      p {
        margin-top: .25rem;
        max-width: 60%;
      }
    }

    .gobierto-data-summary-header-description-link {
      padding-left: 1rem;
    }

    .gobierto-data-index-title {
      margin-bottom: 0;
    }

    .gobierto-data-visualization--grid {
      margin-top: 1rem;
    }

    .gobierto-data-visualization--dataset {
      font-size: $f7;
      color: var(--grey-dataset);
    }
  }

  &-summary-visualizations {
    padding: 0 1rem 1rem 1rem;
  }

}
