@import "css-conf";

.dashboards-viewer {

  .widget-text {
    background-color: rgba(var(--color-base-string), 0.1);
    padding: var(--padding);
    height: 100%;
    box-sizing: border-box;
    user-select: none;
    
    > * {
      user-select: none;
      margin: 0;
      padding: 0;
    }
  }
}