@include screen(740) {
  .column {
    width: initial;
    margin: auto 1em;
  }

  .block {
    h2 {
      margin: 0.5em 0;
    }

    .description {
      width: 100%;
      margin: 0 0 1em 0;
    }
  }

  .metric_boxes {
    margin: 0 0 2em 0;

    .metric_box {
      .inner {
        margin: 0;
        min-height: initial;
        padding: 0.5em;
      }

      h3 {
        font-size: 0.85em;
        min-height: initial;
        line-height: 1em;
      }

      .metric {
        font-size: 1.6em;
      }

      .explanation {
        bottom: 0.2em;
      }

      span.not_av {
        font-size: 0.6em;
      }
    }

    .metric_box:nth-child(1n) {
      .inner {
        margin: 0 0.5em 1em 0;
      }
    }

    .metric_box:nth-child(2n) {
      .inner {
        margin: 0 0 1em 0.5em;
      }
    }

    .metric_box:last-child {
      width: 100%;

      .inner {
        margin: 0;
        min-height: initial;
      }
    }

    .metric_box.cta {
      a {
        padding: 0.5em;
      }
    }
  }

  table {
    td,
    th {
      padding: 0.25em 0.4em;
      line-height: 1.2em;
    }

    td.bar,
    th.bar {
      display: none;
      padding: 0;
      width: 30px;
    }
  }

  table.explore_slow {
    td {
      padding: 0.5em 0.5em 0.5em 0;
      font-size: 0.7em;
      line-height: 1.2em;
    }
  }

  .slim_search {
    text-align: center;
    margin: 0 0 1em 0;

    input[type=text] {
      width: calc(100%);
      margin: 0;
    }
  }

  .featured_b_l {
    .cont {
      padding: 2em 1em;
      text-align: center;
    }

    .title {
      padding: 0;
      border: 0;
      text-align: center;
      margin: 0 0 1em 0;
      font-size: 1.1em;
    }

    .ic {
      margin: 0 0 0.5em 0;

      label {
        height: initial;
        display: block;
      }
    }

    .highlight {
      margin: 0.25em 0;
    }
  }

  .table.p_h_r_3 {
    padding: 0;
  }

  .tabs {
    li {
      a {
        padding: 0.75em 1.5em 0.25em;
        margin: 0 0.2em;
      }
    }
  }

  .social_links_container {
    position: fixed;
    bottom: 1em;
    left: 1em;
  }

  .budget_line {
    .line_description {
      p {
        font-size: 0.85em;
        line-height: 1.3em;
      }
    }
  }

  .breadcrumb {
    padding: 0.75em 0;
    margin: 0 0 0.5em 0;

    .bread_links {
      line-height: 1.3em;
      font-size: 0.75em;
    }
  }

  footer .logo {
    max-width: 100%;
  }
}
