$blue: #0072bc;
$medium_blue: #22a3d8;
$light_blue: #92d1eb;
$lighter_blue: #e5f3f5;
$light_bg: #ecfafc;
$green: #0087C8; // initial green: 00b585
$black: #333;
$light_black: #4a4a4a;
$lighter_black: rgba($color_headers, 0.7);

.theme-participation {
  header .site_header .main-nav {
    background-color: $light_bg;
  }

  header .site_header .main-nav .main-nav-item:hover,
  header .site_header .sub-nav .sub-nav-item:hover {
    border-color: transparentize(#22a3d8, 0.5);
  }

  header .site_header .main-nav a,
  header .site_header .sub-nav a {
    color: $medium_blue;
  }

  header .site_header .main-nav .main-nav-item.active {
    border-color: $medium_blue;
  }

  header .site_header .secondary_nav li a {
    color: #a5a5a5;
  }

  .button,
  .button.submit,
  .contributions_container .inline_login_cta a,
  button.submit,
  input[type=submit] {
    background: $green;
    color: $color_main_negative;

    &:disabled {
      background: transparentize($green, 0.9);
    }
  }
  .button.outline.rounded.checked {
    background: #FFF;
    color: $green;
  }

  .button.submit:hover,
  .button:hover,
  .contributions_container .inline_login_cta a:hover,
  button.submit:hover,
  input[type=submit]:hover {
    background: darken($green, 5%);

    &:disabled {
      background: transparentize($green, 0.9);
    }
  }

  header.meta {
    margin: 0;

    .site_header {
      padding: 0;

      .button.outline.rounded {
        color: $green;
        background: $color_main_negative;
        border: 1px solid $green;
        margin-top: -0.25em;

        .fa {
          color: $green;
        }

        &:hover {
          background: $green;
          color: white;
        }
      }

      .button.outline.rounded.checked {
        background: $green;
        color: white;

        .fa {
          color: white;
        }
      }
    }

    .site_header .logo {
      text-align: left;

      img {
        max-width: 190px;
      }
    }
  }

  .gradient-bg {
    margin: 0 0 2em;
    padding: 4em 0 0;

    @media (min-width: 768px) {
      margin-bottom: 5em;
    }

    // a {
    //   // color: $green;
    // }

    .button {
      color: $color_main_negative;
    }
  }

  .button.outline.rounded.fat {
    &:active,
    &:focus,
    &:hover {
      background: white;
      color: $green;
    }
  }

  .nav {
    border-color: $lighter_blue !important;

    a {
      color: $blue;
    }
  }

  /* content_blocks */
  .content_block {
    h2 {
      color: $green;
      margin: 0 0 1em 0;
    }

    .bt {
      border-top: 1px solid transparentize($green, 0.7);
    }

    .bb {
      border-bottom: 1px solid transparentize($green, 0.7);
    }

    .bl {
      border-top: 1px solid transparentize($green, 0.7);
    }

    .br {
      border-top: 1px solid transparentize($green, 0.7);
    }
  }

  .filled_block {
    background-color: $green;

    h2 {
      color: white;
    }
  }

  .content_block.themed.filled_block {
    .date {
      color: white;
    }
  }

  .content_block.themed.simple_big_header {
    padding: 3em 1em;

    h2 {
      font-size: $f3;
    }
  }

  .content_block.filled_block:hover {
    background-color: darken($green, 5%);
  }

  .content_block.simple_big_header.emoji_block {
    border-top: 0;
  }

  .content_block.featured_poll {
    p.lead {
      margin: 0;
    }
  }

  .questions {
    text-align: left;
    max-width: 16em;

    @include min-screen(740) {
      margin: 2em auto 0.5em;
    }

    .control {
      box-sizing: border-box;
      font-size: 1.15em;
      color: $green;
      background: $color_main_negative;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      border-radius: 100px;
      padding: 0.25em 0.75em;
      margin-bottom: 0.35em;
      cursor: pointer;
      position: relative;
      display: inline-block;
      padding-left: 1.85rem;
      width: 100%;

      @include min-screen(740) {
        font-size: 1.25em;
      }
    }

    .control input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }

    .control-indicator {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      display: block;
      width: 1rem;
      height: 1rem;
      line-height: 1rem;
      font-size: 65%;
      color: white;
      text-align: center;
      background-color: white;
      border: 1px solid $green;
      background-size: 50% 50%;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Focus */
    .control input:focus ~ .control-indicator {
      box-shadow: 0 0 0 0.075rem $color_main_negative, 0 0 0 0.2rem $green;
    }

    /* Checked state */
    .control input:checked ~ .control-indicator {
      color: $color_main_negative;
      background-color: $green;
    }

    /* Active */
    .control input:active ~ .control-indicator {
      color: $color_main_negative;
      background-color: rgba($green, 0.5);
    }

    /* Radio modifiers */
    .radio .control-indicator {
      border-radius: 50%;
    }

    .radio input:checked ~ .control-indicator {
      background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==");
    }
  }

  /* Agenda */
  .with_separator {
    color: $medium_blue;
    border-top-color: $medium_blue;
  }

  .agenda_title {
    text-align: left;
    color: $color_headers;
    margin: 0;
    padding-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 1em;
  }

  .agenda > div {
    margin-bottom: 1em;

    .content_block {
      margin-bottom: 1em;

      // a {
      //   color: $green;
      // }
      //
      // & ~ a {
      //   color: $lighter_black;
      // }
    }

    .place_event-item,
    .place_latest-item,
    .place_news-item {
      display: block;
      margin-bottom: 1em;

      .event-content,
      .latest-content,
      .news-content {
        padding: 0;

        @include min-screen(740) {
          padding: 0 0 0 1em;
        }

        h3 {
          font-size: 1em;
          text-transform: none;
          font-weight: 600;
          margin: 0 0 0.25em;

          @include multiline-ellipsis(2);
        }

        .meta {
          a {
            color: $lighter_black;
          }

          div:first-child {
            padding-right: 0.5em;
          }
        }
      }
    }
  }

  /* Current processes */
  .current_processes {
    h3 {
      font-weight: 600;
      font-size: 1.25em;

      a {
        color: $green;
      }
    }

    .process {
      h3 {
        margin-bottom: 0.25em;
      }

      svg {
        color: rgba($green, 0.7);
        margin-right: 0.25em;
      }
    }
  }

  // TODO: Move comp_headings_blocks
  .content_block.light {
    padding: 1em;
    min-height: 4.75em;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
      color: $green;
    }

    p {
      margin-top: 0.25em;
      margin-bottom: 0;
    }
  }

  // TODO: Move comp_headings_blocks
  .content_block.themed {
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    flex-direction: column;
    justify-content: center;
    border-top: 6px solid $green;
    text-align: center;
    min-height: 10em;
    margin: 1em;
    text-decoration: none;
    padding: 1em 1em 2em;

    // @include min-screen(740) {
    //   // TODO: this breaks polls#index height: calc(100% - 3em);
    // }

    h3 {
      font-size: 1.25em;
      color: $black;
      margin-bottom: 0.25em;
    }

    p {
      color: $color_text;
      font-size: 0.875em;
      margin: 0;
      line-height: 1.3;
    }

    .lead {
      font-size: 1em;
      color: $black;
    }

    .meta {
      position: absolute;
      bottom: 0.25em;
      right: 1em;
    }

    .date {
      color: $color_text;
      position: absolute;
      bottom: 0.5em;
      right: 1em;
      font-size: 0.875em;
    }

    .circle_teaser {
      background: rgba($green, 0.1);
    }
  }

  .content_block.themed.negative {
    border-top-color: $lighter_black;
  }

  .emoji_block {
    display: block !important;
    background-image: url(asset_path('illustrations/emojis.svg'));
    background-position: center;

    h2 {
      margin-bottom: 2em;
    }
  }

  .content_block.fixed_height {
    min-height: 18em;
  }

  /* Process page */
  .processes_home {
    .content_block {
      min-height: initial;
    }

    > div {
      padding-bottom: 1em !important;
      margin-bottom: 0;

      @include min-screen(740) {
        padding-bottom: 0 !important;
      }
    }

    .content_block.mask_bottom {
      min-height: 20em;

      h2 {
        color: white;
      }
    }
  }

  .with_light_separator {
    color: $color_headers;

    &::before {
      background: rgba($color_text, 0.3);
    }
  }

  h3.with_light_separator {
    font-size: 1.25em;
  }

  h4 {
    margin-bottom: 0.5em;
    color: $lighter_black;
  }

  h4.with_light_separator {
    margin-top: 3em;
  }

  .meta_info {
    margin-bottom: 0.25em;

    a {
      color: $color_text;
    }
  }

  .accent {
    color: $green;
  }

  .badge {
    background-color: $medium_blue;
    margin-bottom: 0.5em;

    @include min-screen(740) {
      margin-bottom: 0;
    }

    strong {
      text-transform: uppercase;
      font-size: 1em;
      color: white;
    }
  }

  .phase_action {
    h4 {
      font-size: $f5;
      margin: 1rem;
    }
  }

  .timeline {
    .line {
      background: $light_blue;
    }

    .timeline_row.active::before {
      background: $medium_blue !important;
    }

    .content_block {
      h3 {
        margin-top: 0;
        margin-bottom: 0.25em;
        color: $green;
        font-size: 1.25em;
      }

      a {
        color: $color_headers;
      }

      .circle {
        border: 0;
        background: rgba($green, 0.1);
        color: white;
        font-weight: 700;
        font-size: 1em;
      }

      &::before {
        background: $light_blue;
      }

      &::after {
        background: $medium_blue;
      }
    }
  }

  /* Agenda */
  .calendar-component {
    padding: 0;

    @include min-screen(740) {
      max-width: 75%;
    }

    .calendar-heading {
      background: $green;
      padding: 0.75em;
      color: white;
      font-weight: 600;

      a {
        color: white;

        i {
          margin-top: 0.25em;
        }
      }
    }

    .table {
      background: white;
      padding: 1.5em;

      a {
        text-decoration: none;
        color: $green;
        font-weight: 700;
      }

      // FIXME: Think about a better solution
      .today {
        background: $light_black;
        border-radius: 50%;
        position: absolute;
        width: 19px;
        padding: 3px;
        margin-left: 0.65em;
        margin-top: 0.25em;
      }
    }
  }

  .link_list {
    margin-bottom: 2em;

    a {
      color: $green;
      font-weight: 600;
    }
  }

  .event_wrapper,
  .events_list {
    .person_event-item {
      margin-bottom: 2em;

      .date_badge {
        display: table;
        background: $medium_blue;
        color: white;
        margin-bottom: 1em;

        @include min-screen(740) {
          width: 10%;
          margin-bottom: 0;
        }

        .day {
          text-transform: uppercase;
          font-size: 1em;
        }

        .hour {
          opacity: 1;
        }
      }

      .event-content {
        padding-left: 0;

        @include min-screen(740) {
          padding: 0 0 0 1.5em;
        }
      }

      h3 {
        font-size: 1.25em;
        margin-top: 0;
        margin-bottom: 0.25em;

        a {
          color: $green;
        }
      }

      .meta {
        color: $lighter_black;

        a {
          color: $lighter_black;
        }
      }

      p {
        font-size: 1.125em;
        margin-top: 0.25em;
      }

      .extra_info {
        font-size: 0.875em;
        color: $lighter_black;
        padding-bottom: 2em;

        &.listed {
          border-bottom: 1px solid $separator;
        }

        a:not(.button) {
          color: $green;
        }

        .button {
          margin-bottom: 0;
          margin-right: 0.25em;

          @include min-screen(740) {
            margin-right: 0;
          }
        }

        .ib {
          margin-bottom: 0.5em;

          @include min-screen(740) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .new_user_subscription {
    input[type=email] {
      height: 32px;
      background: white;
      border: 1px solid $lighter_black;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      border-radius: 4px;
    }
  }

  input[type=submit] {
    background: $green;
    text-transform: none;
    padding: 0.5em 1.25em;
  }

  .pagination {
    a {
      color: $green;

      &:active,
      &:focus,
      &:hover {
        color: darken($green, 0.2);
      }
    }

    .active a {
      background: $green;
      border-color: $green;
      color: white;
    }

    .disabled {
      color: rgba($color_text, 0.5);
    }
  }

  .dots-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .dots {
      display: inline-flex;
      align-items: center;

      .dot {
        background-color: $medium_blue;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        cursor: pointer;

        .dot-current {
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 6px solid #22a3d8;
          position: absolute;
          top: -10px;
          left: 3px;
        }

        &.dot-tooltip {
          position: relative;
          display: inline-block;

          .tooltip-text {
            color: $green;
            background-color: $color_main_negative;
            border: 1px solid transparentize($green, 0.7);
            visibility: hidden;
            width: 200px;
            text-align: center;
            font-weight: bold;
            padding: 5px 0;
            border-radius: 4px;
            position: absolute;
            z-index: 1;
            top: 200%; /* Slightly apart from element */
            left: 50%;
            margin-left: -100px;

            &::after,
            &::before {
              bottom: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }

            &::after {
              border-color: rgba(255, 255, 255, 0);
              border-bottom-color: $color_main_negative;
              border-width: 10px;
              margin-left: -10px;
            }

            &::before {
              border-color: rgba($green, 0);
              border-bottom-color: transparentize($green, 0.7);
              border-width: 11px;
              margin-left: -11px;
            }
          }

          &:hover .tooltip-text {
            visibility: visible;
          }
        }
      }

      .dot-join {
        background-color: $medium_blue;
        width: 9.5px;
        height: 3px;
        display: inline-block;
      }

      .disabled {
        background-color: $light_blue;
      }
    }
  }

  /* News */
  .news_teaser {
    h3 {
      font-weight: 600;

      a {
        color: $green;
      }
    }
  }

  .document {
    margin-bottom: 0.5em;

    @include ellipsis;

    a {
      color: $green;
    }
  }

  .news_article {
    h1 {
      color: $green;
      line-height: 1.3;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $green;
    }

    a {
      color: $green;
    }

    hr {
      margin: 2em 0;
      border: 0;
      border-top: 1px solid $separator;
    }

    blockquote p {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    ul {
      list-style: none;

      li {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          top: 0.65em;
          left: -1em;
          background: $green;
          border-radius: 50%;
        }
      }
    }
  }

  /* Activities */
  .activities_teaser {
    h3 {
      font-weight: 600;

      a {
        color: $green;
      }
    }
  }

  /* Theme list */
  .slim_headline {
    color: $black;
  }

  /* Contributions home */
  .contributions_home {
    h2:not(.left) {
      color: $green;
    }
  }

  .modal_background {
    // color: $green;
    background: $green;

    h2 {
      color: $black;
    }

    button {
      background: $green;
    }

    a {
      color: $green;
    }
  }

  .modal.modal_poll {
    padding: 6em;
    max-width: 100%;
    margin: 0;

    .poll {
      margin: 2em;
      position: relative;

      .poll_title {
        background: $green;

        h1 {
          color: $color_main_negative;
          padding: 1em;
          margin: 0 0 2em;
          font-size: $f5;

          @include border-radius(6px, 6px, 0, 0);
        }
      }

      .poll_content {
        padding: 2em 4em 8em;
        text-align: center;

        .poll_question.with_media {
          @include min-screen(768) {
            .poll_option {
              display: flex;
              border-top: 1px solid $color_separator;
              padding: 1em 0 0 0;

              .button {
                align-self: flex-start;
                min-width: 35%;
              }
              .media {
                margin: 0 0 0 1em;
                img {
                  height: auto;
                  max-width: 100%;
                }
              }
            }
          }
          .poll_option {
            .media {
              img {
                height: auto;
                max-width: 100%;
              }
            }
          }
          @include screen(768) {
            .poll_option {
              border-radius: 6px;
              padding: 1em;
              margin: 0 0 1em 0;
              border: 1px solid $color_separator;
            }
          }
        }

        .poll_option {
          margin: 0 0 1em;
        }

        .help {
          display: block;
          float: none;
          margin: 0 0 2em;
        }
      }

      .poll_progress_map {
        font-size: $f7;
        position: absolute;
        bottom: 2em;
        left: 3em;

        @include reset_ul_li;

        ul {
          display: inline-block;
        }

        li {
          float: left;
          display: inline-block;
          height: 10px;
          padding: 0 1em;
          margin: 0 0.25em 0 0;
          background: $color_secondary;

          span {
            display: none;
          }
        }

        li.active {
          background: $green;
        }

        li:first-child {
          @include border-radius(6px, 0, 0, 6px);
        }

        li:last-child {
          @include border-radius(0, 6px, 6px, 0);
        }

        .poll_page {
          display: inline-block;
          margin: 0 2em;
        }
      }

      .poll_actions {
        position: absolute;
        bottom: 2em;
        right: 2em;
      }
    }
  }

  .modal.modal_poll,
  .modal_like_control {
    .mfp-close,
    button.mfp-close {
      opacity: 1;
      border: 1px solid $green;
      color: $green;

      @include border-radius(50%);

      margin: 1.5em 1em 0 0;
      text-decoration: none;
      padding: 0;
      font-size: 22px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      background-color: $color_main_negative;
    }

    .mfp-close:hover,
    button.mfp-close:hover {
      background: $green;
      color: $color_main_negative;
    }
  }

  .modal_like_control {
    position: absolute;
    top: 0;
    right: 0;

    .mfp-close,
    button.mfp-close {
      margin: 0.5em 0.5em 0 0;
    }
  }

  @include screen(740) {
    .modal.modal_poll {
      padding: 0;

      button.mfp-close {
        border-color: $color_main_negative;
        color: $color_main_negative;
        margin: 0.55em 0.35em 0 0;
      }

      button.mfp-close:hover {
        background: $color_main_negative;
        color: $green;
      }

      .poll {
        margin: 0;

        h1 {
          padding: 1em 4em 1em 1em;
        }

        .poll_actions,
        .poll_content,
        .poll_progress_map {
          padding: 0 2em;
        }

        .button.outline.rounded {
          padding: 0.5em 1em;
        }

        .poll_content {
          .poll_option {
            margin: 0;
          }

          .social_links_container {
            position: initial;
          }
        }

        .poll_actions,
        .poll_progress_map {
          position: initial;
          margin: 1em 0;
        }

        .poll_actions {
          margin-bottom: 3em;
        }

        .poll_progress_map {
          text-align: center;
        }
      }
    }
  }

  /* Contributions page */
  .contributions_container {
    border-top: 3px solid $green;

    .comment_actions a.active,
    .comment_actions a.active .fa,
    a,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $green;
    }

    .button, a.social_share {
      color: $color_main_negative;
    }

    .contributions_header {
      .meta {
        h2 {
          color: $black;
        }
      }

      .circle {
        border: 2px solid $green;

        span {
          color: $green;
        }
      }

      .contribution_action {
        @include min-screen(1200) {
          width: 17%;
          float: right;
        }

        .button {
          background: $green;
          text-transform: none;
          font-size: 1.25em;
          margin-right: 0;

          @include min-screen(740) {
            padding: 0.7em 1em;
          }
        }
      }

      .contributions_control {
        .circles_progress {
          li.active {
            a {
              span {
                background: $green;
              }
            }
          }
        }
      }

      .radio_toggle {
        margin: 1em auto;
        max-width: 120px;

        @include min-screen(740) {
          margin: inherit;
        }

        label {
          &:hover {
            background: rgba($green, 0.5) !important;
          }
        }

        input:checked + label::after {
          margin-left: 21px;
          background-color: $green;
        }
      }
    }
  }

  .contribution_card_new_header {
    background: $green;
    color: $color_main_negative;

    .modal_like_control .mfp-close {
      color: $green;
      background: $color_main_negative;
      border-color: $color_main_negative;
    }
  }

  .cms_page {
    .breadcrumb {
      background: transparent;
    }
  }
}
