$yellow: #febf00;
$blue: #5bc8d5;
$red: #fc4c00;

.theme-people {
  .box {
    border-radius: 0;

    > :first-child {
      padding: 0 20px;
    }

    h1 {
      font-size: 60px;
      font-weight: 600;
      text-align: left;
    }

    svg {
      background-color: transparent;
    }

    // Colors
    &.yellow {
      background-color: rgba($yellow, .2);

      h1 {
        color: $yellow;
      }

      .bar {
        fill: $yellow;
      }
    }

    &.blue {
      background-color: rgba($blue, .2);

      h1 {
        color: $blue;
      }

      .bar {
        fill: $blue;
      }
    }

    &.red {
      background-color: rgba($red, .2);

      h1 {
        color: $red;
      }

      .bar {
        fill: $red;
      }
    }
  }
}
