<div class="main-nav-item<%= class_if(' active', current_module == 'gobierto_observatory' && show_active) %>">
  <%= link_to t("gobierto_observatory.layouts.application.observatory"), gobierto_observatory_root_path, data: { turbolinks: false } %>
</div>
