<% title t('gobierto_investments.layouts.application.investments') %>

<div class="column">
  <div id="investments-app"
       data-site-name="<%= @site.name %>"
       data-logo-url="<%= @site.configuration.logo_with_fallback %>"
       data-home-url="<%= root_url %>">
</div>
