<% content_for :breadcrumb_items do %>
  <h1>
    <%= link_to t('.exports'), gobierto_exports_root_path %>
  </h1>
  <strong data-breadcrumb-sub-item></strong>
<% end %>

<%= render template: "layouts/application" %>
