<menu class="sub_sections">
  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul>
      <li><%= link_to t('.profile'), user_notifications_path %></li>
      <li><%= link_to t('.alerts'), user_subscriptions_path %></li>
      <li><%= link_to t('.admin'), user_settings_path %></li>
    </ul>
  </div>
</menu>
