<% content_for :breadcrumb_items do %>
  <strong>
    <%= link_to t('.account'), user_root_path %>
  </strong>
  <span>/</span>
  <%= yield(:breadcrumb_current_item) %>
<% end %>

<%= render template: "layouts/application" %>
