<% content_for :module_sub_sections do %>
  <p></p>
<% end %>

<% content_for :javascript_module_link do %>
  <%= javascript_pack_tag 'user', 'data-turbolinks-track': true %>
<% end %>

<%= render template: "layouts/application" %>
