<div class="global_breadcrumb">
  <%= link_to "#", class: "menu_control" do %>
    <i class="fa fa-bars"></i>
    Inicio
  <% end %>
  <span role="separator">/</span>
  <%= yield(:breadcrumb_items) %>
</div>
