<div class="header js-mobile-header">

  <div class="main-nav">
    <div class="column">
      <% if global_navigation_section? && current_module == 'gobierto_cms' %>
        <% section_item = global_navigation_section.section_items.first_level.first %>
        <% if section_item.item_type != "GobiertoModule" %>
          <%= render partial: "gobierto_cms/layouts/navigation", locals: { section: section_item.item } %>
        <% end %>
      <% else %>
        <%= render_if_exists "#{current_module}/layouts/navigation.main", { show_active: false } %>
      <% end %>
    </div>
  </div>

  <div class="sub-nav">
    <div class="submenu-container">

      <div class="column sub-nav-flex">
        <div class="sub-nav-item">
          <%= yield(:current_submodule_link) %>
        </div>
        <div class="dropdown-button js-submenu-toggle">
          <div class="button-container">
            <i class="fas fa-caret-down"></i>
          </div>
        </div>
      </div>

      <div class="submenu-dropdown-container">
        <div class="submenu-dropdown js-slider">
          <div class="column dropdown-items">
            <%= render_if_exists "#{current_module}/layouts/navigation.sub" %>
            <div class="dropdown-button js-submenu-toggle">
              <i class="fas fa-times"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
