<!DOCTYPE html>
<html lang="{% i18n_locale %}">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
    {% render_partial 'layouts/gobierto_head' %}
  </head>

  <body class="{% body_css_classes %}" {% yield body_attributes %}>

    {% render_partial 'layouts/header' %}

    <div class="container">
      {% render_partial "user/shared/flash_messages" %}
      {{ content_for_layout }}
    </div>

    {% render_partial 'layouts/footer' %}

    {% render_partial 'layouts/gobierto_footer' %}

  </body>
</html>
