<header class="meta">

  {% render_partial 'layouts/header/intro' %}

  <div class="site_header">

    <div class="column site_header_block">

      {% render_partial 'layouts/header/site_header_logo' %}

      <div class="site_header_social">

        {% render_partial 'layouts/header/search_box' %}

        {% render_partial 'layouts/header/social_links' %}

        <div class="mobile_only js-mobile-buttons">
          <div class="scroll-up">
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-angle-up fa-stack-1x fa-inverse"></i>
            </span>
          </div>
        </div>

      </div>

    </div>

    {% render_partial 'layouts/navigation' %}

    <div class="mobile_only site_header--mobile">
      <!-- static menu -->
      {% render_partial 'layouts/navigation_mobile' %}

      <!-- hamburger menu -->
      {% render_partial 'layouts/hamburger_mobile' %}
    </div>
  </div>
</header>
