<tr>
  <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, 'admin_part_group_contributions_contribution_edit' %></td>
  <td><%= link_to '¿Por donde debería circular el desfile?', 'admin_part_group_contributions_contribution' %></td>
  <td>123 / 1.234</td>
  <td>Publicada</td>
  <td>1 may 2017</td>
  <td>1 jul 2017</td>
  <td><%= link_to '<i class="fa fa-eye"></i> Ver ideas'.html_safe, '#public_view', class: 'view_item' %></td>
</tr>
