.theme-gencat {
  // If $color_people var is not defined, get default one
  $colors: if(variable_exists(color_people), $color_people, $color_main);

  .datepicker-container {
    @include flex-align(space-between);
    @include flexbox(15%);

    .air-datepicker {
      padding: 0.4em;
      font-size: 0.938em;
      border-radius: 0;
      border: 1px solid $color_separator;
      height: 2.667em;
      box-shadow: none;
      cursor: pointer;

      &:focus {
        box-shadow: none;
        border: 1px solid #bcbcbc;
      }
    }

    .caret {
      display: block !important;
      position: absolute;
      top: 50%;
      right: 10px;
    }
  }

  //@component box
  .box {
    border-radius: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > :first-child {
      padding: 0 20px;
    }

    > :last-child {
      span {
        padding: 0 20px;
        color: $text_soft;
        font-size: $f8;
      }
    }

    h1 {
      font-size: 60px;
      font-weight: 600;
      text-align: left;
    }

    svg {
      background-color: transparent;
    }

    // Up to 3, 'cuz we have always THREE boxes
    @for $i from 1 through 3 {

      $color: null;

      @if $i > length($colors) {
        // If there is lower than 3 colors, reuse first one
        $color: nth($colors, 1);
      } @else {
        $color: nth($colors, $i);
      }

      &.color-#{$i} {
        background-color: rgba($color, .2);

        > :first-child {
          border-top: 12px solid $color;
        }

        h1 {
          color: $color;
        }

        .bar {
          fill: $color;
        }
      }
    }
  }

  //@component punchcard
  .punchcard {
    circle {
      fill: nth($colors, 2);
    }

    rect {
      &:nth-of-type(odd) {
        fill: rgba(nth($colors, 2), .2);
      }
    }
  }
}
