.theme-people {
  .box {
    border-radius: 0;

    > :first-child {
      padding: 0 20px;
    }

    h1 {
      font-size: 60px;
      font-weight: 600;
      text-align: left;
    }

    svg {
      background-color: transparent;
    }

    // If $color_people var is not defined, get default one
    $colors: if(variable_exists(color_people), $color_people, $color_main);

    // Up to 3, 'cuz we have always THREE boxes
    @for $i from 1 through 3 {

      $color: null;

      @if $i > length($colors) {
        // If there is lower than 3 colors, reuse first one
        $color: nth($colors, 1);
      } @else {
        $color: nth($colors, $i);
      }

      .color-#{$i} {
        background-color: rgba($color, .2);

        > :first-child {
          border-top: 12px solid $color;
        }

        h1 {
          color: $color;
        }

        .bar {
          fill: $color;
        }
      }
    }
  }
}
